html[lang=ar]  section.single-layout.registration-form.create-account-form{
	text-align: right;
}
html[lang=ar] .form-horizontal.crm-entity-contact .form-group label[for="entity[new_agreedtoreceiveinfo]"] {
    padding-right: 35px;
    padding-left: 0;
}
html[lang=ar] .phone-row .number {
    margin-right: 10px;
    margin-left: 0;
}
html[lang=ar] .crm-form .form-group .help-block{
	text-align: right;
}
html[lang=ar] .easy-autocomplete-container{
	left: auto;
}
html[lang=ar] .easy-autocomplete-container .iti__flag {
    margin-left: 10px;
    margin-right: 0;
}
html[lang=ar] #catapult-cookie-bar .ctcc-inner {
    flex-direction: row-reverse;
    text-align: right;
    font-family: DroidArabicKufi,Ubuntu!important;
    font-size: 14px;
}
html[lang=ar] #catapult-cookie-bar button#catapultCookie {
    margin: 0 20px 0 0;
}
html[lang=ar] .crm-datepicker-custom {
    background-position: 10px center !important;
}
html[lang=ar] .phone-row .code .form-control{
	    padding-right: 44px;
	    padding-left: 0;
}
html[lang=ar] .phone-row .flag {
  right: 15px;
  left: auto;
}
html[lang=ar] .easy-autocomplete-container ul li div.eac-item span.name{direction: ltr;}
html[lang=ar] .easy-autocomplete-container ul li div.eac-item span.dial-code{direction: ltr;}
html[lang=ar] .crm-datepicker {background-position: 10px center!important;}
html[lang=ar] .iti--allow-dropdown .iti__flag-container,
html[lang=ar] .iti--separate-dial-code .iti__flag-container {right: 0;left: auto;}
html[lang=ar] .iti--allow-dropdown input,
html[lang=ar] .iti--allow-dropdown input[type=text],
html[lang=ar] .iti--allow-dropdown input[type=tel],
html[lang=ar].iti--separate-dial-code input,
html[lang=ar] .iti--separate-dial-code input[type=text],
html[lang=ar] .iti--separate-dial-code input[type=tel] {
    padding-right: 52px !important; padding-left: 15px !important;direction: ltr; text-align: right;
}
html[lang=ar] .iti__country {direction: ltr;text-align: right;}
html[lang=ar] .iti__selected-flag {direction: ltr;}

html[lang=ar] label, html[lang=ar] select, html[lang=en-US] #flags_language_selector a, html[lang=ar] .ui-datepicker .ui-datepicker-buttonpane button, html[lang=ar] .ui-datepicker .ui-datepicker-buttonpane button, html[lang=ar] .ui-datepicker table{
  font-family: DroidArabicKufi,Ubuntu!important;
}

html[lang=ar] .crm-datepicker, html[lang=ar] .hasDatepicker{
  background-position: 12px center!important;
}

@media(max-width: 991px){
  section.hero-wrapper.no-banner+.top-header-large {
    margin-top: 0;
  }
  html[lang=ar] footer .contact-option-group a{
    display: block;
    margin-bottom: 15px;
    width: 100%;
  }
  html[lang=ar] footer .contact-option-group+.contact-option-group{
    margin-top: 35px;
  }
  html[lang=ar] footer .contact-option-group h4{
    margin-bottom: 10px;
    display: block;
  }
}

@media(max-width: 768px){
  html[lang=ar] footer .contact-option-group a{
    display: block;
    margin-bottom: 5px;
    width: 100%;
  }
  html[lang=ar] footer .contact-option-group+.contact-option-group{
    margin-top: 25px;
  }
  html[lang=ar] footer .contact-option-group h4{
    margin-bottom: 5px;
    display: block;
  }
  

}

.ui-datepicker .ui-datepicker-title select + select{
  margin-left: 10px;
}

html[lang=ar] .ui-datepicker .ui-datepicker-title select + select{
  margin-left: 0px;
  margin-right: 10px;
}

html[lang=ar] .ui-datepicker th{
  font-size: 10px;
}

.sticky-header .navigation .menu .search-menu{
  margin-right:30px;
  margin-left: 0px;
}

@media(max-width: 991px){
  .sticky-header .navigation .menu .search-menu{
    margin: 0px;
  }
}