.mobile-menu ul.mobile-menu-list{display: none;}
 /*2-8-2019*/
  .sign-out footer{
  	margin-top: 100px;
  }
  .forgot-password .single-layout .content-wrap .content-summary .summary-item .group-title p{
    font-size: 16px;
  }
  .home .join-club {margin-top: -80px; padding-bottom: 100px;}
  .pregnancy .join-club {margin-top: -45px; padding-bottom: 40px;}
  .tools .join-club {margin-top: -80px; padding-bottom: 40px;}
  .videos .join-club {margin-top: -80px; padding-bottom: 40px;}
  .baby .join-club {margin-top: -45px; padding-bottom: 40px;}
  .toddler .join-club {margin-top: -45px; padding-bottom: 40px;}
  .single-pregnancy-phase .join-club {margin-top: 15px; padding-bottom: 30px;}
  /*.postid-10905 .join-club {margin-top: 15px; padding-bottom: 5px;}*/
  .food-drink-during-labour .join-club {margin-top: 15px; padding-bottom: 30px;}
  .single-baby-phase .join-club {margin-top: 15px; padding-bottom: 30px;}
  .single-toddler-phase .join-club {margin-top: 15px; padding-bottom: 30px;}
  .single-toddler-phase .join-club {margin-top: 15px; padding-bottom: 30px;}
  .products  .join-club{margin-top: 15px; padding-bottom: 5px;}
  /*2-8-2019*/
@media(max-width: 1400px){
	section.hero-wrapper .banner.auto-height {
	    min-height: 620px;
	}
	.contact-us section.hero-wrapper.no-banner+.top-header-large {
		margin-top: -440px;
	}
	.contact-us section.single-layout {
		margin-top: -150px;
	}
  .landing-blocks + .calculator {
    margin-top: -28px;
  }
}
@media(max-width: 1400px) and (min-width: 769px){
  /*.live-iframe{
    right: 30px;
    top: 300px;
  }
  .close-adjust {
    top: 305px;
  }*/
  html[lang=ar] .live-iframe{
    left: 30px !important;
  }
/*  html[lang=ar] .close-adjust{
    left: 47.5% !important;
    right: auto;
  }*/
}
@media(min-width: 1200px){
	.single-toddler-phase .article-detail.single-layout .container {
      max-width: 970px !important;
  } 
  .paint-your-story .article-detail.single-layout .container, .animal-kingdom .article-detail.single-layout .container, .balloon-poppers .article-detail.single-layout .container{
    max-width: 1200px !important;
  }
  .page-template-template-about-us .experienced.top-gradient-bg .container {
    max-width: 660px;
  }
}
@media(max-width: 1200px){
   .home section.arc-shape.arc-secondary:after{
      top: 95px;
    }
  .hasDatepicker{
    /*
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;          
    */
  }
  .model-visible{
    position: fixed !important;
  }
  section.hero-wrapper .banner.auto-height{
    min-height: 520px;
  }
  .page-expert-adjust.our-experts .wrap-content .content-details .advisor{
    width: 50%;
  }
  section.page-expert-adjust.landing-details.our-experts .container{
  	padding-bottom: 0;
  }
  .live-iframe{
    right: 30px;
    top: 670px;
    height: 550px;
  }
  .close-adjust {
    top: 675px;
  }
  .contact-us .btn.btn-lg {
      width: 178px;
  }
  /*edited 5 - 7 -2019*/
  .dropdown-block h5{
    line-height: 1.2 !important;
  }
  .dropdown-block.secondary_light.checkbox{
    height: auto;
  }
}
@media(max-width: 1024px) and (min-width: 736px){
  .cards-wrap{
    flex-flow: wrap;
  }
  .card-item{
    width: 50%
  }
  .cards-wrap .card, .cards-wrap .tag-card {
    max-width: 300px;
    width: 100%;
    margin: auto;
  }
  .cards-wrap .card-item+.card-item{
    margin-top: 0;
  }
}
@media(max-width: 1024px){
  section{
    min-height: 100px;
  }
}
@media(min-width: 992px){
	.page-expert-adjust .container{
		padding-top: 0;
	}
	.contact-us section.hero-wrapper.no-banner+.top-header-large {
		margin-top: -440px;
	}
	.contact-us section.single-layout {
		margin-top: -150px;
	}
}
@media(max-width: 991px){
  /*for lebanon*/
  .home section.arc-shape.arc-secondary:after{
      top: 76px;
    }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li a .icon-wrap+span {
    font-size: 12px;
  }
  body.home .home-tab-switcher{
    overflow: visible;
  }
  /*for crm*/
  html[lang=ar] .skill-list {
    padding-right: 0;
  }
  /*for crm*/
  .search section.hero-wrapper.no-banner {
      z-index: 1;
  }
  section.hero-wrapper.no-banner .brand-bg{
    background-size: auto 260px;
  }
  section.hero-wrapper.no-banner{
    overflow-x: visible !important;
    overflow-y: visible !important;
    min-height: 100px;
    z-index: 9;
  }
  .landing-blocks .title h4{
    margin-top: 30px;
  }
  .sticky-header+section.hero-wrapper .banner-mobile a{
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .topics-slider-wrap .slider .slide-item a{
    height: 42px;
    max-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  	.mobile-menu-popup .menu-inner {
	    padding: 40px 40px;
	    text-align: left;
	}
	.mobile-menu-popup .menu-inner .menu-nav.menu-lg {
	    font-size: 22px;
	    line-height: 45px;
	}
	.mobile-menu-popup .menu-inner .menu-nav.menu-sml {
		font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
	    text-transform: capitalize;
	    font-size: 18px;
    	line-height: 35px;
	    margin-top: 20px;

	}
	.tab-swicher .tab-items {
		margin-top: 0px;
	}
	#productListData .product-item .btn-wrap {
	    margin-top: 0px;
	    margin-bottom: 35px;
	}
	.product-item .card .card-img {
	    padding: 40px 15px 15px;
	}
	.contact-us section.hero-wrapper.no-banner+.top-header-large {
		margin-top: 0;
	}
	.contact-us section.single-layout {
		margin-top: -150px;
	}
	.contact-us section.article-detail.single-layout .container{
		padding-top: 0;
	}
	/*edited 2-7-2019*/
	 .sticky-header .navigation .menu li .search-box .form-control,header .navigation .menu li .search-box .form-control{
	 	overflow: visible !important;
    z-index: 99;
	}
  .sticky-header.search-active, header.search-active {
      background-color: transparent;
  }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-btn.active{
    width: 100%;
  }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li a .icon-wrap {
      height: 48px;
      width: 48px;
      padding: 0;
      justify-content: space-around;
      align-items: center;
  }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub {
      max-width: 200px;
      min-width: 200px;
  }
  section.dropdown-options-wrap .backgrond-shape-img img{
    margin-left: auto;
    width: 150%;
    height: 100%;
    margin: 0 0 0 -150px;
  }
  /*edited 5 - 7 -2019*/
  section.tab-wrapper.single .tab-swicher .tab-items .tab-btn.active{
    width: 100%;
  }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li a .icon-wrap {
      height: 48px;
      width: 48px;
      padding: 0;
      justify-content: space-around;
      align-items: center;
  }
  section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub {
      max-width: 200px;
      min-width: 200px;
  }
}
@media (min-width: 769px){
	.article-share-wrap .container{
		padding-top: 0;
	}
	section.calculator + section.article-share-wrap .container{
		padding-top: 60px;
	}
	
	.page-id-1704 section.hero-wrapper.no-banner+.top-header-large, .page-id-1706 section.hero-wrapper.no-banner+.top-header-large {
		margin-top: -440px; 
	}
	.page-id-1704 section.tab-wrapper, .page-id-1706 section.tab-wrapper  {
	margin-top: -150px;
	}

}
@media(max-width: 768px){
  /*2-8-2019*/
    .home .join-club{margin-top: -10px; padding-bottom: 50px;}
    .pregnancy .join-club{margin-top: -45px; padding-bottom: 40px;}
    .tools .join-club {margin-top: -10px; padding-bottom: 40px;}
    .videos .join-club {margin-top: -70px; padding-bottom: 40px;}
    .baby .join-club{margin-top: -45px; padding-bottom: 40px;}
    .toddler .join-club{margin-top: -45px; padding-bottom: 40px;}
    .single-pregnancy-phase .join-club{margin-top: -50px; padding-bottom: 50px;}
    /*.single-baby-phase .join-club{margin-top: -60px; padding-bottom: 40px;}*/
    .food-drink-during-labour .join-club{margin-top: -50px; padding-bottom: 40px;}
    .single-baby-phase .join-club {margin-top: -60px; padding-bottom: 40px;}
    .single-toddler-phase .join-club {margin-top: -60px; padding-bottom: 40px;}
    .single-toddler-phase .join-club {margin-top: -60px; padding-bottom: 40px;}
    .products .join-club{margin-top: -30px; padding-bottom: 20px;}
  /*2-8-2019*/
  .home section.arc-shape.arc-secondary:after{
      top: 72px;
    }
  html[lang=ar] section.advice .advice-wrap .contact-options .contact-item .bubble-wrap {
    width: 100%;
    max-width: 270px;
}
        /*for crm*/
  .result .wrap-skill-btn #previous_video{
    margin-bottom: 10px;
  }
  .result .wrap-skill-btn #previous_video_ar{
    margin-bottom: 10px;
  }
  /*for crm*/
	a.topic-block:hover{
		text-decoration: none !important;
	}
  iframe {
      width: 100%;
      height: 400px;
  }
  .calculator-tools .radio-button .radio-boy{
    margin: 0 30px 0 0;
  }
  .allergy-test:after, .allergy-test:before{
    position: absolute;
  }
  .baby-growth-result .result .wg-per{
    height: 230px;
  }
  .tab-swicher .tab-items{
    margin: 0px 0px 15px 0px;
  }
	.live-iframe{
    right: 0;
    top: 304px;
    width: 400px;
    height: 550px;
  }
  .close-adjust {
    right: 54px;
    top: 304px;
  }
    .content-summary .slick-arrow.slick-prev{
    left: -19px;
  }
  .content-summary .slick-arrow.slick-next{
    right: -28px;
  }
  .content-summary .wrap-nav-index ul li a, .wrap-nav-index ul li a{
    height: auto;
    line-height: 1.4;
    text-align: left;
  }
  .terms-conditions .top-header-large {
      min-height: 150px;
  }
  .ui-datepicker th{
    padding: 15px;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #c4e4f9;
    border-color: #c4e4f9;
    color: #000;
  }
  .ui-button.ui-state-active:hover, .ui-button:active, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active{
    background: #009fe3;
    border-color: #009fe3;
  }
  .ui-datepicker .ui-datepicker-header{
    border: 0px;
    background: none;
    border-bottom: 1px solid #ccc;
  }
  .ui-datepicker td a, .ui-datepicker td .ui-state-default{
    min-height: 35px;
    line-height: 35px;
  }
  .calender-wrap .header-wrap{
    margin-bottom: 80px;
  }
  #calendar .fc-toolbar .fc-center{
    position: relative;
    top: -20px;
  }
  .ui-datepicker select.ui-datepicker-year{
    width: auto;
  }
  #calendar .fc-toolbar .fc-center h2{
    font-size: 22px;
  }
  .calender-wrap{
    margin: 0px auto;
  }
  #calendar{
    margin: 0px -30px;
  }
  .calender-wrap .header-wrap a.next, .calender-wrap .header-wrap a.prev{
    position: absolute;
    height: 40px;
    line-height: 40px;
    top: 88px;
    left: auto;
    right: auto;
  }
  .calender-wrap .header-wrap a.prev{
    left: -30px;
  }
  .calender-wrap .header-wrap a.next{
    right: -30px;
  }
  .fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
    padding: 5px;
    font-size: 12px;
  }
  .fc-toolbar.fc-header-toolbar{
    margin-top: -30px;
  }
  .fc-bg .fertile-title, .fc-bg .period-title, .fc-bg .preg-title{
    font-size: 8px;
    line-height: 10px;
    bottom: -8px;
  }
  .topics-slider-wrap .slider .slide-item a{
    font-size: 12px;
  }
  section.calculator .container .title p{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .calender-wrap .calender-header h2{
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  header .logo{
    top: 15px;
    margin-top: 0px;
    margin-left: -80px;
    z-index: 9999;
   visibility: hidden;
  }
  section.hero-wrapper.hero-inner .banner-mobile h2{
    margin-bottom: 15px;
    margin-top: 15px;
  }
  section.featured-article-list .container, section.popular-phase-topics .container{
    padding-top: 15px;
  }
  section.featured-article-list .container .title h4, section.popular-phase-topics .container .title h4{
    margin-bottom: 15px;
  }
  section .content-wrap .title+.cards-wrap {
      margin: 15px;
  }
  #productListData .product-item .btn-wrap {
      margin-top: 0px;
      margin-bottom: 0px; 
  }
  .product-item .card .card-body {
      min-height: 140px;
  }
  .product-item .card .card-body {
      padding: 0px 15px;
  }
  .product-item .card .card-img {
    padding: 10px 0px 0px 0px;
  }
  .product-item .card .btn-wrap{
    padding: 15px 15px 20px 15px;
  }
  .content-summary blockquote p{
    font-size: 26px;
    line-height: 36px;
  }
  .product-tab .tab-content .brands-image a{
    margin-right: auto;
    margin-left: auto;
  }
  .grey-border {
    padding-bottom: 0px;
  } 
  .sticky-header{
    background-image: linear-gradient(0deg,#ffff,#fff 25%,#c4e4f9) !important;
  }
  section.calculator + section.article-share-wrap{
    margin-top: 0;
  }
  section.calculator + section.article-share-wrap .container{
		padding-top: 0;
		}
  .sticky-header .curve-svg{
    fill: #ffffff !important;
    margin: 0px -2px;
    width: 105%;
  }
  .allergy-risk-assesment-tool .content-wrap #myForm{
    padding-bottom: 30px;
  }
  .ui-widget.ui-widget-content{
    padding: 0px;
    max-width: 100%;
    overflow: hidden;
  }
  .ui-datepicker:before, .ui-datepicker:after, .ui-helper-clearfix:after{
    display: none;
  }
  .tab-wrapper.single {
      z-index: 99; 
  }
  html[lang=ar] .content-summary .wrap-nav-index ul li a, .wrap-nav-index ul li a{
    height: auto;
    line-height: 1.4;
    text-align: right;
  }
  html[lang=ar] .content-summary .slick-arrow.slick-prev{
    right: -26px;
  }
  html[lang=ar] .content-summary .slick-arrow.slick-next{
    left: -19px;
  }
  html[lang=ar] section.join-club .join-club-wrap .content-wrap .title h4 {
    text-align: center;
  }
  html[lang=ar] .live-iframe {
    left: 0px !important;
    right: auto !important;
  }
/*  html[lang=ar] .close-adjust {
    left: auto !important;
    right: 54px !important;
  }*/
  html[lang=ar] footer .contact-option-group p a span{
    width: 98px;
  }
  html[lang=ar] footer .footer-top .col-sm-6:last-child{
    padding-right: 44px;
  }
   html[lang=ar] .ui-datepicker table {
    font-size: 0.6em;
  }
  .calculator-tools.baby-growth{
    margin-bottom: 35px;
  }
  section.disclaimer .container{
    padding-top: 10px;
    padding-bottom: 50px;
  }
  section.article-share-wrap .container{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
  }
  section.calculator{
    padding-top: 30px;
  }
  section.calculator .container{
    padding-bottom: 25px;
  }
  .mCustomScrollbar{
    touch-action: initial;
  }
  header .navigation{
    margin-top: 10px;
  }
  header{
    min-height: 90px;
  }
  section.hero-wrapper .banner-mobile .banner-slide{
    padding-top: 60px;
  }
  a.topic-block{
    flex-flow: column;
  }
  a.topic-block .block-image{
    width: 100%;
  }
  a.topic-block .block-content{
    width: 100%;
  }
  .page-expert-adjust img{
    max-width: 320px;
  }
  	.ui-datepicker {
	    margin-left: 50px;
	}
	.allergy-tool-results .title p {
	    font-size: 15px;
	    line-height: 20px;
	}
	.card-item {
		margin-bottom: 20px;
	}
	.products .grey-border {
	    padding-bottom: 0;
	}
	.products section.advice>.container{
		padding-top: 0;
	}
	.contact-us .container{
		padding-top: 0;
	}
	.contact-us .list-phone ul li+li:before{
		display: none !important;
	}
	.calculator .title h2 {
		margin-top: 0;
	}
	.terms-conditions footer{
		margin-top: 0;
	}
	.capsule-wrap {
		text-align: center;
		max-width: 100%;
	}
	.landing-blocks {
		padding: 0;
	}
	.product-tab ul li+li, .tab-swicher .tab-items .tab-items-sub li+li{
		margin-left: 0;
	}
	.product-tab .product-desc {
		padding-bottom: 0;
	}
	.home section.arc-shape.arc-secondary {
		margin-top: 0px !important;
	}
	html[lang=ar] .capsule-wrap {
    text-align: center;
	}
	footer {
    margin-top: 30px;
  }
/*  .experienced + .advice{
		margin-top: -92px;
	}*/
	.experienced + .advice{
		margin-top: -50px;
	}
  .toddler-growth-tool .advice .container .advice-wrap .advice-head .title h2 {
    padding-top: 15px;
  }
  .growth-tool .advice .container .advice-wrap .advice-head .title h2 {
      padding-top: 15px;
  }
  .pre-schooler-growth-tool .advice .container .advice-wrap .advice-head .title h2 {
      padding-top: 15px;
  }
	.contact-us section.single-layout {
	    margin-top: 0;
	  }
  
  iframe.y-video{
    display: flex;
    justify-content: space-around;
  }
  .allergy-test {
		padding-bottom: 0px;
	}
	
	.allergy-tool-results .advice .container .advice-wrap .advice-head .title h2 {
		padding-top: 0px;
	}
  header .navigation .menu li.search-menu .search-box {
      top: 45px;
  }
  .mobile-menu ul.mobile-menu-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: space-around;
    padding-top: 15px;
    background-color: #c4e4f9;
    position: fixed;
    z-index: 9999;
  }
  .mobile-menu ul.mobile-menu-list li.brand{
    margin-top: -60px;
  }
  .mobile-menu ul.mobile-menu-list li.brand img{
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
  }
  .mobile-menu ul.mobile-menu-list li a.brand-inner{
    /*margin-right: -25px;*/
    display: block;
    padding-left: 30px;
  }
   .mobile-menu ul.mobile-menu-list li a{
      color: #17479e;
   }
  .mobile-menu ul.mobile-menu-list li.icon-wrap{
    font-size: 22px;
    color: #17479e;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .mobile-menu ul.mobile-menu-list li a.search-icon-inner{
    /*margin-right: -40px;*/
    width: 30px;
    height: 30px;
    display: block;;
  }
  .mobile-menu ul.mobile-menu-list li.search-icon{
    width: 30px;
    height: 30px;
    display: flex;
    font-size: 22px;
    justify-content: space-around;
    align-items: center;
  }
  .allergy-test-tool .question {
    border-bottom: dashed 3px rgb(23, 71, 158);
  }
  .ui-widget.ui-widget-content {
    margin: 0px;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 999999999999999999 !important;
    width: auto;
  }
    /*eidted 5 - 7 - 2019*/
/*  section.dropdown-options-wrap .backgrond-shape-img img{
    margin-left: -340px;
    width: auto;
  }*/
  .topics-slider-wrap .slider .slide-item{
    width: auto !important; 
  }
  .dropdown-options-wrap .dropdown-tab {
      flex-wrap: wrap;
      align-items: unset;
      margin-top: -60px;
  }
  .dropdown-block.checkbox{
    height: auto !important;
  }
  .mCustomScrollBox{
  	overflow: scroll;
  }
  html[lang=ar] section.dropdown-options-wrap .backgrond-shape-img img{
    /*margin-left: auto;*/
   /* width: auto;*/
    /*height: 100%;*/
   /* margin: 0 0 0 -150px;*/
  }
	html[lang=ar] section.dropdown-options-wrap .backgrond-shape-img img {
	    margin-right: -315px !important;
	}
  .weeks-slider-wrap{
    padding-top: 50px;
   }
	html[lang=ar] .weeks-slider-wrap{
	 	padding-top: 65px;
	 }
  html[lang=ar] .dropdown-options-wrap .dropdown-tab {
      flex-wrap: wrap;
      align-items: unset;
      margin-top: -110px;
  }
}
@media only screen and (max-width: 767px){
  html[lang=ar] section.dropdown-options-wrap .backgrond-shape-img img {
      width: auto;
      height: auto;
      margin-right: -540px !important;
      margin-left: 0;
  }
  iframe {
    width: auto;
    height: auto;
  }
	.allergy-test:after, .allergy-test:before {
		background-size: 38%;
		top: 70px;
	}
	.allergy-test .expert-widget, .allergy-test .landing-blocks, .allergy-test .page-highlight, .allergy-test .test-result, .allergy-test .widget-knowledge {
	    width: 100%;
	    margin: 0 auto;
	    padding-bottom: 0;
	}
	.allergy-tool-results .title {
	    max-width: 100%;
	    padding: 5px;
	}
	.contact-us .top-header-large {
		min-height: 140px;
	}
  section.dropdown-options-wrap .backgrond-shape-img img{
    width: auto;
    height: auto;
    margin-left: -540px;
  }
        /*for crm*/
  .result .wrap-skill-btn {
      text-align: center;
      margin-top: 15px;
  }
  .result footer{
    margin-top: 0;
  }
  /*for crm*/
}
@media(max-width: 736px){
    html[lang=ar] .close-adjust {
      left: auto !important;
      right: 54px !important;
    }
    /*css change for crm*/
  .skill-list span label {
      position: absolute;
      top: 10px;
  }
  .skill-list p {
      width: 100%;
  }
  .tax-assessment-test section.hero-wrapper .banner-mobile .caption{
    display: none;
  }
 /* .term-cognitive-skills .page-header, .term-fine-motor-skills .page-header,.term-physical-skills .page-header,.term-creative-skills .page-header, .term-interactive-skills .page-header,.term-verbal-skills .page-header{
    margin-top: -30px;
  }*/
  /*css change for crm*/
	html[lang=ar] .weekly-plan-head {
    padding-right: 0;
  }
  html[lang=ar] .weekly-plan-head h2 {
    text-align: center;
  }
  .meal-table a.slick-arrow.slick-prev {
    left: 20px !important;
    right: auto !important;
  }
  .meal-table a.slick-arrow.slick-next {
    right: 20px !important;
    left: auto !important;
  }
  html[lang=ar] .recipes .btn-meal-plan {
    float: none;
  }
  html[lang=ar] .landing-blocks.new-articles .age-selector label {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 0;
  }
  /* normal css */
  .term-89 section.join-club{
    padding-top: 0;
  }
  section.experienced.top-gradient-bg + section.article-featured{
  	padding-top: 0;
  }
  .page-expert-adjust.our-experts .wrap-content .content-details .advisor{
    width: 100%;
  }
  .live-iframe{
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
   .close-adjust {
    right: 54px;
    top: 4px;
  }
  /*2-8-2019*/
  .contact-us .form-group {
    margin-bottom: 0;
  }
  .contact-us .otherContacts {
    padding-top: 50px;
  }
  /*2-8-2019*/
  .contact-us .article-detail > .container {
    padding-bottom: 0;
  }
  .contact-us #subject + .select2,
  .contact-us #country + .select2 {
     width: 100% !important;
  }
  .contact-us .btn.btn-lg {
    margin: 0 25%;
  }
    .dropdown-options-wrap .dropdown-tab {
      flex-wrap: wrap;
      align-items: unset;
      margin-top: -200px;
  }
  html[lang=ar] .dropdown-options-wrap .dropdown-tab {
      flex-wrap: wrap;
      align-items: unset;
      margin-top: -240px;
  }
}
/*@media only screen and (max-width: 768px){
	.allergy-test-tool .question {
	  border-bottom: dashed 3px rgb(23, 71, 158);
	}
	.ui-widget.ui-widget-content {
    margin: 0px;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    bottom: 0px !important;
    right: 0px !important;
    z-index: 999999999999999999 !important;
    width: auto;
	}
}*/
@media only screen and (max-width: 330px){
	.allergy-test:after, .allergy-test:before {
		background-size: 30%;
		top: 70px;
	}
	.ui-datepicker table {
	    font-size: 0.6em;
	}
  #flags_language_selector a {
    font-size: 12px;
  }
}

.mobile-brand-menu{
  display: none;
}

@media(max-width: 991px){
  .mobile-brand-menu{
    display: block;
    position: absolute;
    left: 50%;
    /* top: 50%; */
    width: 150px;
    height: 90px;
    margin-top: 15px;
    margin-left: -75px;
    z-index: 0;
  }
   .mobile-brand-menu:hover{
   	text-decoration: none;
   }
   section.hero-wrapper .banner-mobile .banner-slide{overflow: hidden}
}

@media(max-width: 768px){
  section .content-wrap .title+.cards-wrap{
    margin: 0px;
  }
  section .content-wrap .title+.cards-wrap .card-item{
    padding: 0px;
  }
}

@media (max-width: 768px){
  .tab-swicher .tab-items {
    width: 100%;
  }
}

html[lang=ar] #flags_language_selector a{
  font-family: GothamHTFMedium,Helvetica,Arial,sans-serif !important;
}

html[lang=en-US] #flags_language_selector a{
  font-family: DroidArabicKufi,Ubuntu !important;
}

.allergy-tool-results .title.center {
    text-align: center;
    max-width: 70%;
    margin: auto;
    display: block;
}
.ui-widget.ui-widget-content {
	left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.allergy-test .test-result .result-block .result .question ul {
    counter-reset: result-questions;
    list-style: none;
    margin: 0;
    padding: 0;
}
section.hero-wrapper .banner-mobile .caption{ 
	margin: 10px 0;  
}
section.calculator {
     margin-top: 0px; 
}
.content-wrap .wrap-sitemap h3, .content-wrap .wrap-sitemap ul li {
    color: #17479e;
    font-size: 16px;
    padding: 0 0 5px 20px;
    font-weight: 400;
    line-height: 1.4;
    list-style: none;
    position: relative;
    margin-bottom: 0px;
}
.content-wrap .wrap-sitemap h3 a,  .content-wrap .wrap-sitemap ul li a{
	color: #17479e;
}
.content-wrap .wrap-sitemap ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom:20px;
}
.page-list-ext .page-list-ext-item {
    clear: both;
    margin: auto;
}
footer .footer-copyright {
    font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
}
.sitemap section>.container {
    padding-top: 0;
    padding-bottom: 0;
}
.sitemap section.hero-wrapper.hero-inner .banner-mobile h2{
	margin-bottom: 0;
}
.wrap-sitemap h2{
	font-size:1.3rem;
}

@media (max-width: 991px){
	.mobile-menu-popup .menu-inner {
	    padding: 40px 40px;
	    text-align: left;
	}
	.mobile-menu-popup .menu-inner .menu-nav.menu-lg {
	    font-size: 22px;
	    line-height: 45px;
	}
	.mobile-menu-popup .menu-inner .menu-nav.menu-sml {
		font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
	    text-transform: capitalize;
	    font-size: 18px;
    	line-height: 35px;
	    margin-top: 20px;

	}
	.tab-swicher .tab-items {
		margin-top: 0px;
	}
	#productListData .product-item .btn-wrap {
	    margin-top: 0px;
	    margin-bottom: 35px;
	}
	.product-item .card .card-img {
	    padding: 40px 15px 15px;
	}
}
@media (max-width: 768px){
	html[lang=ar] section.advice .advice-wrap .contact-options .contact-item .bubble-wrap {
    	width: 100%;
    	max-width: 270px;
	}
	.ui-datepicker {
	    margin-left: 50px;
	}
	.allergy-tool-results .title p {
	    font-size: 15px;
	    line-height: 20px;
	}
	.card-item {
		margin-bottom: 20px;
	}
	.products .grey-border {
	    padding-bottom: 0;
	}
	.products section.advice>.container{
		padding-top: 0;
	}
	.contact-us .container{
		padding-top: 0;
	}
	.contact-us .list-phone ul li+li:before{
		display: none !important;
	}
	.calculator .title h2 {
		margin-top: 0;
	}
	.terms-conditions footer{
		margin-top: 0;
	}
	.capsule-wrap {
		text-align: center;
	}
	.landing-blocks {
		padding: 0;
	}
	.product-tab ul li+li, .tab-swicher .tab-items .tab-items-sub li+li{
		margin-left: 0;
	}
	.product-tab .product-desc {
		padding-bottom: 0;
	}
	.home section.arc-shape.arc-secondary {
		margin-top: 0px !important;
	}
}
.product-content-with-title ul {
	color: #212529;
}
.contact-us .formSubmit{
	margin-top: 20px;
}
html[lang=en-US] .title{
	font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
}
html[lang=ar] .title{
	font-family: DroidArabicKufi,Ubuntu!important;
}
.contact-us .otherContacts {
    text-align: center;
    padding: 10px;
}
.contact-us .list-phone {
    margin-bottom: 25px;
}
.contact-us .list-phone ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    line-height: 25px;
}
.contact-us .list-phone ul li {
    display: inline-block;
    position: relative;
    unicode-bidi: embed;
    color: black;
    font-size: 18px;
    padding: 5px;
}
.contact-us .list-phone ul li span {
    font-size: 14px;
    color: #56b9e7;
}
.contact-us .list-phone ul li+li:before {
    content: ' | ';
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    color: #a5a5a5;
}
.contact-us .list-phone .icon-whatsapp {
    color: #13ab6f;
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
}
.contact-us .ctaWrap a {
    margin: 5px;
}
.contact-us .list-social {
	margin-bottom: 0;
	line-height: 27px;
    text-align: center;
	color: #3c3c3c;
	margin: 35px 0 20px;
}
.contact-us .list-social ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    position: relative;
    padding-top: 10px;
}
.contact-us .list-social ul li {
    display: inline-block;
    padding: 0 6px;
}
.contact-us .list-social .icon {
    font-size: 22px;
}
.contact-us footer{
	margin-top: 0px;
}
.contact-us .contactFormIntro{
	margin-top: 25px;
}
.single-layout h2{
	font-size: 24px;
    line-height: 30px;
    color: #17479e;
    margin-bottom: 15px!important;
}
html[lang=ar] .terms-conditions p , html[lang=ar] .terms-conditions .single-layout h2{
	text-align: right;
} 
html[lang=ar] .terms-conditions .single-layout{
	margin: 0 20px;
}
.search-items {
	padding-bottom: 30px;
	padding-top: 10px;
}

.single-layout .content-wrap .wrap-sitemap{
	padding-top:30px;
}
.single-layout .content-wrap .content-summary h3{
	margin-top: 0;
}

@media only screen and (max-width: 767px){
	.allergy-test:after, .allergy-test:before {
		background-size: 38%;
		top: 70px;
	}
	.allergy-test .expert-widget, .allergy-test .landing-blocks, .allergy-test .page-highlight, .allergy-test .test-result, .allergy-test .widget-knowledge {
	    width: 100%;
	    margin: 0 auto;
	}
	.allergy-tool-results .title {
	    max-width: 100%;
	    padding: 5px;
	}
	.contact-us .top-header-large {
		min-height: 140px;
	}
}

@media only screen and (max-width: 580px){
	.allergy-test-tool .question {
	    border-bottom: dashed 3px rgb(23, 71, 158);
	}
	.ui-widget.ui-widget-content {
	    margin: 0px;
	    position: fixed !important;
	    top: 0px !important;
	    left: 0px !important;
	    bottom: 0px !important;
	    right: 0px !important;
	    z-index: 999999999999999999 !important;
	    width: auto;
	}
}
@media only screen and (max-width: 330px){
	.allergy-test:after, .allergy-test:before {
		background-size: 30%;
		top: 70px;
	}

	.ui-datepicker table {
	    font-size: 0.6em;
	}
}
@media (min-width: 769px){
	.article-share-wrap .container{
		padding-top: 0;
	}
	section.calculator + section.article-share-wrap .container{
		padding-top: 60px;
	}
	
	.page-id-1704 section.hero-wrapper.no-banner+.top-header-large, .page-id-1706 section.hero-wrapper.no-banner+.top-header-large {
		margin-top: -440px; 
	}
	.page-id-1704 section.tab-wrapper, .page-id-1706 section.tab-wrapper  {
	margin-top: -150px;
	}
	.contact-us section.hero-wrapper.no-banner+.top-header-large {
		margin-top: -440px;
	}
	.contact-us section.single-layout {
		margin-top: -150px;
	}
}
@media(min-width: 992px){
	.page-expert-adjust .container{
		padding-top: 0;
	}
}

html[lang=ar] .mobile-menu-popup .menu-inner {
    text-align: right;
}

.title h4 {
	text-transform: capitalize;
}
.home section.arc-shape.arc-secondary{
	margin-top: -62px;
}
html[lang=ar] .single-layout .content-wrap .pregnancy-phase , html[lang=ar] .single-layout .content-wrap .baby-phase {
	overflow-x: auto;
}

.wrap-social-feed .listing-block h2{
  min-height: 78px;
}

input[type=checkbox]:checked:before{
  color: white;
  content: "\2713";
  font-size: 18px;
}

html[lang=ar] .sticky-header .navigation .menu li#flags_language_selector{
  display: flex !important;
  margin: 0px;
}

@media(max-width: 991px){
  header .navigation .menu+.menu li:first-child{
    position: absolute;
    left: 50px;
    top: 1px;
  }
  html[lang=ar] header .navigation .menu+.menu li:first-child{
    left: auto;
    right: 50px;
  }
}

input[name="entity[emailaddress1]"], input[name="entity[syn_websitepwd]"]{}