/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

	@import url(https://fonts.googleapis.com/css?family=Raleway:500);
    @import 'https://fonts.googleapis.com/css?family=Lato';
	
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration:none;
	display:block;
	transition: 0.3s;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*fonts*/
@import url(https://fonts.googleapis.com/css?family=Khula);
@import 'https://fonts.googleapis.com/css?family=Baloo';


@font-face {
    font-family: Cocon-Regular;
    src: url('../fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cocon-Regular.otf')  format('opentype'),
    url('../fonts/Cocon-Regular.woff') format('woff'), url('../fonts/Cocon-Regular.ttf')  format('truetype'), url('../fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}  

* {
	 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*box-sizing: border-box;*/
}
body {
	line-height: 1;
	font-family:Arial;
	/*font-family: 'Khula-Regular'!important;*/
	overflow-x: hidden;
	overflow-y: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header-wrapper
{
	width:100%;
	height:100%;
	margin:0;
}
#canvas{
	margin:auto;
}

#canvas{ display:block; }
.chapter-dropdown {
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 9;
	width: 390px;
	transition:all 0.3s;
	height: 70px;
	display:none;
	
}
.chapter-dropdown ul li{margin-top: 15px;top:-100%;position:relative;}
.chapter-dropdown ul li.ddMenu {opacity:0;}

.chapter-dropdown a{
	background-color:#09475d;
	padding:25px 0 20px 40px;
	border-radius:50px;
	box-shadow:0px 3px 0px #06303f;
	position: relative;
	text-transform: uppercase;
}

.chapter-dropdown a.dd-btn{box-shadow:0px 6px 0px #06303f;}
.chapter-dropdown a.dd-btn i {
	background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 16px;
    left: 17px;
    position: absolute;
    top: 25px;
    width: 15px;
}
.chapter-dropdown a.dd-btn.open i{transform: rotate(180deg);-webkit-transform: rotate(180deg);-o-transform: rotate(180deg);}
.chapter-dropdown ul {overflow: hidden;padding:0 0 10px;border-radius:40px;position: absolute;width: 100%; display:none;}

.chapter-dropdown ul li.ddMenuOpen{display: block;opacity: 1;top:0;}
.chapter-dropdown ul li:nth-child(1){transition:all 800ms, top 200ms ease-out;}
.chapter-dropdown ul li:nth-child(2){transition:all 1000ms, top 400ms ease-out}
.chapter-dropdown ul li:nth-child(3){transition:all 1200ms, top 600ms ease-out}
.chapter-dropdown a h3{font-size: 15px;color:#70d3f8;font-family: Cocon-Regular;}
.chapter-dropdown a h3 span {
    display: inline;
	color:#ffffff;
}
.chapter-dropdown a:hover, .chapter-dropdown a.open{background-color:#11a7de;}
.chapter-dropdown a:hover h3, .chapter-dropdown a.open h3{color: #09475d;}
/*
@media only screen and (orientation:portrait){
#canvas {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    
  }
}
@media only screen and (orientation:landscape){
#canvas {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}*/


#popUp{
	padding: 5px;
	margin: 10px 0;
/*	overflow: hidden;*/
    background: #ffffff;
    color: #09475d;
    margin: 0 auto;
    width: 740px;
    padding: 25px 20px 20px 30px;
    max-width: 97%;
    height: 600px;
    border: solid 10px #1f5967;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 3px 2px 5px 0px rgba(0,0,0,0.52);
    -moz-box-shadow: inset 3px 2px 5px 0px rgba(0,0,0,0.52);
    box-shadow: inset 3px 2px 5px 0px rgba(0,0,0,0.52);
    position: relative;
    top: 45px;
}

.information-h2 h2 {
    font-size: 30px;
    text-align: center;
    color: #000;
    position: relative;
    font-family: Cocon-Regular;
    margin: 0px 0 25px 0;
}

.row-info {
    width: 100%;
    float: left;
    margin-bottom: 10px;
}


.img-section {
    width: 18%;
    float: left;
    margin-right: 2%;
}

.img-section img {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3px;
    width: 110px;
}

.para-section {
    width: 77%;
    float: left;
}

.para-section p {
    padding-top: 20px;
   
}

.close-icon{
    position: absolute;
    right: -28px;
    top: -35px;
}


.scrollable {
/*    padding: 0% 10%;*/
    position: relative;
    overflow: hidden;
    height: 455px;

}

.scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 7px;
    height: 90%;
    width: 1px;
    background: rgba(215, 205, 178, .9);
    z-index: 1;
}

.scrollable .content-wrapper {
    width: 100%;
    height: 100%;
/*    padding-right: 50%;*/
    overflow-y: scroll;
}
.scrollable .content-wrapper:after {
    display: block;
    position: absolute;
    content: "";
    background-color: #fff;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    z-index: 1;
}
.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 10px;
    border-radius: 5px;
    background:#11a7de;
    top: 0px;
    right: 3px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}
.content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top:0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(221,252,123); /* Fallback color */
    background-color: rgba(221,252,123,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info-btn {
	    position: absolute;
    right: 148px;
    top: 36px;
    width: 106px;
    height: 106px;
    background: #11a6de;
    border-radius: 50%;
    text-align: center;
    display: block;
    cursor: pointer;
	    font-size: 77px;
    font-family: monospace;
	}
.mobile-menu-btn-closed, .mobile-menu-btn-open{display: none;}
/*==========  Non-Mobile First Method  ==========*/



/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    
    #popUp {
        width: 80%;
        height: 486px;
        padding: 25px 20px 0px 30px;
    }
   

    .scrollable {
            height: 357px;
        
    }
    
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 1024px) {
	.chapter-dropdown{top: 32px;}     
	.chapter-dropdown a.dd-btn i{top: 20px;} 
	.chapter-dropdown a{padding: 20px 0 15px 40px;}
}
@media (min-width: 320px) and (max-width:767px) {
	
	.mobile-menu-btn-closed {display: block;height: 52px;left: 15px;position: absolute;top: 10px; width:35px; z-index: 9;}
	.mobile-menu-btn-open{display:none;height: 52px;left: 15px;position: absolute;top: 10px; width:35px; z-index: 9;}
	.chapter-dropdown ul, .chapter-dropdown{display: block;}
	.chapter-dropdown ul li, .chapter-dropdown>a{display: none;}
	.mobile-menu-btn-closed > img, .mobile-menu-btn-open > img{width: 100%;}
	.chapter-dropdown{top:70px;width: 340px;z-index: 1;}     
	.chapter-dropdown a.dd-btn i{display: none;} 
	.chapter-dropdown a{padding:10px 20px;box-shadow: 0 6px 0 #06303f;}
	.chapter-dropdown ul li.ddMenu {opacity: 1;position: static;}
	.chapter-dropdown ul{position: static;border-radius: 0px;}
	.chapter-dropdown a h3{font-size: 14px;}
	.header-wrapper{position: absolute;transition:left 400ms;left: 0px;}
	.menuOpen{left: 340px;}
	.chapter-dropdown ul li.ddMenu.current {
		position: absolute;
		top:0;
		width:100%;
		margin-top: 0px;
	}
	.chapter-dropdown ul li.ddMenu.current  a{background-color: #11a7de;}
	.chapter-dropdown ul li.ddMenu.current  a h3{color: #09475d;}
	.chapter-dropdown.active {
		padding-top:50px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {

    
#popUp {
    width: 90%;
    height: 495px;
    padding: 25px 20px 0px 30px;
}
    
.scrollable {
            height: 367px;
    }

.information-h2 h2 {
            font-size: 22px;
    }
    
    .close-icon img {
        width: 80%;
    }
    
    .img-section img {
            width: 114px;
    }
    
	
    
    
}

/* Portrait tablets and small desktops */
@media (min-width: 568px) and (max-width: 767px) {

    #popUp {
            max-width: 91%;
            height: 320px;
                top: 28px;
    }
    
    .scrollable {
            height: 205px;
    }
    
}




/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
.close-icon {
    position: absolute;
/*    right: -41px;*/
    top: -11px;
}
.close-icon img { width: 70%;}
.information-h2 h2 { font-size: 23px;}
    
    .img-section img {
        max-width: 100%;
    }

}

/* Landscape i phones 6 and landescape tablets */
@media (max-width: 667px) { 

    #popUp {
        height: 280px;
    }

    .scrollable {
    height: 168px;
    }
    
}


/* Landscape i phones 6 and landescape tablets */
@media (max-width: 568px) { 

    #popUp {
    height: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
.information-h2 h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

    .para-section p {
        margin-top: 0;
    }

    .scrollable {
      height: 185px;
    }
    
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    
    
    #popUp {width: 80%;top: 25px; height: 360px;padding: 18px 20px 20px 18px;}
    .scrollable {height: 248px;}
    .img-section img {
        max-width: 100%;
    }
    .para-section p {
        margin-top: 0;
        font-size: 12px;
        padding-right: 15px;
    }
    
    
}

/* Portrait i phones 6 Plus and smaller */
@media (max-width: 414px) {
    
.information-h2 h2 {
    font-size: 18px;
    margin: 0px 0 15px 0;
}
    
    .scrollable {
    height: 248px;
	
}
    
}


/* Portrait i phones 6 and smaller */
@media (max-width: 375px) {
    #popUp {
    width: 90%;
}
    
}

/* Portrait phones and smaller */
@media (max-width: 320px) {

}










