@import url('http://fonts.googleapis.com/css?family=Contrail+One');
@font-face {
  font-family: 'BubbleGum';
  src: url('fonts/BubbleGum.eot?#iefix') format('embedded-opentype'),  url('fonts/BubbleGum.woff') format('woff'), url('fonts/BubbleGum.ttf')  format('truetype'), url('fonts/BubbleGum.svg#BubbleGum') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Conv_Bliss2H';
    src: url(fonts/Bliss2H.eot);
    src: local('ÃƒÂ¢Ã‹Å“Ã‚Âº'), url(fonts/Bliss2H.woff) format('woff'), url(fonts/Bliss2H.ttf) format('truetype'), url(fonts/Bliss2H.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'GEDinarOne-Medium';
    src: url(fonts/GEDinarOne-Medium.eot?#iefix) format('embedded-opentype'), url(fonts/GEDinarOne-Medium.otf) format('opentype'), url(fonts/GEDinarOne-Medium.woff) format('woff'), url(fonts/GEDinarOne-Medium.ttf) format('truetype'), url(fonts/GEDinarOne-Medium.svg#GEDinarOne-Medium) format('svg');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'GESSTextBold-Bold';
    src: url(fonts/GESSTextBold-Bold.eot?#iefix) format('embedded-opentype'), url(fonts/GESSTextBold-Bold.otf) format('opentype'), url(fonts/GESSTextBold-Bold.woff) format('woff'), url(fonts/GESSTextBold-Bold.ttf) format('truetype'), url(fonts/GESSTextBold-Bold.svg#GESSTextBold-Bold) format('svg');
    font-weight: 400;
    font-style: normal
}
body{
  background:#109cda;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
  overflow-y:hidden;

}
.intro-bg
{
    background: #109cda; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#109cda, #52d2f1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#109cda, #52d2f1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#109cda, #52d2f1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#109cda, #52d2f1); /* Standard syntax */

}
#main-wrapper{
  position:relative;
  margin: 0 auto;
  width:100%;
  height:600px;

}
.logo { position:absolute; top:10%; width:165px; left:30%;}

.logo img{ width:100%; height:auto;}

#my_canvas{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#337bc7;
  overflow:hidden;
}
#score-label{

  position:absolute;
 top:12%;
  right:5%;

}
#timer-label{
  position:absolute;
  top:12%;
  right:12%;

}
/*#start-btn{
  position:absolute;
  background:#2255ff;
  color:#fff;
  font-family: 'Contrail One', cursive;
  font-size:20px;
  padding:3px 10px;
  border-radius:10px;
  text-shadow:1px 1px 0 #A35906;
  border:4px solid #fff;
  cursor:pointer;
  top:200px;
  left:48%;
  margin-left:-40px;
  display:nonea;
  box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
}*/
#pause-btn{

}
.balloon.green{
	z-index:99994;
  position:absolute;
  width:100px;
  height:168px;

background-image: url('../images/baloon-green.png');
 background-repeat:no-repeat;
	 background-size: 100%;

	 -webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;;
	-webkit-animation: baloonmove 2s ease-in-out infinite alternate;
	-moz-animation: baloonmove 2s ease-in-out infinite alternate;
}

.balloon.red{
	z-index:99990;
  position:absolute;
  width:100px;
  height:168px;
  background-image: url('../images/baloon-red.png');
   background-repeat:no-repeat;
  background-size: 100%;

  -webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;;
	-webkit-animation: baloonmove 2s ease-in-out infinite alternate;
	-moz-animation: baloonmove 2s ease-in-out infinite alternate;
}
.balloon.orange{
	z-index:99991;
  position:absolute;
  width:100px;
  height:168px;
  background-image: url('../images/baloon-orange.png');
   background-repeat:no-repeat;
  background-size: 100%;

  -webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;;
	-webkit-animation: baloonmove 2s ease-in-out infinite alternate;
	-moz-animation: baloonmove 2s ease-in-out infinite alternate;
}
.balloon.purple{
	z-index:99992;
  position:absolute;
  width:100px;
  height:168px;
  background-image: url('../images/baloon-purple.png');
  background-repeat:no-repeat;
  background-size: 100%;

  -webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;;
	-webkit-animation: baloonmove 2s ease-in-out infinite alternate;
	-moz-animation: baloonmove 2s ease-in-out infinite alternate;
}


@keyframes animatedBackground {
	from { background-position: 0 100%; }
	to { background-position: 0 0%; }
}

#my_canvas{

	background-image: url(../images/background.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-y;
	background-size:100%;

	animation: animatedBackground 80s linear infinite;
	    -webkit-animation: animatedBackground 80s linear infinite;
}

.paused{
    -webkit-animation-play-state:paused !important;
    -moz-animation-play-state:paused !important;
    -o-animation-play-state:paused !important;
    animation-play-state:paused !important;
}
@keyframes animatedBackground-l {
	from { background-position:5766px 0; }
	to { background-position:1922px 0; }
}
#landing-page-bg{

	background-image: url(../images/landing-clouds.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;

	width:100% !important;
  height: 500px !important;
  position: relative;

	animation: animatedBackground-l 300s linear infinite;
	    -webkit-animation: animatedBackground-l 300s linear infinite;

}
@keyframes animatedBackground-bottm1 {
    from { background-position:1922px 0; }
	to { background-position:5766px 0; }
}
#bottom-cloud-1{

	background-image: url(../images/btm_cloud_01.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	height:160px;
	animation: animatedBackground-bottm1 500s linear infinite;
	    -webkit-animation: animatedBackground-bottm1 500s linear infinite;
		position:fixed;
		bottom:0px;
		left:auto;
		right:auto;
		width:100% !important;
		z-index:999;
}
@keyframes animatedBackground-bottm2 {
	from { background-position:5766px 0; }
	to { background-position:1922px 0; }
}
#bottom-cloud-2{

	background-image: url(../images/btm_cloud_02.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	height:100px;
	animation: animatedBackground-bottm2 475s linear infinite;
	    -webkit-animation: animatedBackground-bottm2 475s linear infinite;
		position:fixed;
		bottom:0px;
		left:auto;
		right:auto;
		width:100% !important;
		z-index:9999;
}

@keyframes animatedBackground-bottm3 {
	from { background-position: 1922px 0%; }
	to { background-position: 5766px 0; }
}
#bottom-cloud-3{

	background-image: url(../images/btm_cloud_03.png);
	background-position: 0 0;
	background-repeat: repeat-x;
	height:50px;
	animation: animatedBackground-bottm3 455s linear infinite;
	    -webkit-animation: animatedBackground-bottm3 455s linear infinite;
		position:fixed;
		bottom:0px;
		left:auto;
		right:auto;
		width:100% !important;
		z-index:99999;
}

#airplane {
    position: absolute;
    top:45%;
    right:-20%;
    height:42px;
	width:70px;
   background-image: url(../images/airplane.gif);
   background-repeat:no-repeat;
   background-size:100%;
   display:none;

}
#heli {
    position: absolute;
    bottom:30%;
    right:-30%;
    height:83px;
	width:100px;
   background-image: url(../images/heli.gif);
   background-repeat:no-repeat;
   background-size:100%;
   display:none;

}
#heat-baloon
{
	position: absolute;
    bottom:25%;
    left:10%;
    height:100px;
	width:80px;
   background-image: url(../images/heat-baloon.png);
   background-repeat:no-repeat;
   background-size:100%;
   display:block;
   opacity:1;
}

.game-content
{
	position: absolute;
    bottom:0%;
       left: 0;
  	right: 0;
  	margin-left: auto;
 	 margin-right: auto;
    height:100px;
	width:350px;
	margin:0 auto;

    z-index:99999;
    opacity:1;
	text-align:center;

}
.game-content p
{
	 font-family: 'Conv_Bliss2H';
	 font-size:24px;
	 color:#FFF;
	 padding:0px;
	 margin:0px;
}

@-webkit-keyframes baloonmove
{
	from{-webkit-transform:rotate(-7deg);}
	to{-webkit-transform:rotate(7deg);
}
}

@-moz-keyframes baloonmove
{
	from{-moz-transform:rotate(-7deg);}
	to{-moz-transform:rotate(7deg);}
}
.game-level
{
	-webkit-transform-origin:50% 50%;
	-moz-transform-origin:50% 50%;;
	-webkit-animation: baloonmove 2s ease-in-out infinite alternate;
	-moz-animation: baloonmove 2s ease-in-out infinite alternate;
	position: absolute;
    bottom:0%;
    left:35%;
	width:100px;
	height:222px;
	z-index:99;
}
.game-level img {
	width:100%;
	height:auto;
}
.game-content h2
{
	 font-family: 'BubbleGum';
	 font-size:32px;
	 color:#FFF;
	 margin:0px;
	 padding-top:30px;
	 position:relative;
	 z-index:999;
}
.second
{
	 font-family: 'BubbleGum';
	 font-size:32px;
	 color:#4e4f9d;
	 margin:0px;
	  -webkit-text-stroke: 1px #FFF;
	   -ms-text-stroke: 1px #FFF;-moz-text-stroke: 1px #FFF;-o-text-stroke: 1px #FFF;text-stroke: 1px #FFF;
	   margin-bottom:20px;
}

.congrats
{
	 font-family: 'BubbleGum';
	 font-size:40px;
	 color:#4e4f9d;
	 margin:0px;
	  -webkit-text-stroke: 1px #FFF;
	   -ms-text-stroke: 1px #FFF;-moz-text-stroke: 1px #FFF;-o-text-stroke: 1px #FFF;text-stroke: 1px #FFF;
	   margin-bottom:10px;
	   position:relative; z-index:999;
}
.fullscreen
{
	position:fixed;
	top:25px;
	right:25px;
}
.lang-btn
{
	position:absolute;
	right:5%;
	bottom:15px;
	z-index:99999;
}
.social-link
{
	position:absolute;
	left:5%;
	bottom:15px;
	z-index:99999;
}
.btn-default
{
	background-color:#ee221c;
	border-radius:40px;
	border:2px solid #cceefa;
	 font-family: 'Conv_Bliss2H';
	background-image:url(../images/button-curve.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;
	/*width:193px;*/
	width:auto;
	height:65px;
	color:#FFF;
	text-align:center;
	font-size:22px;
	display:inline-block;
	text-transform:uppercase;
	line-height:65px;
	cursor:pointer;
	padding:0px 50px;

}
.btn-default a
{
	color:#FFF;
	text-decoration:none;
	display:block;
}
.btn-default a:hover
{
	color:#FFF;
	text-decoration:none;
}
.btn-default:hover
{
	background-color:#4e4f9d;
}


.btn-arabic
{
	background-color:#ffffff;
	border-radius:40px;
	border:2px solid #ee221c;
	font-family: 'GESSTextBold-Bold';
	/*background-image:url(../images/button-curve.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;*/
	width:auto;
	height:60px;
	color:#ee221c;
	text-align:center;
	font-size:22px;
	display:inline-block;
	text-transform:uppercase;
	line-height:60px;
	cursor:pointer;
	direction:rtl;
	padding:0px 50px;

}
.btn-arabic a
{
	color:#ee221c;
	text-decoration:none;
	display:block;
}
.btn-arabic a:hover
{
	color:#FFF;
	text-decoration:none;
}
.btn-arabic:hover
{
	background-color:#4e4f9d;
	background-image:url(../images/button-curve.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;
	color:#FFF;
}

.inner-logo
{
	width:120px;
	height:auto;
}
.inner-logo img
{
	width:100%;
	height:auto;
}
.your-score
{
	background-image:url(../images/score-bg.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	width:120px;
	height:125px;
	margin:10px auto;

}
.your-score span
{
	font-family: 'BubbleGum';
	font-size:30px;
	color:#FFF;
	display:block;
	padding-top:53%;
}
.your-score-txt
{
font-family: 'BubbleGum';
	font-size:25px;
	color:#FFF;
	display:block;
	padding:0px 0 15% 0px;
}
.congrat-baloon
{

	position: absolute;
    bottom:57%;
    left:-19%;
	width:150px;
	height:175px;
	z-index:99;
}
.congrat-baloon img {
	width:100%;
	height:auto;
}
.social_btn
{
	background-color:#ee221c;
	border-radius:50px;
	border:3px solid #cceefa;
	 font-family: 'Conv_Bliss2H';
	background-image:url(../images/button-curve.png);
	background-repeat:no-repeat;
	background-position:0 0;
	background-size:cover;
	/*width:193px;*/
	width:auto;
	height:40px;
	color:#FFF;
	text-align:center;
	font-size:24px;
	display:inline-block;
	text-transform:uppercase;
	line-height:55px;
	cursor:pointer;
	padding:10px;

}
.social_btn img
{
	width:70%;
	height:auto;
}
.social_btn a
{
	color:#FFF;
	text-decoration:none;
}
.social_btn a:hover
{
	color:#FFF;
	text-decoration:none;
}
.social_btn:hover
{
	background-color:#4e4f9d;
}
.game-score
{
	background-image:url(../images/score-bg-1.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:100%;
	width:80px;
	height:102px;
	margin:10px auto;

}
.time-score
{
background-image:url(../images/time-bg.png);
}
.game-score span
{
	font-family: 'BubbleGum';
	font-size:30px;
	color:#cbeefa;
	display:block;
	padding-top:60%;
	text-align:center;
}
.game-score-txt
{
    font-family: 'BubbleGum';
	font-size:26px;
	color:#FFF;
	display:block;
	padding:0px 0 15% 0px;
	text-align:center;
}
.try-again
{
	margin-top:20px;
}
.game-logo
{
	position:absolute;
	bottom:0px;
	text-align:right;
	right:0px;
	display: none!important;
}
.game-logo img
{
	width:50%;
}
.sorry-div
{
	background-color:#FFF;
	border-radius:35px;
	padding:35px;
	width:70%;
	margin:0 auto;
}
.sorry-div h2
{
	margin:0px;
	padding:0px;
	font-family: 'BubbleGum';
	color:#4e4f9d;
	font-size:78px;
	text-transform:uppercase;
}
.sorry-div h3
{
	margin:0px;
	padding:0px;
	 font-family: 'Conv_Bliss2H';
	color:#9a9a9a;
	font-size:24px;
	padding-bottom:
}
.baloon-logo
{
	width:200px;
	position: fixed;
    top: 25px;
    left: 25px;
}
.baloon-logo img
{
	width:100%;
	height:auto;
}
.intro-content
{
	position: absolute;
    bottom:0%;
    left: 0;
  	right: 0;
  	margin-left: auto;
 	 margin-right: auto;
    height:100px;
	width:500px;
	margin:0 auto;

    z-index:99999;
    opacity:1;
	text-align:center;

}
.intro-mfc-logo{ position:absolute; top:-150px;left:-75px;}
.baloon-intro-logo
{
	width:450px;
	position:relative;
}
.baloon-intro-logo img
{
	width:100%;
	height:auto;
}
.intro-txt
{
   text-align:center;
   font-size:20px;
   font-family: 'Conv_Bliss2H';
   color:#cceefa;
   position:absolute;
   top:200px;
   right:22px;
}
#scoreanim{ font-size:40px; font-family: 'BubbleGum'; color:#fff;}
#scoreanim1{ font-size:40px; font-family: 'BubbleGum'; color:#fff;width: 406px;height: 386px;}
#scoreanim1:before{
content: url(../images/balloon_blast_purple.gif);
position: absolute;
left: -200px;
top: 0px;
}
#scoreanim2{ font-size:40px; font-family: 'BubbleGum'; color:#fff;width: 406px;height: 386px;}
#scoreanim2:before{
content: url(../images/balloon_blast_red.gif);
position: absolute;
left: -200px;
top: 0px;
}
#scoreanim3{ font-size:40px; font-family: 'BubbleGum'; color:#fff;width: 406px;height: 386px;}
#scoreanim3:before{
content: url(../images/balloon_blast_Green.gif);
position: absolute;
left: -200px;
top: 0px;
}
.share-txt{    color: #4e4f9d;
    font-size: 18px;
    padding-left: 48px;
	font-family: 'Conv_Bliss2H';
}
@media screen and (min-width: 320px) and (max-width: 480px)
{

	#landing-page-bg{ width:100%;}
	.fullscreen{ top:10px;left:10px; display:none;}
	.fullscreen img{ width:50px; height:50px;}
	.lang-btn{ right:0%; left:0%; margin-left:auto; margin-right:auto; width:70%; text-align:center;}
	.inner-logo{ margin:0 auto;}
	.btn-default{ display:block; width:80%; padding:0 20px; text-align:center; height:50px; line-height:50px; margin-bottom:15px;}
	.btn-arabic{ display:block;  width:80%; padding:0 20px; text-align:center; height:50px; line-height:50px; }
	.game-content { width:80%; left:0%;}
	.game-content p{ font-size:20px;}
	.intro-content{ width:80%; left:0%;}
 .congrats{ font-size:25px;}
 .congrat-baloon{ left:23%; bottom:10%;}
 .congrat-baloon img{ width:60%;}
 .your-score-txt{ padding-bottom:5%;   -webkit-text-stroke: 1px #1ca2dd;
	   -ms-text-stroke: 1px #1ca2dd;-moz-text-stroke: 1px #1ca2dd;-o-text-stroke: 1px #1ca2dd;text-stroke: 1px #1ca2dd;}
	   .your-score span{ padding-top:65%; font-size:20px;}
 .your-score{ width:80px; height:100px; margin:0 auto;}
 #bottom-cloud-1{ height:100px;}
 #bottom-cloud-2{ height:60px;}
 #bottom-cloud-3{ height:40px;}
 .game-logo{ z-index:999999; text-align:right;}
 .game-logo img{ width:90%;}
 .game-logo img{ width:65%;}
 .game-score{ width:50px; height:64px;}
 .game-score span{ font-size:20px;}
 #timer-label{ top:0px; right:5%}
 .game-score-txt{ font-size:20px; padding:0px;}
 #score-label{ top:18%; right:3%}
 .balloon.green{
	width:50px;
	height:84px;
}
.balloon.red{
	width:50px;
	height:84px;
}
.balloon.orange{
	width:50px;
	height:84px;
}
.balloon.purple{
	width:50px;
	height:84px;
}
.sorry-div{ padding:20px; width:90%;}
.sorry-div h2{ font-size:55px;}
.baloon-intro-logo{ width:100%;}
.hidemob{ display:none;}
.intro-txt
{
	font-size:20px;
	top:150px;
	right:20px;
}
.intro-mfc-logo{ left:-100px;}
.social-link {
    position: absolute;
    left: 0;
    bottom: 18%;
    z-index: 99999;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}
.social_btn
{
	width:30px;
	height:30px;
	padding:10px;
	line-height:35px;
}
.social_btn img
{
	width:70%;
}
.share-txt
{
	display:none;
}
}
@media screen and (min-width: 1400px) and (max-width: 2600px)
{
.game-content{width:50%;}
.game-content h2{font-size:60px;text-align:center;}
.congrats{font-size:60px;
 text-align:center;
}
.congrat-baloon {
    position: absolute;
    bottom: 45%;
    left: 15%;
    width: 150px;
    height: 175px;
}
.second
{
	 font-size:60px;
	 text-align:center;
}
.game-level{ width:140px; height:308px; left:42%;}

.your-score-txt{ padding-bottom:5%;}
.baloon-logo
{
	width:300px;
}
.sorry-div
{
	width:40%;
}
.intro-content{ width:900px;
}
.baloon-intro-logo
{
	width:850px;
	position:relative;
}
.intro-mfc-logo
{
	left:0px;
}
.intro-txt
{
	font-size:28px;
	top:365px;
	right:135px;
}

/*******  Intro Animation  *****/
