<h1 id="story_h1" class="game_h1 paint_a2">
 <img src="images/arabic_titles/title_04/word02/title04_word02_ffffff.png" onclick="changeImg2('title04_word02_');" id="title04_word02_" alt=""  />
  <img src="images/arabic_titles/title_04/word01/title04_word01_ffffff.png" onclick="changeImg1('title04_word01_');" id="title04_word01_"  alt="" />
</h1>
 <!-- <h2 id="story_h2" class="game_h2 paint_a3">اغسل، اغسل، اغسل يدي كي تُبعد الجراثيم،<br /> وتبقيني نظيفة وصحية كل يوم .
</h2>-->
<h2 id="story_h2" class="game_h2 paint_a3"><img src="images/story4-h2-ar.png"  alt="" /></h2>
<div class="game-canvas"> 
<svg id='mysvg2' class="drawing_map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="550px"
	 height="381" viewBox="0 0 1300 900" style="enable-background:new 0 0 1300 900;" xml:space="preserve">
<style type="text/css">
<![CDATA[
	.st0{fill:#151645;/*stroke:#151645;*/stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill:#010101;stroke:#010101;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#010101;stroke-width:3;stroke-linejoin:round;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#010101;stroke-miterlimit:10;}
	.st4{fill:none;stroke:#010101;stroke-width:6;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:#4F656D;}
	.st6{fill:none;stroke:#010101;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st7{fill:none;stroke:#010101;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st8{fill:none;stroke:#010101;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st9{fill:none;stroke:#010101;stroke-width:5;stroke-miterlimit:10;}
	.st10{fill:none;stroke:#231F20;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st11{fill:#EA6E26;}
	.st12{fill:#EB6E25;}
	.st13{clip-path:url(#SVGID_2_);}
	.st14{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:4;stroke-miterlimit:10;}
	.st15{fill:#C27F61;}
	.st16{fill:#010101;stroke:#010101;stroke-width:3;stroke-miterlimit:10;}
	.st17{fill:#FFFFFF; opacity:0.1;}
	.st18{fill:none;}
	.st19{fill:#010101;stroke:#010101;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st20{fill:#CA5B28;}
	.st21{fill:none;stroke:#010101;stroke-width:3;stroke-miterlimit:10;}
	.st22{fill:#010101;stroke:#010101;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st23{fill:#010101;}
	.st24{fill:none;stroke:#010101;stroke-width:1.5;stroke-miterlimit:10;}
	.st25{fill:#D8A475;}
	.st26{fill:#3E2415;}
	.st27{fill:none;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
	.st28{fill:none;stroke:#010101;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st29{fill-rule:evenodd;clip-rule:evenodd;fill:#010101;}
	.st30{fill:none;stroke:#010101;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st31{fill:none;stroke:#010101;stroke-width:4;stroke-linecap:round;stroke-miterlimit:10;}
]]>
</style>
<g id="teddy">
	<path class="st17" d="M322.5,585.4c0,0-8.9,9.2-5.1,14.5c3.8,1.5,8.8,1.5,10.2-1.2c1.5,2.3,8.5,2.3,8.5,2.3s11.7-0.6,13.4-0.3
		c1.8,0.3,4.4-4.7,4.1-7.9c-1.8-3.5-7.6-14,1.8-18.4c7-3.8,5.3-1.5,5.3-1.5s-8.5,7.3-5.3,10.1c3.2,2.8,9.9,13.3,9.9,13.3
		s6.3,4.4,9.8-0.7c2.6,1.2,7.3,1.2,9.8-0.4c2.5-1.6,4.5-10.1-2-13.7c-6-5.5-8.3-7-7.9-7c0.4,0,18.5-6.3,15.3-15.6
		c-5.3-7.6-6.4-9.8-6.4-9.8s15.8-14.3,8.3-30.7c-5.5-11.1-8.8-17.8-21.9-20.9c6.4-6.6,15.8-18,15.2-24.7c-0.6-5.1,0.3-6.9,0.3-6.9
		l7.2-9.1l-4.2-9l-6.9,0.4l-6.9,2.8c0,0-14-18.5-43.4,0.3c-3.7-1.6-12.4-1.8-12.4-1.8s-6.1,6.7-3.4,10.9c2.9,4.2,7.9,8.6,7.9,8.6
		s0.7,24.2,12.6,28.2c-6.7,2.9-21,9-23.2,19.6c-2.2,10.4-3.8,23.7,5.1,29.5c4.1,2.8,3.8,5.3,3.8,5.3s2.9,8.6,2.3,11.7
		C323.7,567.1,322.5,585.4,322.5,585.4z"/>
</g>
<g id="table">
	<path class="st17" d="M739.5,489.2l62.8-8.9l-0.1,34.9c0,0-66.6-1-80.9-0.2c-5.4-7.6-11.4-16.8-11.2-18.6s8-2.5,8-2.5
		s12.8,11.8,18.6,10.8C742,502.5,748.1,497.8,739.5,489.2z"/>
	<path class="st17" d="M805.2,479.6l1.8,36.1l87.9,14.6l-0.2-25c0,0-20.9-4.8-15.1-7.6c1.5-0.6,5.4-2.2,15.8,1.4
		c0.2-7.6,0-33.8,0-33.8L805.2,479.6z"/>
	<polygon class="st17" points="240.5,844 300.3,811.7 300.5,677.5 242.5,662.5 	"/>
	<polygon class="st17" points="587.8,900 646,900.5 645.5,770 616.5,776 587.5,769 	"/>
	<polygon class="st17" points="691,501.6 693.9,517.5 701.2,516.5 698.8,501.8 	"/>
	<path class="st17" d="M658.2,504.1c0,0-1.5,11.4,1,13.6c1.8,2.4,1.8,3.8,1.8,3.8l6.4-1.4l-5.5-16.9L658.2,504.1z"/>
	<path class="st17" d="M642.8,506.4l5.6,1l-3,16.6l-5.5,1.6C639.9,525.6,640.9,509.2,642.8,506.4z"/>
	<path class="st17" d="M1299.9,417.2l-33.9-10.5L1145,427c0,0-0.1,77.5-0.1,84.9c1.2,6.4-3.6,11.4-6.2,13.4
		c-42.5,19.4-97.9,6.2-111.2,3s-12-13.6-12-13.6l-0.5-67.9l-92.8,16.9l0.2,42.5l12,5.4l0.7,5.6l3.6,3c0,0,3.4,26.8,6.4,40.8
		c18.7,36.7-23,51.2-36,57.2c-101.3,32.3-220.8,16.3-276.8,8c-64.6-5.4-84.1-40.6-85-51.1c5.4-26,72.1-43.5,84.4-46.8
		c-4.5-2.4-2.1-19.6-2.1-19.6l-31,4.2L386.8,550c0,0,0.6,2.8,4.4,10.5s-13.8,14.9-13.8,14.9s3.9,4.4,8.9,7.9s2.8,10.4,2.8,10.4l-8,4
		c0,0-4.6,0.9-9.6,1.5s-10.4-10.9-13.5-13.2c-3.1-1.8-1.5-7.5-1.8-10.1c-8.4,1.6-4.2,13-1.2,19c2.2,7.5-6.5,6.8-6.5,6.8
		s-18.2-0.5-21.8-0.6c-2.1,1.9-5.4,1.8-8.5-0.8c-6.4-4.8,4.8-13.8,4.8-13.8s0.2-13.6,1-17.9c0.8-3.9-0.8-10.8-0.8-10.8l-156,25.5
		l-2,56.5l20.5,8l-0.5,180.5l56.5,16l2-179.5l287,85L531,900h58l-0.4-130.8l29,7L1300,645.5L1299.9,417.2z M530.7,552.7
		c0,0,5.1,4,4.8,12c-0.2,8,3.8,20.8,3.3,30.7c-0.4,9.8,0,58.8,0,58.8s-23.6,7.2-35,0l-0.2-0.9c0,0-2.2-77.1,3.4-80.7
		c-0.4-8.3-0.9-18.1,3.6-18.1c0.4-6.9,1.3-11,1.3-11l-2.7-0.4l1.1-6.3c0,0,10.5,0.7,25.3-3.8c14.8-4.5,25.7-7.6,25.9,0.3
		c-0.9,0.9-5.8,1.5-5.8,1.5l-1.3-2.7l-11.4,5.1l-11.9,5.8L530.7,552.7z"/>
</g>
<g id="floor">
	<polygon class="st17" points="0,754.5 0,900 529,900 529,751 450,728 301.5,762.5 302,815 243.5,847 184,828.5 182,776 114,789.5 	
		"/>
	<polygon class="st17" points="646,772.5 646,900 1300,900 1300,646 	"/>
</g>
<g id="_wash_basin_top">
	<path class="st17" d="M631.2,528.1c0,0-104.4,27-80.4,59.9c18.5,21.2,83.5,44.1,132.7,46.2c49.2,2,109.6,6.2,128.3,3.8
		c31.3-3.9,17.8-9.4,17.8-9.4s-42.3,2.8-37.4-11.9c2-5.9-5.6-2.7-5.6-2.7s-95.6,6.6-117.5-0.9c-28-5.4-113.6-20.3-71.2-59.4
		c11.1-8.4,49.9-21.2,49.9-21.2l-4.7-8.4c0,0-2.4,2.1-3.1,2.7C639.3,527.6,637.3,529.9,631.2,528.1z"/>
	<path class="st17" d="M828.1,628.3c0.5,0,13.2-4.7,13.4-9.3c0.2-4.6-1.5-10-0.8-10.7c0.7-0.7,53.4-22.2,53.4-22.2l0.3,24.7
		l26.7-11.1l1.2-10.7l23.1-4.9c0,0,2.6-4.4,1.9-8.4c-0.5-2.9,1-2.9-1.8-11.6c0,0,3,0,3.1,0.5c0.2,0.5,4.5,19.9,1.4,24.3
		c-3,4.4-25.1,26.8-55.6,33.7c-30.5,6.9-66.1,12.5-65.9,12C828.7,634.1,828.1,628.3,828.1,628.3z"/>
	<path class="st17" d="M896.3,549.4c0.4,0.9-0.8-18-0.8-18s-26.4-8.5-87.9-15c0.2,7.1,0.3,6.9,0.3,6.9S889.6,533.8,896.3,549.4z"/>
	<polygon class="st17" points="721.9,515 720.2,521.2 802.2,523.2 802.2,515.6 	"/>
	<polygon class="st17" points="689.4,524.4 693.6,518 701.9,516.8 707.9,522.6 	"/>
	<polygon class="st17" points="661.8,521.6 664.1,529 676.9,525.6 668,520 	"/>
</g>
<g id="wall">
	<path class="st17" d="M625.2,402.8l-4,43.8l14,9.8l26.8-4.5l-17-24.5l-9.2,1.5c0,0-3-8.2-2-13C632.8,411,625.2,402.8,625.2,402.8z"
		/>
	<path class="st17" d="M803,432.3l2.5,45.9l88.8-13.2l-0.2-13.8c0,0-5.5-9.2-24.2-9.5C847.8,439,803,432.3,803,432.3z"/>
	<polygon class="st17" points="302.2,762.8 452.8,728.2 300.2,682.8 	"/>
	<path class="st17" d="M-0.5,0v41.5v712L115.2,788l67.7-12.7l2.7-129.2l-20.7-5.3l1.3-56l156.7-28c0,0-1.8-4.2-1-7.2
		c-6.5-5.8-17.3-13.8-9.8-31.5c3-7.5,14.7-19.5,22.3-20.5c-5.7-4.8-13.5-18.7-11.3-29.2c-5.2-5-12.3-11.7-6.2-16.8
		c1.8-2,4.3-6.2,13.5,0.7c5.2-3.5,28.8-16.2,44.3-1.7c4.8-1.8,14.2-6.2,16.7,1.2c1,3,2.5,5.2-5.8,15.2c-0.2,7.5-3.2,22.3-13.8,29.3
		c8.5,4.8,16.7,10.3,19.5,21.2c3.2,10.2,2.3,21.5-6.3,30.5c11.8-2,140.2-24.5,140.2-24.5l1.5-17.8l-1.3-7l-1-4.3l16-78
		c0,0-20.7-27.3-9.7-41.8c10-10.7,26.5-23,48.3-22.7c1-2.3,1.7-4.3,1.7-4.3S546,330,541.7,326.2c-4.7-8.8-13.3-29.2-13.3-29.2
		s-3.3,8.8-15.2,8.2c-8.8-2-29.7-14.5-20-35.8c3.8-7.5,3.3-10.2,15.3-12.3c1.5-9,3.7-25,9-29.5c-2.8-2.2-2-3-2-3l6.3-2.7
		c0,0-4.7-4.2-3.8-4.3s6.7-1,10-0.3c-0.3-4.2-3.2-13.5,4.3-19.5c-0.5,7.3,1,13,1,13s16.5-27.5,62-33.2c11.5,0,40.7,8.7,52.3,2.5
		c1,2.7-2.5,9.7-2.5,9.7s25.2,8.3,32.7,27c4.7,11.2,11.7,22.3,17.5,25.8c-4.3,3.5-8.3,5-8.3,5s3.5,10.8,2.3,16.3
		c4,1.2,13,5.3,13.5,25c-1.3,6.3-6.7,23.8-19.8,22c-4.2-1.2-7.3-3.2-9.2-4.5c-3,5.5-18.3,29-34.8,37.2c-13.8,6.5-22.7,9.2-22.7,9.2
		s9.5,5,10.3,7.3c6.7,0,21.8-2,31.8,24c2.3,7.8,4.2,14.2,10.8,14c3.8,0.2,10,6.8,3.5,12.3c-1.5,1-2.2,2-2.2,2l20.2,29.7
		c0,0,17.2-0.5,19.3,6.5c2,0,11.3-3.8,13.5-5.5c2.7-1.7,15.2,0.8,9.8,12.5c-6,7.2-14.5,8.8-18.5,9.8c4.3,5.8,14.5,18,22.2,21.3
		c6.8,5.7,3.3,2.7,3.3,2.7l61.8-8.8l0.7-48.2l-14.3-2.5c0,0-5-5.8,1.5-6.5c6.8-0.8,25.5-4.7,25.5-4.7l78.2,11.3
		c0,0,24.7,0.2,26,16.2c1.2,7.8,1.3,14.2,1.3,14.2l92-13.5l0.7-37.3c0,0,0.2-10.2,10.3-12.2c-1.7-10-3.3-15.3-3.3-15.3
		s-3-11.5,6.7-17.5c3.8-2.8,5.5-4.8,5.5-4.8s-1.5-8.7,5-10.7s16.3-6.7,19.5,2.5c0.8,2.3,2.7,5.2,2.7,5.2s13-0.5,15.8,9.3
		c1.7,4.3,5.7,21.7,5.7,21.7l24.2,2.8l9.2-15l0-2.2l-15.3-3.5c0,0-0.3-2.7-0.3-8.3c3.2-9,9.7-34.2,9.7-34.2l17.2,4.5l2.5-3.3
		c0,0,6.8,1.3,6.3,6c-1.8,5.2-11,42.8-11,42.8l-5.8,15.8c0,0,25.8,4.5,25.5,17.2c0.3,11.5,0.3,15.8,0.3,15.8l122.2-20.7l33.8,12
		L1301.2,0H-0.5z M1060.2,73.5c-3,2.3-8.9,3.8-11.6,3.8c0.7,12,10.2,169.9,10.2,169.9s-21.3,11.3-36.7,12.7
		c-1.7,1.3-6.7,1.7-6.7,1.7v9.3c0,0-72.7,29.3-107.3,23.3c-0.3-5.3,2.7-12.3-5.3-10.7c-7.7,2-41.7,10-41.7,10l-9.7-164l-2-24.7
		l-20,4.7c0,0-5.3,15.3-19.3,13.3c-6-3-18.7-16-12.3-32c4.3-8.7,18.7-18.3,29-6c1.7,2.3,3.7,2.3,3.7,2.3l19-20.7l174.3-34l-0.5-6.9
		l1.8-0.1v6.2c0,0,12.3-1.1,14.7,6.2c3.3-3.3,15.7-14.1,27,7.2C1068.5,48.8,1071.9,64.8,1060.2,73.5z"/>
	<polygon class="st17" points="650.6,453.6 656.9,457.5 662,451.8 	"/>
	<polygon class="st17" points="708.6,492.5 712,488 715,489.9 717.2,492.9 	"/>
	<path class="st17" d="M627.5,507c0,0,5-3,4.9-3.4s-3.4-3.1-3.4-3.1l-2.9,5.6L627.5,507z"/>
</g>
<g id="face_and_body">
	<path class="st17" d="M557.5,437.8L592,427l43.8,30.5c0,0,16.2-4.2,20.2-0.8c3,0,4.6-0.6,5.2-2.1c0.7-1.6,1.2-3.9,1.2-3.9
		L645,427.2l25.7-14.9l20.8,30.2c0,0,16.3,0.5,18.7,6c3.6-0.8,14.1-6.1,14.1-6.1s12.1,1,10,8.1c-2.4,7.1-8.5,15.5-19.1,14.1
		c4.6,7.1,15.1,19.9,21.2,22c5.1,3.6,13.1,17.4,1.2,17.4c-10.5-1.6-18-8.4-20.2-12.9c-3.4-3.2-5.8-3.1-7-2.1c-1.4,1.1-2,3.1-2,3.1
		s5.1,12.9,9.6,18.6c2.6,6.1,2.9,13.2-5.8,12.4c-5-2.8-13.9-11.5-13.8-20.8c-5.6-0.9-8.2,0.1-8.2,0.1s5.8,16,0.5,18
		c-2.2,3.5-7,7.4-13.6,5s-12.9-9-13-17c-1.6-3.8-2.4-6.2-2.4-6.2l-3.9,2.8c0,0-2.6,10.9,3.2,16.4c3.2,4.4,4.8,15-3.1,14.9
		c-3.4-0.8-14.5-4.4-12.6-13.8c1.6-9.1,2.8-16,2.8-16l-4.8-0.6c0,0-3.8,14.4-3.6,19c-2.2,4.8-7.2,4.4-10.8,0.6
		c-2.6-4.8-2.1-14.8,0.6-18.4c2.4-3.1-0.1-6.1-0.6-6.8c-0.9-0.6-11.4-15-10.4-21C611.5,475.8,557.5,437.8,557.5,437.8z"/>
	<path class="st17" d="M701.5,277.8c-7-23.8-19.2-11.5-25.2-6.5c0-3.2-5.2-15.5-5.2-15.5l-6.8,5.8c0,0,0.5-5.5,1-13.2
		c0-20.2-36.8-36-41.2-36c-1.5,9.5-7,14-12.2,16.5c-1-9.2-20.2-16-20.2-16s-1.8,5.5-4,6.2c-21-12.5-34.2,0-42,10.2
		c3.5,10.5-3.2,28.8-3.2,28.8s-6.8,16-8,20c-2.5-0.2-5-4.5-8.5-10.8c-6.8-14.8-23-9.2-26.2-7.2c-14.5,10.5-6,31.2,1.5,39.2
		c15.5,11.2,27-3.8,27-3.8c1.2,35.5,53.5,52,53.5,52s-1.8,3-4.2,8C577.5,372,590,372,601,371s8-13.5,7-18
		c38.8-2.2,59-34.8,65.5-47.5c4,4.2,8.8,5.2,15.2,4.5C702,309.5,702,283.2,701.5,277.8z M582.7,279.5c-8,0-14.6-8.2-14.6-18.2
		c0-10.1,7.5-18.6,15.5-18.6s13.6,8.6,13.6,18.6C597.2,271.3,590.7,279.5,582.7,279.5z M638.6,285c-8,0-13-8.6-13-18.6
		c0-10.1,3.5-21.9,11.5-21.9s13.1,9.3,13.1,19.4C650.2,273.9,646.7,285,638.6,285z"/>
</g>
<g id="eyes">
	<path class="st17" d="M597.2,261.3c0,10.1-6.5,18.2-14.6,18.2s-14.6-8.2-14.6-18.2c0-10.1,7.5-18.6,15.5-18.6
		S597.2,251.2,597.2,261.3z"/>
	<path class="st17" d="M650.2,263.9c0,10.1-3.6,21.1-11.6,21.1s-13-8.6-13-18.6c0-10.1,3.5-21.9,11.5-21.9S650.2,253.8,650.2,263.9z
		"/>
</g>
<g id="T-shirt">
	<path class="st17" d="M540.5,418c0,0-14.2-21-13.5-34.8c2.8-9.5,16.5-24.2,26.5-25.8c5.5-3.2,21.2-7.8,25.5-5.8
		c-1,3.2-5,9.2-0.2,13.2c4.8,4.2,15.8,9.8,24.2,5.5c4-2.5,8.8-9,5.8-15.5c4.2-1.8,14.5-1,18,4.8c3.5,0,23,0.5,27.2,13.5
		c5.2,13,7.8,21,7.8,21s1.8,3,7.2,3c3.8,0.8,9.5,6.5,4.5,12s-35.5,24.8-39,17c0.2-6.2,0.2-14-3.8-18c-2.5-3.5-5.8-5-5.8-5l-4.8,43.2
		L591.8,426l-32.5,11l2.8,4.5l55.8,37.2c0,0,7,19,9.2,21.5c-4.5,4.2-36.2,16.2-61.5,13c-25-3.5-39.8-9.5-39.8-9.5s-3.2-8.2-1-11.8
		C526,480.5,540.5,418,540.5,418z"/>
</g>
<g id="hair">
	<path class="st17" d="M508.9,256.8c0,0,1.5-24.4,9.9-29.2c-3.2-2-2-4.4-2-4.4l5.2-1.2l-3.8-4.9c0,0,6.9,0.1,10.9,0.5
		c-2.1-4.8-2.4-15.4,1.9-19.2c0.5,2.9-0.1,11.8,2.1,12.1c5.8-7.8,21.8-24.6,46.1-29.9c11.8-3.1,37.1-3,55,2.9
		c7.8-0.8,13-0.6,15.5-3.1c-3.4,8.4-5.1,10.9-5.1,10.9s21.5,1.4,36,30.9c3.5,6.8,10.9,20.8,14.1,21.2c-5.1,2.6-6.9,2.8-6.9,2.8
		l1.8,17.5l-13.1,9.2l-5.5-16.6l-7.2,7.6c0,0,4.6-15.8-2.9-26.5c-6.4-9.1-37.1-25.2-37.1-25.2s-4.6,16.6-11,18.1
		c-3.1-6.2-11.1-17-23.6-17.1c1.2,4.9-1.8,6.8-1.8,6.8s-13-11.9-31-3.1c-2.8,2.6-11,8.2-10.6,13s1.2,21.5-7.1,33.2
		c-2,7.4-4.9,15.5-4.9,15.5s-7.2-2.1-6.5-9.1C523.4,262.4,519.5,257.1,508.9,256.8z"/>
</g>
<g id="Jeans">
	<polygon class="st17" points="527.8,503.8 526.8,522.5 569,516.5 	"/>
</g>
<g id="towel">
	<path class="st17" d="M832.2,86.8c0,0,6.5-20.8,39-25.2c30.5-5.5,161-27,161-27s12,6.8,12.2,27c2,21.8,12.2,185.5,12.2,185.5
		s-35,12.5-39.8,12.5c-2.2,1-3,3.8-3,9.2c-10,4.8-78.8,32-105.5,23.2c0.8-4.2,0.2-7.8,0.2-7.8s0.5-4.8-9.5-1.2
		c-11.5,3-36.8,8.5-36.8,8.5L851.2,106C851.2,106,852.2,86.8,832.2,86.8z"/>
</g>
<g id="towel_holder">
	<path class="st17" d="M833.5,87l-6.2,1c0,0-9.2-16-24.5-4c-3.8,6.8-9.5,28.5-1.8,33.2s19.2,8.8,29.2-8c9-2.8,21.2-3.8,21.2-3.8
		S847.8,86.5,833.5,87z"/>
	<path class="st17" d="M1039.5,38.2c0,0,10.5-7.8,16.2-4s14.6,9.8,13,22.2c-1.8,7.2-2.5,20.8-21.2,18.8
		C1046.2,63.5,1039.5,38.2,1039.5,38.2z"/>
</g>
<g id="wash_basin_inside_1_">
	<path class="st17" d="M894.4,550.2C871.1,529,807.5,526,807.5,526s0.5,7.5,0.5,10.8c-0.1,3.1-0.9,4-1.6,4.8
		c-3.2,1.6-4.2-3.1-4.2-3.1s-0.2-9.1-0.6-13.4c-33.2-8.1-130.5,3.9-136.2,5.8c-0.6,6.9-11.6,5.1-15.1,3.4c-6-1-20.1,5.4-39.6,12.4
		c-50,24-9,47.3-9,47.3c60.6,35.2,190.4,21.8,190.4,21.8l1.2-13.2c-0.3,2.1-0.5,4-0.7,5.4c-19.8-0.3-27.9,2.6-31.8,4.2
		c-12.9,4.3-17.8,2.1-19.8,1.9c-14.4-3.1-28.3-1.1-35.6-0.5c-7.4,1.6-11.8,0.1-14-1.6c-2.2-2.6-14.8-5.4-19.4-6.9
		c-4.3-2,0.8-3.6,3.2-4.4c3.1-2.4,26.8-0.9,30.8-1.2s1.6-2.2-0.3-3.5c-3.8-3.1,1.4-3.8,3.9-4c5.5-0.9,38.9,1.7,42.1,2.1
		c2.6,0.4,5.6,0.1,6.4-0.4c7.9-5.5,17.1-1,17.1-1s0.5,0,3.2-0.2c2.8-0.8-15.1-4-20.1-4.8c-4.5-1-0.6-2.5,1.6-3.1
		c8.2-3.5,31-2.4,35.2-2.2l1.7-18.3l4.9-5.2l1.9-8.2c0,0-28.1-9.2-30-10c-1.5-5,10.1-0.9,17.2,1.2c13.2,2.4,35.1,9.8,35.1,9.8
		l0.9,5.4l3.8,2.2l0.2,3.2l8.1,46.2l55.4-21.2C894.1,587.2,894.8,567,894.4,550.2z M847.1,598.1c-1.7,2.4-6.7,5-8.7,5.2
		c-0.3-1.9-2.2-10.2-2.2-10.2S848.5,595,847.1,598.1z"/>
</g>
<g id="water">
	<path class="st17" d="M795.6,582.2c0,0-26.9-1.8-35.9,2.1c-2.2,0.6-6.1,2.1-1.6,3.1c5,0.8,22.9,4,20.1,4.8
		c-2.8,0.2-3.2,0.2-3.2,0.2s-9.2-4.5-17.1,1c-0.8,0.5-3.8,0.8-6.4,0.4c-3.1-0.4-36.6-3-42.1-2.1c-2.5,0.2-7.7,0.9-3.9,4
		c1.9,1.3,4.4,3.2,0.3,3.5s-27.7-1.1-30.8,1.2c-2.4,0.8-7.5,2.4-3.2,4.4c4.7,1.5,17.2,4.2,19.4,6.9c2.2,1.7,6.6,3.2,14,1.6
		c7.2-0.6,21.2-2.6,35.6,0.5c1.9,0.2,6.9,2.4,19.8-1.9c3.9-1.6,12-4.5,31.8-4.2C793.3,601,795.6,582.2,795.6,582.2z"/>
	<path class="st17" d="M836.2,593.1c0,0,12.3,1.9,10.9,5c-1.7,2.4-6.7,5-8.7,5.2C838.1,601.3,836.2,593.1,836.2,593.1z"/>
</g>
<g id="shapoo_bottle_01">
	<path class="st17" d="M502.5,653c0,0-2.2-77.1,3.4-80.7c-0.4-8.3-0.9-18.1,3.6-18.1c0.4-6.9,1.3-11,1.3-11l-2.7-0.4l1.1-6.3
		c0,0,10.5,0.7,25.3-3.8c14.8-4.5,27.5-7.2,27.7,0.7c-0.9,0.9-7.6,1.1-7.6,1.1l-1.3-2.7l-11.4,5.1l-11.9,5.8l0.2,8.7
		c0,0,5.1,4.5,4.9,12.5c-0.2,8,4.5,20.8,4,30.6c-0.4,9.8-1.5,59.2-1.5,59.2s-23.6,7.2-35,0"/>
</g>
<g id="shapoo_bottle_02">
	<path class="st17" d="M774.7,540.8l29.9,9.4l-2,7.6c0,0-6.3,3.8-5.2,7.9c-0.4,6.3-5.4,56.6-5.4,56.6s13.2,9.4,26.9,7.2
		c14.1-2.5,23.6-5.4,22.4-11.4c-1.8-7-9.9-56.3-9.9-56.3s-2.5-4.5-4-4.7c-1.3-3.4-1.8-5.2-1.8-5.2s-6.1-4-11.9-4.5
		c-8.8-1.8-34.3-8.8-34.3-8.8S772,538.3,774.7,540.8z"/>
</g>
<g id="shapoo_bottle_03">
	<path class="st17" d="M921.4,505.4c0,0,13.5,1.8,12.3,11.9c2.5,1.3,3.8,4.7,3.8,4.7l10.2,59.4c0,0-17.4,11.6-26,6.9
		C921,579.4,921.4,505.4,921.4,505.4z"/>
	<path class="st17" d="M895.4,506.3l-15.1-4.5c0,0-4-4.4,2-4.7c6-0.3,9.4,0.5,9.4,0.5l4.9,3L895.4,506.3z"/>
</g>
<g id="water_tab_1_">
	<path class="st17" d="M895.2,610.5l24.5-11.7l1.3-150c0,0,0.1-20.4-37.1-19.8c-44-6.4-69-9.4-69-9.4l-26.2,6v3.7l88.2,14.4
		c0,0,19.5-3.7,19.8,23.5C897.2,494.4,895.2,610.5,895.2,610.5z"/>
</g>
<g id="water_drop">
	<path class="st17" d="M803.4,460l-1.1,79.9c0,0,4.5,5.4,5-1.8C807.4,530.8,803.4,460,803.4,460z"/>
</g>
<g id="box">
	<path class="st17" d="M1141.7,401.3c0,0-17-5.7-20.9-6.6c-4-1-6.3,4-6.3,4l-6.9,18l-14.2,0.5l12.6-25.8l-25.1-2.3l8.6,30.7
		l-61.9-6.2l-2.6-17.2c0,0-11.6,4-10.3,19.5v104.8c0,0,34.1,22.5,83.3,14.2c34.7-6.9,44-10.3,44.7-22.5
		C1143.2,500.1,1141.7,401.3,1141.7,401.3z"/>
</g>
<g id="tooth_paste">
	<path class="st17" d="M1030.2,411.4l-8.8-34c0,0,2.6-14.8,10.5-15.4c2-4.2,1.8-10.1,1.8-10.1s18.8-9.2,21.4-4.7
		c2.2,3.7,4.9,8.9,4.9,8.9s14.7,1.6,16.5,9c1.8,7.4,12.4,52.7,12.4,52.7S1034.7,417.8,1030.2,411.4z"/>
</g>
<g id="tooth_brush">
	<polygon class="st17" points="1096.6,417.6 1115.9,373.1 1100.1,369.3 1109.4,326.4 1126.4,330.2 1131.9,328.7 1135.8,330.6 
		1125,378.8 1107.7,418.5 	"/>
</g>
<g id="Layer_1">
	<g>
		<line class="st31" x1="1143.4" y1="407.2" x2="1143.4" y2="517.2"/>
		<line class="st31" x1="1014" y1="407.2" x2="1014" y2="517.2"/>
		<path class="st14" d="M1081.9,389c9.3,0.1,18.1,0.8,25.9,1.9"/>
		<path class="st14" d="M1118,392.8c15.4,3.3,25.4,8.6,25.4,14.5c0,10.1-29,18.2-64.7,18.2c-35.7,0-64.7-8.2-64.7-18.2
			c0-3.7,4-7.2,10.8-10.1"/>
		<path class="st14" d="M1083.6,395.1c7.4,0.1,14.4,0.6,20.8,1.3"/>
		<path class="st14" d="M1115.8,398c12,2.2,19.6,5.5,19.6,9.2c0,6.7-25.4,12.2-56.7,12.2c-31.3,0-56.7-5.4-56.7-12.2
			c0-1.7,1.5-3.2,4.3-4.7"/>
		<path class="st14" d="M1143.4,517.2c0,10.1-29,18.2-64.7,18.2c-35.7,0-64.7-8.2-64.7-18.2"/>
		<g>
			<path class="st1" d="M322.2,467.9c0,0-1.5,26,17.4,31.6c0,0,5.6,2.4,7.3,3.9c0,0,5.2,4.1,11.1,4.1c0,0,4.4,0.6,7-3.4
				c0,0,4.5-5.4,7.9-8.6c0,0,11.2-9,12.2-20.6c0,0,0.4-6.2,0-7.7c0,0,0.1,9.6-2.9,14.5c0,0-2.9,6.1-7.1,10.4c0,0-5.1,4.9-6.8,7.1
				c0,0-3.5,3.7-4.8,5.6c0,0-2.3,2.5-5.6,2c0,0-5.1,0-10.9-4c0,0-4.8-2.9-9.5-4.8C337.5,497.9,322.9,493,322.2,467.9z"/>
			<path class="st0" d="M332.6,453.2c0,0-9.7-8.4-15.5-2.7c0,0-5.1,5.5-2,10c0,0,4.8,5.5,8.7,9c0,0-7.3-7.8-8.2-11.4
				c0,0-0.9-5.6,4.8-8.5c0,0,4.3-2,11.7,5.7C332,455.3,332.4,454,332.6,453.2z"/>
			<path class="st1" d="M331,452c0,0,9.1-9.4,25.3-8.8c0,0,13.2-1.2,19.5,8.4c0,0,0.2,1.2-0.8,0.4c0,0-5.6-8.3-18.8-8
				C356.1,444,341.6,443.2,331,452z"/>
			<path class="st0" d="M375,450.6c0,0,10.8-6.4,14.7-1.5c0,0,5.1,6.4,2.2,10.3c0,0-6.2,6.2-8,9.4c0,0,2.7-5.8,7.1-9.8
				c0,0,2.7-1.8-1.8-9.5c0,0-1.7-2.6-6-1.4c0,0-5.8,1.5-8.2,3.5V450.6z"/>
			<path class="st0" d="M323.3,465.3c0,0,1.1-5.1,4.8-8.9c0,0-4.7-5.5-7.7-2.3c0,0-1.5,1.6-2.1,3.1c0,0,0.3-5.4,3.9-5.4
				c0,0,3.5-0.6,7.4,4.1c0,0,0.7,1-1.8,2.7C327.8,458.5,324.9,461.1,323.3,465.3z"/>
			<g>
				<path class="st23" d="M379.5,452.3c0,0,6.9-2.9,8.1,1.4c0,0,0.8,4.4-2.3,6.6c0,0,3.9-1,2.4-7.4
					C387.7,452.9,385.8,448.2,379.5,452.3z"/>
				<path class="st23" d="M384.1,450.6c-1.2,0-2.7,0.4-4.6,1.7c0,0,2.3-0.9,4.4-0.9c1.6,0,3.2,0.5,3.7,2.3c0,0,0.8,4.4-2.3,6.6
					c0,0,3.9-1,2.4-7.4C387.7,452.9,386.8,450.6,384.1,450.6L384.1,450.6z"/>
			</g>
			<path class="st23" d="M364.6,494.8c-0.1-2.8-6.7-3.1-6.7-3.1h-0.6c0,0-6.6,0.3-6.7,3.1c0,0-0.5,1.1,1.9,3.1c0,0,2.3,2.1,4.8,2.1
				h0.6c2.5,0,4.8-2.1,4.8-2.1C365.1,495.9,364.6,494.8,364.6,494.8z"/>
			<path class="st23" d="M350.2,499.4c0,0,2.7,2.7,8.1,2.7c0,0,2.9,0.5,6.1-2.7c0,0,0.5-0.3,0,0.6c0,0-2.6,3.9-6.1,3.9
				c0,0-5.8,0-8.1-3.9C350.2,499.9,349.7,499,350.2,499.4z"/>
			<g>
				<g>
					<path class="st23" d="M363.4,483.1c0-1,0.2-1.9,0.6-2.8c0.9-2.2,2.8-2.6,4.9-2.1c2.4,0.5,2.4,2.2,0.8,3.6
						c-0.9,0.8-2.1,1.6-3.4,1.6c-1.1,0-2.2-0.5-3.3-0.5c-0.7,0-1.5,0.2-2,0.5c-0.5,0.3-0.4,0.6,0.2,0.6c1.6,0,3.1,0.5,4.7,0.4
						c1.8-0.2,3.6-0.9,5.2-1.9c2.1-1.3,4.4-3.9,0.9-5.2c-4.8-1.8-11.5,1-11.4,6.6C360.5,484.3,363.4,483.8,363.4,483.1z"/>
				</g>
			</g>
			<g>
				<g>
					<path class="st23" d="M352.1,484.5c-0.4-2.7-2-5.4-4.4-6.7c-2.7-1.4-6.6-1-8.8,1.1c-1.7,1.5-1.5,3.8,0,5.3
						c2.8,2.6,8.2,2.1,11.6,1.8c1.6-0.1,2.2-2.3,0.2-2.2c-2.9,0.2-6.6,0.6-9.2-1c-0.9-0.6-1.7-1.8-0.5-2.8c3.6-3.3,7.6,2,8.1,5.3
						C349.4,486.6,352.4,485.9,352.1,484.5z"/>
				</g>
			</g>
			<circle class="st22" cx="344.9" cy="481.5" r="3.4"/>
			<path class="st22" d="M370,480.7c0,0.8-0.3,1.6-0.8,2.2c-0.1,0.1-2.1,1.3-2.7,1.3c-1.9,0-3.4-1.5-3.4-3.4c0-0.7,0.2-1.3,0.5-1.9
				c0.1-0.2,2.5-1.6,2.9-1.6C368.5,477.2,370,478.8,370,480.7z"/>
			<ellipse class="st17" cx="364.7" cy="480.2" rx="0.7" ry="0.9"/>
			<ellipse class="st17" cx="343.3" cy="480.7" rx="0.7" ry="0.9"/>
			<path class="st1" d="M335.6,497.9c0,0-11,2.4-17.4,9.6c0,0-8.4,8.8-8.3,21c0,0-1.2,14.6,11.4,20.3c0,0,10.2,5.9,16.1,7
				c0,0,3,1.1,4.6,1.9c0,0,6,4.3,12.8-1.3c0,0,2.7-3,3.1-5.8c0,0,1.9-5.8-0.3-8.3c0,0-1.1-6.5-7.7-7c0,0-11-0.8-14.9-3
				c0,0-7.6-4.6-1.6-11.2c0,0,0-0.7-1,0.2c0,0-3.7,3.8-0.9,8.5c0,0,2,4.2,9.9,5c0,0,8.7,0.8,10.9,1.4c0,0,2.8,0.8,4.6,5.5
				c0,0,0.1,0.8,1,1.7c0,0,0.9,2.1,0,5.4c0,0-1.4,4.5-3.6,6.9c0,0-6.7,5.4-12.8,0.9c0,0-0.5-0.8-8.9-3c0,0-6.1-2.3-11-5.4
				c0,0-11.2-4.6-11.2-19.4c0,0-1.1-10.6,8.7-21.7c0,0,6.6-6.3,17.1-9C336.2,498.2,336.7,497.6,335.6,497.9z"/>
			<path class="st1" d="M321.4,548.7c0,0-1.4,3.6,1.4,7.2c0,0,1,6.2-0.6,12.5c0,0-1.1,8.4-0.1,14.6c0,0,0,3.3-0.6,4.1
				c0,0,0.2,0.5,0.6-0.3c0,0,0.4-3.9,0-6s0.4-9.7,1-12.4c0,0,2.1-8.8,0-13.2c0,0-2.2-3.4-0.6-6.3L321.4,548.7z"/>
			<path class="st1" d="M325.4,587.7c0,0-4.9-2.5-7.4,1.9c0,0-7,12.6,3.7,12.4c0,0,5.2,0.6,5-3.6c0,0-0.5,4.5,6.5,3.2
				c0,0,7.2,1.2,7.7-1c0,0-0.4,1.2,3.1,1.4c0,0,2.5-0.2,3.5-0.7c0,0,5,2.4,6.2-4.3c0,0,0.2-4.6-2.8-8.1c0,0-5.9-13.6,9.3-15.6
				c0,0,5.6-0.2,9.4-7.1c0,0,0-0.8-0.9,0c0,0-1.8,4.3-5.7,5.8c0,0-2.2,0.8-4.3,0.9c0,0-8.7,1.4-9.4,9.3c0,0-0.2,5.4,1.5,7.5
				c0,0,3.9,6.5,1.4,9.8c0,0-2,2.4-3.9,1.6c0,0-0.6-0.3-0.8-0.9c0,0-0.3-0.5-0.6,0.5c0,0-0.6,0.9-2,0.9c0,0-2.7,0.2-3.6-0.7
				c0,0-0.4-1.6-1.1-0.1c0,0-2.4,1.6-6.7,0.4c0,0-0.5,0-1.4,0.2c0,0-4.5,0.6-5.1-2.7c0,0-0.3-1.7-0.8,0c0,0-0.5,3.2-3.7,3
				c0,0-5,0.1-6.3-2.9c0,0-0.8-3.3,1-7c0,0,1.5-4.5,4.7-4.6c0,0,2,0.1,3.1,0.7C325.1,587.9,325.7,588.2,325.4,587.7z"/>
			<path class="st1" d="M370.4,497.5c5.7,1.5,9.6,4.2,9.6,4.2c10.4,8.7,12.5,19.1,12.5,19.1c4.1,14.2-3.1,21-3.1,21
				c-2.8,4-6.8,7.5-6.8,7.5c-5.7,3.9-5.9,4.8-5.9,4.8c-3.4,5.6-9.9,1.8-9.9,1.8c-2.4-1.8-4.6-5.8-4.6-5.8c-1.5-3-1.5-5.2-1.5-5.2
				c0.4-1.1,0.3-1.9,0.3-1.9c0.1-4.9,2-6.2,2-6.2c1.4-1,7.8-3.7,7.8-3.7c5.8-2.5,6.1-6.9,6.1-6.9c0.8-5.2-3-8-3-8
				c-1-0.6-0.8,0-0.8,0c6.3,5,1.8,11.1,1.8,11.1c-2.3,3-10.4,6.1-10.4,6.1c-4.9,1.8-3.9,8.4-3.9,8.4c-1,2.8,2,8,2,8
				c1.1,2.6,3.9,4.9,3.9,4.9c6.6,3.9,10-1.5,10-1.5c1-1.2,3-2.8,3-2.8c4.2-2.3,10.2-10.1,10.2-10.1c7.9-8.1,3.1-21.9,3.1-21.9
				c-3.2-11.8-12-18.5-12-18.5c-3.2-2.6-6.9-4-9.8-4.7L370.4,497.5z"/>
			<path class="st1" d="M383.7,548.7c0,0,7.5,7.6,6.8,13.9c0,0,0.2,7.1-8.3,10c0,0-8.6,2.4-12.6,5.9c0,0,3.5-3.8,11-6.1
				c0,0,7.6-2.4,9.1-9.2c0,0,0.5-6.8-7.3-13.9L383.7,548.7z"/>
			<path class="st1" d="M361,573.3c0,0-1.3,1.6-3,2.3c-1.7,0.8-5.6,4.2-3.2,7.7c0,0,5.2,3.6,6.7,7.6c0,0,2.9,11.5,11.8,7.2
				c0,0,2.1-0.9,2.5-4.2c0,0-1.3,3.5-3.7,4.1c0,0-4.5,1.8-8.7-3.9c0,0-1.2-2.5-1.6-4.1c0,0-1.1-3.1-5-5.7c0,0-2.7-2.4-2.1-4
				c0,0,0.8-3.1,3.4-4.2C358,576.1,360.8,574.9,361,573.3z"/>
			<path class="st16" d="M375.7,575c0,0,10.9,7.5,11.4,12.9c0,0,2.5,8.5-4.8,8.5c0,0-4,2.9-7.6,0.5l0.6-0.9c0,0,5.5,3.8,7.8-3
				c0,0,0.4,1.7-0.6,2.9c0,0,5.7-0.1,4.2-7.1c0,0-1.6-6.8-12.1-13.2L375.7,575z"/>
		</g>
		<g>
			<defs>
				<polygon id="SVGID_1_" points="1300,787.4 -1.8,787.2 0,0 1300,0 				"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
			</clipPath>
			<g class="st13">
				<polyline class="st2" points="0,55.6 114.6,90.1 580.8,0 				"/>
				<path class="st2" d="M1078,77"/>
				<polyline class="st2" points="0,172.1 114.6,206.6 1185.5,0 				"/>
				<line class="st2" x1="1048.3" y1="145" x2="1300" y2="94.8"/>
				<line class="st2" x1="678.5" y1="215.9" x2="854.4" y2="182"/>
				<polyline class="st2" points="0,288.6 114.6,323 508.9,247.3 				"/>
				<line class="st2" x1="1013.7" y1="268.5" x2="1300" y2="210.8"/>
				<line class="st2" x1="651" y1="337.2" x2="910.9" y2="288.2"/>
				<line class="st2" x1="426.1" y1="380.1" x2="562.7" y2="354.1"/>
				<polyline class="st2" points="0,405 114.6,439.5 432.3,379 				"/>
				<line class="st2" x1="1127.7" y1="362.8" x2="1300" y2="331.5"/>
				<line class="st2" x1="1078.1" y1="372.3" x2="1098.5" y2="368.4"/>
				<line class="st2" x1="825.2" y1="420.7" x2="1020.6" y2="383.3"/>
				<line class="st2" x1="704.2" y1="443.8" x2="787.8" y2="427.8"/>
				<line class="st2" x1="635.2" y1="457" x2="661.7" y2="451.9"/>
				<line class="st2" x1="384.9" y1="505.5" x2="525.5" y2="477.6"/>
				<polyline class="st2" points="0,521.5 114.6,556 312.5,518.3 				"/>
				<polyline class="st2" points="0,638 114.6,672.5 185.1,659.1 				"/>
				<polyline class="st2" points="0,754.5 114.6,789 185.1,775.5 				"/>
				<line class="st2" x1="114.5" y1="0" x2="114.5" y2="789.5"/>
				<line class="st2" x1="244.5" y1="0" x2="243.9" y2="570.3"/>
				<line class="st2" x1="374.5" y1="0" x2="373.9" y2="448.7"/>
				<line class="st2" x1="503.9" y1="303.7" x2="504" y2="527.8"/>
				<line class="st2" x1="503.5" y1="0" x2="503.9" y2="257.2"/>
				<polygon class="st23" points="632.4,457 632.4,411.6 635.4,416.6 635.4,457 				"/>
				<line class="st2" x1="633.9" y1="344.8" x2="633.9" y2="359"/>
				<line class="st2" x1="634" y1="0" x2="633.9" y2="182.4"/>
				<line class="st2" x1="764" y1="0" x2="763.9" y2="486.8"/>
				<line class="st2" x1="893.9" y1="451.1" x2="893.9" y2="466"/>
				<line class="st2" x1="893.9" y1="284.7" x2="893.9" y2="429.6"/>
				<line class="st2" x1="894" y1="0" x2="893.9" y2="58.9"/>
				<line class="st2" x1="1023.9" y1="258.4" x2="1023.9" y2="368.9"/>
				<line class="st2" x1="1024" y1="0" x2="1023.9" y2="32.7"/>
				<line class="st2" x1="1153.9" y1="0" x2="1153.9" y2="423.9"/>
				<line class="st2" x1="1264.9" y1="0" x2="1264.9" y2="406.9"/>
			</g>
		</g>
		<g>
			<line class="st21" x1="530.9" y1="543.4" x2="530.9" y2="555"/>
			<line class="st21" x1="510.5" y1="555" x2="510.5" y2="543.4"/>
			<path class="st21" d="M535,572.4c0,0,0-10.3,0-13s-1.1-4.6-5.3-4.6c-4.1,0-11.7,0-11.7,0h-8.3c0,0-5.3,0-5.5,4.1v14.2"/>
			<path class="st23" d="M530.9,556.2c0,0,2.9-0.2,2.6,3.8v10.4c0,0.7-0.6,0.7-0.6,0c0,0,0-8,0-10.6S532.1,556.6,530.9,556.2z"/>
			<path class="st21" d="M555.4,532.6v1.8h5.6l0.2-1.8c0,0,0.6-3.6-2.9-4.1c-4.3-0.6-11.1,1.2-15.7,3c-5.9,2.3-15.1,5.7-23.4,5.7
				c-7.8,0-10.3,0-10.3,0v6.4c0,0,13.8,0,18.3,0s9.6-1.6,15.4-6.6C548.3,531.9,555.4,532.6,555.4,532.6z"/>
			<path class="st21" d="M538,652c0,0,0-54.1,0-64.6c0-10.5-0.9-15.4-4.4-15.4c-3.4,0-13.6,0-13.6,0s-10.2,0-13.6,0
				c-3.4,0-4.4,4.8-4.4,15.4c0,9.8,0,56.9,0,63.3c0,1.7,0.2,2.2,0.9,2.9c1,1,5.1,3.1,17.1,3.1C535.5,656.7,538,654.1,538,652z"/>
			<path class="st23" d="M531.5,574.2c0,0,4,0,4.1,5.4c0.1,6.3,0,59.3,0,59.3s0,2.3-0.6,0.4c-0.6-1.8-0.8-46.5-1.5-53.9
				c-0.6-7.4-2.3-9.7-5.1-9.8S527.4,574,531.5,574.2z"/>
		</g>
		<g>
			<path class="st7" d="M807.6,515.8c28.9,2.3,59.9,6.7,87.7,15.4"/>
			<path class="st7" d="M720.5,515.1c26.5-1.6,54.4-1.6,80.9,0.1"/>
			<path class="st7" d="M689.6,517.8c3.9-0.4,7.8-0.8,11.8-1.2"/>
			<path class="st7" d="M660.8,521.8c2.3-0.4,4.6-0.7,6.9-1.1"/>
			<path class="st7" d="M639.1,525.9c2-0.4,4-0.9,6.1-1.3"/>
			<path class="st7" d="M944.6,559.4c24.5,31.1-13.5,66.3-114,78.2c-106.4,12.6-242.6-5.6-276.3-38c-27.3-26.3,6.4-55.2,76.9-72"/>
			<path class="st23" d="M834.1,629.4c-106.4,12.6-242.6-5.6-276.3-38c-7.8-7.5-10.6-15.2-9-22.8c-5.6,5.8-7.1,21.1,3.6,31.4
				c33.7,32.4,173,51.3,279.4,38.7c74.7-8.9,115.1-30.4,119.3-54.9C938.9,603.8,899.9,621.6,834.1,629.4z"/>
			<path class="st23" d="M596.8,586.3c-20.8-18.4,3.8-38.6,56.4-50.6c-2.5,0-5.7-5-5.7-5c-35.7,8.6-58.4,21.3-63.2,36.2
				c-1.9,5.8-1.9,14.8,8.5,24c20.9,18.5,77.8,30.5,144.9,30.5c18.2,0,36.3-0.9,53.9-2.7l2.4-6.4C711.2,621.1,623,609.5,596.8,586.3z
				"/>
			<path class="st23" d="M801.9,521.2c-14.2-1.2-31-2-46.6-2c-12.3,0-24.6,0.4-36.7,1.2c-1.8,0.1-3.6,1.3-5.4,1.4
				c-1.8,0.1-3.6-0.7-5.4-0.6c-3.2,0.3-6.4,0.6-9.5,0.9c-3.6,0.4-7.2,0.8-10.6,1.2c-1.7,0.2-3.4,1.4-5,1.7c-1.7,0.2-3.4-0.5-5-0.3
				c-4.6,0.7-9.1,1.5-13.5,2.3l-0.6,6.4c10.8-2.1,22.7-3.9,35.4-5.2c34.4-3.7,71.4-3.7,102.9-0.9V521.2z"/>
			<path class="st23" d="M840,611.1c24.3-5.4,43.1-12.6,55-21l0.3-8c-10.2,8.9-29.7,16.9-56.3,22.9L840,611.1z"/>
			<path class="st23" d="M807.8,528c40.1,4.3,74,13.7,88.3,26.3l-0.6-8.2c-16.7-11.5-49.1-20.2-87.7-24.3V528z"/>
			<path class="st27" d="M839,605.9c16.9-3.9,30.6-8.4,37.4-12.6c-11.7-4-25.8-7.3-41.6-9.8"/>
			<path class="st27" d="M796.4,579.5c-28.7-1.8-60-1.3-90.6,2c-34.6,3.7-63.2,10.5-82.3,18.7c33.3,14.5,108.4,19.7,168.9,13.4"/>
			<path class="st3" d="M796.4,582.3c-4.5-0.2-9.2-0.2-14.3-0.1c-15.5,0.1-33.3,4-23.4,5.3c9.9,1.3,29.8,5.8,16.7,4.8
				c0,0-10.6-3-15.5,0s0.8,1.9-21.3,0.3s-41.3-2-32,3.7c9.3,5.7-19.5,1.5-28.7,3.5c-9.1,2-12.5,4.1,3.1,7.7
				c15.5,3.7,8.8,7.5,19.5,6.4c10.7-1.1,17.1-2.3,27.6-1.9c10.4,0.4,20.2,5.3,32.5,0c9.4-4.1,19.1-4.1,32-4.2"/>
			<path class="st3" d="M838.9,603.1c4.7-1.4,7.8-3.1,8.2-5c0.6-3.1-3.7-3.5-9.9-4.6"/>
			<g>
				<path class="st23" d="M816.2,421.1c6.1,0.8,83,10.8,90.7,12.2c6.5,1.2,10.5,6.9,11.5,11.6c0.6,3.1,0.7,9.7,0.8,17.3
					c0,3.4,0.1,7.3,0.2,11.4c0.5,22.3-0.2,113.4-0.3,124.4c-3.1,2.4-16.6,9.6-23.3,11.1c0,0,0,0,0,0c0.3-12.1,2-81.2,1.7-130
					c0-2.9,0-5.7,0.1-8.5c0.2-8.2,0.3-14.6-1.7-18.9c-3.8-8.2-11.8-9.4-14.5-9.9c-0.2,0-0.4-0.1-0.5-0.1c0,0-0.1,0-0.1,0l-90.5-14.1
					c-0.1-0.2-0.4-0.8-0.3-2.4C792.5,424.5,799.3,423.1,816.2,421.1 M816.2,418c-21.3,2.5-27.7,4.3-28.9,4.8
					c-0.2,0.1-0.3,0.3-0.3,0.4c-0.7,5.6,1.1,6.9,2.4,7.2l90.9,14.2c1.6,0.3,9.4,0.8,12.8,8.2c2.3,5,1.2,15,1.3,26.1
					c0.4,53.9-1.7,131.7-1.7,131.7c-0.1,0.4,1.6,1.3,3.1,1.3c0.2,0,0.4,0,0.6-0.1c8.1-1.7,25.8-11.4,25.7-12.9
					c0,0,0.8-101.6,0.3-125.5c-0.3-13.4,0-24.5-1-29.2c-1.3-6.2-6.4-12.6-13.9-14C899.3,428.9,816.2,418,816.2,418L816.2,418z"/>
			</g>
			<path class="st6" d="M788.2,423.9c5,0.6,85,12.7,95.6,14.8c11,2.1,16.7,6.3,18,18.8l-1.3,73l-5.1,0.1c0,0,0.5-60,0.6-65.7
				c0.2-5.7,1.4-18.1-13.6-21.1l-92.6-14c0,0-2-0.4-2.1-2.6c-0.1-1.5-0.1-2.6,0.1-3C787.8,423.9,788,423.9,788.2,423.9z"/>
			<path class="st23" d="M789.2,586.3l-1.3,19.6C787.9,605.9,787,594.6,789.2,586.3z"/>
			<path class="st23" d="M749.6,595.9l-1.1,16.9C748.5,612.8,747.8,603.1,749.6,595.9z"/>
			<path class="st23" d="M719.8,592.9l-1.1,16.9C718.7,609.8,717.9,600.1,719.8,592.9z"/>
			<path class="st23" d="M715.9,596.7l-1,14.7C714.9,611.4,714.6,602.9,715.9,596.7z"/>
			<path class="st23" d="M752,603l-0.6,9.8C751.3,612.8,750.9,607.1,752,603z"/>
			<path class="st23" d="M791.2,582.8l-1.3,19.6C789.9,602.4,789,591.1,791.2,582.8z"/>
			<path class="st7" d="M937,518.8l10.4,60.5c0,0,2,6.5-16.5,8.8c-3.8,0.5-7.3,0.6-10.5,0.6"/>
			<path class="st3" d="M920.9,517.4c6.2,0,12.5,0.2,12.5,1.7c0,2.6-6.3,4-12.5,4"/>
			<path class="st23" d="M938.5,580.3l-0.9-28.5c0-0.4,0.7-0.8,0.9,0c0.2,0.8,5.1,24.8,5.4,26.5c0,0.1,0,0.1,0,0.2
				c-0.2,0.3-1,2-5.3,2C938.6,580.5,938.5,580.3,938.5,580.3z"/>
			<path class="st2" d="M933.1,516.3c2.5,0.7,3.9,1.7,3.9,3c0,2.8-5.5,6.6-16.6,6.4"/>
			<path class="st27" d="M921.8,508.2c5.8,0.9,10.5,2.6,10.5,3.7c0,1.1-4.7,1.3-10.5,0.4"/>
			<g>
				<path class="st7" d="M830.2,559.4l10.4,60.5c0,0,2,6.5-16.5,8.8c-19.2,2.3-32.1-2.8-31.7-7.5l5-58.2"/>
				<path class="st3" d="M826.7,559.8c0,2.6-6.3,4-12.5,4c-6.2,0-11.3-1.3-11.3-2.9c0-1.6,5.1-2.9,11.3-2.9
					C820.4,558.1,826.7,558.2,826.7,559.8z"/>
				<path class="st23" d="M831.8,621l-0.9-28.5c0-0.4,0.7-0.8,0.9,0c0.2,0.8,5.1,24.8,5.4,26.5c0,0.1,0,0.1,0,0.2
					c-0.2,0.3-1,2-5.3,2C831.8,621.1,831.8,621,831.8,621z"/>
				<path class="st2" d="M826.4,556.9c2.5,0.7,3.9,1.7,3.9,3c0,2.8-5.5,6.6-16.6,6.4c-9.2-0.1-16.3-0.9-16.3-3.8
					c0-1.5,2.1-3.1,5.5-4.3"/>
				<g>
					<path class="st23" d="M778.6,539.3c0.1,0,0.2,0,0.4,0.1l34.4,9c7,1.7,10.6,3.2,11.5,3.9c0.1,0.7,0.5,2.8-0.1,7
						c-0.2,0.3-1,1.2-3.8,1.3c-0.5,0-1.1,0-1.7,0c-8.7,0-15.3-1.7-16.3-2.9c0.1-0.8,0.6-4.3,1.4-6.7c0.2-0.5,0.1-1.1-0.2-1.5
						s-0.7-0.8-1.2-1c-9.4-2.8-25.4-7.5-27.1-8c-0.7-0.2-1.2-0.4-1.6-0.6C775.3,539.5,776.9,539.3,778.6,539.3 M778.6,537.3
						c-1.2,0-4.6,0.1-6.3,1.3c-2,1.5,0.6,3.1,3.1,3.8c1.6,0.4,16.5,4.8,27,7.9c-0.9,2.8-1.5,7.1-1.5,7.1c-0.5,3.4,10.2,5.1,18.3,5.1
						c0.6,0,1.2,0,1.7,0c5-0.2,5.7-2.7,5.7-2.7c0.9-6.2,0-8.5,0-8.5c-0.7-1.4-6.7-3.4-12.9-4.9l-34.4-9
						C779.4,537.4,778.9,537.3,778.6,537.3L778.6,537.3z"/>
				</g>
				<path class="st27" d="M825.5,552.6c0,1.1-4.7,1.3-10.5,0.4s-10.5-2.6-10.5-3.7s4.7-1.3,10.5-0.4
					C820.8,549.8,825.5,551.4,825.5,552.6z"/>
			</g>
			<g>
				<path class="st6" d="M896.2,499.4l-10.1-2.6c0,0-0.5-0.1-0.8-0.1c-1.2,0-4.6,0.1-6.3,1.3c-2,1.5,0.6,3.1,3.1,3.8
					c1,0.2,7.2,2.1,14.2,4.1"/>
				<path class="st6" d="M933.5,510.7c-0.7-1.4-6.5-3.3-12.5-4.8v15.8c2.4,0.2,4.8,0.2,6.9,0.2c5-0.2,5.7-2.7,5.7-2.7
					C934.4,513,933.5,510.7,933.5,510.7z"/>
			</g>
		</g>
		<path class="st4" d="M1300,416.5c-7.5-2-25.2-7.5-32.5-10c-13,0-26,4-39,6c-29,4-57,8-85.7,13.1"/>
		<path class="st4" d="M321.5,556.1c-14,1.4-28,4.4-42,6.4c-39,6-77,13-115,19.2c4.1,1.2,2.1-0.3,0,0c148,45.8,295,87.8,445,134.8
			c3,1,6,3,10,2c62-14,117-23,179-34c91-18,172-34,262-50c23-4,45-10,68-14c86-16,88.2-17.1,171.5-32.4"/>
		<line class="st4" x1="628.5" y1="507.8" x2="385.4" y2="548.9"/>
		<line class="st4" x1="718" y1="493.4" x2="708.5" y2="494.9"/>
		<path class="st4" d="M802.3,479.8c-19.6,3.2-41.8,6.7-61.7,10"/>
		<path class="st4" d="M894.8,465.2c-29.3,4.3-60.5,9.6-89.4,14.2"/>
		<line class="st4" x1="1013.5" y1="446.2" x2="920.5" y2="461.1"/>
		<path class="st8" d="M164.8,581.9c-0.3,18.6-0.3,36.6-0.3,55.6c0,2,2,3,4,4c70,21,136,41,206,62c18,5,35,10,53,16c17,5,33,9,50,15
			c12,3,24,7,36,10c21,7,42,13,63,20c9,2,18,5,27,8c5,1,10,2,14,4c254-48,428.2-82.1,682.5-130.3"/>
		<line class="st8" x1="617.9" y1="718.4" x2="617.9" y2="776.1"/>
		<g>
			<polyline class="st8" points="243,665.2 243,845.4 185.1,828.4 185.1,648.2 			"/>
			<line class="st8" x1="243.1" y1="845.4" x2="243.1" y2="665.2"/>
			<line class="st8" x1="301" y1="682.2" x2="301" y2="812.4"/>
		</g>
		<g>
			<path class="st8" d="M530,897.5c-0.2-54.6-0.5-91-0.3-146"/>
			<path class="st8" d="M587.6,768.5c-0.1,49,0.3,80.3,0.4,129"/>
			<path class="st10" d="M587.7,898.5c-0.2-48.7-0.2-81,0-130"/>
			<line class="st8" x1="645.6" y1="772.5" x2="646.5" y2="898"/>
		</g>
		<g>
			<path class="st30" d="M829.8,110.2c-2.7,6.5-7.9,11.2-14.2,12c-9.7,1.1-18.1-7.6-18.9-19.6c-0.8-12,6.4-22.6,16.1-23.8
				c6.5-0.8,12.5,3,15.9,9.2"/>
			<path class="st28" d="M824.6,111.2c-1.9,1.6-4.2,2.7-6.8,3.1c-6.8,0.8-12.7-4.4-13.2-11.6c-0.5-7.2,4.7-13.7,11.5-14.5
				c1.7-0.2,3.3,0,4.8,0.4"/>
			<path class="st27" d="M1039.3,38.5c2.7-3,6.2-5,10.1-5.5c9.7-1.1,18.1,7.6,18.9,19.6c0.8,12-6.4,22.6-16.1,23.8
				c-1.6,0.2-3.2,0.1-4.8-0.2"/>
			<path class="st24" d="M1047.5,45c1.7-1.4,3.7-2.3,5.9-2.6c6.3-0.7,11.7,4,12.1,10.7c0.4,6.6-4.3,12.6-10.6,13.3
				c-1.5,0.2-2.9,0-4.3-0.4"/>
			<path class="st27" d="M1046,66.6l8.5-1.7c5.5-1.1,9.4-6.5,8.6-12c-0.8-5.6-5.9-9.2-11.4-8.1l-8.8,1.7
				C1042.9,46.6,1046.7,60.6,1046,66.6z"/>
			<path class="st27" d="M850.5,104.8l-30,5.9c-0.3,0-0.5,0.1-0.8,0.1c-5.2,0.6-9.9-2.9-10.7-8.2c-0.8-5.6,3.1-10.9,8.6-12l16.6-3.3
				C834.3,87.3,850.8,90.6,850.5,104.8z"/>
			<g>
				<path class="st23" d="M1032.7,36.8c2.4,1,7.9,6.9,9.9,25.1c2.9,26.3,10.5,160,11.9,183.2c-6.9,3-24.2,10.1-39,11.9
					c-2.6,0.3-4.6,2.6-4.4,5.3l0.4,5.7c-12.8,5-60.1,22.6-93.1,22.6c-2.3,0-4.5-0.1-6.6-0.3l-0.5-7.3c-0.1-1.6-0.9-3-2.2-3.8
					c-0.8-0.6-1.8-0.8-2.8-0.8c-0.5,0-1.1,0.1-1.6,0.3c-0.3,0.1-23.5,8.1-39.2,11c-1.5-29.2-8.2-159.9-12.3-189
					c-0.6-4.3-3.3-10.4-12.7-14.5c-1.8-0.8-3.6-1.4-5.1-1.8c1.8-4.9,9.2-14.3,38-20.4C916.8,54.8,1021.6,38.5,1032.7,36.8
					 M1032.9,31.7c0,0-114.2,17.6-160.6,27.3c-46.4,9.7-42.5,29.2-42.5,29.2s17,2.4,18.5,13.2c4.5,32.2,12.6,194.1,12.6,194.1
					c15.9-1.9,45.6-12.1,45.6-12.1l0.7,11.5c3.5,0.5,7.3,0.8,11.3,0.8c39.7,0,98.3-24.3,98.3-24.3l-0.6-9.4
					c19.9-2.4,43.6-13.7,43.6-13.7s-8.9-157.8-12.1-186.9C1044.4,32.3,1032.9,31.7,1032.9,31.7L1032.9,31.7z"/>
			</g>
			<line class="st9" x1="1048.3" y1="84.4" x2="853.3" y2="120.7"/>
			<line class="st9" x1="856.4" y1="162.9" x2="1050.4" y2="121.1"/>
			<path class="st23" d="M815.1,98.1c0,0-0.8-3.7,3.4-5.1l12-2.7c0.6-0.2,1.1,1.5,0.3,1.7c0,0-7.9,1.5-10.7,2.2
				C817.4,94.8,815.4,96.4,815.1,98.1z"/>
			<path class="st23" d="M906.4,283.4l-5.2-80.8c0,0,1.6,62.7-1.8,83.1C899.4,285.7,903.2,285.7,906.4,283.4z"/>
			<path class="st23" d="M1022.3,261.1l-8.6-95.5c0,0,2.7,77.7,2.5,96.4C1016.1,262,1019.1,263.4,1022.3,261.1z"/>
			<line class="st9" x1="857.3" y1="177" x2="1051.3" y2="135.2"/>
			<line class="st9" x1="858.3" y1="192.6" x2="1052.3" y2="150.9"/>
		</g>
		<path class="st18" d="M612.1,334.8c-0.3,0.3-0.5,0.6-0.7,0.9c0,0,0,0,0,0C611.6,335.4,611.8,335.1,612.1,334.8z"/>
		<path class="st5" d="M612,511.7c0.4-0.1,0.7-0.2,1.1-0.3c0,0.1,0,0.2,0.1,0.3C612.8,511.7,612.4,511.7,612,511.7z"/>
		<path class="st25" d="M611.7,141.2c-0.1,0.1-0.1,0.2-0.2,0.2c0-0.3,0-0.6,0-0.9c0.3,0,0.6,0.1,0.9,0.1c-0.1,0-0.1,0.1-0.2,0.1
			C612,140.9,611.8,141,611.7,141.2z"/>
		<path class="st11" d="M608.8,356.9c0,0,0.1,0,0.1,0c0,0,0,0,0,0C608.9,356.9,608.9,356.9,608.8,356.9
			C608.8,356.9,608.8,356.9,608.8,356.9z"/>
		<path class="st20" d="M562.7,363.4C562.7,363.5,562.7,363.5,562.7,363.4c0,0.1,0,0.1,0,0.2C562.7,363.6,562.7,363.5,562.7,363.4z"
			/>
		<path class="st23" d="M1109.7,330.5l13.3,3.1l-0.9,3.7l-12.9-3C1109.5,333,1109.7,331.7,1109.7,330.5z M1107.4,340.5
			c0.2-0.6,0.4-1.2,0.6-1.7l13.1,3l-0.9,3.7l-13.5-3.1C1107,341.6,1107.3,341,1107.4,340.5z M1105.3,347.1c0-0.1,0-0.1,0.1-0.2
			l13.8,3.2l-0.9,3.7l-13.8-3.2L1105.3,347.1z M1103.4,355.2l13.8,3.2l-0.9,3.7l-13.8-3.2L1103.4,355.2z M1101,367.3
			c-0.1-0.4-0.1-0.8-0.1-1.3l0.6-2.5l13.8,3.2l-0.9,3.7L1101,367.3z M1109.4,418.4c0.3-0.7,0.6-1.4,0.9-2c0,0,0-0.1,0.1-0.1
			l14.4-34.3c0.8-1.7,1.7-4.5,2.2-6.3l9.6-41.4c0.3-1.4,0.1-2.9-0.7-4.1c-0.8-1.2-2-2.1-3.4-2.4l-2.2-0.5c-1.4-0.3-2.8-0.1-4,0.6
			c-0.6,0.3-1.1,0.8-1.6,1.3l-16.1-3.7c-0.1-0.3-0.9-0.1-1-0.4l-11,39.3c0,0.3-0.1,0.7-0.1,1c0,0,0,0,0,0c-0.1,1.9,0.4,4,0.9,5.4
			l5.9,1.8l10.2,2.4c-0.4,1.2-0.8,2.3-1.2,3.2l-16.7,33.4c-0.9,1.7-1.9,4.5-2.4,6.3c0,0,0,0,0,0l4.5,1.2c0.4-1.5,1.3-4,2.1-5.4
			l16.7-33.4c0,0,0,0,0-0.1c0.8-1.7,1.8-4.5,2.2-6.4l9.6-41.4c0.1-0.3,0.3-0.4,0.4-0.5c0.1-0.1,0.3-0.1,0.6-0.1l2.2,0.5
			c0.3,0.1,0.4,0.3,0.5,0.4c0.1,0.1,0.2,0.3,0.1,0.6l-9.6,41.4c-0.4,1.5-1.2,4-1.9,5.5c0,0,0,0,0,0.1l-14.4,34.3
			c-0.5,1-1.1,2.5-1.6,3.8L1109.4,418.4z"/>
		<path class="st29" d="M1111.3,513.4 M1034.1,353.9c-0.4-1.5,3.8-3.9,9.3-5.3c5.5-1.4,10.3-1.3,10.7,0.2c0.4,1.5-3.8,3.9-9.3,5.3
			C1039.2,355.5,1034.4,355.4,1034.1,353.9z M1049.6,357.6c0.8-0.3,1.6-0.7,2.3-1.1l4,15.1c-1.2,0.7-2.5,1.4-3.9,2L1049.6,357.6z
			 M1050,374.2c-1.4,0.4-2.9,0.6-4.6,0.5l-1.3-15.7c1.1-0.2,2.3-0.4,3.4-0.8L1050,374.2z M1053.7,355.2c0.8-0.6,1.5-1.3,2.1-2.1
			l0-0.3l5.3,14.3c0,0-1.2,1.5-3.4,3.1L1053.7,355.2z M1037.4,359.4c0,0,2,0.1,4.7-0.1l1.2,15.3c-1.8-0.3-3.6-0.8-5.6-1.8
			L1037.4,359.4z M1022.9,377.1c-2.6-6.1,9.1-13.9,9.1-13.9l1,12.5c0,0,19.9,9,32.1-8.6l-3.9-9.4c0,0,10.7,0.3,12.2,5.1
			c1.9,6-8.8,16.5-20.5,19.9C1041.3,385.8,1025.5,383.1,1022.9,377.1z M1031.3,413.9l-7.7-29.8c0,0,15,6.1,31.5-0.3
			c18.1-7.1,20.6-13.9,20.6-13.9l4.7,18.9c-2.5,2.9-5.7,5.5-9.6,7.9c-3.2,2-6.8,3.8-10.8,5.4c-6.8,2.7-12.3,3.9-12.4,3.9l-1.1,0.2
			l2.8,11.4l2.3,0.9l-2.7-10.7c1.9-0.5,6.4-1.6,11.7-3.7c4.1-1.6,7.9-3.5,11.2-5.6c3.6-2.2,6.6-4.7,9.1-7.3l7,28.2l2.9,0.4
			l-13.2-55.1c-4.1-9.6-17.3-10.4-17.3-10.4l-2-5.6l-0.1-0.4c-1.1-2.1-7.1-4.3-13.2-3.3c-5.7,0.9-12.3,5.8-12.5,8.7l-0.7,6
			c0,0-16,9.1-14,17.7l8.5,34.4L1031.3,413.9z M1078,536.6"/>
		<path class="st29" d="M1026.3,412.2"/>
		<g>
			<path class="st23" d="M598.4,390.8c0.6-0.2,1.1,0.8,0.5,1.1c-6.9,3.5-14.9,4.5-22.3,1.9c-0.9-0.3-1.1-1.4-0.6-2
				c0.2-0.3,0.5-0.4,0.9-0.4c1.2,0.1,2.5,0.2,3.7,0.4C586.5,392.3,592.4,392.7,598.4,390.8z"/>
			<path class="st23" d="M567.7,500c9.4,1.1,17.9,1.4,27.3,0.1c5.6-0.8,12.9-1.3,17.5-4.8c0.3-0.2,0.7-0.1,0.9,0.2
				c0.2,0.3,0.3,0.7,0,0.9c-5.1,4.4-11.2,5.1-17.7,6.3c-9,1.7-18.6,2.4-27.5-0.3c-0.3-0.1-0.5-0.1-0.8-0.2
				C566.4,501.8,566.5,499.9,567.7,500z"/>
			<path class="st23" d="M670.3,399.2c0,0,14.4,5.4-10.4,17.9c0,0-15,10.5-26.2,10.5c0,0-0.7,8.3,20.4-3.2c0,0,26.6-14,24.4-22.1
				c0,0-2.2-8.5-13.1-6.8C665.2,395.4,665.1,400.6,670.3,399.2z"/>
			<path class="st23" d="M643.7,419.2c-0.6,0.1-1.2-0.7-0.8-1.1c0.1-0.1,0.1-0.2,0.3-0.2c1.1-0.5,2.2-1,3.3-1.5
				c6.5-2.8,12.6-5.6,18.4-9.8c0.4-0.3,0.8-0.5,1.2-0.8c0.5-0.4,1.2,0.2,1.1,0.7c0,0.2-0.1,0.3-0.2,0.4
				C660.4,412.6,652.2,417.6,643.7,419.2z"/>
			<path class="st23" d="M678.3,508.1c0.1-0.4,0.2-0.8,0.3-1.2c1.1-3,3.1-5.9,4.8-8.5l-2.6-1.8c-0.3,0.5-0.6,1-0.8,1.4
				c-1.7,2.4-3.3,5-4.5,7.7L678.3,508.1z M689.5,524.1c2-0.6,3.7-1.9,4.6-3.9c3.2-6.9-2.1-12.7-1.2-19.1l-3.2-0.7
				c-0.3,1.1-0.4,2.3-0.2,3.6c0.5,3.9,3.8,11.2,1.5,14.9L689.5,524.1z M674.8,502.9c0.9-2.4,2-5.3,3.3-7.7l-2.3-1.5
				c-1.4,2.1-2.5,4.5-3.4,6.6L674.8,502.9 M664.3,449.8c-2.2-3-4.4-6-6.6-8.8c-5.3-6.7-6.3-7.9-11.1-15l-3.8,2.1
				c5.1,7.8,7.2,10.1,12.9,17.4c2,2.5,4,5.3,6.3,7.9L664.3,449.8z M696.9,501.5c-0.2,0.9-0.3,1.7-0.4,2.5c-0.2,3.7,0.6,7.9,2.7,11
				c3.3,4.7,9.7,10.8,16.1,9.9c5.2-0.7,8.6-6,6.7-11c-1.3-3.5-3.8-6.4-6.2-9.2c-3.3-3.9-4.9-8.5-5.7-13.4c0.6-0.4,1.2-0.9,1.8-1.3
				c2.7-0.1,4.5,4.3,6.1,6.1c2.5,2.9,5.4,5.4,8.6,7.4c4.8,3.1,14.1,4.8,18-0.7c3.6-5,1.3-11.6-3.2-15.3c-3.7-3-8.1-5.2-11.9-8.2
				c-4.7-3.7-7.9-8.6-12-12.9c0,0,0,0,0,0c2.9,0.2,5.9-0.4,8.6-1.4c6.6-2.3,10.7-9,10.4-15.8c-0.2-5.1-5.4-9.6-10.5-8.9
				c-3.3,0.4-5.9,2.2-8.4,4.2c-1.9,1.5-4,2.5-6.2,3.1c-1.6-3.2-5.7-5.1-9.1-5.8c-2.9-0.6-5.6-0.6-8.1-0.2c-1.1-1.4-2.3-2.8-3.4-4.2
				c-2.6-3.3-4.9-6.9-7.3-10.4c-5-7.2-6.4-9.1-11.3-16.4l-2.7,2.5c4.8,7.3,5,7.3,9.9,14.5c3,4.4,6.1,10.3,10.1,14.8
				c-1.1,0.2-2.2,0.5-3.3,0.8c-0.5,0.1-0.4,0.8,0.1,0.8c1.4-0.2,2.8-0.3,4.3-0.3c1.3,0,2.6,0,3.9,0c0.4,0,0.9,0,1.3,0.1
				c1.1,0.1,2.2,0.1,3.2,0.2c2.2,0.2,4.3,0.8,6.3,1.9c1.1,0.6,2,1.5,2.9,2.3c-0.9,0.1-1.8,0.2-2.7,0.3c-1.2,0.1-1,1.8,0.1,2
				c3.8,0.6,7.3,0,10.7-1.6c4.2-2,8.9-6.7,13.7-3.8c6.7,4,0.2,13.1-4.3,15.6c-5.4,3-10.3,0.9-15.8,0.4c-0.8-0.1-1.3,0.9-0.8,1.5
				c1.1,1.3,2.4,2.2,3.9,2.8c-2.6,2.9-5,4.8-9.2,5.9c-4.2,1.1-9.3,1.4-13-1.2c-0.4-0.3-0.9,0.3-0.5,0.6c1.7,1.5,3.6,2.6,5.6,3.2
				c-2.6,1.4-5,3.6-6.7,5.1c-0.4,0.4,0.1,1.1,0.6,0.7c1.8-1.4,3.9-2.6,5.9-3.7c1.4-0.8,2.8-1.1,4.2-1.4c1.5,0.1,3,0.1,4.6-0.2
				c3.9-0.6,9.1-2.7,11.4-6.4c4.4,6.2,8.3,11.7,14.6,16.4c3.2,2.3,6.9,4.1,9.6,6.9c5.1,5.2,2.1,11.5-5,11.3
				c-6.9-0.3-13.1-7.1-16.8-12.4c-0.9-1.3-2.1-2.5-3.4-3.1c1.4-1.8,2.6-3.8,3.5-6.1c0.2-0.5-0.6-0.9-0.9-0.4c-1.9,3-4.4,5.4-7.3,7.2
				c-1.9,1.2-3.9,2.1-6,2.7c0.7,0.7,1,3.3,1,3.3c0.9-0.3,1.8-0.7,2.6-1.1c0.6,4.3,1.5,8.4,4,12.2c2.3,3.5,12.8,13.7,4,16.5
				c-5.4,1.7-12.1-5.6-14.3-9.7c-2-3.8-1.1-7.6-0.5-11.3C700.9,500.3,698,501.5,696.9,501.5z"/>
			<path class="st23" d="M626.5,359.5c0,0,20-5.2,28.4,14.1c0,0,8.3,15.7,10.3,21.9c0,0,2.6,3.7,5,3.8c0,0-7.6,4.9-10.2-5
				c0,0-5.4-21.3-13.5-28c0,0-10.1-6.8-18.4-5.4C628.3,360.8,624.2,361,626.5,359.5z"/>
			<path class="st23" d="M626.9,399.4c0,0,9.3,11.2,8.9,18.9c0,0-2.9,8.6,2.9,9.6c0,0-5,5.6-5.9-4.1c0,0,0.6-3.8,1.6-6.4
				c0,0-3.6-10.6-8.6-12.9L626.9,399.4z"/>
			<g>
				<path class="st23" d="M580.2,516.4l4.1-0.4C582.9,516.2,581.5,516.3,580.2,516.4C580.2,516.4,580.2,516.4,580.2,516.4z"/>
				<path class="st23" d="M624.7,449.7c0-2.2,0-4.5,0-6.7c-0.1-10.3,0.4-20.4,1.6-30.7c0.6-4.5,1.2-9.1,1.6-13.7c0,0,0,0,0.1,0
					l0.2-5.4c0-1.6,0-3.1,0-4.7c-0.1-1.7-0.2-3.5-0.5-5.2c-0.1-1-1.9-1-2,0c-2.8,18.5-6.5,37.6-6.8,56.4c0,2.1-0.1,4.2-0.2,6.3
					L624.7,449.7z M525,519c0.2,4.4-5,8.3-2.4,6.9l4.8-1c1.2-1.8,0.5-2.3,0.6-5.5c0.1-1.6,0.4-3.3,0.5-4.9c1.1-2,1.8-4.3,2.1-6.7
					c2.6,1.1,5.3,1.9,7.6,2.7c10,3.3,20.5,5.7,31.1,6c2.7,0.1,5.5,0.1,8.2,0l14-1.1l-7.2,0.7c2.5-0.2,4.9-0.4,7.4-0.7l2.7-0.2
					c0,0,0-0.1,0-0.1c2.3-0.3,4.6-0.6,6.9-1c3.9-0.6,8-1.2,11.9-2.1c0.4-0.1,0.7-0.2,1.1-0.3c3.4-0.9,6.8-2.2,9.8-4.1
					c1-0.6,3.7-2.7,3.7-2.7c1.1-0.9,2-1.8,2.7-2.7l-3.8-3.1c-0.7,1.2-2,2.4-4,3.6c-4,2.4-8.2,3.7-12.7,4.5
					c-12,2.1-24.9,3.9-37.1,3.4c-12.4-0.5-24.3-3-35.9-7.2c-0.7-0.3-1.4-0.5-2.2-0.8c-1.4-0.5-2.8-1.1-4.1-1.8c-0.1,0-0.1,0-0.2-0.1
					c-0.1-0.7-0.3-1.4-0.5-2.1c-0.2-0.5-1.8-0.2-2.4-0.6c-1.1-0.7-2.5-0.2,0.2-4.4c0.3-0.4,0.4-0.8,0.5-1.3c0.4-4.3,1-8.5,1.7-12.8
					c0.2-1.2,0.4-2.4,0.6-3.6c1.1-6.5,2.3-13.1,3.7-19.5c1.6-7.9,3.4-15.8,5.2-23.6c1.1-4.9,2.1-9.8,3.1-14.7l-3.6-4.3
					c-1.9,7-3.6,14.1-5,21.2c-3.2,15.6-7.3,31.1-9.7,46.8l-1.1,14.5c-0.1,1.3-1.2,1.6,1.5,3.8c0.2,0.2,0.1,0.6,0.3,1.4
					c0.2,1.2,0.4,2.3,0.4,3.4 M627.7,536.3 M622.2,537.3"/>
			</g>
			<path class="st19" d="M542.5,360.3c0,0-38.7,20.9,4.2,64.7c0,0,3.1,2.7,2.8,8.1c0,0-3,10,7.7,5.3c0,0,28.4-7,34.1-10.4
				c0,0,7.9-7-3.3-10.4c0,0-26.8-16.4-26.2-28.1c0,0-2.3-4-3,1c0,0,1.3,13,26.6,27.1c0,0,0.3,2.8,4,2.9c0,0,5.8,2.5-1.1,7.3
				c0,0-29.7,8.7-35.7,8.7c0,0-2.3-2-1.8-7.2c0,0-0.5-4.6-7.7-10.9c0,0-21.9-27.9-12.2-42.5c0,0,6.5-12,19-14.3
				C549.9,361.7,549.7,357.3,542.5,360.3z"/>
			<path class="st23" d="M590.2,427.4c2.8,2,5.6,4.1,8.4,6.1c7.1,5.2,14.3,10.2,21.5,15.3c4.3,3.1,9.4,7.5,14.6,10.3l1.5,0.7
				c1.2-0.5,2.4-0.9,3.6-1.3c0.4-0.1,0.8-0.3,1.2-0.4c1.1-0.3,2.1-0.6,3.1-0.9c2.1-0.6,4.3-0.7,6.5-0.5c1.3,0.2,2.4,0.7,3.5,1.2
				c3.2,2.6,7.8-2.2,7.8-2.2c3.2-3.4,6-9.4,11.5-8.4c7.7,1.4,4.8,12.2,1.4,16.1c-4,4.7-9.3,4.4-14.6,5.9c-0.8,0.2-0.9,1.3-0.2,1.6
				c1.5,0.8,3,1.2,4.6,1.3c1.2,0.1,3.6,1.5,3.6,1.5c6.3,4.3,11.9,8,19.4,10.2c3.8,1.1,7.9,1.4,11.5,3.1c6.6,3.1,6.1,10-0.7,12.3
				c-6.6,2.2-14.8-2.1-20.1-5.7c-1.3-0.9-2.8-1.6-4.3-1.7c0,0-3-0.1-4.2,2.3c-0.5,0.9-1.1,1.7-1.8,2.5c0.3,1.2,1.4,3,1.4,3
				c2.1,3.9,4.3,7.4,8,10c3.4,2.4,16.8,8.3,9.5,14c-4.5,3.5-13.3-1-16.7-4c-4.9-4.3-3.4-11-6.3-15.7c0,0-0.9-1.9-1.7-3
				c-0.1,0.1-0.3,0.2-0.4,0.2c-1.7,1-2.2,1.3-4.1,1.8c0,0-0.4,0.1-0.6,1.4c0,0-0.1,1.7-0.7,2.6c-1.4,3.2-2,6.5-0.2,9.9
				c2.3,4.4,10.9,12.3,4.4,16.6c-6.6,4.4-13.4-4.6-13.5-10.1c-0.1-3.2,0.8-6.6,1.5-9.7c0.8-3.6,1.1-7.3,1.1-7.3c0-1.8-1-2-1-2
				c-1.6,0-3.2-0.2-4.7-0.3c0,0-1.4,0.2-2.5,2.7c-0.1,0.2-0.2,0.4-0.3,0.6c-1.6,3.4-2.6,7.1-2.7,10.8c-0.1,2.6,0.8,9.9-3.4,8.9
				c-5.3-1.3-8-6.5-7.1-11.5c0.7-4,3.3-7.3,4.7-11.1c1.4-1.8-1-3.5-1-3.5c-5.9-4.2-10.8-11.6-11.3-19c0-0.3,0-0.5,0-0.8
				c0-0.8,0-1.5,0.1-2.3c0.1-1.2,0.4-2.4,0.8-3.5c0.2-0.6-0.7-0.9-1.1-0.4c-0.6,1-1.1,2-1.4,3c-5-2.8-9.8-6.2-14.5-9.1
				c-7.3-4.4-14.5-9.2-21.5-14.1c-8.7-6.1-15.5-11.8-23.5-18.6c0,0-4.7,0.7-5,0.7c8.5,7.6,17.2,14.9,26.5,21.6
				c7.5,5.5,15.4,10.5,23.3,15.3c4.4,2.7,9.1,5.8,14.1,7.6c-0.3,3.7,0.7,7.6,2.3,11c1.8,3.8,4.9,9.1,9.1,11.2
				c-6.4,8.9-8,20.9,3.4,26.2c3.6,1.7,6.7,0.4,8.1-3.2c0.8-2.1,0.7-4.7,0.7-6.9c0-3.9,0.4-7.7,1.8-11.3c0.1-0.2,0.2-0.5,0.3-0.7
				c1,0.3,2,0.4,3.1,0.5c-1.3,1.6-1.2,4.4-1.7,6.2c-1,3.9-1.8,7.8-1.4,11.8c0.6,6.2,6,10.2,11.8,11.2c4.7,0.8,10.2-1.9,10.6-7.1
				c0.8-9.6-10.8-12.8-7.5-23.2c0.1-0.3,0.2-0.7,0.4-1c0.7-0.2,1.3-0.5,1.9-0.8c1.1,2.5,1,6.5,1.8,9c1.1,3.5,3.4,7.2,6.4,9.3
				c4.7,3.3,12.9,6.6,18.5,3.6c4.6-2.5,5.9-8.6,2.4-12.7c-2.5-2.8-5.8-4.6-9-6.5c-4.4-2.5-7.6-6.2-10.1-10.5
				c0.4-0.6,0.8-1.2,1.2-1.9c2.5-1,5.7,2.5,7.8,3.6c3.3,1.8,7,3.2,10.7,3.9c5.6,1.2,14.9-0.4,16.6-7c1.6-5.9-2.9-11.3-8.4-13.2
				c-4.5-1.5-9.4-2.1-14-3.5c-5.7-1.8-10.4-5.3-15.8-7.9c0,0,0,0,0,0c2.8-0.9,5.4-2.5,7.6-4.3c5.3-4.5,6.9-12.2,4.2-18.5
				c-2-4.7-8.4-7.1-12.9-4.7c-2.9,1.6-4.7,4.1-6.4,6.9c-1.3,2.1-2.8,3.7-4.7,5.1c-2.6-2.4-7.2-2.8-10.5-2.2c-3,0.5-5.4,1.4-7.7,2.7
				c-1.5-1-3.1-1.8-4.6-2.7c-3.6-2.2-7-4.7-10.5-7.1c-7.2-5-14.4-10-21.6-15.1c-3.3-2.4-6.6-4.8-9.8-7.2
				C592.3,424.4,592,427,590.2,427.4z"/>
			<g>
				<path class="st18" d="M612.8,341c-0.2,0.2-0.4,0.4-0.5,0.5c0,0,0,0,0,0C612.4,341.4,612.6,341.2,612.8,341z"/>
				<path class="st25" d="M625.3,213.9c-0.1,0-0.1,0.1-0.2,0.1c0-0.2,0.1-0.4,0.1-0.6c0.2,0,0.4,0.1,0.6,0.1c0,0-0.1,0.1-0.1,0.1
					C625.5,213.7,625.4,213.8,625.3,213.9z"/>
				<path class="st12" d="M609.2,355.3C609.2,355.3,609.3,355.3,609.2,355.3c0.1,0,0.1,0,0.1,0C609.3,355.3,609.3,355.3,609.2,355.3
					C609.2,355.3,609.2,355.3,609.2,355.3z"/>
				<path class="st15" d="M687.6,294.7c-0.2,0.4-0.4,0.8-0.8,1.1C687.1,295.5,687.4,295.1,687.6,294.7z"/>
				<path class="st20" d="M578.5,356.6C578.5,356.6,578.5,356.6,578.5,356.6c0,0.1,0,0.1,0,0.1C578.5,356.7,578.5,356.6,578.5,356.6
					z"/>
				<path class="st26" d="M622.1,207.4c0.1,0.7,0.1,1.3,0.1,2C621.8,208.9,621.8,208.1,622.1,207.4z"/>
				<path class="st23" d="M507.9,280.5c-0.1-0.9,0-1.9,0.4-2.9c0.2-0.8,0.4-1.5,1-2.1c0.5-0.4,1.1-0.8,1.7-0.9
					c0.7-0.2,1.6-0.2,2.5-0.1c0,0,0-0.1-0.1-0.1c-0.6-0.9-1.3-1.7-2-2.3c-2.5-1.5-4.5,1.4-5.7,3.5c-0.9,1.7-0.6,4.3-0.8,6.2
					c-0.1,0.7-1.1,0.6-1-0.1c0.1-1.8,0.1-3.6,0.3-5.4c0.2-1.6,1.1-2.6,1.7-4c0.4-0.9,1.1-1.6,1.9-2.1c-2.2-0.4-7.2,0.8-6.4,3.7
					c0.2,0.5-0.7,0.8-0.9,0.3c-0.7-1.4-0.6-2.6-0.2-3.6c1.5-3,7.2-4.3,10.2-3.3c6.9,2.4,10.1,11.9,11.7,18.2
					c0.5,1.9-2.3,3.2-3.5,1.6c-1.1-1.5-2.3-2.5-4-3.3c-1.4-0.6-2.4-0.6-3.2-0.1c-1.4,0.8-1.8,3-1.1,4.9c1.6,4.1,6.4,2.1,9,4.4
					c0,0,0,0,0,0c0.4,0.4,0.6,1.1,0,1.5c-4.9,3.4-10.2-0.2-12.5-4.9c-0.7-1.4-1.1-3-1.1-4.5C506,282.8,506.7,281.3,507.9,280.5z"/>
				<path class="st23" d="M582.7,271.6c-2.2-0.2-3.7-4.9-3.2-10.5c0.5-5.6,2.7-10,5-9.8c2.2,0.2,3.7,4.9,3.2,10.5
					C587.1,267.4,584.9,271.8,582.7,271.6z"/>
				<path class="st23" d="M598.1,263.1c1-11.3-4.3-20.7-12-21.5l-0.1,0c-7.8-0.7-17.9,7.3-18.9,18.3c-0.9,10.6,4.8,19.9,12.8,20.7
					l0.1,0C587.7,281.2,597.1,274.2,598.1,263.1z M596.4,262.9c-0.9,9.8-9.3,16.5-16.2,15.9l-0.1,0c-7-0.7-12.1-9.1-11.2-18.8
					c0.9-10,10-17.4,17-16.7l0.1,0C592.6,243.9,597.3,252.8,596.4,262.9z"/>
				<path class="st23" d="M599.5,376.7c0.4-0.1,0.7,0.6,0.2,0.7c-4.8,1.8-10.1,2-14.8-0.3c-0.5-0.3-0.6-1-0.3-1.4
					c0.1-0.2,0.4-0.3,0.6-0.2c0.8,0.2,1.6,0.3,2.4,0.5C591.6,376.9,595.4,377.5,599.5,376.7z"/>
				<path class="st23" d="M631.7,273.1c-2.4-0.2-3.9-4.4-3.5-9.4c0.4-5,2.7-8.9,5.1-8.7c2.4,0.2,3.9,4.4,3.5,9.4
					C636.3,269.4,634,273.3,631.7,273.1z"/>
				<path class="st23" d="M650.5,231c0.5,0.5-0.3,1.3-0.9,0.9c-2.8-1.9-5.2-4-8.2-5.6c-0.8-0.4-1.6-0.7-2.4-1
					c-4.8-1.4-10.7-0.3-13.3,4.2c-0.4,0.7-1.5,0.1-1.2-0.7c1.3-3.3,3.5-5.7,6.2-7c2.1-1,4.7-1.4,7.4-1
					C644.1,221.7,647,227,650.5,231z"/>
				<path class="st23" d="M651.5,265.1c0.3-11.6-7.2-21.4-13.8-22c-0.2,0-0.4,0-0.6,0c-3.5-0.1-6.7,2.3-9.1,6.7
					c-2.2,4.1-3.5,9.5-3.7,15.2c-0.3,9.9,4.6,17.6,10.1,20.1c0,0.1,0,0.2,0.1,0.4c1.3,1.8,3.2,2.2,5.1,2c0.8-0.1,1.6-0.2,2.3-0.4
					c0.6-0.1,0.4-1-0.1-0.9c-1.8,0.4-3.8,0.6-5.3-0.3c0.3,0.1,0.6,0.1,0.9,0.2c0.2,0,0.4,0,0.6,0c0.8,0,1.6-0.1,2.3-0.3
					C646.5,284,651.2,275.5,651.5,265.1z M638.2,284.2c-5.8-0.2-12.3-8.3-12-19.2c0.1-5.3,1.4-10.6,3.5-14.3
					c2.1-3.8,4.7-5.8,7.4-5.8c0.1,0,0.3,0,0.4,0c5.8,0.6,12.4,9.5,12.2,20.2C649.4,275.8,644.3,284.3,638.2,284.2z"/>
				<path class="st23" d="M677.9,273.6c0.3-0.1,0.6-0.2,0.7-0.6c4.2-9.8,16.2-9.6,19.7,0c1.9,5.2,2.6,12.9,2,18.4
					c-0.2,2-0.7,4.6-1.4,6.6c-2.5,6.7-8.8,12.2-16.6,11.4c-2.2-0.2-4.1-1.4-5.3-3c-0.3-0.6-0.9-1-1.6-1.1c-0.1,0-0.1-0.1-0.2-0.2
					c0,0,0-0.1-0.1-0.1c0.6-1.7,1.1-3.5,1.5-5.2c0.3-1.1,0.6-2.2,0.8-3.3c0-0.2,0.1-0.5,0.1-0.7c0.1-0.6,0.2-1.3,0.3-1.9
					c0.1-0.9,0.3-1.9,0.4-2.8c0.4,0,0.7-0.1,1-0.6c1.8-2.7,5.6-3,6.1,0.7c0,0.1,0,0.1,0,0.2c0.5,3.8-3.1,5.2-6.4,4.6
					c-0.4-0.1-0.7,0.2-0.8,0.4c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.2-0.1,0.4,0,0.6c1.8,3.5,6.1,2,8.5-0.9c0.3-0.4,0.6-0.8,0.8-1.2
					c0.1-0.1,0.1-0.2,0.2-0.4c0.5-1,0.8-2.1,0.7-3.2c2.4-0.9,2.8-4.2,2.2-6.6c-0.7-2.5-2.5-4.5-4.9-5.1c0.5-0.7,1.1-1.4,1.9-2.1
					c0.6,0.1,1.2,0.1,1.7,0.5c0.6,0.4,1.1,0.9,1.4,1.6c0.6,1.1,1.3,2.7,1.4,3.9c0,0.5,0.7,0.4,0.8,0c0.2-1,0.4-1.7,0.3-2.7
					c-0.2-1-0.5-1.9-1.1-2.7c-0.3-0.5-0.9-1.1-1.5-1.6c0,0-0.1,0-0.1-0.1c0.2,0,0.3,0.1,0.5,0.1c0.9,0.4,1.6,1.1,2.6,1.6
					c0.4,0.2,0.6-0.4,0.3-0.6c-1.2-0.9-0.6-2.9-2.6-3.4c-1.9-0.5-3.6,0.1-5.1,1.3c-3.3,2.8-5.3,6.6-7.4,10.3
					C678.8,282.1,678.5,277.9,677.9,273.6z M677.5,269.4c-1.1-4.6-2.6-9.1-4.6-13.7c-0.1-0.2-0.3-0.4-0.4-0.6
					c0.4-3.1,0.1-6.5-0.6-10c-0.3-1.5-0.7-3.1-1.1-4.7c-0.1-0.6-0.8-0.5-1-0.1c0,0.1-0.1,0.2-0.1,0.3c0.3,6.6,0.6,13.6-3.2,18.7
					c0.7-4.7,1.7-9.6,0.2-14c-2.3-6.9-5.9-13.1-10.8-18.5c-4.4-4.7-10.4-8-16.1-10.8c-4.5-2.2-9.4-5-14.5-5.3c0,0-0.1,0-0.1,0
					c0-1.7-0.3-3.4-0.7-5c-1.1-3.9-3.6-7.3-7.9-9.5c-0.8-0.4-1.5,0.9-0.8,1.4c3.7,2.2,5.6,5.7,6.1,9.6c0.1,0.7,0.1,1.3,0.1,2
					c0.1,5.6-2.3,11.6-6,15.7c-0.9,1-1.9,1.9-2.9,2.6c-1.6-5.3-5-9.8-9.9-12.7c-3.4-1.9-8-4.4-12.3-4.5c-0.2-1.1-0.6-2.3-1.1-3.3
					c-0.2-0.5-0.5-0.9-0.7-1.2c-1.7-2.1-4.3-6.2-7.1-3.5c-0.3,0.3-0.2,0.9,0.3,0.9c3.7-0.1,5,4.3,5.5,7.8c-0.6,0.7-0.5,1.8,0.3,2.3
					c0,0.1,0,0.2,0,0.2c0,0.2,0,0.4,0.1,0.6c0.1,1.2-0.2,2.1-0.7,2.9c-4.6-5.6-13.5-6.5-20.5-5.9c-5,0.4-9.5,1.7-13.6,4.7
					c-2.1,1.6-4.3,3.2-6,5.3c-0.4,0.4-1.7,3-2.5,4.3c-0.6-0.9-1.3-1.8-2.1-2.7c-0.1-0.1-0.2-0.1-0.3-0.2c-0.9-0.6-2.2,0.5-1.4,1.6
					c0.9,1.2,1.7,2.5,2.2,3.8c0,0.1,0,0.2,0,0.2c0,0.2,0.1,0.4,0.1,0.5c0.1,0.4,0.3,0.7,0.6,0.9c2.8,8.1,0.2,17.4-4,24.8
					c-0.1,0.2-0.3,0.5-0.4,0.7c-1.9,3.3-4.1,6.9-5,10.7c-0.4,1.7-1.4,3.9-1.5,5.7c0,1.3,0.1,3-0.3,4.5c-2.3-1.4-3.7-3.7-4.8-6.2
					c-0.2-0.4-0.3-0.7-0.4-1.1c-0.1-0.2-0.2-0.3-0.3-0.3c-1.3-7.7-8.9-12.8-16.7-13.3c0.4-4.2,0.7-8.8,1.6-13.1
					c1.2-5.6,3.4-10.9,8.1-14.5c1-0.8,0.6-2.3-0.4-2.8c-0.5-0.2-0.9-0.4-1.3-0.5c1.2-1,2.6-1.6,4.4-1.5c1.7,0.2,2.4-1.9,1.1-2.9
					c-1.1-0.9-2.2-1.4-3.4-2c1.9-0.5,3.7-0.7,5.8-0.2c0.5,0.1,0.9,0.3,1.4,0.5c0.1,0,0.2,0,0.3,0c1,0.6,2.4-0.7,1.9-1.8c0,0,0,0,0,0
					c-1.6-3.8-1.9-10.5,0.2-15.1c-0.5,3.8-0.6,7.9,1,10.6c0.2,0.3,0.4,0.5,0.6,0.6c0.6,1.4,2.9,1.4,3.1-0.4
					c1.1-10.2,16.1-15.7,23.6-20.3c9.5-5.8,19.4-10.3,30.6-11.7c12.2-1.5,23.1,0.7,35,2.9c5.4,1,11.3,2,16.8,1.2
					c2.3-0.3,4.3-1.1,6.3-2c-1.1,2.5-2.8,4.7-4.2,7.3c0,0.1-0.1,0.2-0.1,0.3c-0.9,0-1.7,0.1-2.6,0.2c-0.4,0.1-0.7,0.4-0.7,0.8
					c-0.8,0.2-0.8,1.5,0.1,1.6c0.2,0,0.4,0,0.6,0c0.4,0,0.8-0.2,0.9-0.5c0.1-0.4,2.6,0.2,5.1,0.9c2.2,0.6,4.4,1.3,4.9,1.6
					c3.6,1.5,7.1,3.2,10.3,5.5c6,4.5,10.7,10.5,14.3,17c5.1,9.3,8,19.1,16.2,25.9c-2.5,1.4-5.8,1.8-8.3,2.6c-0.9,0.3-1.3,1.6-0.2,2
					c0.7,0.2,1.4,0.4,2.1,0.5c1.2,2.5,2.1,4.4,2.3,7.1c0,0.4,0,0.8,0,1.2c0,1.9-0.3,3.8-0.4,5.7c-2.5,0.2-4.8,1.4-6.7,3
					c-1.4,1.2-2.4,2.8-3.1,4.4c-0.1,0.2-0.1,0.3-0.2,0.5C677.7,269.8,677.6,269.6,677.5,269.4z M551.3,359.4
					c5.3-2.8,10.8-4.8,17.1-4.3c0.2,0,0.5,0,0.7,0.1c1.1,0.1,1.8-1.2,1.4-2c1.9-0.1,3.8-0.2,5.8-0.2c-1.1,1.4-1.8,2.8-2.1,4.2
					c-1.5,7.5,7.6,14.9,15,16.9c10.5,2.7,22.5-3.6,21.2-14.3c-0.2-1.4-0.6-2.9-1.2-4.4c0,0,0,0,0-0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0
					c2.7-0.3,4.8-0.5,7.7-0.5c4.2,0,7,4.1,8.9,5.2c-0.1,0.5,0.1,1.1,0.6,1.3c0.3,0.1,0.5,0.2,0.8,0.3c0,0,2.4-0.5,0.7-2.2
					c-1.7-1.7-3.9-5.1-9-6.6c19.6-3.5,37.3-15.5,48.5-31.9c2.9-4.2,5.2-8.5,7-12.8c0.2,0.3,0.5,0.6,0.8,0.7c-0.8-0.2,0.5,0.7,1,1.5
					c0.7,1.4,2.5,1.8,3.9,2.1c4.6,1,9.6,0.4,13.4-2.5c9.1-6.7,11.1-15.2,10.4-26.2c-0.6-8.5-3.5-17.4-12-20.9
					c-0.3-0.1-0.5-0.2-0.8-0.3c0.2-2.1,0.5-4.7,0.4-7.3c-0.1-2.7-0.7-5.3-2.1-7c3.2-0.4,6.3-1.7,8.2-3.9c0.8-0.9,0.5-2.6-0.5-3.2
					c-12.8-8.5-15.2-25.8-25.5-36.8c-6.2-6.7-15.4-13-24.9-14.1c-0.1,0-0.1,0-0.2,0c3.7-2.3,5.3-7.3,6-11.5c0.3-1.5-1.5-2.7-2.8-2
					c-6.7,3.3-12.8,4.5-20.3,3.2c-6.9-1.2-13.8-3.1-20.7-3.9c-11.1-1.3-22.7-0.3-33.2,3.3c-10.8,3.7-20.3,10.3-30.1,16
					c-4.3,2.6-9.4,6.5-11.9,11.4c-0.1-3.6,1-7.9,1.2-10.6c0.1-1.3-1.3-2.5-2.5-1.8c-6.6,3.8-8.2,15.3-5.1,22.2
					c-3.5-1.6-6.4-0.7-10.6-0.5c-1.4,0.1-1.5,2-0.6,2.7c0.9,0.8,1.9,1.4,2.9,1.9c-2.2,1.1-4,3-5.5,5.2c-0.9,1.3,0.4,2.9,1.8,2.5
					c-6.3,7.2-7.6,17.7-8.4,26.9c0,0.1,0,0.3,0,0.4c-0.9,0.1-1.7,0.3-2.6,0.6c-9.4,3-15.5,11.6-15.2,21.6
					c0.3,9.8,4.9,20.7,13.7,25.9c6.9,4,18.4,4,24-2.7c0.8,3,2.6,7.7,3.7,10.3c3.9,9.2,11.4,16.1,19.5,21.7
					c8.8,6.1,18.8,11.6,29.2,15.3c-0.1,0.6-0.4,1.1-0.5,1.7c-3-0.1-5.8,0.3-8.5,0.9c-1.2,0.3-2.4,0.6-3.7,0.9
					c-5.9,0.3-11.1,2.5-15.6,5.5c0,0-2.7,1.8-2.9,2.8C547.9,360.2,547.6,361.3,551.3,359.4z M578.5,356.7c0,0,0-0.1,0-0.1
					c0,0,0,0,0,0c0.2,0.1,0.4,0.3,0.7,0.3c1.1,0.3,1.8-0.9,1.3-1.6c0.6-0.8,0.8-1.7,0.9-2.8c0-0.9,0.3-1.7,0.5-2.4
					c0.1-0.2,0.2-0.5,0.2-0.7c0.2,0.1,0.5,0.1,0.7,0.2c7.3,2.3,14.9,3.8,22.4,4c-1.2,2.1-1.1,4.4-0.8,6.8c0.1,0.7,0.2,1.4,0.3,2.1
					c0.1,0.4,0.7,0.5,0.8,0.1c0.1-0.4,0.3-0.9,0.4-1.3c0.3-1,0.6-2,0.8-3c0.1-1,0.4-1.9,0.8-2.8c0.7,2.6,0.7,4.9,0.1,6.9
					c-2.2,8.3-13.9,10.2-21.9,6.1c-1.8-0.9-3.9-2.4-5.4-4.2C578.6,362.2,577.5,359.5,578.5,356.7z M502.5,259.7
					c9.6-4.9,21,1.3,23.1,10.9c0.2,0.9,0.6,1.8,0.8,2.8c0.1,0.5,0.6,0.6,0.9,0.4c1.1,2.7,3.4,5.1,5.6,6.3c0.8,0.5,1.9,0.5,2.5-0.4
					c2.9-3.9,1.4-9.6,3.6-14c2.5-5,6.1-10.1,8-15.4c1.8-4.9,2.5-10.4,1.6-15.6c-0.3-1.8-0.8-3.6-1.4-5.3c0.2-0.2,0.4-0.4,0.5-0.7
					c3.3-7.2,11.1-12.7,19-13.4c5.6-0.4,13.5-0.4,17.8,3.9c-1.4,0-2.8,0.2-4.2,0.6c-4.9,1.4-9.1,5-12.1,9c-0.5,0.7,0.3,1.8,1.1,1.4
					c4.4-2.3,9-6.1,14.1-6.6c5.1-0.4,11.6,0.5,14.7,5c0.7,1,2.3-0.1,1.8-1.1c-2-4.2-5.3-6.4-9.3-7.5c0.3-0.5,0.6-0.9,0.9-1.4
					c0.3-0.5,0.5-1,0.5-1.5c0.1-0.8,0-1.7-0.1-2.6c2.1,0.4,4.3,0.7,6.2,1.7c5.6,3,10,6.7,11.8,12.7c0.2,0.6,0.4,1.2,0.5,1.9
					c0.2,1.2,1.6,2,2.7,1.4c4.9-2.5,8.8-7.4,10.9-13c0.6-1.8,1.1-3.6,1.3-5.4c0-0.2,0.1-0.4,0.1-0.6c0.2,0,0.4,0.1,0.6,0.1
					c4.5,0.9,8.9,3.6,12.9,5.7c5.7,3,11.6,6.5,15.7,11.5c3.8,4.6,8.7,11.5,9.1,17.8c0.2,3.4-0.4,6.8-0.8,10.2
					c-0.2,1.8-0.5,3.6-0.5,5.5c-0.1,1.8,1.7,2.6,3.2,1.7c2.9-1.8,4.7-4,5.9-6.4c7,20.4,4.3,45.2-9.2,62.3c-0.6,0.8-1.2,1.5-1.8,2.2
					c-11.7,13.8-28.7,24.6-47.2,25.7c-20.8,1.2-41.3-6.5-58.2-18.2c-7-4.8-15.9-10.9-19.6-18.8c-0.5-1-1-2-1.5-3
					c-2.2-4.4-3.6-11.6-4-16.3c0-0.5-0.3-0.8-0.7-0.9c-0.6-0.2-1.4,0-1.7,0.7c-0.5,1.1-0.8,2.2-0.9,3.4c-0.3,0.1-0.5,0.3-0.7,0.6
					c-5.5,6.8-17.1,7.3-23,2c-3.2-2.8-6-6.3-7.5-10.3c-0.8-2.1-1.6-4.8-2-7C491.6,272,495.9,263.1,502.5,259.7z"/>
				<path class="st22" d="M609.6,280.5c0,0,10.6,1.1,6,11.2c0,0-2.9,5.2-12.9-1.3c0,0,11.4,9.7,15.5,0.6
					C618.2,291,622.5,280.2,609.6,280.5z"/>
				<g>
					<path class="st23" d="M600.5,340.1c6.5,1.3,12.9,0.8,19.3-1c1.3-0.3,2.1,1.5,0.8,2c-6.6,2.3-14.5,5.4-20.7,0.4
						C599.2,341.1,599.7,340,600.5,340.1z"/>
					<path class="st23" d="M604,331.7c-10.1-1.5-24.3-8.6-26.1-19.8c0,0,0,0,0,0c-0.5-0.2-1.1-0.5-1.6-0.8c-3.6-2.1-6.7-4-10.7-5.4
						c-0.8-0.3-0.7-1.5,0-1.7c2.8-1.2,5.5,0.1,7.9,1.7c4.7,3.1,8.4,5.4,14.2,5.4c0.6,0,0.7,0.9,0.1,1c-2.6,0.5-4.9,0.9-7.1,0.6
						c3.5,4.1,6.6,8,11.5,10.9c4.3,2.6,9.3,3.9,14.2,4.8c5.1,0.8,10.2,0.5,15.3-0.1c5.3-0.7,9.4-4.2,14.5-5.5
						c0.4-0.1,0.9,0.5,0.4,0.7c-4.9,3.1-8.7,6.9-14.6,8.1C616.1,332.8,609.9,332.6,604,331.7z"/>
				</g>
			</g>
		</g>
	</g>
	<path class="st28" d="M802.4,538.3c0-1.8,0.5-106.6,0.5-106.6l5,105.6c0,0,0.7,4.6-2.2,4.6S802.4,540.4,802.4,538.3z"/>
	<line class="st8" x1="243" y1="845.7" x2="300.7" y2="812.8"/>
</g>
</svg>
</div>
<script>
for(var i=0; i<story4items.length; i++)
	{
		// $("#"+story4items[i]+" .st17").attr('style', "fill:"+story4colors[i]);		 
		  $("#"+story4items[i]+" .st17").attr('style', "fill:"+story4colors[i]+"; opacity:"+story4opacity[i]);		
	}
	
for(var i=0; i<story4items.length; i++)
	{
		// $("#"+story4items[i]+" .sta").attr('style', "fill:"+story4colors[i]);		 
		  $("#"+story4items[i]+" .sta").attr('style', "fill:"+story4colors[i]+"; opacity:"+story4opacity[i]);		
	}	
	
	
	/*

  $("#teddy").click(function(){
         $("#teddy .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#table").click(function(){
         $("#table .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#_wash_basin_top").click(function(){
         $("#_wash_basin_top .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#wall").click(function(){
         $("#wall .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#face_and_body").click(function(){
         $("#face_and_body .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#eyes").click(function(){
         $("#eyes .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#T-shirt").click(function(){
         $("#T-shirt .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#hair").click(function(){
         $("#hair .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Jeans").click(function(){
         $("#Jeans .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#towel").click(function(){
         $("#towel .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#towel_holder").click(function(){
         $("#towel_holder .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#wash_basin_inside_1_").click(function(){
         $("#wash_basin_inside_1_ .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#shapoo_bottle_01").click(function(){
         $("#shapoo_bottle_01 .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#shapoo_bottle_02").click(function(){
         $("#shapoo_bottle_02 .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#shapoo_bottle_03").click(function(){
         $("#shapoo_bottle_03 .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#water").click(function(){
         $("#water .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#water_tab_1_").click(function(){
         $("#water_tab_1_ .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#water_drop").click(function(){
         $("#water_drop .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#box").click(function(){
         $("#box .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#tooth_paste").click(function(){
         $("#tooth_paste .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#tooth_brush").click(function(){
         $("#tooth_brush .st17").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	*/
	
	
	$("#table").click(function(){
		
       var ind = story4items.indexOf("table");

		 story4colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#table .st17").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story4opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#table .st17").attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
	$("#wall").click(function(){
		
       var ind = story4items.indexOf("wall");

		 story4colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#wall .st17").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story4opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#wall .st17").attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	$("#floor").click(function(){
		
       var ind = story4items.indexOf("floor");

		 story4colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#floor .st17").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story4opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#floor .st17").attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
		$("#towel_holder").click(function(){
		
       var ind = story4items.indexOf("towel_holder");

		 story4colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#towel_holder .st17").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story4opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#towel_holder .st17").attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
	
	$("#wash_basin_inside_1_").click(function(){
		
       var ind = story4items.indexOf("wash_basin_inside_1_");

		 story4colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#wash_basin_inside_1_ .st17").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story4opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#wash_basin_inside_1_ .st17").attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	$(".st17").click(function(){
		var id = $(this).parent().attr('id');
		console.log(id);
        //$("#"+id+" .st17").attr('style', "fill:"+_currentFill);
		 var ind = story4items.indexOf(id);
		 story4colors[ind] = _currentFill;
		 
		if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		    story4opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		
    });

	$(".sta").click(function(){
		 
		var id = $(this).parent().attr('id');
		console.log(id);
       // $("#"+id+" .sta").attr('style', "fill:"+_currentFill);
	   
	   var ind = story4items.indexOf(id);
		 story4colors[ind] = _currentFill;
		 
	   if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		   story4opacity[ind] = 1;
		  }
		 
		totalcolored++;
        enableNext();
				
		 
        
    });
	
	
	function changeImg1(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		imgSrc = "images/arabic_titles/title_04/word01/title04_word01_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}
	
	function changeImg2(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		//alert(SELECTED_COLOR);
		imgSrc = "images/arabic_titles/title_04/word02/title04_word02_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}
</script>


      <!--  <img src="images/arabic_titles/title_04/word02/title04_word02_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word02_ffffff.png" width="0" height="0" />
 		<img src="images/arabic_titles/title_04/word02/title04_word02_f7f7f7.png" width="0" height="0" />        
        
        <img src="images/arabic_titles/title_04/word02/title04_word01_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_04/word02/title04_word01_ffffff.png" width="0" height="0" />
 		<img src="images/arabic_titles/title_04/word02/title04_word01_f7f7f7.png" width="0" height="0" />-->
