@font-face {
  font-family: 'Cocon-Light';
  src: url('fonts/Cocon-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Light.woff') format('woff'), url('fonts/Cocon-Light.ttf')  format('truetype'), url('fonts/Cocon-Light.svg#Cocon-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BubbleBash';
  src: url('fonts/BubbleBash.eot?#iefix') format('embedded-opentype'),  url('fonts/BubbleBash.woff') format('woff'), url('fonts/BubbleBash.ttf')  format('truetype'), url('fonts/BubbleBash.svg#BubbleBash') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cocon-Regular';
  src: url('fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Regular.woff') format('woff'), url('fonts/Cocon-Regular.ttf')  format('truetype'), url('fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    display: block;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
}


#mob-container {}

.main{ width:100%; height:100%; position:absolute; left:0px; top:0px;}
@media(max-width:768px) {
    .main{
        overflow: scroll;
    }

}
.mlogo{ position:absolute; top:12px; left:20px; width:100px;display: none;}
.mlogo img{ width:100%; height:auto;}
.color-paint-area{ position:fixed; bottom:0px; width:100%; height:53px; background-image:url(../images/mob-paint-col_bg.jpg); background-position:center bottom; background-repeat:no-repeat;}

.color-options{ width:82%; float:left;}
.color-options ul{ margin:0px; padding:2px 0px 2px 0px;}
.color-options ul li{ list-style:none; display:inline-block; width:6.5%; margin-left:5px; padding:0px; height:50px; padding:12px 3px 0px 3px}
.color-options ul li.selected{ background-color:#231f20;}
.color-options ul li img{ width:100%; height:auto;}
.color-handlers{ width:15%; float:right;}
.clearfix{ clear:both;}

.brush-holder-m
{
	background-image:url(../images/color/brush_open-m.png); width:40px; height:38px; background-position:top center; background-repeat:no-repeat;
	margin-left:10px; margin-top:8px;
	background-size:100%;
	float:left;
}
.razor-holder-m
{
	background-image:url(../images/color/razor-holder-m.png); width:32px; height:38px; background-position:top center; background-repeat:no-repeat;
		margin-left:0px; margin-top:8px;
	background-size:100%;
	float:left;
}
.m-game-area{width:60%; margin:0 auto;}
.game_h1{ padding-top:10px;}
.game_h2{  padding-top:10px; padding-bottom:10px;font-family: 'Cocon-Light';}

.m_other_stories{ width:17%; position:absolute; z-index:999; top:12px; right:20px;}
.save-img a{ background-size:100%; width:100px;}
.share-img a{ background-size:100%; width:100px; margin-top:0px;}
.clear-img a{ background-size:100%; width:100px; margin-top:0px;}
@media only screen and (orientation:portrait){
  #mob-container { 
    
  -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
height:100vw;
width:100vh;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;    
 
  }
}
@media screen and (orientation:landscape) {
  #mob-container {
   -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
	 display:inline;
	 height:100vh;
width:100vw;
	 }
}
