@font-face {
  font-family: 'Cocon-Light';
  src: url('fonts/Cocon-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Light.woff') format('woff'), url('fonts/Cocon-Light.ttf')  format('truetype'), url('fonts/Cocon-Light.svg#Cocon-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BubbleBash';
  src: url('fonts/BubbleBash.eot?#iefix') format('embedded-opentype'),  url('fonts/BubbleBash.woff') format('woff'), url('fonts/BubbleBash.ttf')  format('truetype'), url('fonts/BubbleBash.svg#BubbleBash') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cocon-Regular';
  src: url('fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Regular.woff') format('woff'), url('fonts/Cocon-Regular.ttf')  format('truetype'), url('fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body
{
	margin:0px;
	padding:0px;
}

*{
	outline:0;
	border:none;
}
a {
   outline: 0;
}
/*@media only screen and (orientation:portrait){
  body { 
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
   
  }
}
@media only screen and (orientation:landscape){
 body { 
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
*/
/************* splash Screen*************/
.splash-pg-bg
{
	background-image:url(../images/splash-screenbg.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	
}

.logo_splash {
    left: 30%;
    position: absolute;
    top: 5%;
}
.splash-content{position:absolute; left:16%; width:60%; text-align:center;top:25%}
.splash-content p{ font-family:Arial, Helvetica, sans-serif; font-size:14px; width:60%; text-align:center; color:#16275c; padding:0 25%;}
.splash-content h1 img { width:60%; height:auto;}
.intro_content{ position:relative; width:100%;}
.intro_content img { width:80%; height:auto;}
.splash_sc1{
	position:absolute;
	top:0px;
	right:0px; 
	text-align:right;
	
 	}


.splash_sc2{
	position:absolute;
	bottom:0px;
	right:0px;
	text-align:right;

	}
	
.splash_sc3{position:absolute;bottom:0px;right:25%; text-align:right; }
.splash_sc4{position:absolute;bottom:0px;left:21%;  text-align:left;}
.splash_sc5{position:absolute;bottom:0px;left:0%;  text-align:left;}

.splash_sc6{position:absolute;top:0px;left:0%; }
.splash_sc1 img{ width:70%; height:auto;}

.splash_sc2 img{ width:100%; height:auto;}
.splash_sc3 img{ width:100%; height:auto;}
.splash_sc4 img{ width:100%; height:auto;}
.splash_sc5 img{ width:100%; height:auto;}
.splash_sc6 img{ width:100%; height:auto;}
.close-page{ display:none;}
/*********** Paint Screen ************************/
.game-pg-bg
{
	background-image:url(../images/game_page_bg.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	
}

#wrapper{display:block;}
h1{  font-family: 'BubbleBash'; font-size:30px; color:#5fb3eb; margin:0px; /*padding-bottom:5px; padding-top:15px;*/  padding-top:8px; text-align:center;}
h2{   font-family: 'Cocon-Light'; font-size:16px; color:#636363; margin:0px; text-align:center; font-weight:normal}

.game-stroy-area
{
	width:950px;
	margin:0 auto;
	position:relative;
	margin-top:20px;
	
}
.story-bg { float:left; width:850px;  height:620px; background-image:url(../images/game_page_bg_1.png); background-size:cover; background-repeat:no-repeat; background-position:top center;}
.story-bg > img
{
	width:100%;
	height:auto;
}
.color-pallete{ float:left; width:100px; position:relative;left:-18px;margin-top:60px;}
.color-pallete-pos{ position:absolute;top:10%; left:25%;}
.clear{clear:both}
.story_game_pos{ position:absolute; width:850px; top:13%; left:25px;}
.story_game_l{ float:left;width:70%; position:relative;}
.story_game_r{ float:left; width:27%;}
.right_head{ font-family: 'Cocon-Regular'; color:#f6005a; font-size:18px; padding-bottom:15px; background-image:
url(../images/other_story_line.png); background-position:bottom center; background-repeat:no-repeat; text-align:center;background-size:37%; padding-top:10%;
}
.other_stories_thumb { padding-top:25px;}
.other_stories_thumb ul { margin:0px; padding:0px;}
.other_stories_thumb ul li{  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin:0px; margin-bottom:15px; margin-right:15px; border-radius:5px; border:1px solid #e5e6e4; list-style:none; width:40%; float:left; opacity:0.5; position:relative;}
.other_stories_thumb ul li img{ width:100%; height:auto; display:block; }
.other_stories_thumb ul li.active{ opacity:1;border:1px solid #e5e6e4;} 
.other_stories_thumb ul li.current{ opacity:1;border:1px solid #37b1de;} 
.next-thumb
{
	position: absolute;
  width: 100%;
  height: 100%;
  z-index: 15;
  top: 0%;
  left:0%;
  
  background-color: rgba(255,255,255, 0.6);
  line-height:60px;
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  color:#000;
  font-weight:bold;
  
}
.brush-holder
{
	background-image:url(../images/color/brush_open.png); width:60px; height:44px; background-position:top center; background-repeat:no-repeat;
	margin-left:15px;
}
.razor-holder
{
	background-image:url(../images/color/razor-holder.png); width:60px; height:51px; background-position:top center; background-repeat:no-repeat;
	margin-left:15px; margin-top:8px;
}

.brush-holder-1
{
	background-image:url(../images/color/brush_open.png); width:60px; height:44px; background-position:top center; background-repeat:no-repeat;
	margin-left:5px;
	background-size:80%;
}
.razor-holder-1
{
	background-image:url(../images/color/razor-holder.png); width:60px; height:51px; background-position:top center; background-repeat:no-repeat;
	margin-left:5px; margin-top:8px;
	background-size:80%;
}


.color_options
{
	padding-top:5px; width:105px;
}
.color_options ul
{
	margin:0px;
	padding:0px;
}
.color_options ul li
{
	list-style:none;
	width:50%;
	text-align:center;
	float:left;
	margin-bottom:-10px;
}
.hideDesktop{ display:none;}
.fill-area{ padding-top:2%}

.drawing_map{ /* width:500px;height:auto; padding-top:15px;*/}
.game-canvas{width:95%; height:385px;text-align:center;}
.page_number{ display:none;}
.color-pallet-open{ display:none;}
.color-pallete-mobile{ display:none;}
.play-now a { display:block; background-image:url(../images/play_btn_normal.png); background-position: top center; background-repeat:no-repeat; width:180px; height:58px; background-size:100% }
.play-now a:hover { background-image:url(../images/play_btn_hover.png); background-position:top center; background-repeat:no-repeat;}
.paint-mfclogo {
    left: 67px;
    position: absolute;
    top: 11px;
    width: 100px;
}
.paint-mfclogo > img {
    height: auto;
    width: 100%;
}
.jnr_logo
{
	text-align:center;
}
#svgarea{ min-height:400px;}
.game-save{width:auto; text-align: center; padding-top:12px;}
.other-game-no{float:right; width:auto; text-align:left; display:none;}
.share-button{ width:auto;padding-top:15px;}

.save-img a { display:block; background-image:url(../images/save-img.png); background-position: top center; background-repeat:no-repeat; width:150px; height:48px; background-size:100% }
.save-img a:hover { background-image:url(../images/save-img-hover.png); background-position:top center; background-repeat:no-repeat;}


.share-img a { display:block; background-image:url(../images/share_btn.png); background-position: top center; background-repeat:no-repeat; width:150px; height:48px; background-size:100%; margin-top:15px;}
.share-img a:hover { background-image:url(../images/share-btn-hover.png); background-position:top center; background-repeat:no-repeat;}

.clear-img a { display:block; background-image:url(../images/share_btn.png); background-position: top center; background-repeat:no-repeat; width:150px; height:48px; background-size:100%; margin-top:15px;}
.clear-img a:hover { background-image:url(../images/share-btn-hover.png); background-position:top center; background-repeat:no-repeat;}

.game_h2{ padding-bottom:15px;}
@media (min-width: 320px) and  (max-width: 767px){
	.game-pg-bg
{
	background-image:url(../images/game_page_bg_1_mob.jpg);
	background-position:center bottom;
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
	
}	
.hideMob{display:none}
.game-stroy-area{ margin:0px; width:100%;}
.story-bg{ float:none; width:100%; text-align:center; height:auto;}
.color-pallete{ display:none}
.color-pallete-mobile{ background-image:url(../images/coller-pallete_desktop_mob.png); background-repeat:no-repeat;
 background-position:right; width:60px; height:223px; position:fixed; top:20%; right:0px; text-align:right; z-index:9999; display:block;}
 .color_pallete_icons{ padding-top:15px; text-align:center; width:100%;display:block;}
 .color_pallete_icons img {
    height: auto;
    padding-bottom: 10px;
	padding-left:0px;
    width: 75%;
}
.story_game_l {
    float: none;
    position: relative;
    width: 100%;
}

.right_head {
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 6%;
    text-align: center;
	width:20%;
	background-size:50%;
	 float:left;
}
.story_game_r {
    bottom: -200px;
    float: none;
    position: fixed;
    width: 100%;
	background-image:url(../images/story_pages_bg_mob.png);
	background-position:top center;
	background-repeat:no-repeat;
	z-index:99999!important;
}
.other_stories_thumb{ float:left; width:80%;}
.story_game_pos{ width:100%; left:0px;top:0px;padding-bottom:50px;}
.other_stories_thumb ul li{ width:14%; margin-right:10px;}
.story_game_l h2{ width:50%; margin:0 auto;}
.drawing_map{ width:100%;}
.page_number{ display:inline; font-family: 'Cocon-Regular'; font-size:20px; padding-top:0px; text-align:right; color:#9c9c9c; 


}

#svgarea{ min-height:150px;}
.banner-btn-1{top:40px!important;}
.page_number strong{color:#051244; font-weight:normal; opacity:0.4 }
.color-pallet-open{ display:block; background-image:url(../images/coller-pallete_desktop_mobOpen.png); background-size:95%; background-position:right; background-repeat:no-repeat;
position:fixed; bottom:7%; right:-800px; width:100%; height:auto; z-index:999999; padding-top:10px; padding-right:10px;}
.color-pallet-open ul{ padding:0px; margin:0px;}
.color-pallet-open ul li{ list-style:none; display:inline-block; width:7%;}
.color-pallet-open ul li img{ width:100%; height:auto;}
.splash_sc1 img{ width:30%; height:auto;}

.splash_sc2 img{ width:40%; height:auto;}
.splash_sc3 img{ width:40%; height:auto;}
.splash_sc4 img{ width:40%; height:auto;}
.splash_sc5 img{ width:40%; height:auto;}
.splash_sc6 img{ width:40%; height:auto;}
.splash-content p { display:none;}

.play-now img { width:40%; height:auto;}


.logo_splash { position:relative; padding-top:15px; left:auto; top:auto; width:auto; text-align:center;}
.logo_splash img{ width:100px; height:auto;}
.splash-content {
    left: auto;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 25%;
    width: 65%;
}
.close-page {
    position: absolute;
    right: 13px;
    top: 45px;
	display:block;
}
.next-thumb
{
	line-height:45px;
}

	

}

@media (min-width: 320px) and  (max-width: 480px){
	
	.game-save{ position:absolute; bottom:0%;left:10px; }
	.other-game-no{ position:absolute; bottom:0%; right:20px; display:block;}
	.mob_logo{ position:absolute; top:10px; text-align:center; width:100%;}
	
	.color-pallete-mobile{ z-index:999999!important;}
	.color-pallet-open{ top:40%; z-index:9999!important; bottom:auto;}
	
	.color-pallet-open ul{ margin-left:6%;}
	.color-pallet-open ul li{ width:6%;}
	.story_game_r{ z-index:999999!important; height:120px;}
	.story_game_pos{ padding-bottom:0px;}
	.game-controls{ padding-top:15%;}
	.story-bg{ text-align:left;}
	.drawing_map{ width:90%; height:240px;}
	.fill-area{ padding-top:25%;}
	.next-thumb{ display:none;}
	.right_head{ width:100%; padding-top:15px;}
	.other_stories_thumb{ text-align:center; width:90%; padding-left:10%;}
	.close-page{ top:25px;}
	.game-canvas{ width:100%; height:auto;}
}

@media (min-width: 481px) and  (max-width: 667px){
	.drawing_map{ height:240px;}
	.game-controls{ position:relative;}
	.game-save{ position:absolute; bottom:30px;left:10px;}
	.other-game-no{ position:absolute; bottom:20px; right:10px; display:block;}
	.mob_logo{ position:absolute; top:10px; left:20px;}
	.paint_a7{ display:none;}
	.color-pallete-mobile{ z-index:999999!important;}
	.color-pallet-open{ top:50%; z-index:9999!important; bottom:auto;}
	
	.color-pallet-open ul{ margin-left:10%;}
	.story_game_r{ z-index:999999!important}
	.story_game_pos{ padding-bottom:0px;}
	h1
	{
		margin:0px;
		padding:0px;
		height:35px;
	}
	.fill-area{ padding-top:1%;}
	.hide-mobile{ display:none;}
	.game_h2{ padding:0px; font-size:15px;}
	.game-canvas{ width:100%; height:235px;}
}
@media (min-width: 668px) and  (max-width: 767px){
	.drawing_map{ height:265px; margin-top:5px;}
	.game-controls{ position:relative;}
	.game-save{ position:absolute; bottom:30px;left:10px;}
	.other-game-no{ position:absolute; bottom:30px; right:10px; display:block;}
	.mob_logo{ position:absolute; top:10px; left:20px;}
	.paint_a7{ display:none;}
	.color-pallete-mobile{ z-index:999999!important;}
	.color-pallet-open{ top:46%; z-index:9999!important; bottom:auto;}
	
	.color-pallet-open ul{ margin-left:10%;}
	.story_game_r{ z-index:999999!important}
	.story_game_pos{ padding-bottom:0px;}
	h1
	{
		margin:0px;
		padding:0px;
		height:35px;
	}
	.fill-area{ padding-top:1%;}
	.hide-mobile{ display:none;}
	.game_h2{ padding:0px; font-size:15px;}
	.game-canvas{ width:100%; height:270px;}
}
@media (min-width: 300px) and  (max-width: 390px){
	
	.fill-area
	{
		padding-top:1%;
	}
	.page_number
	{
		bottom:-35px;
	}
}
@media (min-width: 768px) {
.mob_logo{ display:none}
}
@media (min-width: 1400px) {
.game-stroy-area
{
	/*width:950px;*/
	width:90%;
	max-width:90%;
	
}
.story-bg {width:90%; min-height:800px;}
.story_game_pos{ width:100%; left:0px;}
.story_game_l{ width:60%;}
.story_game_pos{ top:16%;}
.game-canvas #mysvg2
{
	width:100%;
	height:500px;
}
.paint-mfclogo
{
	left:160px;
	top:30px;
}
.color-pallete
{
	top:150px;
}
.game_h1 svg
{
	width:40%;
	height:auto;
}
h2{ font-size:22px;}
.right_head
{
	font-size:30px;
}
.save-img{ display:inline-block; margin-right:15px;}
.share-img{ display:inline-block;}
}

@media (min-width: 2000px) {
.game-stroy-area
{
	/*width:950px;*/
	width:80%;
	
	
}
.story-bg {width:90%;height:1150px;}
.game-canvas #mysvg2
{
	width:100%;
	height:750px;
}
.save-img a{ width:234px; height:75px;}
.large-color_pallete{ width:216px; height:800px;}
.color_options{ padding-top:25px; width:135px;}
.color_options img{ width:90%; height:auto;}
.color_options ul li{ margin-bottom:5px;}
.color-pallete-pos{ top:10%; left:45%;}
.right_head { font-size:44px; padding-top:7%;}
.brush-holder
{
	width:90px;
	height:66px;
	background-size:90px;
}
.brush-holder img
{
	width:90px;
	height:66px;
}
.razor-holder
{
	width:90px;
	height:77px;
	background-size:90px;
}
.razor-holder img
{
	width:90px;
	height:77px;
}
}



