/************ Intro Animation ************/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading_animation.gif') 50% 50% no-repeat rgb(249,249,249);
}
.loader-ar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/loading_animation-ar.gif') 50% 50% no-repeat rgb(249,249,249);
}
/*.splash-pg-bg
{
	 -webkit-animation-delay: 0.1s;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: splash-pg-bg;
  -moz-animation-delay: 0.1s;-moz-animation-duration: 1s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: splash-pg-bg;
  -ms-animation-delay: 0.1s;-ms-animation-duration: 1s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: splash-pg-bg;
  animation-delay: 0.1s;animation-duration: 1s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: splash-pg-bg;
}
@-webkit-keyframes splash-pg-bg {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes splash-pg-bg {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes splash-pg-bg {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes splash-pg-bg {  0% {opacity:0;}  100% {opacity:1;} }*/

/*.splash_sc1
{
	 -webkit-animation-delay: 3s;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: splash_sc1;
  -moz-animation-delay: 3s;-moz-animation-duration: 1s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: splash_sc1;
  -ms-animation-delay: 3s;-ms-animation-duration: 1s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: splash_sc1;
  animation-delay: 3s;animation-duration: 1s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: splash_sc1;
}
@-webkit-keyframes splash_sc1 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes splash_sc1 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes splash_sc1 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes splash_sc1 {  0% {opacity:0;}  100% {opacity:1;} }*/

.animation1
{
	 -webkit-animation-delay: 3s;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation1;
  -moz-animation-delay: 3s;-moz-animation-duration: 1s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation1;
  -ms-animation-delay: 3s;-ms-animation-duration: 1s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation1;
  animation-delay: 3s;animation-duration: 1s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation1;
}
@-webkit-keyframes animation1 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation1 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation1 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation1 {  0% {opacity:0;}  100% {opacity:1;} }
.animation2
{
	 -webkit-animation-delay: 3.3s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation2;
  -moz-animation-delay: 3.3s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation2;
  -ms-animation-delay: 3.3s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation2;
  animation-delay: 3.3s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation2;
}
@-webkit-keyframes animation2 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation2 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation2 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation2 {  0% {opacity:0;}  100% {opacity:1;} }
.animation3
{
	 -webkit-animation-delay: 3.6s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation3;
  -moz-animation-delay: 3.6s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation3;
  -ms-animation-delay: 3.6s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation3;
  animation-delay: 3.6s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation3;
}
@-webkit-keyframes animation3 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation3 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation3 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation3 {  0% {opacity:0;}  100% {opacity:1;} }

.animation4
{
	 -webkit-animation-delay: 3.9s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation4;
  -moz-animation-delay: 3.9s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation4;
  -ms-animation-delay: 3.9s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation4;
  animation-delay: 3.9s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation4;
}
@-webkit-keyframes animation4 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation4 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation4 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation4 {  0% {opacity:0;}  100% {opacity:1;} }

.animation5
{
	 -webkit-animation-delay: 4.2s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation5;
  -moz-animation-delay: 4.2s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation5;
  -ms-animation-delay: 4.2s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation5;
  animation-delay: 4.2s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation5;
}
@-webkit-keyframes animation5 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation5 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation5 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation5 {  0% {opacity:0;}  100% {opacity:1;} }

.animation6
{
	 -webkit-animation-delay: 4.5s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation6;
  -moz-animation-delay: 4.5s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation6;
  -ms-animation-delay: 4.5s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation6;
  animation-delay: 4.5s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation6;
}
@-webkit-keyframes animation6 {  0% {opacity:0;}  100% {opacity:1;} }
@-moz-keyframes animation6 {  0% {opacity:0;}  100% {opacity:1;}}
@-ms-keyframes animation6 {  0% {opacity:0;}  100% {opacity:1;} }
@keyframes animation6 {  0% {opacity:0;}  100% {opacity:1;} }

.animation7
{
	 -webkit-animation-delay: 4.8s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation7;
  -moz-animation-delay: 4.8s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation7;
  -ms-animation-delay: 4.8s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation7;
  animation-delay: 4.8s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation7;
}
@-webkit-keyframes animation7 
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes animation7 
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes animation7 
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}

.animation8
{
	 -webkit-animation-delay: 5.1s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation8;
  -moz-animation-delay: 5.1s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation8;
  -ms-animation-delay: 5.1s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation8;
  animation-delay: 5.1s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation8;
}
@-webkit-keyframes animation8 
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes animation8
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes animation8
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}
.animation9
{
	 -webkit-animation-delay: 5.4s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation9;
  -moz-animation-delay: 5.4s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation9;
  -ms-animation-delay: 5.4s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation9;
  animation-delay: 5.4s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation9;
}
@-webkit-keyframes animation9 
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes animation9
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes animation9
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}

.animation10
{
	 -webkit-animation-delay: 5.7s;-webkit-animation-duration: 2.5s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: animation10;
  -moz-animation-delay: 5.7s;-moz-animation-duration: 2.5s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: animation10;
  -ms-animation-delay: 5.7s;-ms-animation-duration: 2.5s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: animation10;
  animation-delay: 5.7s;animation-duration: 2.5s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: animation10;
}
@-webkit-keyframes animation10
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes animation10
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes animation10
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}


/*************** animation paiting game **************/

.paint_a2
{
	 -webkit-animation-delay: 0.5s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a2;
  -moz-animation-delay: 0.5s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a2;
  -ms-animation-delay: 0.5s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a2;
  animation-delay: 0.5s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a2;
}
@-webkit-keyframes paint_a2
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a2
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a2
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}
.paint_a3
{
	 -webkit-animation-delay: 0.9s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a3;
  -moz-animation-delay: 0.9s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a3;
  -ms-animation-delay: 0.9s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a3;
  animation-delay: 0.9s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a3;
}
@-webkit-keyframes paint_a3
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a3
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a3
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}

.paint_a4
{
	 -webkit-animation-delay: 1.3s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a4;
  -moz-animation-delay: 1.3s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a4;
  -ms-animation-delay: 1.3s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a4;
  animation-delay: 1.3s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a4;
}
@-webkit-keyframes paint_a4
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a4
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a4
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}


.paint_a5
{
	 -webkit-animation-delay: 1.9s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a5;
  -moz-animation-delay: 1.9s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a5;
  -ms-animation-delay: 1.9s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a5;
  animation-delay: 1.9s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a5;
}
@-webkit-keyframes paint_a5
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a5
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a5
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}



.paint_a6
{
	 -webkit-animation-delay: 2.4s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a6;
  -moz-animation-delay: 2.4s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a6;
  -ms-animation-delay: 2.4s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a6;
  animation-delay: 2.4s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a6;
}
@-webkit-keyframes paint_a6
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a6
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a6
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}

.paint_a7
{
	 -webkit-animation-delay: 2.8s;-webkit-animation-duration: 2s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-name: paint_a7;
  -moz-animation-delay: 2.8s;-moz-animation-duration: 2s;-moz-animation-iteration-count: 1;-moz-animation-fill-mode: both;-moz-animation-name: paint_a7;
  -ms-animation-delay: 2.8s;-ms-animation-duration: 2s;-ms-animation-iteration-count: 1;-ms-animation-fill-mode: both;-ms-animation-name: paint_a7;
  animation-delay: 2.8s;animation-duration: 2s;animation-iteration-count: 1;animation-fill-mode: both;animation-name: paint_a7;
}
@-webkit-keyframes paint_a7
{
  0% {-webkit-transform: scale(0);}
  10% {-webkit-transform: scale(1.2);}
  20% {-webkit-transform: scale(1);}
  80% {-webkit-transform: translate(000px,0px);}
  100% {-webkit-transform: translate(000px,00px);}
}
@-moz-keyframes paint_a7
{
  0% {-moz-transform: scale(0);}
  10% {-moz-transform: scale(1.2);}
  20% {-moz-transform: scale(1);}
  80% {-moz-transform: translate(000px,0px);}
  100% {-moz-transform: translate(000px,00px);}
}
@-ms-keyframes paint_a7
{
  0% {-ms-transform: scale(0);}
  10% {-ms-transform: scale(1.2);}
  20% {-ms-transform: scale(1);}
  80% {-ms-transform: translate(000px,0px);}
  100% {-ms-transform: translate(000px,0px);}
}


@media only screen and (orientation:portrait){
  #container { 
    
  -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
height:100vw;
width:100vh;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;    
 
  }

    
}
@media screen and (orientation:landscape) {
  #container {
   -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
	 display:inline;
	 height:100vh;
width:100vw;
	 }
}
