@font-face {
  font-family: 'Cocon-Light';
  src: url('fonts/Cocon-Light.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Light.woff') format('woff'), url('fonts/Cocon-Light.ttf')  format('truetype'), url('fonts/Cocon-Light.svg#Cocon-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BubbleBash';
  src: url('fonts/BubbleBash.eot?#iefix') format('embedded-opentype'),  url('fonts/BubbleBash.woff') format('woff'), url('fonts/BubbleBash.ttf')  format('truetype'), url('fonts/BubbleBash.svg#BubbleBash') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Cocon-Regular';
  src: url('fonts/Cocon-Regular.eot?#iefix') format('embedded-opentype'),  url('fonts/Cocon-Regular.woff') format('woff'), url('fonts/Cocon-Regular.ttf')  format('truetype'), url('fonts/Cocon-Regular.svg#Cocon-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    display: block;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
* {
    box-sizing: border-box;
}

.overlay-how-to-play {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.98);
        z-index: 99999;
        top: 0;}

.how-toplay-txt {
        text-align: center;
        margin-top: 3%;}

.how-toplay-txt img {
        text-align: center;
        left: 0;
        right: 0;
        width: 46%;
        margin: 0 auto;}

.wrap-images{
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 65%;
    background: #000;
    margin-top: 15px;   
    
}


.wrap-images div {
    float: left;
    width: 29%;
}



.wrap-images div:first-child{
    margin-right: 20px;
}
.wrap-images div:last-child{
    margin-left: 20px;
}

.wrap-images div img {
    max-width: 100%;
    display: inline-block;
    width: 100%;
}


.skip-btn-wrp {
    width: 95%!important;
    margin-top: 10px;
    float: left;
}

.skip-btn-wrp a {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    background-image: url(../images/skip.png);
    background-position: top center;
    background-repeat: no-repeat;
    width: 178px;
    height: 75px;
    background-size: 100%;
}

.skip-btn-wrp a:hover {
    background-image: url(../images/skip-hover-img.png);
    background-position: top center;
    background-repeat: no-repeat;
}






#mob-container {}

.main{ width:100%; height:100%; position:absolute; left:0px; top:0px;}
.mlogo{ position:absolute; top:12px; left:20px; width:100px;}
.mlogo img{ width:100%; height:auto;}
.color-paint-area{ position:fixed; bottom:0px; width:100%; height:53px; background-image:url(../images/mob-paint-col_bg.jpg); background-position:center bottom; background-repeat:no-repeat; z-index:9999;}

.color-options{ width:82%; float:left;}
.color-options ul{ margin:0px; padding:2px 0px 2px 0px;}
.color-options ul li{ list-style:none; display:inline-block; width:6.5%; margin-left:5px; padding:0px; height:50px; padding:12px 3px 0px 3px}
.color-options ul li.selected{ background-color:#231f20;}
.color-options ul li img{ width:100%; height:auto;}
.color-handlers{ width:15%; float:right;}
.clearfix{ clear:both;}

.brush-holder-m
{
	background-image:url(../images/color/brush_open-m.png); width:40px; height:38px; background-position:top center; background-repeat:no-repeat;
	margin-left:10px; margin-top:8px;
	background-size:100%;
	float:left;
}
.razor-holder-m
{
	background-image:url(../images/color/razor-holder-m.png); width:32px; height:38px; background-position:top center; background-repeat:no-repeat;
		margin-left:0px; margin-top:8px;
	background-size:100%;
	float:left;
}
.m-game-area{width:60%; margin:0 auto;}
.game_h1{ padding-top:10px;}
.game_h2{  padding-top:10px; padding-bottom:10px;font-family: 'Cocon-Light';}

.m_other_stories{ width:17%; position:absolute; z-index:999; top:8%; right:20px;}
.save-img a{ background-size:100%; width:100px;}
.share-img a{ background-size:100%; width:100px; margin-top:0px;}
.clear-img a{ background-size:100%; width:100px; margin-top:0px;}
.mobile-stories
{	
	height:auto;
}
.mobile-stories ul{ margin:0px; padding:0px; list-style:none; text-align:center; height:155px;overflow:hidden;}
/*.mobile-stories ul li{ display:block; width:70px; height:45px; margin:0px; margin-bottom:5px; position:relative;border:1px solid red;}*/
.mobile-stories .slide{ box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius:2px; border:1px solid #aed3e1; display:block; width:78px!important; height:50px!important; margin:0px; margin-bottom:5px!important; margin-left:18px!important; position:relative;}

.mobile-stories .active{ opacity:1;border:1px solid #e5e6e4;} 
.mobile-stories .current{ opacity:1;border:1px solid #37b1de;} 
.mobile-stories .slide img{ width:100%; height:auto;}
.next-thumb { height:47px;}
.mobile-stories ul li img{ width:100%; height:auto;}
.save-img{ height:40px;}
.clear-img{ height:40px;}
.share-img{ height:40px;}



@media only screen and (orientation:portrait){
 
    .overlay-how-to-play {
         -webkit-transform: rotate(90deg);
    -webkit-transform-origin: left top;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: left top;
    -ms-transform: rotate(90deg);
    -ms-transform-origin: left top;
    -o-transform: rotate(90deg);
    -o-transform-origin: left top;
    transform: rotate(90deg);
    transform-origin: left top;
height:100vw;
width:100vh;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;  
    }
    
    
}
@media screen and (orientation:landscape) {
 
}

.overlay_share_social
{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
       background-color: rgba(255,255,255, 0.9);
        z-index: 9999999;
        top: 0;
		display:none;
		
    align-items: center;
}
.share_mob
{
	width:200px;
	height:108px;
	margin:0 auto;
	background-image:url(../images/mobile-social-bg.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	border:1px solid #ccc;
	vertical-align:middle;align-items: center;
	display: flex;
	text-align:center;
	position:relative;
	
}
#share_close_btn
{
	position:absolute;
	top:-10px;
	right:-10px;
}
.fb-img
{
	margin-right:8px;
}


@media (min-width: 668px) and  (max-width: 767px){
	.bx-wrapper{ height:228px!important;}
	/*.bx-wrapper .bx-viewport{ height:180px!important;}*/
	.next-thumb{ height:53px;}
	.mobile-stories{ height:auto;}
	.mobile-stories .slide{ height:55px!important; width:85px!important;}
	.m_other_stories{ top:8%;}
}
