<h1 id="story_h1" class="game_h1 paint_a2">
 <img src="images/arabic_titles/title_03/word02/title03_word02_ffffff.png" onclick="changeImg2('title03_word02_');" id="title03_word02_" alt=""  />
  <img src="images/arabic_titles/title_03/word01/title03_word01_ffffff.png" onclick="changeImg1('title03_word01_');" id="title03_word01_"  alt="" />
</h1>
<!--  <h2 id="story_h2" class="game_h2 paint_a3">بعض الحبوب، بعض الحليب وبعض الخبز المُحمص، <br /> الإفطار هو أكثر وجبة أحبها 
</h2>-->
<h2 id="story_h2" class="game_h2 paint_a3"><img src="images/story3-h2-ar.png"  alt="" /></h2>

<div class="game-canvas">
<svg id="mysvg2" class="drawing_map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="550px"
	 height="381px" viewBox="0 0 1300 900" style="enable-background:new 0 0 1300 900;" xml:space="preserve">
<style type="text/css">
<![CDATA[
	.st0{fill:#010101;stroke:#010101;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st1{fill-rule:evenodd;clip-rule:evenodd;fill:#080808;}
	.st2{fill:none;stroke:#010101;stroke-miterlimit:10;}
	
		.st3{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st4{fill:none;stroke:#010101;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st5{fill:#1B1A1B;}
	.st6{fill:#EA6E26;}
	.st7{fill:#EB6E25;}
	.st8{fill:none;stroke:#010101;stroke-width:4;stroke-miterlimit:10;}
	.st9{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:4;stroke-miterlimit:10;}
	.st10{fill:#C27F61;}
	
		.st11{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:1.71;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st12{fill:#FFFFFF; opacity: 0.1;}
	.st13{fill:none;}
	.st14{fill:#010101;stroke:#010101;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st15{fill:#CA5B28;}
	.st16{fill:#CA5C28;}
	.st17{fill:none;stroke:#010101;stroke-width:3;stroke-miterlimit:10;}
	.st18{fill:#010101;stroke:#010101;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st19{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:3;stroke-miterlimit:10;}
	.st20{fill:#010101;}
	.st21{fill:#010101;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
	.st22{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFFFF;}
	
		.st23{clip-path:url(#SVGID_2_);fill:#010101;stroke:#010101;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st24{fill:#D8A475;}
	.st25{fill:#3E2415;}
	
		.st26{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:1.96;stroke-linejoin:bevel;stroke-miterlimit:10;}
	.st27{fill:none;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
	.st28{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
	.st29{fill:#0B0B0B;}
	.st30{fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#010101;stroke-width:14;stroke-miterlimit:10;}
	.st31{fill:none;stroke:#010101;stroke-width:2.8712;}
]]>
</style>

	<g id="background">
		<polygon class="st12" points="957.9,575.4 958,571.5 957.9,571.5 		"/>
		<path class="st12" d="M361.5,369.5c0.1-0.1,0.3-0.2,0.4-0.3c-1.7-10-18.2-16.8-22-16.3c0,0.1,0,0.3,0,0.4
			C348.6,354.5,359.3,359.5,361.5,369.5z"/>
		<path class="st12" d="M374.1,351.4c0,0.4-0.1,0.7-0.1,1.1c2.6,0,10.7,2.2,19.1,6.5C384.7,354.5,376.5,351.7,374.1,351.4z"/>
		<path class="st12" d="M414.3,402.2l2-2.2l-2,2C414.3,402.2,414.3,402.2,414.3,402.2z"/>
		<path class="st12" d="M278.4,413.2c1.4,1.8,3.2,3.3,4.5,4.3c-1.4-1.5-4.1-4.6-5.7-7.7c-2.8-6-6.8-9.1-10.3-10.7
			C271.2,401.7,276.2,405.9,278.4,413.2z"/>
		<path class="st12" d="M285.1,414.5c-0.6,1.7-1.1,3.2-1.3,3.7c0.5,0.4,0.8,0.5,0.8,0.5S284.7,417,285.1,414.5z"/>
		<path class="st12" d="M296.1,371.2c1.7,9.6-0.8,18.5-3.6,25.1C296,388.5,298.4,379.4,296.1,371.2z"/>
		<path class="st12" d="M421.4,394.8l5.1,16.2c0,0,0,0,0.1-0.1l-5-16.3L421.4,394.8z"/>
		<path class="st12" d="M338.5,357.4c-0.8,0.9-1.7,1.2-2.4,0.3c-0.8-0.4-1.7-0.7-2.5-1.1c1,0.6,2,1.3,3,2.1
			C337.6,358.7,338.2,358.1,338.5,357.4z"/>
		<path class="st12" d="M534.6,555.6c-0.3,0-0.9,0.1-1.6,0.3c0.4,0,0.8,0,1.2,0.1C534.3,555.9,534.5,555.8,534.6,555.6z"/>
		<path class="st12" d="M526.1,565.6c0.1-0.5,0.2-1.1,0.3-1.9c-2.7,1.6-9.8,5.9-8.4,9.8C518.2,571.9,519.7,565.9,526.1,565.6z"/>
		<path class="st12" d="M575.6,724.5c0.1,0.1,0.1,0.3,0.2,0.4l-0.2-3C575.7,722.9,575.7,723.8,575.6,724.5z"/>
		<path class="st12" d="M641.2,726.3c-1.1,1.2-3.7,3.7-8.1,5.9C637.9,731.4,640.2,728.9,641.2,726.3z"/>
		<path class="st12" d="M578.4,728.9c4.8,5.1,14,6.9,23.6,7.1C595.1,734.9,587.3,732.7,578.4,728.9z"/>
		<path class="st12" d="M559.7,661c0.7-2.1,0.7-4.1,0.4-6c-0.1,2.3-0.4,5.5-1,9.2C559.3,663,559.5,661.9,559.7,661z"/>
		<path class="st12" d="M355.9,655.9c-0.1,0.5-0.3,1.1-0.4,1.6c0.1,0.7,0.3,1.5,0.4,2.2C355.9,658.4,355.9,657.1,355.9,655.9z"/>
		<path class="st12" d="M433.8,755.3c-7.8-2.4-10.7-5-15.2-8C420.5,751.3,426.5,753.8,433.8,755.3z"/>
		<path class="st12" d="M380.8,717.6c8.9,11.4,18.2,18.2,25.6,22.4C398.7,734.7,389.3,727,380.8,717.6z"/>
		<path class="st12" d="M281.8,729.4c1-3.4,2.5-6.9,4.9-10.6C284.4,722.5,282.8,726,281.8,729.4
			C281.9,729.3,281.8,729.4,281.8,729.4C281.8,729.4,281.8,729.4,281.8,729.4z"/>
		<path class="st12" d="M2,595.1v-7.6l225.6,1.5l-1.5,6.1h2c5.7-15.8,16.1-39.7,16.1-39.7c1.3,2.4,23.4,16,37.2,13.5
			c-1.3,0.3-5.3,9.3-9.2,19.4l16.9,0.4l-1.1,6.4h2.3l11.4-61.7L287,554.6c0,0,1.2,14-8.1,14.3c-14.3,0.3-30-11.9-34.4-13.7
			c0,0-9.3-13,7.7-14.7c8.8-14.7,31.3-46.1,53.5-47c11.1-4.4,17.6-3.8,17.6-3.8s-7.5,13.4,3.5,20.2c-4.8-3.7-7.1-9-3.8-17.4l8.7-0.8
			l2.2-4.2c0,0-59.5-21.8-54-50.8c-4.7,5.5-17.9,17-33.6-2c-3.5-7.8-10.7-29.2,10-37.2c1.3-0.5,2-0.8,2.4-1
			c0.7-18,11.6-28.9,11.6-28.9l-2.8-1.7l4.8-3.7l-3.5-4.5h9.5c0,0,1.2-0.5,0-3c-2.7-14,6.3-20.2,4.8-14c-1.5,6.2,0.8,10.5,0.8,10.5
			s5.5-8.3,15.4-16.3c9.6-11.5,42.3-16.7,56.3-17c28.4,7,43.5,0.3,43.5,0.3s-1.3,4.3-5.3,12c24.6,4.2,31.2,20.2,36.5,29
			c1.8,7.8,15.1,21.7,15.1,21.7l-8.1,5c0,0,2.3,8.2,3.3,15.5c2,0,3.9,1,5.2,3.8c5.2,11.2,7.7,37.8-4.5,41.8
			c-8,3.2-14.9,2.8-17.4-2.5c-3.2,8.8-23.4,41.5-55.5,47.8c0.5,3.4-0.5,13.8-6.9,20.2c1.1-0.8,2.1-1.7,3.2-2.8c4.1-7.6,5-15,5-15
			s21.4,3.2,28.7,14.1c7.3,11.2,15.2,32.6,15.2,32.6s10.5,4.1,4.7,13.8c-7.6,4.7-32.8,20.9-39.2,16.7c-0.1,8.5,0.2,16.4,0.7,23.2h0
			l-0.1-6.6l6.2-0.2c0,0,1.5,3.2,3.4,6.9h1.4c-4-8.2-6.7-18.4-7-20.6l32.9-17.3l7.7,21.6c0,0,34.2-18.4,61.5-15.9
			c0.9-9.8,8-25.8,20.7-26.7c13.2-1.5,23.1-6.7,23.1-6.7s6.5,1.7,6.6,8.3c0,0.5,0,0.9,0,1.4c1.1-3.1,2.9-6.5,5.5-9.7
			c6.5-7.9,12.8-16.9,23-13.5s2.1,9.4-0.1,15.4c-4.8,4.9-20.2,17-26.7,22c2.9-1.8,6-3.1,6-3.1s9.8,6.1,5.9,13.5
			c-2.5,3.8-6,5.2-6,5.2s3.6,6.6-4.7,10.5c0,2.5,0,5.2-0.8,7.3l35.6,1.2c0,0,1.7,0.2,4.5,1.5c-4.7,0.7-7.5,3-9.1,5.6h0.9
			c1.6-2.4,4.6-4.7,10.2-5.6c13.3-2.1,54.2-6.2,66.7,5.6h0.3c-1.7-2.4-4.8-4.6-10-6.1l298.3-0.5l-0.4-3.5l-15,0l-19.6-76.4l53.1-0.5
			v1.1h74.8v-1.1h76.4v1.5h75.2v-0.7h76.4V586h-76.3v0.3h-76v-1.1h-74.9v0.7h-66.9l0-9.5h-6v0.5l6,0.5l0,11L1299,588v7.1h1V429.9
			h-0.6V507h-42.6v-77.1h1v-76.7h42.2V0H1v595.1H2z M1257.4,509.8h42.2v76.7h-42.2V509.8z M800.4,585.4H724v-0.7h-73.2V508h76v0.3
			h73.6V585.4z M1256.5,508h-76v-76.7h76V508z M1256.5,429.6h-75.9v0h-0.6v77.1h-76v1.3h-76v-1.4h-75.1l0,0.6l-53.4-0.2
			c1.9,6.6,3.8,14.1,5.6,23c8,37.1,13.5,57.8,13.5,57.8l-18.6,0.6l-0.7-2.2l-13-0.2l-0.5-10.6l-7.2,0.1v1.4h6v10.6l-28.2-0.2l0-1.8
			h-54v-76.7h29.2l1.6,0.4c0.5-1.8,1.2-3.7,1.9-5.5l-2.2,3.7h-32.6v-0.1h-73.8v-76.7h73.8v-0.3h76.4l0,36.5l-2.9-0.2
			c3.3,1.7,6.5,3.8,9.5,6.9l-5.6-7l0.2-36h74.3v-1h1V353h74.9v-0.8h76.4v77.1h-75.2v0.4h-0.6v1.6h75v-1.7h1v-76.7h75.5v-0.4h76.4
			V429.6z M801.8,430v-76.7h74.8v-1.4H953v77.1h-75.1v1H801.8z M1091.6,55.3l205.6-0.4v289h-205.6V55.3z M862.9,54.6l205.6,0.4
			v288.6H862.9V54.6z M650.5,55l205.6-0.4v289H650.5V55z M650.5,353.3h74v-1.8H801v77.1h-74.4v1.5h-76V353.3z M648.9,430.6h76.4
			v77.1h-76.4V430.6z M304.3,73c52.8,0,95.6,43,95.6,96s-42.8,96-95.6,96c-52.8,0-95.6-43-95.6-96S251.5,73,304.3,73z M43.7,489.7
			c3.3-11.5,7.1-26.4,31.7-31.6c0,0-18.1-8.4-17.9-34.8c-3.5-4.9-12.6-16-7.9-20.7c3.3-4.9,9.7-8.8,18.8-0.8c3-4.4,24-22.7,54.9-2.4
			c8.4-3,16.7-7.2,19.3,2.6c0.7,4,0.7,6.1-8.1,18.9c0,7-0.5,17.7-16.3,35.5c7.4,4,22.7,13.3,25.3,30.1c1.4,7.2,4.4,19.2-9.7,33.9
			c3,5.4,9.5,12.1,7.4,19.4c-3.3,5.6-9.1,10-17.9,13.8c8.8,7,18.6,19.2,11.4,25.8c-2.3-0.5-12.4,4.7-12.6,1.4
			c-6,4-14.3,2.8-16.3-7.1c-8.8-10.5-13.9-11.7-1.5-21.5c0-1.9-11.2-0.3-11.8,6.4c-0.5,6.6-3.8,8.6,3.2,17c-0.1,4,1.5,12.1-6.6,10.8
			c-4.5,0.5-8.7,0.4-8.7,0.4L69,585.6c0,0-5.6,0.6-6.4-2.5c-4.2,6-15.9,3.8-12-5.9c1.7-6.7,2.1-8.5,6-9.2c0.5-8.6,2-29.5,2-29.5
			l-1.8-14.3l-0.8-2.8C55.9,521.4,36.8,507.4,43.7,489.7z"/>
		<path class="st12" d="M525.8,554.1l-29.5,38.6c0,0-1,0.3-2.2,0.4l-1.4,2h2.5c12.4-16.8,31.4-41.3,31.4-41.3s1.1-0.3,2.4-0.9
			L525.8,554.1z"/>
		<path class="st12" d="M289.9,713.6c-1.9,2-4,5-5.7,8.7C285.8,718.5,287.9,715.6,289.9,713.6z"/>
		<path class="st12" d="M455.5,682.1c18.2,0.6,37.9,0,51.9-3.9C494.3,680.8,477.3,682.4,455.5,682.1z"/>
		<path class="st12" d="M462.3,661.5c-1.5,0.7-3.1,1.4-4.7,2.1C459.1,663.1,460.7,662.5,462.3,661.5z"/>
		<path class="st12" d="M412.6,678.4c1.4,0.2,2.9,0.4,4.7,0.6c-12.9-1.9-26.3-5-35.8-10.3C388.3,673,398.3,676.9,412.6,678.4z"/>
		<path class="st12" d="M369.6,657.7c0.5,0.9,1.3,1.9,2.3,3.1c-0.9-1.2-1.7-2.6-2.3-4C369.5,657.1,369.5,657.4,369.6,657.7z"/>
		<path class="st12" d="M546.7,654.7c0.7,1.7-0.3,4.9-4.1,8.6c5.8-4.6,7.4-10-2.1-16c-3.7-0.9-7.2-1.8-10.4-2.6
			C539.2,647.7,546.4,651.2,546.7,654.7z"/>
		<path class="st12" d="M430.2,407.1c2.6-2.4,6.1-5.2,9.4-5.6C436.2,401.4,432.7,404.4,430.2,407.1z"/>
		<polygon class="st12" points="792.8,236 825.8,236.2 826,155.2 792.5,155.2 		"/>
		<polygon class="st12" points="896.3,236 929.2,236.1 929.2,155.2 896.3,155.4 		"/>
		<polygon class="st12" points="1230.7,236.1 1263.9,236.1 1264,155.2 1230.7,155.1 		"/>
		<polygon class="st12" points="944.1,570.5 952.3,570.6 944.1,570.3 		"/>
		<path class="st12" d="M889.1,479c1.6,2.3,3.1,5.1,4.7,8.2l-1.5-4.3L889.1,479z"/>
		<path class="st12" d="M859.3,471.4l-4.8,2.6l-5.3,8.8C852.1,478.7,855.6,474.6,859.3,471.4z"/>
		<polygon class="st12" points="879.7,571.1 877.7,571.1 880,571.1 880,574.5 880.3,570.8 879.7,570.4 		"/>
		<path class="st12" d="M879.2,497.7c0,0.4,0,0.7,0,0.7l-1.4,9.2l-18.7,0.2l0.3-8.6c-0.3,0.9-0.6,1.8-0.9,2.8
			c1.4,7.2-1.7,15.8-1.7,15.8l-2,7.5c0,0-14.4-1.3-19.7-4.8l0,2l20.2,3.3l5.3-16.8l1.4-0.1h17l0-1.2l0.3-5.3l2.5,4.8l-2.8,0.4
			l3.3-0.1l11.1,43.8l-9.8-45.5C883.4,506.1,881.7,502,879.2,497.7z"/>
		<path class="st12" d="M481.7,595.1c3.3-1.7,5.8-3.1,6.9-4.2c0.6,2.4,3.5,2.5,5.6,2.2l0.1-0.2l-6.7-2.5l-8,4.6H481.7z"/>
		<path class="st12" d="M269.6,595.1c0.8-2.3,1.7-4.6,2.6-6.8l-2-0.1l-2.1,6.9H269.6z"/>
		<path class="st12" d="M266,601.9l-1.8,5.9l1.2,0c0.5-1.8,1.2-3.8,1.9-5.8H266z"/>
		<path class="st12" d="M379.6,601.9l0.1,4.6c0,0,0.3,0,0.8,0c-0.2-1.4-0.3-3-0.5-4.7H379.6z"/>
		<path class="st12" d="M286.6,625.7l1.8,4.2c0.3,0,0.4,0,0.4,0S288.1,628.1,286.6,625.7z"/>
		<path class="st12" d="M329.1,511.1c-0.9-0.4-1.7-0.8-2.4-1.2c4.9,3.7,12.4,5.8,19.1,7.8c7.1,0.4,12.1-1.9,15.5-5.3
			C352.8,518.6,342.3,516.4,329.1,511.1z"/>
		<path class="st12" d="M440.5,401.6c0-0.1,0-0.1,0-0.2c-0.3,0-0.6,0-0.9,0.1C439.9,401.5,440.2,401.5,440.5,401.6z"/>
		<path class="st12" d="M283.8,418.2c-0.3-0.2-0.5-0.4-0.9-0.6c0.5,0.5,0.8,0.8,0.8,0.8S283.7,418.3,283.8,418.2z"/>
		<path class="st12" d="M374,352.5c-0.1,0-0.2,0-0.3,0c0.2,5-8.2,14.4-11.8,16.7c0,0.1,0,0.2,0.1,0.4
			C366.4,366.9,373,358.6,374,352.5z"/>
		<path class="st12" d="M339.4,353.2c-0.2,1.2-0.2,3-0.8,4.2c0.7-0.9,1.3-2.4,1.4-4.1C339.7,353.3,339.5,353.3,339.4,353.2z"/>
		<path class="st12" d="M292.5,396.4c-0.4,0.9-0.8,1.8-1.2,2.6c-3.8,2.7-5.5,10.5-6.2,15.5c0.9-2.6,2-5.9,2.3-7.3
			C287.7,405.8,290.2,401.9,292.5,396.4z"/>
		<polygon class="st12" points="416.3,400.1 421.4,394.8 421.3,394.5 		"/>
		<path class="st12" d="M333.6,356.7c-15.5-9.4-31.1,2-38.4,12.1c0.3,0.8,0.6,1.6,0.8,2.5c-0.1-0.5-0.2-1.1-0.3-1.6
			C301.4,360.9,313.3,348.4,333.6,356.7z"/>
		<path class="st12" d="M426.6,410.9l0.2,0.5c0,0,1.4-2.1,3.4-4.3C428.3,408.9,426.9,410.5,426.6,410.9z"/>
		<path class="st12" d="M393.3,359.2c9.6,5.3,19.3,12.9,20.3,22.1c0.8,15.3,0.7,20.8,0.7,20.8l0,0c0-1,0.4-6.5,1.5-13.3
			C415.9,374.8,404.4,365,393.3,359.2z"/>
		<path class="st12" d="M266.9,399.2c-4.1-2.3-7.7-3-7.7-3s0,0-0.5,0.2c0,0.4,0,0.7,0,1.1C258.6,397.6,262.4,397.2,266.9,399.2z"/>
		<path class="st12" d="M516.7,595.1c4.6-1.1,9.2-2.5,12.9-3.5c5.2-0.1,7.5-2.1,8.5-4.8l-2-0.1c0,0-3,5-7.2,4.5
			c-2.7,1.2-7.4,2.9-13.1,3.9H516.7z"/>
		<path class="st12" d="M535.5,547.4c0,0,0.5-2.7,0.5-8.2c-1.6,4.3-2.1,8-2.4,9.8c-0.4,1.8-2.7,3.1-4.6,4l4.8-1.7L535.5,547.4z"/>
		<path class="st12" d="M534.8,555.6c0,0,1.1-0.9,2.9-2.2c-1.1,0.7-2.2,1.5-3.2,2.3C534.7,555.6,534.8,555.6,534.8,555.6z"/>
		<path class="st12" d="M533,555.9c-5.7,0-6.3,4.7-6.6,7.8c0.2-0.1,0.5-0.3,0.6-0.4C526.3,558.4,530.4,556.6,533,555.9z"/>
		<path class="st12" d="M496.1,601.9l-2.8,5.1l1.1,0c0.8-1.1,2.1-2.9,3.6-5.1H496.1z"/>
		<path class="st12" d="M502.7,595.1c6.2-8.7,13.5-18.9,15.5-20.9c-0.1-0.2-0.2-0.4-0.3-0.7c0,0.3-0.1,0.4-0.1,0.4l-15.7,21.1H502.7
			z"/>
		<path class="st12" d="M285.8,756.8c0.9,0.7,1.8,1.3,2.7,1.9c-1.4-1.3-2.7-2.9-4.3-4.7C285.1,755.8,285.8,756.8,285.8,756.8z"/>
		<path class="st12" d="M306.6,761c-5.8,1.5-9.6,1.6-12.5,0.9c1.7,0.9,2.9,1.4,2.9,1.4s4.6,1.1,14-0.8c-0.5,0-1.1,0-1.6,0
			C308,762.5,308,761.3,306.6,761z"/>
		<path class="st12" d="M332.7,744.1c-0.8,2-2,4.6-3.7,7.7C330.7,749.3,331.9,746.7,332.7,744.1z"/>
		<path class="st12" d="M369.6,656.8c0-0.4,0.1-0.9,0.2-1.3c-0.4,0.4-0.5,0.7-0.5,0.7C369.4,656.4,369.5,656.6,369.6,656.8z"/>
		<path class="st12" d="M494.9,636.4c5.4,1.2,16.7,3.8,35.2,8.4C518,640.8,502.5,637.8,494.9,636.4z"/>
		<path class="st12" d="M462.3,661.5c11.9-5.8,19.3-14.3,23.8-22.2c-4.9,4.7-13.4,12.8-19.3,18.7
			C465.3,659.4,463.8,660.6,462.3,661.5z"/>
		<path class="st12" d="M507.4,678.2c19.1-3.8,29.9-9.8,35.2-14.9c-6.6,5.2-18.6,9.2-25.7,11.3C514.2,676,511,677.2,507.4,678.2z"/>
		<path class="st12" d="M454.6,664.6c1-0.3,2-0.7,3-1.1c-5.1,1.4-9.5,0-11.4-2.5C446.3,663.2,449.5,664.4,454.6,664.6z"/>
		<path class="st12" d="M371.9,660.8c2.3,3.1,5.6,5.7,9.6,7.9C377,666,373.9,663.2,371.9,660.8z"/>
		<path class="st12" d="M442.6,681.7c4.5,0.2,8.8,0.3,12.9,0.4c-15.1-0.5-29.2-1.9-38.3-3C426.5,680.4,435.5,681.1,442.6,681.7z"/>
		<path class="st12" d="M649.3,601.9c0,2.7-0.9,4.6-0.9,4.6l0.9,0c0.1-1.8,0.2-3.4,0.3-4.6H649.3z"/>
		<path class="st12" d="M641.2,726.3c0.4-0.5,0.7-0.8,0.7-0.8s1.4-22.2,3-48.1l-3.3,41.8C641.5,719.2,642.4,722.8,641.2,726.3z"/>
		<path class="st12" d="M571.4,640.8l-0.7,0l5,81.2C575.5,702.1,571.4,640.8,571.4,640.8z"/>
		<path class="st12" d="M498.5,745.2c-3.2,4.2-13.7,13.5-39.6,12.8c-7.9-0.4-17.3-1-25-2.7c3.5,1.1,8,2.2,14.1,3.3
			c23.3,3.3,46.9-6.2,49.8-11.8c10.3-3,20.3-11.5,34.5-24.9c15.9-12.1,24.2-40.7,26.9-57.7C556.1,679.7,549,719,498.5,745.2z"/>
		<path class="st12" d="M406.4,740c4.9,3.4,9.1,5.8,11.8,7.1c0.2,0.1,0.3,0.2,0.4,0.3c-0.3-0.6-0.5-1.2-0.6-1.9
			C415.7,744.5,411.5,742.9,406.4,740z"/>
		<path class="st12" d="M364.9,693.5c3.9,8.9,9.6,17,16,24.1c-9.9-12.7-19.3-31.1-24.8-57.9C356.6,669.6,360.8,682.5,364.9,693.5z"
			/>
		<path class="st12" d="M560.1,655c0.1-1.6,0-2.8-0.2-3.5c-0.7-2.9-3.6-5.8-7.7-8.4C554.9,645.4,559.1,649.7,560.1,655z"/>
		<path class="st12" d="M355.9,655.9c1.2-4.4,3.8-9,6.9-12c-0.6,0.4-1.2,0.7-1.8,1.1C357.6,646.9,356.2,650.9,355.9,655.9z"/>
		<polygon class="st12" points="170.5,686.9 61.6,796.2 66.2,796.2 170.5,691.6 		"/>
		<polygon class="st12" points="993.3,757.4 909.4,673.2 909.1,675.2 		"/>
		<path class="st12" d="M281.9,728.9c0,0.1-0.1,0.3-0.1,0.4c0,0,0,0,0,0C281.9,729.2,281.9,729.1,281.9,728.9z"/>
		<path class="st12" d="M578.4,728.9c-1.1-1.1-1.9-2.5-2.5-4l0.2,2.9C576.8,728.2,577.6,728.6,578.4,728.9z"/>
		<path class="st12" d="M633.1,732.2c0,0-0.1,0-0.1,0c-6,1.5-18.9,3.9-31,3.7C616.6,738.3,626.7,735.5,633.1,732.2z"/>
		<path class="st12" d="M281.8,729.4C281.8,729.4,281.8,729.4,281.8,729.4C281.8,729.4,281.8,729.4,281.8,729.4
			c-2.3,8.1-1.1,15.2,0.5,20.1c0.6,1.8,1.3,3.3,1.9,4.5c-0.2-0.2-0.4-0.5-0.6-0.7c0.2,0.2,0.4,0.5,0.6,0.7c-0.6-1.2-1.3-2.7-1.9-4.5
			C280.7,744.6,279.5,737.6,281.8,729.4z"/>
		<path class="st12" d="M281.5,731.1c0.1-0.6,0.2-1.1,0.3-1.7c0,0,0,0,0,0C281.7,729.9,281.6,730.5,281.5,731.1z"/>
		<rect x="1257.8" y="429.8" class="st12" width="41.6" height="0"/>
	</g>

<g id="Kitchen_bottom_wall">
	<path class="st12" d="M1299,601.9v5.4l-649.7-0.7c-0.9,14-2.8,44.4-4.4,70.9l3.4-43h222.6l38.7,38.8l23.4,23.8l10.5,11l86,84.6
		l-36-35.2l38.7,38.8H66.2l-5,5h104.9v82.3H50l3.3-79.1l105.3-101.7l13.7-15.3l50.3-52.9c0,0,124.2,6.9,143.2,7.2
		c-1,0.5-2,1.3-2.9,2.2c10.3-5.9,29.2-14,34.4-13.7c0,0,55.1-7.7,64.8-6.2c-3.2,5.6-6.8,7.7-6.8,7.7s-80.5,7.3-85.5,23.9
		c2.1-2.4,11.1-10.3,42.2-15.6c18-3,41.3-2.7,41.3-2.7s-8.5,16.3-7.4,23.4c0.1,0.1,0.2,0.3,0.3,0.4c0-0.1,0-0.2,0-0.3
		c0,0,1.5-14.8,9.3-25c7.8-10.2,21.4-24,29.5-25.8c0.6-1.3,2.6-4.2,5.3-8.1H488l-3.8,5.4l-25.4-0.2l8.9-5.1h-1.3
		c-17.5,7.1-39.6,14.6-45.1,14.6c-10.7,0-19.6-6.4-24-11.8c-1-0.7-2-1.6-2.9-2.8h-1.7c1.4,2.3,2.8,4.1,3.7,4.6
		c-6,0.4-13.6,0.1-16.1,0c0.8,7.2,1.5,11.5,1.5,11.5s7.9,9.4,3.5,12.3c-16.7,0.6-96.8,0.3-96.8,0.3l-0.3-0.8
		c-5.6,0.2-65.9,1.9-67,2.2c-1.2,0.3-9.3,7.8-23.9,21.7c-8.4-13.4,9.8-41.3,27-45.2c-0.3-0.8,0.2-3.3,1.3-6.7h-1.4l-1.3,5.4L2,606
		v-4.1H1V628L0,900h1300V601.9H1299z M1044.3,885.5l-121,1.5l0.5-81l121-0.5L1044.3,885.5z"/>
	<path class="st12" d="M566.9,606.5l-72.6,0.5c-0.6,0.8-0.9,1.3-0.9,1.3s-2.2,7.1-1,12.9c-0.3,3.2-1.9,10.4-6.4,18.1
		c2.4-2.3,4-3.8,4-3.8s1.8,0.3,4.8,0.8c-2.6-0.6-3.9-0.8-3.9-0.8s3.2-7.7,2.9-9.2c-0.3-1.5,14.7-0.3,19.2,1.5
		c3.3,1.3,26.6,7.4,39.1,15.3c-1.4-1.2-2.4-1.9-2.4-1.9l20.9-0.5l-2.3-37.1c0,0-0.2-0.7-0.2-1.8h-1.3
		C566.6,604.5,566.9,606.5,566.9,606.5z"/>
	<path class="st12" d="M286.7,601.9l-0.9,5.1l-20.5,0.7c-0.6,2.1-1.1,4-1.4,5.4c12.3-0.7,19.4,7.4,22.7,12.7l-1.4-3.3l3.8-20.6
		H286.7z"/>
</g>
<g id="table">
	<g>
		<path class="st12" d="M294.2,761.9c-1.6-0.8-3.6-2-5.7-3.3C290.1,760.2,291.8,761.3,294.2,761.9z"/>
		<path class="st12" d="M319.4,760.5c-3.1,1-5.8,1.6-8.3,2.1c6.1-0.1,13.6-2.8,17.3-9.7c0.2-0.4,0.4-0.7,0.6-1.1
			C326.7,754.9,323.6,757.9,319.4,760.5z"/>
		<path class="st12" d="M870.8,634.4H648.2l-6.6,84.8c0,0,2.8,11.3-8.6,13c-12,3-51,9.5-57.3-7.8c0.2-16.5-4.2-83.8-4.2-83.8
			l-21.7,0.5c0,0,13.4,8.8,10,19.8c-2.7,12.5-6.7,56-61.2,84.2c-3.2,4.2-13.7,13.5-39.6,12.8c-16.4-0.8-39.3-2.8-40.8-12.5
			c-9.7-4-49-18.8-62.5-88c1.2-6.2,5.5-13.2,10.2-15.8c-18.9-0.2-143.2-7.2-143.2-7.2l-161,161.7H1032L870.8,634.4z M349.5,757
			c-10.7,7.3-38.2,18-54.4,20.3c-20.8,1.7-46.9,1.2-65.7-2.6c-35.5-7.8-53.5-17.1-45.1-25.6c7.8-6.7,21.1-13.1,23.7-13.4l9,8.1
			c0,0,51.2,11,65.4,8.1c0.7,0.7,1.3,1.3,1.9,1.9c-0.6-1.2-1.3-2.7-1.9-4.5c-3.7,3.1-6.5,2.9-6.5,2.9s-75.2-4.1-79-54.6
			c-0.1-1.4,48-4.6,48-4.6s12.4,10.5,31,8.1c10.1-3.8,18.8-11.9,20-12.5c7.5-0.6,45.7-4.1,45.7-4.1s-7.8,30.5-11,33.1
			c-6.9-7.3-23.4-19.8-37-7.3c-3,1.7-9.5,8.3-11.6,18.8c1.3-4.6,3.7-9.5,7.7-14.5c6.7-7.6,24.3-16.3,40.5,3.8
			c1.5,3.8,5.8,14.7,2.6,25.5c1.3-3.2,1.7-4.9,1.7-4.9S357,747.7,349.5,757z"/>
		<path class="st12" d="M281.8,729.3c-2.3,8.2-1.2,15.3,0.5,20.2c0.2-0.2,0.5-0.4,0.7-0.6C280.7,741.4,280.7,734.9,281.8,729.3z"/>
	</g>
	<polygon class="st12" points="50,875.6 166.2,875.6 166.2,801.2 52.6,803.8 	"/>
	<polygon class="st12" points="922.1,806.7 1045.6,805.5 1044.8,885.5 923.8,884.5 	"/>
	<rect x="53.3" y="806" class="st12" width="945.5" height="16"/>
</g>
<g id="Layer_15">
</g>
<g id="plate">
	<path class="st12" d="M207.9,735.8l9,8.1c0,0,51.2,11,65.4,8.1c7.2,7,8.1,13.1,24.3,9c1.4,0.2,1.3,1.4,2.9,1.5
		c6.3,0.3,14.9-2.2,18.9-9.7c4.9-8.7,6.1-13.7,6.1-13.7s22.6,8.4,15,17.7c-10.7,7.3-38.2,18-54.4,20.3c-20.8,1.7-46.9,1.2-65.7-2.6
		c-35.5-7.8-53.5-17.1-45.1-25.6C192,742.4,205.3,736.1,207.9,735.8z"/>
</g>
<g id="orange">
	<path class="st12" d="M285.8,756.8c0,0-14.1-19.5,3.7-41.9c6.7-7.6,24.3-16.3,40.5,3.8c2.3,5.8,11.3,28.5-10.7,41.8
		c-14.9,4.6-22.3,2.9-22.3,2.9S290.8,760.5,285.8,756.8z"/>
</g>
<g id="Watermelon">
	<path class="st12" d="M196.8,697.8c-0.1-1.4,48-4.6,48-4.6s12.4,10.5,31,8.1c10.1-3.8,18.8-11.9,20-12.5c7.5-0.6,45.7-4.1,45.7-4.1
		s-7.8,30.5-11,33.1c-6.9-7.3-23.4-19.8-37-7.3c-4.6,2.6-17.2,16.7-10.4,38.4c-4.1,3.8-7.2,3.5-7.2,3.5S200.6,748.3,196.8,697.8z"/>
</g>
<g id="Teddy">
	<path class="st12" d="M75.5,458.1c0,0-18.1-8.4-17.9-34.8c-3.5-4.9-12.6-16-7.9-20.7c3.3-4.9,9.7-8.8,18.8-0.8
		c3-4.4,24-22.7,54.9-2.4c8.4-3,16.7-7.2,19.3,2.6c0.7,4,0.7,6.1-8.1,18.9c0,7-0.5,17.7-16.3,35.5c7.4,4,22.7,13.3,25.3,30.1
		c1.4,7.2,4.4,19.2-9.7,33.9c3,5.4,9.5,12.1,7.4,19.4c-3.3,5.6-9.1,10-17.9,13.8c8.8,7,18.6,19.2,11.4,25.8
		c-2.3-0.5-12.4,4.7-12.6,1.4c-6,4-14.3,2.8-16.3-7.1c-8.8-10.5-13.9-11.7-1.5-21.5c0-1.9-11.2-0.3-11.8,6.4
		c-0.5,6.6-3.8,8.6,3.2,17c-0.1,4,1.5,12.1-6.6,10.8c-4.5,0.5-8.7,0.4-8.7,0.4L69,585.6c0,0-5.6,0.6-6.4-2.5c-4.2,6-15.9,3.8-12-5.9
		c1.7-6.7,2.1-8.5,6-9.2c0.5-8.6,2-29.5,2-29.5l-1.8-14.3l-0.8-2.8c0,0-19.2-14-12.2-31.8C47,478.1,50.9,463.2,75.5,458.1z"/>
</g>
<g id="Layer_9">
</g>
<g id="Top_drawer03">
	<path class="st12" d="M1093.1,55.5v288.6h205.6v-289L1093.1,55.5z M1263.9,236.1l-33.2,0v-81l33.3,0.2L1263.9,236.1z"/>
</g>
<g id="Top_drawer02">
	<path class="st12" d="M864.4,54.9v289H1070V55.3L864.4,54.9z M896.3,155.4l32.9-0.2v80.8l-32.9-0.1V155.4z"/>
</g>
<g id="Top_drawer01">
	<path class="st12" d="M652,55.3v288.6h205.6v-289L652,55.3z M825.8,236.2l-33-0.2l-0.2-80.8H826L825.8,236.2z"/>
</g>
<g id="Tiles_01">
	<rect x="652" y="353.6" class="st12" width="76" height="76.7"/>
	<rect x="727.9" y="430.7" class="st12" width="76" height="76.7"/>
	<rect x="803.3" y="353.5" class="st12" width="76" height="76.7"/>
	<polygon class="st12" points="954.4,507.5 900.7,507.2 892.2,483 879.2,466.7 879.4,430.7 953.9,430.7 	"/>
	<rect x="954.6" y="353.2" class="st12" width="76" height="76.7"/>
	<polygon class="st12" points="1030.8,586.1 963.9,586.1 963.9,576.6 957.9,576.6 958,571.5 954.6,571.4 954.8,509.4 1030.8,509.4 	
		"/>
	<rect x="1029.5" y="431.5" class="st12" width="76" height="76.7"/>
	<rect x="1106.1" y="353.2" class="st12" width="76" height="76.7"/>
	<rect x="1105.7" y="509.8" class="st12" width="76" height="76.7"/>
	<rect x="1257.8" y="353.2" class="st12" width="42.2" height="76.7"/>
	<rect x="1257.4" y="509.8" class="st12" width="42.2" height="76.7"/>
	<rect x="1181.9" y="431.5" class="st12" width="76" height="76.7"/>
	<polygon class="st12" points="859.4,578 859,585.8 856.2,585.8 803.7,585.8 803.7,509 833,509 835.1,509.5 835,522.6 855.2,525.9 
		860.4,509.1 861.8,509 879.7,509 879.7,569.2 879.7,571.1 866.7,571.4 866.2,577.9 	"/>
	<rect x="652.2" y="508.2" class="st12" width="76" height="76.7"/>
	<polygon class="st12" points="878.8,507.9 882.1,507.8 902,586.5 887.7,586.3 887.2,575.6 879.8,575.7 880.3,570.8 878.5,569.6 	
		"/>
	<polygon class="st12" points="879.1,502.6 881.6,507.4 878.8,507.9 	"/>
</g>
<g id="Tiles_02">
	<rect x="726" y="351.7" class="st12" width="76.4" height="77.1"/>
	<rect x="650.4" y="430.8" class="st12" width="76.4" height="77.1"/>
	<polygon class="st12" points="878.1,466.9 868.9,466.1 854.5,474 834.3,507.6 831,507.6 801.7,507.6 801.7,430.4 878.1,430.4 	"/>
	<rect x="878.1" y="352.1" class="st12" width="76.4" height="77.1"/>
	<rect x="953.7" y="429.7" class="st12" width="76.4" height="77.1"/>
	<rect x="1029.5" y="352.4" class="st12" width="76.4" height="77.1"/>
	<rect x="1181.6" y="352.7" class="st12" width="76.4" height="77.1"/>
	<rect x="1181.6" y="509.1" class="st12" width="76.4" height="77.1"/>
	<rect x="1105.1" y="429.8" class="st12" width="76.4" height="77.1"/>
	<rect x="1256.9" y="429.8" class="st12" width="42.6" height="77.1"/>
	<rect x="1029.9" y="508.3" class="st12" width="76.4" height="77.1"/>
	<polygon class="st12" points="944.1,570.3 944.3,575.8 937.7,576.4 937.6,585.2 921.6,585.3 902,508.8 955.1,508.3 955.1,563.2 
		954.8,570.7 	"/>
	<rect x="725.5" y="508.5" class="st12" width="76.4" height="77.1"/>
	<path class="st12" d="M859.1,507.9l0.4-13.9c0,0,7.1-10.7,13.8-5c6.7,5.6,5.9,9.5,5.9,9.5l-1.4,9.2L859.1,507.9z"/>
</g>
<g id="Tap">
	<polygon class="st12" points="857.7,587.6 886,587.8 886,577.2 880,577.2 880,571.1 865.2,571.1 865.2,575.1 857.7,575.6 	"/>
	<polygon class="st12" points="937,588.8 963.9,588.8 963.9,577.7 957.9,577.2 957.9,570.7 943.6,570.5 943.5,574.9 935.5,574.7 	
		"/>
	<path class="st12" d="M900.6,586.1l-17.2-80c0,0-15.5-38.2-24.9-4c1.4,7.2-1.7,15.8-1.7,15.8l-2,7.5c0,0-21.7-2-21.7-7.5
		c0-5.5,3.8-16.9,7.6-21.5c3.7-6.6,20.1-35.2,34.1-30c12.6,6,22.5,18.4,31.9,63.9c8,37.1,13.5,57.8,13.5,57.8l-18.6,0.6L900.6,586.1
		z"/>
</g>
<g id="clock">
	<ellipse class="st12" cx="305.8" cy="169.2" rx="95.6" ry="96"/>
</g>
<g id="clock_needle">
	<path class="st12" d="M305.8,155.5c0,0-5-54.2,1-69.2c2,8.5,4.7,61.8,0.5,70C305.8,155,305.8,155.5,305.8,155.5z"/>
	<path class="st12" d="M303.5,172.2c0,0-21.9,6.8-23.4,36.8C285.1,206.5,299.8,202.5,303.5,172.2z"/>
	<path class="st12" d="M304,169.5c0,0-5.2-5.1,1.7-8.1c1.6-0.1,5.6,1,5,5.1C309.6,168.5,309,170.9,304,169.5z"/>
</g>
<g id="sink_base">
	<polygon class="st12" points="224.6,607.5 1,606.2 1,587.8 229.1,589.2 	"/>
	<polygon class="st12" points="271.6,588.5 265.7,608 287.3,607.2 290.6,589 	"/>
	<path class="st12" d="M380.9,588.8l6.2-0.2c0,0,7.7,16.5,11,18.2c-7.2,0.5-16.9,0-16.9,0L380.9,588.8z"/>
	<polygon class="st12" points="489,590.8 460.4,607.2 485.8,607.5 495.7,593.2 	"/>
	<path class="st12" d="M501.2,595.5l-6.5,11.8l73.7-0.5c0,0-2.2-15,11.2-17c-2.7-1.2-4.5-1.5-4.5-1.5l-37.6-1.2c0,0-3,5-7.2,4.5
		C525.4,593.8,513.2,597.8,501.2,595.5z"/>
	<path class="st12" d="M638.6,589.2l660.1-1v19.2l-648.9-0.8C649.8,606.8,655.6,594.2,638.6,589.2z"/>
</g>
<g id="bowl">
	<path class="st12" d="M397.3,630.2c0,0,55.1-7.7,64.8-6.2c-3.2,5.6-6.8,7.7-6.8,7.7s-87.5,8-85.7,26c3.2,5.3,15,17.8,43,20.7
		c18.9,2.7,80.4,8.9,104.3-3.8c13.3-3.8,43.9-14.5,23.6-27.2c-35.1-8.9-49.5-11.8-49.5-11.8s3.2-7.7,2.9-9.2
		c-0.3-1.5,14.7-0.3,19.2,1.5c4.4,1.8,44.2,11.8,46.9,23.7c1.5,6.5-5.9,53.8-27.7,70.4c-14.1,13.3-24.2,21.9-34.5,24.9
		c-2.9,5.6-26.5,15.1-49.8,11.8c-20-3.6-23-7.1-29.8-11.5c-10-4.7-41-25.4-53.3-53.6c-6.8-18.6-14.1-42.6-3.8-48.5
		C370.7,639.1,391.7,629.9,397.3,630.2z"/>
</g>
<g id="milk">
	<path class="st12" d="M490.1,635.5c0,0-14.4,13.6-23.3,22.5c-8.8,8.6-18.3,6.8-20.9,2.7c-1.2-7.1,7.4-23.4,7.4-23.4
		S430,637,412,640c-36.8,6.2-42.7,16.3-42.7,16.3c7.7,19.8,50.1,23.7,73.4,25.4c87.5,4.1,106.6-20.9,104-26.9
		C546.1,644.7,490.1,635.5,490.1,635.5z M396.6,646.1c1.5-0.6,5.6-2.8,6.9-2.1c1.3,0.7,5.8,3.6,6.1,4.7c0.3,1.1-0.8,2-2.6,1.8
		c-1.8-0.1-2.2,0.6-3,1.2c-0.8,0.6-2.9,1.5-4.2,0.7s-4.1-3.1-4.1-3.1S395.1,646.7,396.6,646.1z M401.5,668.5
		c-2.2,0.1-3.4,0.7-3.4,0.8s-4.6,1.9-4.6,1.9s-4.3-3.8-4.3-4.7c0-0.9,1.4-2,1.4-2s3.7-1.8,3.9-1.8c0.1,0,0.3-0.1,0.6,0
		c0.3,0,2.5-0.1,4.4,1.6C401.4,666,403.7,668.4,401.5,668.5z M420.7,660.5c-0.6,1.2-0.6,2.1-0.5,2.2c0,0.1-1.6,0.6-1.6,0.6
		s-4.8,2-6.9,1.5c-2.2-0.4-5.1-1.1-5.1-1.1l-2-1.6c0,0-2.5-0.3-3.2-0.4c-0.8-0.8-2.1-2.1-2.1-2.1s5.5-4.3,8.7-4.1
		c3.2,0.1,4.4,0.6,5,0.9c1.4-0.1,2.5-0.4,3.2,0.1c1.2,0.5,2.7,0.4,3.5,0.5C420.4,657.2,421.4,659.8,420.7,660.5z M442.6,668.2
		c-0.3,1-0.8,2.7-1.7,3c-0.8,0.3-2.5,1.1-3.2,1.2c-0.8,0.1-3.1,0.3-3.4,0.3c-0.3,0-2.1-0.2-3.2-0.9c-1.1-0.7-1.3-1.3-2.2-1.4
		c-1-0.1-1.4,0.1-2.4-0.7c-1-0.8-1.7-1.2-1.7-1.2s4.7-3.6,7.3-3.2c2.6,0.4,3.2,0.7,3.6,0.8c0.4,0.1,1.8-0.1,1.8-0.1l2.1,0.7
		C439.7,666.7,442.9,667.2,442.6,668.2z M443.4,645.9c-0.3,2.4-2.4,5-2.4,5s-5.3,3.3-8.1,3.6c-2.9,0.3-7.1,0.7-7.7,0.4
		c-0.6-0.3-5.6-2.1-6.9-1.6s-1.8,0-1.8,0s-3.8-2.8,0.3-5.6c4.1-2.8,10-5.6,12.8-5c3.1,0,5.2-1.3,6.3-0.7
		C439.4,641.9,443.7,641.7,443.4,645.9z M472.5,670.7l-5.8,0.9l-5.5,2.8c0,0-2.5-0.8-2.5-0.9c-0.1-0.1-2.9-1.5-3.5-2
		c-0.5-0.6-3.9-3.9-4-4c-0.1-0.1,1.9-1.6,1.9-1.6l10.9-4.6l2.4,1.8l3.3,2.1l2.8,3V670.7z M504.2,671.9c0,0-2.4,1.3-2.5,1.4
		c0,0.2-1.8,0.9-2,0.8c-0.3-0.1-2.8-1.4-2.8-1.4l-1.1-1.4c0,0-2.9-1.3,0-2.9c2.8-1.6,4.4-2.5,4.4-2.5s1.6-0.9,4.1,0.8
		c2.4,1.7,3.3,3,3.4,3.1c0.1,0.1,0.6,1.7,0.6,1.7L504.2,671.9z M511,654.5l-0.9,2.3l-2.1,0.9l-4.1,1.5l-5.2-0.7l-2.7-0.9
		c0,0-1.3-1.3-1.5-1.3s-2-0.2-2-0.2l-1-0.5c0,0,0,0-0.1-0.1c-0.5-0.3-2.7-1.8-0.3-2.9c2.7-1.3,4.8-3,7-2.9c2.2,0.1,3.2,0.1,5,1
		c1.6-0.6,2.4-0.3,2.5-0.2c0.1,0,2.9,0.7,2.9,0.7l3.2,1.6L511,654.5z M527.2,654.3c-0.1,0.1-2.9,0.4-2.9,0.4s-2.2,1.1-2.3,1.3
		c0,0.1-1.1,0.7-1.4,0.7c-0.3,0.1-2.3-0.2-2.6-0.5c-0.3-0.3-2.3-2.1-2.3-2.1s-2.7-2.3,0-3.7c2.7-1.4,5.5-1.9,5.7-1.9
		c0.1,0,2.6,0.7,3.7,1.5s2.9,2.9,2.9,3C528,653.2,527.2,654.2,527.2,654.3z"/>
</g>
<g id="chocos">
	<path class="st12" d="M416.6,653.3c0,0-3.8-2.8,0.3-5.6c4.1-2.8,10-5.6,12.8-5c3.1,0,5.2-1.3,6.3-0.7c3.4,0,7.7-0.1,7.4,4
		c-0.3,2.4-2.4,5-2.4,5s-5.3,3.3-8.1,3.6c-2.9,0.3-7.1,0.7-7.7,0.4c-0.6-0.3-5.6-2.1-6.9-1.6S416.6,653.3,416.6,653.3z"/>
	<path class="st12" d="M399.2,659.6c0,0,5.5-4.3,8.7-4.1c3.2,0.1,4.4,0.6,5,0.9c1.4-0.1,2.5-0.4,3.2,0.1c1.2,0.5,2.7,0.4,3.5,0.5
		c0.8,0.1,1.8,2.8,1.1,3.5c-0.6,1.2-0.6,2.1-0.5,2.2c0,0.1-1.6,0.6-1.6,0.6s-4.8,2-6.9,1.5c-2.2-0.4-5.1-1.1-5.1-1.1l-2-1.6
		c0,0-2.5-0.3-3.2-0.4C400.5,660.9,399.2,659.6,399.2,659.6z"/>
	<path class="st12" d="M390.6,664.5c0,0,3.7-1.8,3.9-1.8c0.1,0,0.3-0.1,0.6,0c0.3,0,2.5-0.1,4.4,1.6c1.9,1.7,4.2,4.1,2.1,4.3
		s-3.4,0.7-3.4,0.8s-4.6,1.9-4.6,1.9s-4.3-3.8-4.3-4.7C389.2,665.7,390.6,664.5,390.6,664.5z"/>
	<path class="st12" d="M395.7,649.4c0,0-0.6-2.7,0.9-3.3c1.5-0.6,5.6-2.8,6.9-2.1c1.3,0.7,5.8,3.6,6.1,4.7c0.3,1.1-0.8,2-2.6,1.8
		c-1.8-0.1-2.2,0.6-3,1.2c-0.8,0.6-2.9,1.5-4.2,0.7S395.7,649.4,395.7,649.4z"/>
	<path class="st12" d="M424.8,668.5c0,0,4.7-3.6,7.3-3.2c2.6,0.4,3.2,0.7,3.6,0.8c0.4,0.1,1.8-0.1,1.8-0.1l2.1,0.7
		c0,0,3.2,0.6,2.9,1.5c-0.3,1-0.8,2.7-1.7,3c-0.8,0.3-2.5,1.1-3.2,1.2c-0.8,0.1-3.1,0.3-3.4,0.3c-0.3,0-2.1-0.2-3.2-0.9
		c-1.1-0.7-1.3-1.3-2.2-1.4c-1-0.1-1.4,0.1-2.4-0.7C425.6,668.9,424.8,668.5,424.8,668.5z"/>
	<path class="st12" d="M453.1,665.9c0,0-2,1.4-1.9,1.6c0.1,0.1,3.5,3.5,4,4c0.5,0.6,3.4,1.9,3.5,2c0.1,0.1,2.5,0.9,2.5,0.9l5.5-2.8
		l5.8-0.9v-2.5l-2.8-3l-3.3-2.1l-2.4-1.8L453.1,665.9z"/>
	<path class="st12" d="M491.5,655.5c0,0,0,0-0.1-0.1c-0.5-0.3-2.7-1.8-0.3-2.9c2.7-1.3,4.8-3,7-2.9c2.2,0.1,3.2,0.1,5,1
		c1.6-0.6,2.4-0.3,2.5-0.2c0.1,0,2.9,0.7,2.9,0.7l3.2,1.6l-0.7,1.8l-0.9,2.3l-2.1,0.9l-4.1,1.5l-5.2-0.7l-2.7-0.9
		c0,0-1.3-1.3-1.5-1.3s-2-0.2-2-0.2L491.5,655.5z"/>
	<path class="st12" d="M495.8,671.3c0,0-2.9-1.3,0-2.9c2.8-1.6,4.4-2.5,4.4-2.5s1.6-0.9,4.1,0.8c2.4,1.7,3.3,3,3.4,3.1
		c0.1,0.1,0.6,1.7,0.6,1.7l-4,0.3c0,0-2.4,1.3-2.5,1.4c0,0.2-1.8,0.9-2,0.8c-0.3-0.1-2.8-1.4-2.8-1.4L495.8,671.3z"/>
	<path class="st12" d="M515.6,654.1c0,0-2.7-2.3,0-3.7c2.7-1.4,5.5-1.9,5.7-1.9c0.1,0,2.6,0.7,3.7,1.5s2.9,2.9,2.9,3
		c0,0.1-0.7,1.1-0.8,1.3c-0.1,0.1-2.9,0.4-2.9,0.4s-2.2,1.1-2.3,1.3c0,0.1-1.1,0.7-1.4,0.7c-0.3,0.1-2.3-0.2-2.6-0.5
		C517.6,655.9,515.6,654.1,515.6,654.1z"/>
</g>
<g id="glass">
	<path class="st12" d="M576,727.9l-7.6-124.2c0,0-2.9-11.7,11.7-14.1c14.6-2.3,62.9-7,69.6,9.7c-0.6,9.1-7.9,126.3-7.9,126.3
		S624,749.3,576,727.9z"/>
</g>
<g id="t-shirt">
	<path class="st12" d="M244.5,555.3c0,0-9.3-13,7.7-14.7c8.8-14.7,31.3-46.1,53.5-47c11.1-4.4,17.6-3.8,17.6-3.8s-8.5,15.3,5.9,21.4
		c14.9,5.9,26.3,7.9,35.4-1.5c4.1-7.6,5-15,5-15s21.4,3.2,28.7,14.1c7.3,11.2,15.2,32.6,15.2,32.6s10.5,4.1,4.7,13.8
		c-7.6,4.7-32.8,20.9-39.2,16.7c-0.3,25.8,3.2,46.1,3.2,46.1s7.9,9.4,3.5,12.3c-16.7,0.6-96.8,0.3-96.8,0.3l-3.5-8.2l16.4-89
		L287,554.6c0,0,1.2,14-8.1,14.3C264.5,569.2,248.9,557,244.5,555.3z"/>
	<path class="st12" d="M537.5,552.8l5.4-3.5c0,0,9.1,6,7.4,12.5c-1.8,4.4-2.6,5.9-5,5.9c-0.1,4.3-1.2,9.1-5.7,10.7
		c0.1,4.7,0.6,13-10.4,12.4c-8.4,4.3-20.4,7.4-27,3.8c3.8-7.4,17.1-22.9,17.1-22.9s0.5-7.2,7.3-7.6C526,558,533.9,555.6,537.5,552.8
		z"/>
</g>
<g id="face_and_body">
	<path class="st12" d="M383.5,574.6l32.9-17.3l7.7,21.6c0,0,34.2-18.4,61.5-15.9c0.9-9.8,8-25.8,20.7-26.7
		c13.2-1.5,23.1-6.7,23.1-6.7s6.5,1.7,6.6,8.3c0.1,6.5-0.4,9.6-0.4,9.6l-1.7,3.8l-8,2.8l-29.5,38.6c0,0-7,2.1-7.8-1.8
		c-6.2,6.2-58.2,25.5-67.1,25.5c-10.7,0-19.6-6.4-24-11.8C389.9,599.6,383.9,577.8,383.5,574.6z"/>
	<path class="st12" d="M244.2,555.4c0,0-21.2,48.7-19.6,53.2c-17.3,3.8-35.4,31.7-27,45.2c14.6-13.9,22.7-21.4,23.9-21.7
		c1.2-0.3,67.4-2.2,67.4-2.2s-6.9-17.9-24.9-16.8c2.2-10.3,14.9-43.6,17.4-44.2C267.6,571.4,245.5,557.8,244.2,555.4z"/>
	<path class="st12" d="M500.8,597l17.1-23c0,0,0.7-8,8.2-8.4c0.6-2.4-0.4-10.5,8.1-9.6c3.1-3,9.6-5.8,9.6-5.8s9.8,6.1,5.9,13.5
		c-2.5,3.8-6,5.2-6,5.2s3.6,6.6-4.7,10.5c0,5.8-0.1,12-9.3,12.1C521.1,594,508.2,598,500.8,597z"/>
	<path class="st12" d="M445.7,405.2c-5.2-11.2-19.2,5.8-19.2,5.8l-5.2-16.5l-7,7.8c0,0,0.2-6,1.5-13.5c0.2-25-36.8-36.5-42.1-36.2
		c0.2,5.2-9,15.2-12.2,17c-2.2-10.2-13.4-15.2-22.2-16.2c-0.2,2-0.2,5.2-2.7,5.5c-16.4-13-33.6-0.8-41.3,10c4,9.8,0.5,21-4,30.2
		c-5.7,4-6.7,19.8-6.7,19.8s-3.7-2.2-6.2-5.5c-4.2-14.2-19.2-17-19.2-17s0,0-3,1.2c-20.7,8-13.4,29.5-10,37.2
		c15.7,19,28.9,7.5,33.6,2c-5.5,29,54,50.8,54,50.8l-2.2,4.2l-8.7,0.8c-6.7,17,9.5,21.2,22.9,25.2c20.4,1.2,23.2-20.2,22.4-25.5
		c32.1-6.2,52.3-39,55.5-47.8c2.5,5.2,9.5,5.8,17.4,2.5C453.4,443,450.9,416.5,445.7,405.2z M332,420c-8,0-13-8.6-13-18.7
		c0-10.1,7.4-18.6,15.4-18.6s13.6,8.6,13.6,18.6C348,411.4,340,420,332,420z M389.2,425.1c-8,0-12.9-8.6-12.9-18.6s3-23,11-23
		s13.6,10.5,13.6,20.5S397.2,425.1,389.2,425.1z"/>
</g>
<g id="eyes">
	<path class="st12" d="M348,401.3c0,10.1-8,18.7-16,18.7s-13-8.6-13-18.7c0-10.1,7.4-18.6,15.4-18.6S348,391.3,348,401.3z"/>
	<path class="st12" d="M400.8,404c0,10.1-3.6,21.1-11.6,21.1s-12.9-8.6-12.9-18.6s3-23,11-23S400.8,393.9,400.8,404z"/>
</g>
<g id="Tongue">
	<path class="st12" d="M331.1,456c0,0,9.3,13.4,25,13.8c-0.4-2.4-2.9-9.9-9.5-10.6C341,457.1,332.4,453.2,331.1,456z"/>
</g>
<g id="Hair">
	<path class="st12" d="M258.6,397.6c0,0,12.3-1.2,18.6,12.3c2.2,4.2,6.5,8.5,6.5,8.5s3.2-8.7,3.7-11.2c0.8-3.2,12.6-19.3,8.5-37.7
		c5.8-9,18.4-22.2,40.3-11.8c1.5,1.7,3.8-1.2,3.8-4.8c3.8-0.5,20.7,6.5,22.1,16.7c4.6-2.8,11.8-12,12.1-18.2
		c5,0.7,37.5,12.7,39.5,29.8c0.8,15.3,0.7,20.8,0.7,20.8l7.3-7.5l5.1,16.8c0,0,7.5-11.2,13.8-9.8c-1-7.3-3.3-15.7-3.3-15.7l8.1-5
		c0,0-13.3-13.8-15.1-21.7c-5.3-8.8-12-24.8-36.5-29c4-7.7,5.3-12,5.3-12s-15.1,6.7-43.5-0.3c-13.9,0.3-46.6,5.5-56.3,17
		c-10,8-15.4,16.3-15.4,16.3s-2.3-4.3-0.8-10.5c1.5-6.2-7.5,0-4.8,14c1.2,2.5,0,3,0,3h-9.5l3.5,4.5l-4.8,3.7l2.8,1.7
		C270.2,367.6,258.9,378.9,258.6,397.6z"/>
</g>
<g id="spoon">
	<path class="st12" d="M446.2,660.8c0,0,1.5-14.8,9.3-25c7.8-10.2,21.4-24,29.5-25.8c3.1-6.6,41.6-56.1,41.6-56.1s6.3-1.9,7-4.9
		s1.5-11.6,8-19.5c6.5-7.9,12.8-16.9,23-13.5s2.1,9.4-0.1,15.4c-6.1,6.2-29.6,24.2-29.6,24.2s-8.8,0.6-7.8,7.8
		c-2.1,1.2-11.5,6.4-8.7,10.9c-3.6,3.6-24.8,34-24.8,34s-2.2,7.1-1,12.9c-0.7,7.1-7.6,33.4-37.8,43.5
		C449.3,664.4,445.9,663.1,446.2,660.8z"/>
</g>
<g id="Layer_1">
	<g>
		<path class="st9" d="M902,588.4l-20.3-84.1c-6.6-19.6-16.2-25.4-23.9-5.2l0.7,6.3l-2.9,18.8c-6.2,3.7-22.4,0-23.2-7L838,498
			l4.8-4.8c13.2-33.6,43.8-39.9,54.8,5.2l22.9,89.7"/>
		<path class="st19" d="M845.5,517.4c5.7,1.5,9.8,4.1,9.1,5.9c-0.7,1.8-5.8,2-11.5,0.5c-5.7-1.5-9.8-4.1-9.1-5.9
			C834.6,516.2,839.8,515.9,845.5,517.4z"/>
		<polyline class="st28" points="879.8,575.7 879.8,570.5 865.2,570.5 865.2,575.7 		"/>
		<polyline class="st9" points="886.6,588.7 886.6,576 858.4,576 858.4,588.7 		"/>
		<polyline class="st28" points="957.9,576.7 957.9,570.5 943.4,570.5 943.4,576.7 		"/>
		<g>
			<path class="st26" d="M305.8,73.7c52.8,0,95.7,43.1,95.7,96.1c0,53-42.9,96.1-95.7,96.1c-52.8,0-95.7-43.1-95.7-96.1
				C210.1,116.8,253,73.7,305.8,73.7z"/>
			<path class="st11" d="M307.6,81.2c46.2,0,83.7,37.6,83.7,84c0,46.4-37.5,84-83.7,84s-83.7-37.6-83.7-84
				C224,118.8,261.4,81.2,307.6,81.2z"/>
			<path class="st26" d="M306.7,161.4c-2.4,0-4.3,1.9-4.3,4.3c0,2.4,1.9,4.3,4.3,4.3c2.4,0,4.3-1.9,4.3-4.3
				C311,163.3,309.1,161.4,306.7,161.4z"/>
			<g>
				<g>
					<path d="M302.8,110.7h-2.4V95.2c-0.6,0.6-1.3,1.1-2.3,1.7c-0.9,0.6-1.8,1-2.5,1.3v-2.4c1.3-0.6,2.5-1.4,3.5-2.3
						c1-0.9,1.7-1.8,2.2-2.6h1.6V110.7z"/>
					<path d="M321.8,108.3v2.3h-13c0-0.6,0.1-1.1,0.3-1.7c0.3-0.9,0.9-1.8,1.6-2.6c0.7-0.9,1.8-1.9,3.2-3c2.1-1.8,3.6-3.2,4.3-4.2
						c0.8-1,1.1-2,1.1-2.9c0-1-0.3-1.8-1-2.4c-0.7-0.7-1.6-1-2.7-1c-1.2,0-2.1,0.4-2.8,1.1c-0.7,0.7-1.1,1.7-1.1,2.9l-2.5-0.3
						c0.2-1.9,0.8-3.3,1.9-4.3c1.1-1,2.6-1.5,4.5-1.5c1.9,0,3.4,0.5,4.5,1.6c1.1,1.1,1.7,2.4,1.7,3.9c0,0.8-0.2,1.6-0.5,2.3
						c-0.3,0.8-0.9,1.6-1.6,2.4c-0.7,0.8-2,2-3.7,3.5c-1.5,1.2-2.4,2.1-2.8,2.5c-0.4,0.4-0.8,0.9-1,1.3H321.8z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M312.5,226.6l-2.4,0.2c-0.2-1-0.5-1.6-0.9-2.1c-0.7-0.7-1.5-1-2.4-1c-0.8,0-1.5,0.2-2,0.6c-0.8,0.6-1.4,1.4-1.8,2.4
						c-0.4,1.1-0.7,2.6-0.7,4.6c0.6-0.9,1.3-1.6,2.1-2c0.8-0.4,1.7-0.7,2.6-0.7c1.6,0,3,0.6,4.1,1.8c1.1,1.2,1.7,2.7,1.7,4.6
						c0,1.2-0.3,2.4-0.8,3.5c-0.5,1.1-1.3,1.9-2.2,2.4c-0.9,0.6-2,0.9-3.2,0.9c-2,0-3.7-0.7-4.9-2.2c-1.3-1.5-1.9-3.9-1.9-7.4
						c0-3.8,0.7-6.6,2.1-8.3c1.2-1.5,2.9-2.3,5-2.3c1.5,0,2.8,0.4,3.8,1.3C311.7,223.9,312.3,225.1,312.5,226.6z M302.6,235.1
						c0,0.8,0.2,1.6,0.5,2.4c0.4,0.8,0.8,1.3,1.5,1.8c0.6,0.4,1.3,0.6,2,0.6c1,0,1.9-0.4,2.6-1.2c0.7-0.8,1.1-2,1.1-3.4
						c0-1.4-0.4-2.4-1.1-3.2c-0.7-0.8-1.6-1.2-2.7-1.2c-1.1,0-2,0.4-2.8,1.2C303,232.8,302.6,233.9,302.6,235.1z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M230.5,168.4l2.3-0.2c0.2,1.1,0.6,1.9,1.1,2.4s1.3,0.7,2.1,0.7c0.7,0,1.4-0.2,2-0.5c0.6-0.3,1-0.8,1.4-1.4
						c0.4-0.6,0.7-1.3,0.9-2.3c0.2-1,0.4-2,0.4-3c0-0.1,0-0.3,0-0.5c-0.5,0.8-1.1,1.4-2,1.9c-0.8,0.5-1.7,0.7-2.7,0.7
						c-1.6,0-3-0.6-4.1-1.8c-1.1-1.2-1.7-2.8-1.7-4.7c0-2,0.6-3.6,1.8-4.8c1.2-1.2,2.7-1.8,4.4-1.8c1.3,0,2.4,0.3,3.5,1
						c1.1,0.7,1.9,1.7,2.4,3c0.6,1.3,0.8,3.1,0.8,5.6c0,2.5-0.3,4.5-0.8,6c-0.5,1.5-1.4,2.6-2.4,3.4c-1.1,0.8-2.3,1.2-3.8,1.2
						c-1.5,0-2.8-0.4-3.8-1.3C231.3,171.1,230.7,169.9,230.5,168.4z M240.4,159.6c0-1.4-0.4-2.5-1.1-3.3c-0.7-0.8-1.6-1.2-2.7-1.2
						c-1.1,0-2,0.4-2.8,1.3c-0.8,0.9-1.2,2-1.2,3.4c0,1.3,0.4,2.3,1.1,3.1c0.8,0.8,1.7,1.2,2.8,1.2c1.1,0,2-0.4,2.8-1.2
						C240,162.1,240.4,161,240.4,159.6z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M369.8,167.7l2.4-0.3c0.3,1.4,0.8,2.4,1.4,3c0.7,0.6,1.5,0.9,2.4,0.9c1.1,0,2.1-0.4,2.9-1.2c0.8-0.8,1.2-1.8,1.2-2.9
						c0-1.1-0.4-2-1.1-2.8c-0.7-0.7-1.6-1.1-2.8-1.1c-0.5,0-1,0.1-1.7,0.3l0.3-2.1c0.2,0,0.3,0,0.4,0c1,0,2-0.3,2.8-0.8
						c0.8-0.5,1.2-1.4,1.2-2.5c0-0.9-0.3-1.6-0.9-2.2c-0.6-0.6-1.4-0.9-2.3-0.9c-0.9,0-1.7,0.3-2.4,0.9c-0.6,0.6-1,1.5-1.2,2.7
						l-2.4-0.4c0.3-1.6,1-2.9,2-3.8c1.1-0.9,2.4-1.3,3.9-1.3c1.1,0,2.1,0.2,3,0.7c0.9,0.5,1.6,1.1,2.1,1.9c0.5,0.8,0.7,1.7,0.7,2.6
						c0,0.9-0.2,1.6-0.7,2.3c-0.5,0.7-1.1,1.3-2,1.7c1.2,0.3,2.1,0.8,2.7,1.7c0.6,0.9,1,1.9,1,3.2c0,1.7-0.6,3.2-1.9,4.4
						c-1.3,1.2-2.8,1.8-4.8,1.8c-1.7,0-3.2-0.5-4.3-1.6C370.6,170.7,369.9,169.4,369.8,167.7z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M345,121.1h-2.4v-15.5c-0.6,0.6-1.3,1.1-2.3,1.7c-0.9,0.6-1.8,1-2.5,1.3v-2.4c1.4-0.6,2.5-1.4,3.5-2.3
						c1-0.9,1.7-1.8,2.2-2.6h1.6V121.1z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M369.4,140.7v2.3h-13c0-0.6,0.1-1.1,0.3-1.7c0.3-0.9,0.9-1.8,1.6-2.6c0.7-0.9,1.8-1.9,3.2-3c2.1-1.8,3.6-3.2,4.3-4.2
						c0.8-1,1.1-2,1.1-2.9c0-1-0.3-1.8-1-2.4c-0.7-0.7-1.6-1-2.7-1c-1.2,0-2.1,0.4-2.8,1.1c-0.7,0.7-1.1,1.7-1.1,2.9l-2.5-0.3
						c0.2-1.9,0.8-3.3,1.9-4.3c1.1-1,2.6-1.5,4.5-1.5c1.9,0,3.4,0.5,4.5,1.6c1.1,1.1,1.7,2.4,1.7,3.9c0,0.8-0.2,1.6-0.5,2.3
						c-0.3,0.8-0.9,1.6-1.6,2.4c-0.8,0.8-2,2-3.7,3.5c-1.5,1.2-2.4,2.1-2.8,2.5c-0.4,0.4-0.8,0.9-1,1.3H369.4z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M364.4,209.9v-4.7h-8.6V203l9-12.8h2V203h2.7v2.2h-2.7v4.7H364.4z M364.4,203V194l-6.2,8.9H364.4z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M335.9,225.5l2.5-0.2c0.2,1.2,0.6,2.2,1.3,2.8c0.7,0.6,1.5,0.9,2.5,0.9c1.2,0,2.2-0.4,3-1.3c0.8-0.9,1.2-2,1.2-3.5
						c0-1.4-0.4-2.5-1.2-3.3c-0.8-0.8-1.8-1.2-3-1.2c-0.8,0-1.5,0.2-2.1,0.5c-0.6,0.4-1.1,0.8-1.5,1.4l-2.3-0.3l1.9-10.2h9.8v2.3
						h-7.9l-1.1,5.3c1.2-0.8,2.4-1.2,3.7-1.2c1.7,0,3.2,0.6,4.4,1.8c1.2,1.2,1.8,2.7,1.8,4.6c0,1.8-0.5,3.3-1.6,4.6
						c-1.3,1.6-3,2.4-5.2,2.4c-1.8,0-3.3-0.5-4.4-1.5C336.7,228.5,336.1,227.2,335.9,225.5z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M267.6,121.1h-2.4v-15.5c-0.6,0.6-1.3,1.1-2.3,1.7c-1,0.6-1.8,1-2.6,1.3v-2.4c1.4-0.6,2.5-1.4,3.6-2.3
						c1-0.9,1.7-1.8,2.1-2.6h1.6V121.1z"/>
					<path d="M280.8,121.1h-2.4v-15.5c-0.6,0.6-1.3,1.1-2.3,1.7c-0.9,0.6-1.8,1-2.6,1.3v-2.4c1.4-0.6,2.5-1.4,3.6-2.3
						c1-0.9,1.7-1.8,2.2-2.6h1.6V121.1z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M245.6,143h-2.4v-15.5c-0.6,0.6-1.3,1.1-2.3,1.7c-0.9,0.6-1.8,1-2.5,1.3v-2.3c1.3-0.6,2.5-1.4,3.5-2.3
						c1-0.9,1.7-1.8,2.2-2.6h1.6V143z"/>
					<path d="M251.8,133.2c0-2.3,0.2-4.2,0.7-5.7c0.5-1.4,1.2-2.5,2.1-3.3c0.9-0.8,2.1-1.2,3.6-1.2c1.1,0,2,0.2,2.8,0.6
						c0.8,0.4,1.5,1,2,1.8c0.5,0.8,0.9,1.8,1.2,2.9c0.3,1.2,0.4,2.7,0.4,4.7c0,2.3-0.2,4.2-0.7,5.6c-0.5,1.4-1.2,2.5-2.1,3.3
						c-0.9,0.8-2.1,1.2-3.6,1.2c-1.9,0-3.4-0.7-4.5-2.1C252.5,139.6,251.8,137,251.8,133.2z M254.3,133.2c0,3.2,0.4,5.4,1.1,6.5
						c0.8,1.1,1.7,1.6,2.8,1.6s2-0.5,2.8-1.6c0.8-1.1,1.1-3.2,1.1-6.5c0-3.3-0.4-5.4-1.1-6.5c-0.8-1.1-1.7-1.6-2.8-1.6
						c-1.1,0-2,0.5-2.7,1.4C254.7,127.8,254.3,130,254.3,133.2z"/>
				</g>
			</g>
			<g>
				<g>
					<path d="M248,195.3c-1.4-0.5-2.4-1.2-3-2.1c-0.7-0.9-1-2-1-3.3c0-2,0.7-3.6,2.1-4.9c1.4-1.3,3.3-2,5.6-2c2.3,0,4.2,0.7,5.6,2
						c1.4,1.4,2.1,3,2.1,5c0,1.2-0.3,2.3-1,3.2c-0.7,0.9-1.6,1.6-3,2.1c1.6,0.5,2.9,1.4,3.7,2.6c0.9,1.2,1.3,2.6,1.3,4.3
						c0,2.3-0.8,4.2-2.4,5.8c-1.6,1.6-3.7,2.3-6.4,2.3s-4.8-0.8-6.4-2.4c-1.6-1.6-2.4-3.5-2.4-5.9c0-1.7,0.4-3.2,1.3-4.4
						C245.2,196.5,246.4,195.7,248,195.3z M247.4,189.7c0,1.3,0.4,2.3,1.2,3.1c0.8,0.8,1.9,1.2,3.2,1.2c1.3,0,2.3-0.4,3.1-1.2
						c0.8-0.8,1.2-1.8,1.2-2.9c0-1.2-0.4-2.2-1.2-3c-0.8-0.8-1.9-1.2-3.1-1.2c-1.3,0-2.3,0.4-3.1,1.2
						C247.8,187.6,247.4,188.6,247.4,189.7z M246.3,202.1c0,0.9,0.2,1.8,0.7,2.7c0.4,0.9,1.1,1.6,2,2c0.9,0.5,1.8,0.7,2.8,0.7
						c1.6,0,2.9-0.5,3.9-1.5c1-1,1.5-2.3,1.5-3.9c0-1.6-0.5-2.9-1.6-3.9c-1.1-1-2.4-1.6-3.9-1.6c-1.5,0-2.8,0.5-3.8,1.5
						C246.8,199.3,246.3,200.5,246.3,202.1z"/>
				</g>
			</g>
			<path class="st26" d="M304,171.3c-13.9,7.3-23.4,18.7-23.9,38.1C294.7,201.8,303.4,189.5,304,171.3z"/>
			<path class="st26" d="M306.7,83.7c-4.4,25.1-4.8,52.6,0,75.5C310.6,135.5,311,108.1,306.7,83.7z"/>
			<g>
				<g>
					<path class="st20" d="M268.3,214.1v-2.5h13.6v2c-1.3,1.4-2.7,3.3-4,5.7c-1.3,2.4-2.3,4.8-3,7.3c-0.5,1.8-0.8,3.7-1,5.8h-2.6
						c0-1.7,0.3-3.7,1-6c0.6-2.3,1.5-4.6,2.7-6.8c1.2-2.2,2.4-4,3.7-5.5H268.3z"/>
				</g>
			</g>
		</g>
		<polyline class="st30" points="168,829.2 168,880.3 49.6,880.3 49.6,807.9 		"/>
		<polyline class="st30" points="1046.4,807.9 1046.4,887.3 924,887.3 924,827.2 		"/>
		<path class="st3" d="M817.1,607.6H1299v-18.9H636c0,0,2.8,0.2,10.6,6c6.9,5.1,3.3,12.9,3.3,12.9H701H817.1z"/>
		<g>
			<rect x="792.5" y="155.1" class="st1" width="33.4" height="81.1"/>
			<g>
				<path class="st20" d="M854.5,57.1v284.1H655.4V57.1H854.5 M860.5,51.1H649.4v296.1h211.1V51.1L860.5,51.1z"/>
			</g>
			<g>
				<path class="st20" d="M835.8,83.5v231.4H674.2V83.5H835.8 M841.8,77.5H668.2v243.4h173.6V77.5L841.8,77.5z"/>
			</g>
		</g>
		<g>
			<rect x="896.2" y="155.1" class="st1" width="33.4" height="81.1"/>
			<g>
				<path class="st20" d="M1066.7,57.1v284.1H867.5V57.1H1066.7 M1072.7,51.1H861.5v296.1h211.1V51.1L1072.7,51.1z"/>
			</g>
			<g>
				<path class="st20" d="M1047.9,83.5v231.4H886.3V83.5H1047.9 M1053.9,77.5H880.3v243.4h173.6V77.5L1053.9,77.5z"/>
			</g>
		</g>
		<g>
			<rect x="1230.8" y="155.1" class="st1" width="33.4" height="81.1"/>
			<g>
				<path class="st20" d="M1292.8,57.1v284.1h-199.1V57.1H1292.8 M1298.8,51.1h-211.1v296.1h211.1V51.1L1298.8,51.1z"/>
			</g>
			<g>
				<path class="st20" d="M1274,83.5v231.4h-161.6V83.5H1274 M1280,77.5h-173.6v243.4H1280V77.5L1280,77.5z"/>
			</g>
		</g>
		<line class="st17" x1="649.4" y1="352.2" x2="1300" y2="352.2"/>
		<path class="st20" d="M964,587.7h336v-3h-117.8v-75H1300v-3h-117.8v-75H1300v-3h-117.8v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h-72.7
			v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h-72.7v-77.5h-3v77.5h0v3h0v75h0
			v3h0v75h0v3h208.2l0.1-3h-53.9v-75h31.9l0.6-3h-32.5v-75h72.7v36.5l3,1.7v-38.2h72.7v75h-54.3l1.2,3h53.1v61.2l3-0.2v-61h72.7v75
			h-63.5L964,587.7z M936.8,584.7h-17.5l0.3,3h17.2L936.8,584.7z M901.4,584.7H886l-0.6,3h16.4L901.4,584.7z M1103.6,431.7v75h-72.7
			v-75H1103.6z M800.8,584.7h-72.7v-75h72.7V584.7z M1030.9,509.7h72.7v75h-72.7V509.7z M1027.9,431.7v75h-72.7v-75H1027.9z
			 M879.5,570.3v-60.6h3.7l-0.2-3h-3.6V496l-3-4.3v15h-18.1l-0.2,3h18.3v60.6L879.5,570.3z M800.8,431.7v75h-72.7v-75H800.8z
			 M652.4,431.7h72.7v75h-72.7V431.7z M652.4,509.7h72.7v75h-72.7V509.7z M1179.3,584.7h-72.7v-75h72.7V584.7z M1179.3,506.7h-72.7
			v-75h72.7V506.7z"/>
		<polygon class="st3" points="225.2,607.6 231.2,588.7 1.8,588.7 1.8,607.6 		"/>
		<g>
			<path class="st8" d="M417.3,745.1c0,6.9,18.3,12.5,40.8,12.5c22.5,0,40.8-5.6,40.8-12.5"/>
		</g>
		<g>
			<path class="st27" d="M560.3,655.9c0,14.1-10,52.8-39.6,76.2c-3.6,3.4-23,19.9-62.6,19.9h0c-39.6,0-59-16.5-62.6-19.9
				c-29.6-23.4-39.6-62.1-39.6-76.2c0-17.9,44.9-31.9,102.2-31.9"/>
			<g>
				<path class="st20" d="M357,655.9c0-17.1,45.3-30.9,101.1-30.9h0l4.1,0l3-2c-2.4,0-4.7-0.1-7.1-0.1l0,0h0
					c-27.2,0-52.8,3.2-72.1,9.1c-20,6.1-31.1,14.6-31.1,23.8c0,5.2,1.7,18.1,8.2,33.7c5.1,12.3,14.8,29.9,31.7,43.3
					c3.7,3.5,23.4,20.2,63.3,20.2h0c39.8,0,59.5-16.7,63.3-20.2c16.9-13.4,26.6-30.9,31.7-43.3c6.5-15.7,8.2-28.6,8.2-33.7
					c0-9.2-11-17.7-31.1-23.8c-10.8-3.3-23.6-5.8-37.5-7.3l-0.5,2.1c39,4.3,67,15.7,67,29.1c0,11.6-8.4,51.1-39.2,75.4
					c-3,2.9-22.4,19.7-61.9,19.7h0c-39.5,0-58.9-16.8-61.9-19.7C396.2,731.3,361.9,703.6,357,655.9"/>
			</g>
		</g>
		<path class="st20" d="M458.1,686.8c-54.9,0-99.5-13.4-101.1-30c0,0.3,0,0.6,0,0.9c0,17.1,45.3,30.9,101.1,30.9
			c55.8,0,101.1-13.8,101.1-30.9c0-0.3,0-0.6,0-0.9C557.6,673.4,513,686.8,458.1,686.8z"/>
		<path class="st20" d="M454.5,637c-46.7,0.4-78.1,9.6-84.6,18.9c0-14.6,39.5-26.5,88.2-26.5L454.5,637z"/>
		<path class="st20" d="M491.3,631.3c32.3,3.9,55,13.5,55,24.6c-2.7-5.4-26-13.8-58.5-17.3L491.3,631.3z"/>
		<path class="st20" d="M422,657.2c-0.9-0.6-1.7-0.9-2.8-0.6c-1,0.3-1.9-0.2-2.8-0.8c-0.3-0.2-0.6-0.5-1-0.3
			c-0.4,0.2-1.7,0.5-1.7,0.5c-1-0.7-2-1.2-3.3-1.3c-1.3-0.1-2.6,0.1-3.9,0.2c-0.8,0.1-1.3,0.2-2,0.7c-0.6,0.4-1.2,0.7-1.9,1
			c-0.9,0.4-1.7,1.1-2.6,1.6c-0.5,0.2-1.1,0.5-1.4,0.8c-0.3,0.4-0.1,0.7,0.2,1c0.7,0.8,2,1.8,3.1,1.9c0.4,0,0.8-0.1,1.2,0
			c0.6,0.1,1.1,0.4,1.6,0.7c0.9,0.6,1.6,1.4,2.6,1.5c1.1,0.2,2.2,0.3,3.2,0.6c1.7,0.4,4,0.9,5.6-0.1c0.5-0.4,1.1-0.5,1.7-0.8
			c0.8-0.3,1.5-0.7,2.4-0.7c0.7,0,1.6,0.2,1.6-0.8c-0.1-1.1-0.3-2,0.5-2.9c0.3-0.3,0.7-0.6,0.7-1.1C423,657.9,422.3,657.4,422,657.2
			z M420,659.6c-0.6,0.7-0.4,1.4-0.4,2.3c0,0.8-0.7,0.6-1.3,0.7c-0.7,0-1.3,0.3-1.9,0.6c-0.5,0.2-0.9,0.3-1.4,0.6
			c-1.3,0.8-3.1,0.4-4.5,0.1c-0.9-0.2-1.7-0.3-2.6-0.4c-0.8-0.1-1.4-0.8-2.1-1.2c-0.4-0.3-0.8-0.5-1.3-0.6c-0.3,0-0.6,0-0.9,0
			c-0.9-0.1-1.9-0.9-2.5-1.5c-0.2-0.3-0.4-0.5-0.2-0.8c0.3-0.3,0.8-0.5,1.2-0.7c0.7-0.4,1.3-1,2.1-1.3c0.5-0.2,1-0.5,1.5-0.8
			c0.5-0.4,1-0.5,1.6-0.5c1.1-0.1,2.1-0.3,3.1-0.2c1,0.1,1.8,0.5,2.6,1c0,0,1-0.2,1.4-0.4c0.3-0.1,0.6,0.1,0.8,0.2
			c0.7,0.5,1.4,0.8,2.2,0.6c0.8-0.2,1.5,0,2.2,0.5c0.3,0.2,0.8,0.5,0.8,1C420.6,659.1,420.3,659.3,420,659.6z"/>
		<path class="st20" d="M445.4,644.3c0.3-0.5,0.8-1.1,0.7-1.7c-0.2-0.7-1.2-1.1-1.8-1.4c-1.5-0.5-2.7-0.7-4.1,0.1
			c-1.4,0.7-2.7,0.3-4.1-0.2c-0.5-0.2-1-0.4-1.5-0.1c-0.6,0.4-2.2,1.2-2.2,1.2c-1.6-0.7-3.2-1-4.9-0.8c-1.9,0.2-3.6,0.9-5.4,1.5
			c-1.1,0.4-1.8,0.7-2.6,1.6c-0.7,0.8-1.5,1.3-2.3,1.9c-1.1,0.8-2,2.1-3.1,3c-0.6,0.5-1.4,1-1.7,1.6c-0.4,0.6,0.1,1,0.6,1.4
			c1.3,0.9,3.3,1.9,4.9,1.7c0.5-0.1,1.1-0.3,1.6-0.4c0.9-0.1,1.7,0.2,2.5,0.5c1.4,0.5,2.7,1.4,4.1,1.3c1.6-0.1,3.1-0.2,4.7-0.2
			c2.5,0,5.8,0,7.7-1.8c0.7-0.7,1.3-1.1,2.1-1.6c1-0.7,1.9-1.4,3.1-1.8c1-0.3,2.3-0.3,1.9-1.7C445.2,647,444.6,645.8,445.4,644.3z
			 M441.9,648.4c0.3,1.1-0.7,1-1.5,1.3c-0.9,0.3-1.6,0.8-2.4,1.4c-0.6,0.4-1.1,0.7-1.6,1.2c-1.5,1.5-4,1.4-5.9,1.4
			c-1.2,0-2.4,0.1-3.6,0.2c-1.2,0.1-2.1-0.6-3.2-1c-0.6-0.2-1.3-0.4-1.9-0.3c-0.4,0-0.8,0.2-1.2,0.3c-1.2,0.2-2.8-0.6-3.8-1.3
			c-0.4-0.3-0.8-0.6-0.5-1.1c0.3-0.5,0.9-0.9,1.3-1.2c0.8-0.7,1.5-1.7,2.4-2.3c0.6-0.5,1.2-0.9,1.8-1.5c0.6-0.6,1.2-0.9,2-1.2
			c1.4-0.5,2.7-1,4.1-1.2c1.3-0.2,2.6,0.1,3.8,0.6c0,0,1.3-0.6,1.7-0.9c0.4-0.3,0.8-0.1,1.2,0.1c1,0.4,2.1,0.7,3.1,0.2
			c1.1-0.6,2-0.5,3.1,0c0.5,0.2,1.3,0.5,1.4,1c0.1,0.5-0.3,0.9-0.5,1.3C441.1,646.4,441.5,647.2,441.9,648.4z"/>
		<path class="st20" d="M410.6,648c-0.3-0.5-0.8-1-1.3-1.3c-0.7-0.5-1.4-1-2.2-1.3l-0.3-0.3c-0.9-0.7-1.7-1.3-2.8-1.6
			c-0.5-0.1-1.1-0.2-1.6-0.2c-0.5,0.1-0.8,0.3-1.3,0.5c-0.8,0.4-1.9,0.4-2.6,1c-0.5,0.4-0.9,0.8-1.4,1.1c-0.7,0.5-1.5,0.9-2.1,1.4
			c-0.4,0.4-0.7,0.9-0.3,1.5c0.4,0.5,1,0.9,1.5,1.3c1.4,1.1,2.5,2.7,4.4,3.1c1,0.2,2-0.1,2.8-0.6c1-0.6,1.9-1.2,2.9-1.5
			c1-0.3,2-0.2,3-0.3c0.6,0,1.3-0.1,1.5-0.8C411.1,649.3,410.9,648.5,410.6,648z M409,649.5c-0.2,0.5-0.7,0.6-1.1,0.6
			c-0.8,0-1.5,0-2.3,0.2c-0.8,0.2-1.5,0.7-2.3,1.1c-0.7,0.4-1.4,0.7-2.2,0.5c-1.4-0.3-2.3-1.6-3.3-2.4c-0.4-0.3-0.9-0.6-1.2-1
			c-0.3-0.4-0.1-0.8,0.2-1.1c0.5-0.4,1.1-0.7,1.6-1.1c0.4-0.3,0.7-0.6,1.1-0.9c0.6-0.5,1.3-0.5,2-0.8c0.3-0.1,0.6-0.3,1-0.4
			c0.4-0.1,0.8,0,1.2,0.1c0.8,0.2,1.5,0.7,2.2,1.2l0.2,0.3c0.6,0.3,1.2,0.6,1.7,1c0.4,0.3,0.7,0.6,1,1
			C409,648.4,409.2,649,409,649.5z"/>
		<path class="st20" d="M403.9,666.2c-0.3-0.6-0.8-1-1.3-1.3c-0.7-0.5-1.4-1-2.2-1.3l-0.3-0.3c-0.9-0.7-1.7-1.3-2.8-1.6
			c-0.5-0.1-1.1-0.2-1.6-0.2c-0.5,0.1-0.8,0.3-1.2,0.5c-0.8,0.4-1.9,0.4-2.6,1c-0.5,0.4-0.9,0.8-1.4,1.1c-0.7,0.5-1.5,0.9-2.1,1.4
			c-0.4,0.4-0.7,0.9-0.3,1.5c0.4,0.5,1,0.9,1.5,1.3c1.4,1.1,2.5,2.7,4.4,3.1c1,0.2,2-0.1,2.8-0.6c1-0.6,1.9-1.2,2.9-1.5
			c1-0.3,2-0.2,3-0.3c0.6,0,1.3-0.1,1.5-0.8C404.5,667.5,404.2,666.7,403.9,666.2z M401.7,667.5c-0.1,0.4-0.6,0.5-1,0.5
			c-0.7,0-1.4,0-2.1,0.2c-0.7,0.2-1.4,0.6-2,1c-0.6,0.4-1.2,0.6-1.9,0.4c-1.2-0.3-2-1.4-3-2.1c-0.4-0.3-0.8-0.5-1-0.9
			c-0.3-0.4-0.1-0.7,0.2-1c0.4-0.4,1-0.7,1.4-1c0.3-0.2,0.6-0.5,1-0.8c0.5-0.4,1.2-0.4,1.8-0.7c0.3-0.1,0.5-0.3,0.9-0.3
			c0.4,0,0.7,0,1.1,0.1c0.8,0.2,1.3,0.6,1.9,1.1l0.2,0.2c0.5,0.2,1,0.6,1.5,0.9c0.3,0.2,0.7,0.5,0.9,0.9
			C401.7,666.6,401.9,667.1,401.7,667.5z"/>
		<path class="st20" d="M511.4,651.3c-0.9-0.6-1.7-0.9-2.8-0.6c-1,0.3-1.9-0.2-2.8-0.8c-0.3-0.2-0.6-0.5-1-0.3
			c-0.4,0.2-1.7,0.5-1.7,0.5c-1-0.7-2-1.2-3.3-1.3c-1.3-0.1-2.6,0.1-3.9,0.2c-0.8,0.1-1.3,0.2-2,0.7c-0.6,0.4-1.2,0.7-1.9,1
			c-0.9,0.4-1.7,1.1-2.6,1.6c-0.5,0.2-1.1,0.5-1.4,0.8c-0.3,0.4-0.1,0.7,0.2,1c0.7,0.8,2,1.8,3.1,1.9c0.4,0,0.8-0.1,1.2,0
			c0.6,0.1,1.1,0.4,1.6,0.7c0.9,0.6,1.6,1.4,2.6,1.5c1.1,0.2,2.2,0.3,3.2,0.6c1.7,0.4,4,0.9,5.6-0.1c0.5-0.4,1.1-0.5,1.7-0.8
			c0.8-0.3,1.5-0.7,2.4-0.7c0.7,0,1.6,0.2,1.6-0.8c-0.1-1.1-0.3-2,0.5-2.9c0.3-0.3,0.7-0.6,0.7-1.1
			C512.4,652,511.8,651.6,511.4,651.3z M509.5,653.7c-0.6,0.7-0.4,1.4-0.4,2.3c0,0.8-0.7,0.6-1.3,0.7c-0.7,0-1.3,0.3-1.9,0.6
			c-0.5,0.2-0.9,0.3-1.4,0.6c-1.3,0.8-3.1,0.4-4.5,0.1c-0.9-0.2-1.7-0.3-2.6-0.4c-0.8-0.1-1.4-0.8-2.1-1.2c-0.4-0.3-0.8-0.5-1.3-0.6
			c-0.3,0-0.6,0-0.9,0c-0.9-0.1-1.9-0.9-2.5-1.5c-0.2-0.3-0.4-0.5-0.2-0.8c0.3-0.3,0.8-0.5,1.2-0.7c0.7-0.4,1.3-1,2.1-1.3
			c0.5-0.2,1-0.5,1.5-0.8c0.5-0.4,1-0.5,1.6-0.5c1-0.1,2.1-0.3,3.1-0.2c1,0.1,1.8,0.5,2.6,1c0,0,1-0.2,1.4-0.4
			c0.3-0.1,0.6,0.1,0.8,0.2c0.7,0.5,1.4,0.8,2.2,0.6c0.8-0.2,1.5,0,2.2,0.5c0.3,0.2,0.8,0.5,0.8,1
			C510.1,653.2,509.7,653.4,509.5,653.7z"/>
		<path class="st20" d="M528.4,652.3c-0.3-0.6-0.8-1-1.3-1.3c-0.7-0.5-1.4-1-2.2-1.3l-0.3-0.3c-0.9-0.7-1.7-1.3-2.8-1.6
			c-0.5-0.1-1.1-0.2-1.6-0.2c-0.5,0.1-0.8,0.3-1.2,0.5c-0.8,0.4-1.9,0.4-2.6,1c-0.5,0.4-0.9,0.8-1.4,1.1c-0.7,0.5-1.5,0.9-2.1,1.4
			c-0.4,0.4-0.7,0.9-0.3,1.5c0.4,0.5,1,0.9,1.5,1.3c1.4,1.1,2.5,2.7,4.4,3.1c1,0.2,2-0.1,2.8-0.6c1-0.6,1.9-1.2,2.9-1.5
			c1-0.3,2-0.2,3-0.3c0.6,0,1.3-0.1,1.5-0.8C529,653.6,528.7,652.8,528.4,652.3z M526.2,653.6c-0.1,0.4-0.6,0.5-1,0.5
			c-0.7,0-1.4,0-2.1,0.2c-0.7,0.2-1.4,0.6-2,1c-0.6,0.4-1.2,0.6-1.9,0.4c-1.2-0.3-2-1.4-3-2.1c-0.4-0.3-0.8-0.5-1-0.9
			c-0.3-0.4-0.1-0.7,0.2-1c0.4-0.4,1-0.7,1.4-1c0.3-0.2,0.6-0.5,1-0.8c0.5-0.4,1.2-0.4,1.8-0.7c0.3-0.1,0.6-0.3,0.9-0.3
			c0.4,0,0.7,0,1.1,0.1c0.8,0.2,1.3,0.6,1.9,1.1l0.2,0.2c0.5,0.2,1,0.6,1.5,0.9c0.4,0.2,0.7,0.5,0.9,0.9
			C526.2,652.7,526.3,653.2,526.2,653.6z"/>
		<path class="st20" d="M473.3,667.5c-0.4-0.8-1.1-1.4-1.8-1.9c-1-0.7-2-1.4-3.2-1.9l-0.4-0.5c-1.2-1-2.4-1.9-4-2.3
			c-0.7-0.2-1.5-0.3-2.3-0.2c-0.6,0.1-1.2,0.4-1.8,0.7c-1.2,0.5-2.6,0.6-3.7,1.4c-0.7,0.5-1.3,1.1-2,1.6c-1,0.7-2.1,1.2-3,2
			c-0.6,0.6-1,1.3-0.4,2.1c0.5,0.8,1.4,1.3,2.2,1.8c2,1.5,3.6,3.9,6.2,4.4c1.5,0.3,2.8-0.2,4-0.9c1.4-0.8,2.7-1.7,4.2-2.1
			c1.4-0.4,2.8-0.3,4.3-0.4c0.8,0,1.8-0.2,2.1-1.1C474.1,669.3,473.7,668.2,473.3,667.5z M471.9,669.8c-0.3,0.8-1.1,0.9-1.8,0.9
			c-1.2,0.1-2.4,0-3.6,0.3c-1.3,0.4-2.4,1.1-3.5,1.8c-1,0.6-2.2,1-3.4,0.8c-2.2-0.5-3.6-2.4-5.2-3.7c-0.6-0.5-1.4-0.9-1.8-1.6
			c-0.5-0.7-0.2-1.3,0.4-1.8c0.7-0.7,1.7-1.1,2.5-1.7c0.6-0.4,1.1-0.9,1.7-1.4c0.9-0.7,2.1-0.7,3.1-1.2c0.5-0.2,1-0.5,1.5-0.5
			c0.6-0.1,1.3,0,1.9,0.2c1.3,0.3,2.3,1.1,3.4,2l0.4,0.4c1,0.4,1.8,1,2.7,1.6c0.6,0.4,1.2,0.9,1.5,1.6
			C471.9,668.1,472.2,669.1,471.9,669.8z"/>
		<path class="st20" d="M508.7,669.2c-0.3-0.6-0.8-1-1.3-1.3c-0.7-0.5-1.4-1-2.2-1.3l-0.3-0.3c-0.9-0.7-1.7-1.3-2.8-1.6
			c-0.5-0.1-1.1-0.2-1.6-0.2c-0.5,0.1-0.8,0.3-1.2,0.5c-0.8,0.4-1.9,0.4-2.6,1c-0.5,0.4-0.9,0.8-1.4,1.1c-0.7,0.5-1.5,0.9-2.1,1.4
			c-0.4,0.4-0.7,0.9-0.3,1.5c0.4,0.5,1,0.9,1.5,1.3c1.4,1.1,2.5,2.7,4.4,3.1c1,0.2,2-0.1,2.8-0.6c1-0.6,1.9-1.2,2.9-1.5
			c1-0.3,2-0.2,3-0.3c0.6,0,1.3-0.1,1.5-0.8C509.3,670.6,509,669.8,508.7,669.2z M506.5,670.6c-0.1,0.4-0.6,0.5-1,0.5
			c-0.7,0-1.4,0-2.1,0.2c-0.7,0.2-1.4,0.6-2,1c-0.6,0.4-1.2,0.6-1.9,0.4c-1.2-0.3-2-1.4-3-2.1c-0.4-0.3-0.8-0.5-1-0.9
			s-0.1-0.7,0.2-1c0.4-0.4,1-0.7,1.4-1c0.3-0.2,0.6-0.5,1-0.8c0.5-0.4,1.2-0.4,1.8-0.7c0.3-0.1,0.5-0.3,0.9-0.3c0.4,0,0.7,0,1.1,0.1
			c0.8,0.2,1.3,0.6,1.9,1.1l0.2,0.2c0.5,0.2,1,0.6,1.5,0.9c0.4,0.2,0.7,0.5,0.9,0.9C506.5,669.6,506.7,670.2,506.5,670.6z"/>
		<path class="st20" d="M442.8,666.8c-0.7-0.5-1.4-0.7-2.2-0.5c-0.8,0.2-1.5-0.2-2.2-0.7c-0.2-0.2-0.5-0.4-0.8-0.3
			c-0.4,0.2-1.4,0.3-1.4,0.3c-0.8-0.6-1.6-1-2.6-1.1c-1-0.1-2.1,0-3.1,0.1c-0.6,0-1.1,0.2-1.6,0.5c-0.5,0.3-1,0.5-1.5,0.7
			c-0.7,0.3-1.4,0.8-2.1,1.2c-0.4,0.2-0.9,0.3-1.2,0.6c-0.3,0.3-0.1,0.6,0.1,0.8c0.6,0.7,1.5,1.5,2.4,1.6c0.3,0,0.6,0,0.9,0
			c0.5,0.1,0.9,0.3,1.3,0.6c0.7,0.5,1.2,1.1,2.1,1.3c0.9,0.2,1.7,0.3,2.5,0.5c1.3,0.3,3.1,0.8,4.4,0.1c0.4-0.3,0.9-0.4,1.4-0.6
			c0.6-0.2,1.2-0.5,1.9-0.5c0.6,0,1.3,0.2,1.3-0.6c0-0.9-0.2-1.6,0.5-2.3c0.2-0.2,0.6-0.5,0.6-0.8
			C443.6,667.4,443.1,667,442.8,666.8z M440.9,668.6c-0.5,0.5-0.4,1.1-0.4,1.7c0,0.6-0.5,0.5-1,0.5c-0.5,0-1,0.2-1.5,0.4
			c-0.4,0.1-0.7,0.2-1.1,0.4c-1,0.6-2.4,0.2-3.4-0.1c-0.7-0.2-1.3-0.3-2-0.4c-0.6-0.1-1.1-0.6-1.6-1c-0.3-0.2-0.6-0.4-1-0.5
			c-0.2,0-0.5,0-0.7,0c-0.7-0.1-1.4-0.7-1.9-1.2c-0.2-0.2-0.3-0.4-0.1-0.6c0.2-0.2,0.6-0.3,0.9-0.5c0.5-0.3,1-0.7,1.6-0.9
			c0.4-0.2,0.8-0.3,1.2-0.6c0.4-0.3,0.8-0.3,1.2-0.4c0.8-0.1,1.6-0.2,2.4-0.1c0.7,0.1,1.4,0.4,2,0.9c0,0,0.8-0.1,1.1-0.3
			c0.2-0.1,0.4,0.1,0.6,0.2c0.5,0.4,1,0.7,1.7,0.5c0.6-0.2,1.1,0,1.7,0.4c0.2,0.2,0.6,0.4,0.6,0.8
			C441.4,668.3,441.1,668.5,440.9,668.6z"/>
		<path class="st20" d="M458.1,680.9c-47.2,0-85.7-11.1-88.1-25.1c0,0.1-0.1,0.1-0.1,0.2c0,14.6,39.5,26.5,88.2,26.5
			c48.7,0,88.2-11.9,88.2-26.5c0-0.1-0.1-0.1-0.1-0.2C543.8,669.7,505.3,680.9,458.1,680.9z"/>
		<polyline class="st3" points="266.2,607.6 287.5,607.6 291.5,588.7 272.1,588.7 		"/>
		<path class="st3" d="M399.4,607.6c0,0-5.7-5.2-8.8-10.7c-1.9-3.4-3.2-8.2-3.2-8.2h-7.3v18.9H399.4z"/>
		<polygon class="st3" points="486.1,607.6 457,607.6 489.5,590.9 495.6,594.4 		"/>
		<path class="st3" d="M568.8,607.6c0,0-1.1-4.6,1-10.1s12-8.8,12-8.8h-44.1c0,0-4.8,2.3-7.4,2c-2.6-0.3-2.6-0.3-2.6-0.3l-13.3,6.3
			l-12.8-0.2l-6.8,11.1H568.8z"/>
		<g>
			<path class="st0" d="M56.9,420.6c0,0-1.9,32.3,21.5,39.2c0,0,6.9,2.9,9,4.8c0,0,6.4,5.1,13.7,5.1c0,0,5.5,0.8,8.6-4.3
				c0,0,5.6-6.7,9.8-10.7c0,0,13.8-11.2,15.2-25.6c0,0,0.5-7.7,0-9.6c0,0,0.1,11.9-3.6,18c0,0-3.6,7.6-8.8,12.9c0,0-6.3,6.1-8.4,8.8
				c0,0-4.3,4.6-6,7c0,0-2.9,3.1-6.9,2.5c0,0-6.3,0-13.6-5c0,0-6-3.6-11.8-5.9C75.8,457.9,57.8,451.8,56.9,420.6z"/>
			<path class="st0" d="M69.8,402.3c0,0-12-10.4-19.2-3.3c0,0-6.3,6.8-2.5,12.4c0,0,5.9,6.8,10.8,11.2c0,0-9.1-9.6-10.2-14.2
				c0,0-1.1-7,6-10.6c0,0,5.3-2.5,14.5,7.1C69.1,404.9,69.5,403.2,69.8,402.3z"/>
			<path class="st0" d="M67.7,400.8c0,0,11.3-11.7,31.3-10.9c0,0,16.4-1.5,24.1,10.4c0,0,0.2,1.5-1,0.5c0,0-7-10.3-23.3-10
				C98.9,390.8,80.9,389.8,67.7,400.8z"/>
			<path class="st0" d="M122.3,399c0,0,13.4-8,18.2-1.8c0,0,6.3,8,2.7,12.8c0,0-7.7,7.7-9.9,11.7c0,0,3.4-7.2,8.8-12.2
				c0,0,3.3-2.3-2.2-11.9c0,0-2.1-3.2-7.4-1.8c0,0-7.2,1.9-10.2,4.3V399z"/>
			<path class="st0" d="M58.3,417.3c0,0,1.4-6.4,5.9-11.1c0,0-5.8-6.8-9.6-2.9c0,0-1.9,2-2.6,3.8c0,0,0.3-6.7,4.9-6.7
				c0,0,4.3-0.7,9.2,5.1c0,0,0.9,1.2-2.2,3.3C63.9,408.8,60.2,412.1,58.3,417.3z"/>
			<g>
				<path class="st20" d="M127.8,401.1c0,0,8.6-3.5,10.1,1.8c0,0,1,5.5-2.8,8.2c0,0,4.8-1.2,2.9-9.2
					C138,401.9,135.7,396.1,127.8,401.1z"/>
				<path class="st20" d="M133.5,399.1c-1.5,0-3.3,0.5-5.7,2.1c0,0,2.8-1.2,5.5-1.2c2,0,3.9,0.6,4.6,2.9c0,0,1,5.5-2.8,8.2
					c0,0,4.8-1.2,2.9-9.2C138,401.9,136.9,399.1,133.5,399.1L133.5,399.1z"/>
			</g>
			<path class="st20" d="M56.9,420.9l2.2,2.2c0,0,0.6,1.8-0.8,1.5c0,0-1.3-1.2-0.6,4.7C57.6,429.2,56.6,423.2,56.9,420.9z"/>
			<path class="st20" d="M109.4,454c-0.1-3.5-8.3-3.9-8.3-3.9h-0.7c0,0-8.2,0.4-8.3,3.9c0,0-0.6,1.4,2.3,3.8c0,0,2.9,2.6,6,2.6h0.7
				c3.1,0,6-2.6,6-2.6C110,455.4,109.4,454,109.4,454z"/>
			<path class="st20" d="M91.5,459.7c0,0,3.4,3.4,10,3.4c0,0,3.5,0.6,7.5-3.4c0,0,0.6-0.3,0,0.7c0,0-3.2,4.9-7.5,4.9
				c0,0-7.1,0-10-4.9C91.5,460.4,91,459.2,91.5,459.7z"/>
			<g>
				<g>
					<path class="st20" d="M107.5,439.8c0-1.3,0.3-2.6,0.8-3.8c1.1-2.4,3.7-2.8,6.1-2.6c1.8,0.1,4,1,2.4,3.1c-0.4,0.5-1,1-1.6,1.4
						c-1.3,0.9-2.7,1.5-4.2,1.7c-1.5,0.2-2.9-0.5-4.4-0.5c-1.3,0-3,1.9-1.1,1.9c2.2,0,4.2,0.8,6.5,0.4c2-0.4,3.9-1.3,5.5-2.5
						c2.4-1.8,4.4-5.1,0.5-6.6c-5.9-2.3-13.6,0.9-13.4,8C104.7,441.5,107.6,440.9,107.5,439.8z"/>
				</g>
			</g>
			<g>
				<g>
					<path class="st20" d="M93.6,441.3c-0.5-3.3-2.4-6.5-5.4-8.2c-2.9-1.6-7.8-1-10.3,1.3c-1.8,1.7-2,4.4-0.1,6
						c3.6,3.1,9.9,2.5,14.2,2.1c1.5-0.1,2.4-1.9,0.4-1.7c-3.7,0.3-8.3,0.7-11.6-1.4c-1.4-0.9-2-2.7-0.8-4.1c2.1-2.4,6.1-1.1,8,0.8
						c1.5,1.5,2.5,3.9,2.8,6C90.9,443.1,93.8,442.4,93.6,441.3z"/>
				</g>
			</g>
			<ellipse class="st18" cx="85" cy="437.5" rx="4.3" ry="4.3"/>
			<g>
				<defs>
					<path id="SVGID_1_" d="M106.1,439.9c0,0-0.3-7.2,6.6-7.5c0,0,4-0.5,6,1.6c0,0,0.8,1.2-0.7,2.8c0,0-4.8,5.3-10.6,3.1H106.1z"/>
				</defs>
				<clipPath id="SVGID_2_">
					<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
				</clipPath>
				<ellipse class="st23" cx="111.9" cy="436.4" rx="4.3" ry="4.3"/>
			</g>
			<ellipse class="st12" cx="109.6" cy="435.8" rx="0.9" ry="1.2"/>
			<ellipse class="st12" cx="83" cy="436.4" rx="0.9" ry="1.2"/>
			<path class="st0" d="M73.5,457.8c0,0-13.6,3-21.5,11.9c0,0-10.4,10.9-10.3,26.1c0,0-1.5,18.2,14.1,25.2c0,0,12.6,7.3,19.9,8.7
				c0,0,3.7,1.3,5.7,2.4c0,0,7.4,5.3,15.8-1.6c0,0,3.3-3.7,3.9-7.2c0,0,2.4-7.2-0.3-10.3c0,0-1.4-8.1-9.6-8.7c0,0-13.6-0.9-18.4-3.7
				c0,0-9.4-5.7-2-13.9c0,0,0-0.9-1.3,0.2c0,0-4.6,4.7-1.1,10.6c0,0,2.4,5.2,12.3,6.2c0,0,10.8,1,13.4,1.8c0,0,3.5,1,5.7,6.8
				c0,0,0.2,1,1.3,2.2c0,0,1.1,2.6,0,6.7c0,0-1.7,5.5-4.5,8.5c0,0-8.3,6.7-15.8,1.1c0,0-0.7-1-11-3.7c0,0-7.6-2.9-13.6-6.7
				c0,0-13.9-5.7-13.8-24.1c0,0-1.3-13.2,10.8-27c0,0,8.1-7.9,21.1-11.2C74.2,458.2,74.8,457.4,73.5,457.8z"/>
			<path class="st0" d="M55.8,521.1c0,0-1.7,4.5,1.7,8.9c0,0,1.3,7.7-0.7,15.5c0,0-1.3,10.4-0.2,18.2c0,0,0,4.1-0.7,5.1
				c0,0,0.3,0.6,0.7-0.3c0,0,0.4-4.8,0-7.5c-0.4-2.7,0.4-12,1.3-15.4c0,0,2.5-10.9,0-16.4c0,0-2.8-4.3-0.7-7.9L55.8,521.1z"/>
			<path class="st0" d="M60.8,569.5c0,0-6.1-3.1-9.2,2.3c0,0-8.7,15.6,4.6,15.4c0,0,6.4,0.7,6.2-4.5c0,0-0.6,5.6,8.1,4
				c0,0,8.9,1.5,9.6-1.2c0,0-0.5,1.5,3.9,1.7c0,0,3.1-0.2,4.3-0.8c0,0,6.2,3,7.7-5.3c0,0,0.2-5.7-3.5-10c0,0-7.3-16.9,11.6-19.4
				c0,0,7-0.2,11.7-8.8c0,0,0-1-1.1,0c0,0-2.2,5.4-7.1,7.2c0,0-2.7,1-5.3,1.1c0,0-10.8,1.8-11.6,11.5c0,0-0.3,6.7,1.9,9.3
				c0,0,4.8,8.1,1.8,12.1c0,0-2.5,2.9-4.9,1.9c0,0-0.7-0.4-1-1.1c0,0-0.4-0.6-0.7,0.6c0,0-0.8,1.1-2.5,1.1c0,0-3.3,0.2-4.5-0.9
				c0,0-0.5-2-1.4-0.1c0,0-3,2-8.3,0.5c0,0-0.6-0.1-1.7,0.2c0,0-5.6,0.7-6.3-3.4c0,0-0.4-2.2-0.9,0c0,0-0.6,4-4.6,3.8
				c0,0-6.2,0.2-7.8-3.6c0,0-1-4.1,1.3-8.7c0,0,1.8-5.5,5.8-5.7c0,0,2.4,0.1,3.9,0.8C60.5,569.8,61.2,570.1,60.8,569.5z"/>
			<path class="st0" d="M116.5,457.4c7.1,1.8,11.9,5.2,11.9,5.2c12.9,10.8,15.4,23.7,15.4,23.7c5,17.7-3.9,26.1-3.9,26.1
				c-3.5,5-8.5,9.3-8.5,9.3c-7.1,4.8-7.3,6-7.3,6c-4.2,6.9-12.2,2.3-12.2,2.3c-2.9-2.3-5.7-7.3-5.7-7.3c-1.9-3.7-1.8-6.4-1.8-6.4
				c0.5-1.4,0.4-2.4,0.4-2.4c0.1-6.1,2.4-7.8,2.4-7.8c1.8-1.3,9.6-4.6,9.6-4.6c7.1-3.1,7.6-8.6,7.6-8.6c1-6.4-3.7-10-3.7-10
				c-1.3-0.8-1,0.1-1,0.1c7.8,6.2,2.3,13.8,2.3,13.8c-2.8,3.7-12.9,7.5-12.9,7.5c-6,2.3-4.9,10.4-4.9,10.4c-1.2,3.5,2.5,10,2.5,10
				c1.3,3.2,4.9,6.1,4.9,6.1c8.2,4.9,12.4-1.8,12.4-1.8c1.2-1.5,3.7-3.5,3.7-3.5c5.1-2.8,12.7-12.6,12.7-12.6
				c9.8-10.1,3.8-27.3,3.8-27.3c-4-14.7-14.8-22.9-14.8-22.9c-3.9-3.2-8.5-5-12.2-5.9L116.5,457.4z"/>
			<path class="st0" d="M133.1,521.1c0,0,9.3,9.5,8.4,17.3c0,0,0.3,8.9-10.3,12.5c0,0-10.7,3-15.5,7.4c0,0,4.3-4.7,13.6-7.6
				c0,0,9.4-2.9,11.3-11.5c0,0,0.6-8.5-9.1-17.3L133.1,521.1z"/>
			<path class="st0" d="M104.9,551.6c0,0-1.6,2-3.7,2.9c-2.1,0.9-6.9,5.2-4,9.6c0,0,6.4,4.5,8.2,9.5c0,0,3.6,14.3,14.6,8.9
				c0,0,2.6-1.1,3.1-5.2c0,0-1.6,4.3-4.6,5.1c0,0-5.6,2.2-10.8-4.8c0,0-1.5-3.1-2-5.1c0,0-1.3-3.8-6.2-7.1c0,0-3.4-3-2.6-5
				c0,0,1-3.8,4.2-5.2C101.2,555.1,104.7,553.6,104.9,551.6z"/>
			<path class="st21" d="M123.1,553.8c0,0,13.6,9.4,14.1,16c0,0,3.1,10.5-6,10.5c0,0-4.9,3.6-9.4,0.6l0.8-1.2c0,0,6.8,4.8,9.7-3.8
				c0,0,0.5,2.1-0.7,3.6c0,0,7.1-0.1,5.2-8.8c0,0-2-8.4-15-16.4L123.1,553.8z"/>
		</g>
		<g>
			<path class="st20" d="M611.9,584.6c-0.9,0-1.7,0-2.5,0c-0.9,0-1.8,0-2.7,0c-18.9,0-39.4,4.8-39.7,15.3c0,1.2,5.3,82.2,7.3,117v0
				c0,2.6,0.2,5.5,0.1,6.4c-0.2,6.9,8.2,9.8,11,10.8c7.6,2.7,15.5,4,22.9,4h0l0.8,0.1c6.2-0.1,12.6-0.8,18.7-2.4l0.4-0.1
				c4.3-1.1,9.7-2.4,13.2-6.2c0.5-0.5,2.8-3.2,2.8-6.2c0-0.7,0-2.7,0.1-5.9c0-0.1,0-0.2,0-0.2c2.2-34.8,7.4-115.8,7.4-117.1
				C651.4,589.9,631.5,584.6,611.9,584.6z M640.9,716.9c0,0-0.1,5.1-0.1,6.4c0,1.3-1,2.9-1.9,3.8c-2.9,3.1-8,4.3-12,5.3
				c-5.8,1.5-12,2.3-17.9,2.4c-7.6,0.1-15.4-1.4-22.5-3.9c-3-1.1-8.7-3.4-8.6-7.5c0-1.3-0.1-6.6-0.1-6.6s-7.4-115.6-7.4-116.8
				c0.2-7.1,18-12.4,38.9-11.9c20.8-0.5,38.7,5.1,38.9,12.2C648.3,601.4,640.9,716.9,640.9,716.9z"/>
			<path class="st20" d="M584.6,725c4.5,1.9,10.1,4.5,25,4.7c14.6-0.2,21.2-4.1,26-6.5c0.7-0.4,1.2,1.3-0.7,2.2
				c-2,1-9.7,6.1-25.3,5.9c0,0-18.1,1.3-25.1-5.5C583.9,725.4,583.6,724.6,584.6,725z"/>
			<g>
				<path class="st20" d="M608.2,615.4c-10.3-0.2-20-1.8-27.3-4.5c-7.7-2.8-11.8-6.5-11.7-10.4c0-0.6,0.2-1,0.8-1
					c0.6,0,0.7,0.5,0.6,1.1c-0.1,2.9,4.4,6,11.1,8.3c7.1,2.6,16.5,4.1,26.6,4.3h1c10.1-0.2,20-1.8,27.4-4.2
					c7.1-2.4,11.8-5.3,11.7-8.2c0-0.6,0.1-1.1,0.7-1.1c0.6,0.1,0.7,0.4,0.7,1c0.1,3.9-4.2,7.5-12.5,10.3c-7.5,2.5-17.7,4.1-28,4.3
					H608.2z"/>
			</g>
			<path class="st20" d="M639.3,641.3l-3.6,70.2c0,0-0.4,12.5-26.7,12.5c-26.6,0-26.5-12.5-26.5-12.5l-4.1-70.1l-1.5,0l3.7,72
				c0,0-0.2,13.4,28.3,13.4c28.1,0,28.6-13.4,28.6-13.4l3.2-72.1L639.3,641.3z"/>
			<path class="st20" d="M608.9,632.6c-17.6,0-31.9,4.1-31.9,9.1c0,5,14.3,9.1,31.9,9.1c17.6,0,31.9-4.1,31.9-9.1
				C640.8,636.6,626.5,632.6,608.9,632.6z M608.9,649.8c-15.9,0-28.8-3.7-28.8-8.2c0-4.5,12.9-8.2,28.8-8.2
				c15.9,0,28.8,3.7,28.8,8.2C637.7,646.2,624.8,649.8,608.9,649.8z"/>
		</g>
		<g>
			<g>
				<g>
					<path class="st4" d="M317.2,771.2c-10.4,4.5-29.3,7.6-50.9,7.8c-23.8,0.1-44.3-3.4-54-8.6"/>
				</g>
			</g>
			<g>
				<path class="st17" d="M334.7,739.9c10.2,3.6,16.2,8.1,16.2,13c0,12.2-38,22.1-84.8,22.1c-46.8,0-84.8-9.9-84.8-22.1
					c0-8.1,16.9-15.2,42.1-19.1"/>
			</g>
			<g>
				<path class="st17" d="M329.3,752.3c0.2,0.4,0.3,0.9,0.3,1.3c0,7.6-28.4,13.7-63.5,13.7c-35.1,0-63.5-6.1-63.5-13.7
					c0-5.1,12.8-9.5,31.8-11.9"/>
			</g>
			<path class="st20" d="M331.3,720.6c5.5-10.5,9-22.9,11-36.4l-5.8,0.5l-41.4,3.4c0,0-8,11.4-24.8,12.7
				c-16.8,1.2-26.6-8.5-26.6-8.5l-50,4.1l-8.6,0.7c13.9,53.2,47.1,67.8,97.7,58.5c0.7-0.1,1.3-0.2,2-0.4l-3-6
				c-37.1,4-78.9-25-83.5-50.8l45.3-4.9c0,0,10.4,10.2,24.7,9c18.3-1.5,26.6-13.4,26.6-13.4l42.6-3.4c-0.6,10.9-3.3,21.8-8.3,31.3
				L331.3,720.6z"/>
			<path class="st31" d="M308.2,705.5c16.1,0.3,29.5,18.1,25.7,35c-4.8,21.5-23.5,24.4-33.9,23.2
				C269.5,760.2,275.5,704.8,308.2,705.5z"/>
			<path class="st31" d="M290.1,712.8c0,0,11.2-13.9,28.4-2.3c10.1,6.8,11.4,33.2-0.2,44.5c-2.4,2.3-26.7,20.3-37-7.9
				C281.3,747.1,276.1,725.9,290.1,712.8z"/>
			<g>
				<path class="st20" d="M319.9,715.8c0,0-14.9,15.5-16.5,18.3c0,0,14.3-18.8,15.5-19.2L319.9,715.8z"/>
				<path class="st20" d="M307.7,709.2c0,0-5,17.5-4.5,21.8C303.2,731,304.3,710.3,307.7,709.2z"/>
				<path class="st20" d="M304.2,734.1c0,0,17.7,5.8,19.1,7l-0.6,1.7L304.2,734.1z"/>
				<path class="st20" d="M301.9,735.3c0,0-0.6,24-1.1,25.2h-1.1C299.7,760.6,300.8,738.7,301.9,735.3z"/>
				<path class="st20" d="M305.8,739.6l4.8,10C310.6,749.6,306.1,744.5,305.8,739.6z"/>
				<polygon class="st20" points="294.3,723.8 301.9,731.4 288.2,719.8 289.3,718.9 				"/>
				<path class="st20" d="M296.8,734.7c0,0-15.5,3.9-12.4,5.8L296.8,734.7z"/>
				<path class="st20" d="M304.6,731c-4.7-3.9-3.8,0.4-3.8,0.4c-1.7,3.9,0.8,4.9,0.8,4.9C305.7,737.5,304.6,731,304.6,731z
					 M303.3,735.6c0,0-1-2.6-0.1-4.7C303.2,731,304.2,733.2,303.3,735.6z"/>
			</g>
			<path class="st2" d="M294.7,689c-8.1,9-17.5,11.9-17.5,11.9c-20.2,6.7-33.8-7.4-33.8-7.4l-7.5,0.8c4.2,10,14.6,22.3,32.9,21.5
				c25.8-2.6,34.2-27.4,34.2-27.4L294.7,689z M247.5,702.5c-0.8,1.4-2.7,1.9-2.7,1.9s-0.7-1.9,0.1-3.3c0.8-1.4,2.7-1.9,2.7-1.9
				S248.3,701,247.5,702.5z M251.6,706.7c-0.3,1-1.5,1.5-1.5,1.5s-0.6-1.1-0.3-2.1c0.3-1,1.5-1.5,1.5-1.5S252,705.7,251.6,706.7z
				 M269.2,712.8c0,0-1.5-1.1-1.6-2.7c-0.1-1.5,1.2-2.9,1.2-2.9s1.5,1.2,1.6,2.7C270.5,711.4,269.2,712.8,269.2,712.8z M277.2,710.8
				c0,0-1.7-0.8-2.1-2.3c-0.4-1.5,0.6-3.1,0.6-3.1s1.7,0.8,2.1,2.3C278.2,709.2,277.2,710.8,277.2,710.8z M294.3,696.3
				c-1.5-0.6-2.2-2.5-2.2-2.5s1.8-0.9,3.3-0.2c1.5,0.6,2.2,2.5,2.2,2.5S295.8,696.9,294.3,696.3z"/>
		</g>
		<line class="st9" x1="858.4" y1="576" x2="858.4" y2="588.7"/>
		<line class="st9" x1="886.6" y1="588.7" x2="886.6" y2="576"/>
		<polyline class="st9" points="965.2,588.7 965.2,576 937,576 937,588.7 		"/>
		<path class="st20" d="M571.4,643h-18.5c0,0-11.7-6.4-18.6-9c-6.9-2.6-18.6-5-18.6-5h54.4L571.4,643z M824,629h48.8l180.4,179.2
			H42.4L219.3,629h180.5c0,0-16.1,4.2-23,7.4s-13.1,6.6-13.1,6.6H225.1L75.9,794.2h943.4L867.1,643H824V629z M824.6,643h-177l0.8-14
			h176.2L824.6,643z"/>
		<path class="st13" d="M288.6,558.2c3.8-6.6,7.8-13,11.9-19.3c-2.5,9.1-4.9,18.3-6.7,27.5c-3.5,17.2-8.1,34.1-10.3,51.5
			c-4.7-4.7-11.1-7.1-18.5-6.2c4-14.6,10.1-28.7,17.2-42.2c3.4-1.1,6.8-2.9,7.8-6.3c0.5-1.9,0-3.4-1.1-4.6
			C288.9,558.4,288.8,558.3,288.6,558.2z"/>
		<path class="st24" d="M271.5,581.5c-0.1,0.2-0.1,0.3-0.2,0.4c0-0.2,0-0.3,0-0.5C271.3,581.5,271.4,581.5,271.5,581.5z"/>
		<path class="st6" d="M368.1,490.4c0,0,0.1,0,0.1,0c0,0,0,0,0,0C368.3,490.4,368.2,490.5,368.1,490.4
			C368.2,490.5,368.1,490.5,368.1,490.4z"/>
		<path class="st16" d="M323.2,496.9C323.3,496.9,323.3,496.9,323.2,496.9c0,0.1,0,0.1,0,0.2C323.2,497,323.2,496.9,323.2,496.9z"/>
		<path class="st20" d="M254.7,554.5c-0.5-0.4-0.3-1.3,0.2-1.4c0.1,0,0.2,0,0.3,0c1.1,0.4,2.2,0.9,3.3,1.3
			c6.4,2.6,12.5,4.9,19.4,6.1c0.5,0.1,0.9,0.2,1.4,0.2c0.6,0.1,0.7,0.9,0.2,1.3c-0.1,0.1-0.3,0.2-0.4,0.1
			C270.8,561.7,261.7,559.4,254.7,554.5z"/>
		<path class="st20" d="M357,523.3c0.6-0.2,1,0.8,0.5,1.1c-6.7,3.4-14.5,4.4-21.7,1.8c-0.8-0.3-1-1.4-0.6-2c0.2-0.3,0.5-0.4,0.9-0.4
			c1.2,0.1,2.4,0.2,3.6,0.4C345.5,524.8,351.2,525.2,357,523.3z"/>
		<path class="st20" d="M327.2,630.1c9.2,1,17.4,1.4,26.6,0.1c5.5-0.8,12.5-1.3,17.1-4.7c0.3-0.2,0.7-0.1,0.9,0.2
			c0.2,0.3,0.3,0.6,0,0.9c-4.9,4.4-10.9,4.9-17.2,6.2c-8.8,1.7-18.1,2.4-26.8-0.3c-0.3-0.1-0.5-0.1-0.8-0.2
			C325.8,631.9,326,630,327.2,630.1z"/>
		<path class="st20" d="M415,544.8c0,0,14,5.2-10.1,17.5c0,0-14.6,10.3-25.5,10.3c0,0-0.7,8.1,19.8-3.2c0,0,25.9-13.7,23.7-21.6
			c0,0-2.2-8.3-12.8-6.7C410.1,541.1,410,546.2,415,544.8z"/>
		<path class="st20" d="M389.1,564.4c-0.6,0.1-1.1-0.6-0.8-1.1c0.1-0.1,0.1-0.2,0.3-0.2c1.1-0.5,2.2-1,3.2-1.4
			c6.3-2.8,12.3-5.5,17.9-9.6c0.4-0.3,0.8-0.5,1.1-0.8c0.5-0.4,1.1,0.2,1.1,0.7c0,0.2-0.1,0.3-0.2,0.4
			C405.5,557.9,397.5,562.8,389.1,564.4z"/>
		<path class="st20" d="M413.8,541c0,0-3.3-39-46.2-48.5c0,0-2.9,3,7.1,4.6c0,0,31.6,9,36.3,45.2C411,542.3,413.2,543.9,413.8,541z"
			/>
		<path class="st14" d="M416.8,554.9c0,0,2.8,10.9,7.8,21.4c0,0-0.7,3-2.4,1.3C422.1,577.7,415.6,561.4,416.8,554.9z"/>
		<path class="st14" d="M420.6,581.5c0,0,9.9-14.7,64.7-19.2c0,0,3.1,1.8-8.5,2c0,0-39.3,6-50,14
			C426.8,578.4,419.1,585.4,420.6,581.5z"/>
		<path class="st0" d="M493.8,593.7c-2.6-0.8-4-1.7-4-1.7c-58,32.3-78.7,24.2-78.7,24.2c-16.2-2.5-28.9-40.7-28.9-40.7h2.1
			c2.7,29.6,28,39.2,28,39.2c12.7,8.6,67.5-18.6,67.5-18.6c10.7-3.9,7.7-7.8,7.7-7.8c-0.6-3.7,0.4-2.8,0.4-2.8
			c0.3,2,1.8,4.7,1.8,4.7c0.9,1.4,2.7,2.3,4.7,2.8L493.8,593.7z"/>
		<path class="st14" d="M500.5,597.2c6.9,1.1,16.8,0.9,28.7-4.5c0,0,4.8-5-17.1,2.9c0,0-5.5,0.5-11.2-0.1L500.5,597.2z"/>
		<g>
			<path d="M532.2,556c1.9-1.6,4-3.2,6.3-4.8c14.7-9.8,23.5-18.4,27-26.3c1.6-3.8,1.4-5.6,0.9-6.4c-0.5-0.8-1.6-1.3-3.4-1.5
				l-0.3-0.1c-5-1.4-10.5,1.6-16.5,8.7l-10.8,17l0.5-6.9l7.7-12.1c6.9-8.2,13.6-11.5,19.8-9.9c2.9,0.3,4.7,1.3,5.8,3
				c1.3,2.2,1,5.2-0.7,9.4c-3.8,8.6-13,17.6-28.2,27.8c-1.3,0.8-2.5,1.7-3.6,2.5L532.2,556z M522.4,566c0.4-0.4,0.8-0.9,1.2-1.3
				c1-1.1,2.1-2.4,3.3-3.7l1.5,3.2c-0.5,0.5-0.9,1-1.4,1.5C527,565.7,523.4,565,522.4,566z M519.4,574.3
				c-10,11.6-17.8,22.4-24.2,33.5c-1.8,3.5-3.2,6.9-1,12.4l0.1,0.6c0.1,10.4-3.2,23.3-28.1,39.9c-0.6,0.4-1.1,0.7-1.7,1
				c-3.5,2.2-7.6,4.7-12.1,4.5c-0.5,0.1-1,0.1-1.5,0.1c-2.2,0-3.9-0.6-5.1-1.8c-1.7-1.8-1.9-4.4-1.9-6.9c1.1-8.4,5.9-18.1,14.7-29.7
				c7.1-8.3,14.9-16.6,25.7-19.2c0.3-1.9,1.1-4.2,2.9-6.1l37.9-49.7l4.1-0.4l-1.4,2.3l-38.2,50c-1.2,1.3-1.9,2.9-2.2,5.4l-1.3,1.4
				c-10.4,2.1-18,10.2-25,18.3c-8.4,11.1-13,20.3-14,27.9c0,1.6,0,3.5,0.9,4.4c0.7,0.7,2,1,4,0.7l0.2,0l0.4,0c3.5,0,6.9-2.1,10-4
				c0.6-0.3,1.1-0.7,1.6-1c23.3-15.5,26.6-27.3,26.6-36.8c-2.5-6.6-0.7-11.1,1.3-14.9c6.9-11.9,15.2-23.4,26-35.8
				C518.4,570.5,518.3,573.2,519.4,574.3z"/>
		</g>
		<path class="st14" d="M485,563.9c0,0-2.2-27,25.1-28.8c0,0,10.3-0.8,17.7-5.7c0,0,9.9-1.9,8,12.9c0,0-1.3,4.6,0,8.8
			c0,0-18.2,11.5-14-12.1c0,0-1.2,16.3,10.4,11.4c0,0,0-5,2.2-9.6c0,0,0.3-10.7-6-10.2c0,0-7.9,6.2-17.9,5.8c0,0-25.2,4.2-23.9,27.6
			C486.6,563.9,485.7,565.9,485,563.9z"/>
		<path class="st14" d="M542.3,548.9c0,0,13.7,6,6.5,16.8c0,0,4.3-11.4-6.8-15.3L542.3,548.9z"/>
		<path class="st14" d="M540.4,558.6c0,0-6.9-7.4-13.3,0c0,0-4.8,7.3,8.3,9.8c0,0,8.8,5.2,13.8-3.3c0,0-6.3,5.5-11.5,2.7
			c0,0-2.5-1-5.5-1.3c0,0-6.1-2.9-4.5-7.1C527.7,559.4,532.4,553.4,540.4,558.6z"/>
		<path class="st14" d="M543.4,569c1,4-0.5,7.8-0.5,7.8c2.1-3.2,2.4-5.9,1.8-8.2L543.4,569z"/>
		<path class="st14" d="M533.5,568.5c0,0-7.9-8.4-15.1,0c0,0-5.4,8.3,9.5,11.1c0,0,10,5.9,15.7-3.8c0,0-7.2,6.2-13.1,3.1
			c0,0-2.8-1.1-6.3-1.5c0,0-7-3.2-5.1-8C519.2,569.3,524.5,562.6,533.5,568.5z"/>
		<path class="st14" d="M529.6,580.6c0,0-7-7.4-13.3,0c0,0-4.8,7.3,8.3,9.8c0,0,8.8,5.2,13.8-3.3c0,0-6.3,5.5-11.5,2.7
			c0,0-2.5-1-5.5-1.3c0,0-6.1-2.9-4.5-7.1C516.9,581.4,521.6,575.4,529.6,580.6z"/>
		<path class="st14" d="M537.9,580.9c1,4-0.5,7.8-0.5,7.8c2.1-3.2,2.4-5.9,1.8-8.2L537.9,580.9z"/>
		<path class="st20" d="M381.8,626.1c-0.3,0.1-0.6,0.1-0.9,0.2c1.1,1.3,3.6-0.1,2.9-1.7c-0.3-0.8-0.6-1.8-0.8-2.9
			c2,2.5,2.7,4.9,1.3,7.3h5.5c1.4-4.1-1.1-8-7.4-12.2c-0.2-4.1,0.1-8.6,0-12.2c0-10.1,0.1-20.1,0-30.2c-0.1-10.1,0.4-19.9,1.6-30
			c0.5-4.4,1.2-8.9,1.5-13.4c0,0,0,0,0.1,0l0.2-5.3c0-1.5,0-3.1,0-4.6c-0.1-1.7-0.2-3.4-0.4-5.1c-0.1-1-1.8-1-2,0
			c-2.8,18.1-4.4,35.7-4.6,54.1c-0.2,17.2-2.8,37,2.2,53.6C381.6,624.9,380.7,626.3,381.8,626.1z"/>
		<g>
			<path class="st13" d="M364.3,480.7c-0.2,0.2-0.3,0.4-0.5,0.5c0,0,0,0,0,0C363.9,481.1,364.1,480.9,364.3,480.7z"/>
			<path class="st24" d="M374.9,353.4c-0.1,0-0.1,0.1-0.2,0.1c0-0.2,0.1-0.4,0.1-0.6c0.2,0,0.4,0.1,0.6,0.1c0,0-0.1,0.1-0.1,0.1
				C375.2,353.2,375,353.3,374.9,353.4z"/>
			<path class="st7" d="M360.9,495C360.9,495,360.9,495,360.9,495c0.1,0,0.1,0,0.1,0C361,495,360.9,495,360.9,495
				C360.9,495,360.9,495,360.9,495z"/>
			<path class="st10" d="M438.1,433.3c-0.2,0.4-0.4,0.8-0.8,1.2C437.6,434.1,437.9,433.7,438.1,433.3z"/>
			<path class="st15" d="M330.3,496.7C330.3,496.7,330.3,496.7,330.3,496.7c0,0.1,0,0.1,0,0.1C330.3,496.8,330.3,496.8,330.3,496.7z
				"/>
			<path class="st25" d="M371.6,346.9c0.1,0.7,0.2,1.3,0.2,2C371.4,348.4,371.4,347.6,371.6,346.9z"/>
			<path class="st20" d="M258.9,421.6c-0.1-0.9,0-1.9,0.3-2.9c0.2-0.8,0.4-1.5,1-2.1c0.5-0.4,1.1-0.8,1.7-0.9
				c0.7-0.2,1.6-0.2,2.5-0.1c0,0,0-0.1-0.1-0.1c-0.6-0.9-1.3-1.6-2.1-2.3c-2.5-1.4-4.5,1.4-5.6,3.5c-0.9,1.7-0.5,4.3-0.7,6.2
				c-0.1,0.7-1.1,0.6-1-0.1c0.1-1.8,0-3.6,0.3-5.4c0.2-1.6,1-2.6,1.7-4c0.4-0.9,1.1-1.6,1.9-2.1c-2.2-0.4-7.1,0.9-6.3,3.8
				c0.2,0.5-0.7,0.8-0.9,0.3c-0.7-1.4-0.7-2.6-0.2-3.6c1.5-3,7.1-4.4,10.1-3.4c6.9,2.3,10.2,11.8,11.9,18c0.5,1.9-2.3,3.2-3.5,1.7
				c-1.1-1.5-2.4-2.4-4.1-3.2c-1.4-0.6-2.4-0.5-3.2,0c-1.4,0.9-1.8,3-1,4.9c1.6,4,6.4,2,9,4.3c0,0,0,0,0,0c0.4,0.4,0.6,1.1,0.1,1.5
				c-4.9,3.5-10.2,0-12.5-4.7c-0.7-1.4-1.1-3-1.2-4.5C257.1,423.9,257.8,422.5,258.9,421.6z"/>
			<path class="st20" d="M333.3,411.6c-2.2-0.2-3.7-4.8-3.3-10.4c0.4-5.6,2.6-10,4.8-9.8c2.2,0.2,3.7,4.8,3.3,10.4
				C337.7,407.4,335.5,411.8,333.3,411.6z"/>
			<path class="st20" d="M348.5,402.9c0.8-11.3-4.6-20.7-12.3-21.3l-0.1,0c-7.7-0.6-17.7,7.6-18.5,18.6c-0.8,10.6,5.1,19.8,13,20.5
				l0.1,0C338.5,421.2,347.7,414.1,348.5,402.9z M346.8,402.8c-0.7,9.9-9,16.6-16,16.1l-0.1,0c-7-0.6-12.2-9-11.5-18.6
				c0.7-10,9.7-17.5,16.7-17l0.1,0C342.8,383.9,347.6,392.6,346.8,402.8z"/>
			<path class="st20" d="M351.5,516.5c0.4-0.1,0.7,0.6,0.2,0.7c-4.7,1.9-10,2.1-14.7,0c-0.5-0.2-0.6-1-0.3-1.4
				c0.1-0.2,0.3-0.3,0.6-0.2c0.8,0.1,1.6,0.3,2.4,0.4C343.7,516.8,347.5,517.4,351.5,516.5z"/>
			<path class="st20" d="M360.5,483.3c-3.1,1.6-4.8,1.8-7.6,1.8c-5.1,0-10.2-0.7-14.3-4c-0.6-0.5-0.1-1.5,0.7-1.3
				c3.5,1.1,7.3,2,10.9,2.4c3.4,0.4,10.5-0.1,13.5-2.2c0.5-0.3,1,0.3,0.6,0.7c0,0,0,0,0,0c-0.2,0.2-0.4,0.4-0.5,0.5
				C362.2,482.8,362.7,482.2,360.5,483.3z"/>
			<path class="st20" d="M382.1,412.5c-2.4-0.2-4-4.4-3.6-9.4c0.4-5,2.6-8.9,4.9-8.7c2.4,0.2,4,4.4,3.6,9.4
				C386.7,408.7,384.5,412.6,382.1,412.5z"/>
			<path class="st20" d="M400.3,370.1c0.5,0.5-0.3,1.3-0.8,0.9c-2.8-1.9-5.2-3.9-8.3-5.5c-0.8-0.4-1.6-0.7-2.4-0.9
				c-4.8-1.3-10.7-0.2-13.2,4.4c-0.4,0.7-1.5,0.1-1.2-0.6c1.3-3.3,3.4-5.7,6.1-7.1c2.1-1.1,4.6-1.5,7.4-1.1
				C393.8,360.9,396.7,366.1,400.3,370.1z"/>
			<path class="st20" d="M322.3,440.5c0,0.1,0.1,0.1,0.1,0.2c1.3,2,3.6,2.9,5.9,3.3c-3.5,9.6,4,17.7,11.7,22.1
				c4.9,2.7,14.9,6.9,20.2,3.1c0.2-0.2,0-0.5-0.3-0.4c-0.8,0.4-2,0.4-3.2,0.3c0.2-1,0.1-2-0.2-2.9c0.8-0.7,1.4-1.8,2.1-2.6
				c1.1-1.3,2.3-2.6,3.8-3.5c0.4-0.2,0.4-0.7,0.3-1c6.8-0.3,12.8-2.5,17.4-8.1c0.1-0.1,0.1-0.1,0.1-0.2c1.1-0.6,2.2-1.4,3.4-1.6
				c0.7-0.1,0.5-1.1-0.2-1c-3.9,0.5-7.2,1.9-11.2,1.8c-4.7-0.1-9.5,0-14.2-0.4c-5.8-0.5-11.5-1.4-17-3.2c-1.7-0.6-3.5-1.4-5.3-2.2
				c0.4-0.1,0.8-0.2,1.1-0.4c0.1,0,0.2-0.1,0.2-0.1c0.3-0.1,0.1-0.6-0.2-0.5c-1.3,0.3-12-1.1-13.8-2.9
				C322.2,439.3,321.8,439.6,322.3,440.5z M355,456c-4.5-0.9-9.3-2.3-13.1-5c-0.6-0.4-1.3-1.2-2.2-2c0.5,0.2,1.1,0.3,1.6,0.5
				c5.3,1.5,10.8,2.5,16.4,2.8c5.2,0.3,10.5,0.4,15.6,0c1.2-0.1,2.3-0.2,3.5-0.4C370.9,456.7,362.3,457.4,355,456z M332.7,456.7
				c6.3-0.8,12.5,3.6,17,7.7c0.3,0.2,0.6-0.2,0.4-0.4c-0.9-1.2-1.8-2.4-2.9-3.5c0,0,0,0,0,0c1.2,0.5,2.5,1,3.5,1.8
				c2.3,1.7,4,3.6,4.6,6.4c0,0-0.1,0.1-0.1,0.2l0,0c-1.8-0.3-3.5-0.8-4.7-1.1c-3.5-1-7.1-2.3-10.2-4.3
				C337.5,461.5,334.7,459.5,332.7,456.7z"/>
			<path class="st20" d="M401.7,404.2c0.1-11.6-7.4-21.3-14-21.8c-0.2,0-0.4,0-0.6,0c-3.5,0-6.6,2.4-9,6.8
				c-2.2,4.1-3.4,9.5-3.5,15.2c-0.1,9.9,4.8,17.5,10.3,20c0,0.1,0,0.2,0.1,0.4c1.3,1.8,3.2,2.1,5.1,1.9c0.8-0.1,1.6-0.2,2.3-0.4
				c0.6-0.2,0.4-1-0.2-0.9c-1.8,0.4-3.7,0.7-5.2-0.2c0.3,0.1,0.6,0.1,0.9,0.2c0.2,0,0.4,0,0.6,0c0.8,0,1.6-0.1,2.3-0.3
				C397,423.2,401.6,414.6,401.7,404.2z M388.8,423.5c-5.8-0.1-12.4-8.1-12.3-19c0.1-5.3,1.2-10.6,3.2-14.4c2-3.8,4.6-5.9,7.3-5.9
				c0.1,0,0.3,0,0.4,0c5.8,0.5,12.5,9.4,12.4,20C399.8,414.9,394.8,423.5,388.8,423.5z"/>
			<path class="st18" d="M360.3,420.2c0,0,10.6,1,6.1,11.2c0,0-2.8,5.3-12.9-1.1c0,0,11.5,9.6,15.5,0.4
				C369,430.6,373,419.7,360.3,420.2z"/>
			<path class="st20" d="M254.1,444.9c6.9,3.9,18.4,3.7,23.9-3c0.9,3,2.7,7.7,3.8,10.2c4,9.2,11.5,16,19.7,21.5
				c8.9,6,18.9,11.3,29.3,14.9c-0.1,0.6-0.4,1.1-0.5,1.7c-3,0-5.7,0.4-8.5,1c-1.2,0.3-2.3,0.6-3.5,0.9c1.5,0.4,2.9,0.8,4,1.2
				c1.9-0.2,3.8-0.3,5.7-0.3c-1.1,1.4-1.8,2.8-2,4.3c-1.4,7.6,7.8,14.8,15.2,16.6c10.5,2.6,22.4-3.9,20.9-14.6
				c-0.2-1.4-0.6-2.9-1.3-4.4c0,0,0,0,0-0.1c0,0,0.1,0,0.1,0c0,0,0,0,0,0c2.7-0.3,4.8-1.2,7.7-0.6c1.9,0.4,4,1.1,5.9,2.1
				c-0.1,0.5,0.1,1.1,0.6,1.3c0.3,0.1,0.5,0.2,0.8,0.3c0,0,2.4-0.6,0.6-2.2c-1.7-1.7-3.8-2.8-6-3.6c19.4-3.7,36.9-16,47.9-32.5
				c2.8-4.2,5.1-8.5,6.8-12.9c0.2,0.3,0.5,0.5,0.8,0.7c-0.8-0.2,0.6,0.7,1,1.5c0.7,1.4,2.5,1.8,3.9,2c4.6,0.9,7.6-0.9,11.4-3.8
				c8.9-6.8,10.9-15.3,10-26.3c-0.7-8.5-1.8-16.2-10.3-19.5c-0.3-0.1-0.6-0.2-0.8-0.3c0.2-2.1,0.4-4.7,0.3-7.3
				c-0.2-2.7-0.7-5.3-2.2-7c3.1-0.4,6.3-1.8,8.1-4c0.8-0.9,0.4-2.6-0.6-3.2c-12.9-8.3-15.5-25.6-25.9-36.5
				c-6.3-6.6-15.5-12.8-25-13.7c-0.1,0-0.1,0-0.2,0c3.6-2.4,5.2-7.4,5.8-11.5c0.2-1.5-1.5-2.7-2.8-2c-6.6,3.4-12.7,4.7-20.2,3.5
				c-6.9-1.1-13.7-2.9-20.7-3.6c-11-1.1-22.6,0-33,3.8c-10.7,3.9-20.1,10.5-29.7,16.4c-4.3,2.6-9.2,6.7-11.7,11.5
				c-0.1-3.6,0.9-7.9,1.1-10.6c0.1-1.3-1.3-2.5-2.5-1.8c-6.5,3.9-8,15.4-4.8,22.3c-3.5-1.5-6.4-0.6-10.5-0.3c-1.4,0.1-1.5,2-0.6,2.7
				c0.9,0.8,1.9,1.3,3,1.9c-2.2,1.1-4,3.1-5.4,5.3c-0.9,1.3,0.4,2.9,1.8,2.4c-6.1,7.3-7.3,17.8-8,27.1c0,0.1,0,0.3,0,0.4
				c-0.9,0.1-1.7,0.4-2.6,0.6c-9.3,3.1-15.3,11.8-14.9,21.8C240.5,429,245.2,439.8,254.1,444.9z M359.5,502.2
				c-2.1,8.3-13.7,10.4-21.7,6.4c-1.8-0.9-3.9-2.4-5.5-4.1c-1.9-2.1-3-4.8-2.1-7.6c0,0,0-0.1,0-0.1c0,0,0,0,0,0
				c0.2,0.1,0.4,0.3,0.7,0.3c1.1,0.2,1.8-0.9,1.3-1.6c0.6-0.8,0.8-1.7,0.8-2.8c0-0.9,0.2-1.7,0.5-2.4c0.1-0.2,0.2-0.5,0.2-0.7
				c0.2,0.1,0.5,0.1,0.7,0.2c7.3,2.2,14.8,3.6,22.4,3.7c-1.1,2.2-1.1,4.5-0.7,6.8c0.1,0.7,0.2,1.4,0.3,2.1c0.1,0.4,0.7,0.5,0.8,0.1
				c0.1-0.5,0.3-0.9,0.4-1.3c0.3-1,0.6-2,0.7-3c0.1-1,0.3-1.9,0.8-2.8C360,498,360,500.2,359.5,502.2z M446.6,410.2
				c2,5.2,2.8,12.9,2.3,18.4c-0.2,2-0.6,4.6-1.3,6.6c-2.4,6.7-6.7,13.5-14.5,12.8c-2.2-0.2-4.1-1.3-5.3-2.9c-0.3-0.6-0.9-1-1.6-1
				c-0.1,0-0.1-0.1-0.2-0.2c0,0,0-0.1-0.1-0.1c0.6-1.7,1-3.5,1.4-5.2c0.3-1.1,0.5-2.2,0.7-3.3c0-0.2,0.1-0.5,0.1-0.7
				c0.1-0.6,0.2-1.3,0.3-1.9c0.1-0.9,0.2-1.9,0.3-2.8c0.4,0,0.7-0.2,1-0.6c1.8-2.8,5.5-3.1,6.1,0.6c0,0.1,0,0.1,0,0.2
				c0.5,3.8-3.1,5.2-6.3,4.7c-0.4-0.1-0.7,0.2-0.8,0.5c0,0.1-0.1,0.1-0.1,0.2c-0.1,0.2,0,0.4,0.1,0.6c1.9,3.5,6.1,1.9,8.4-1
				c0.3-0.4,0.6-0.8,0.8-1.2c0.1-0.1,0.1-0.2,0.2-0.4c0.5-1,0.8-2.1,0.6-3.2c2.4-0.9,2.8-4.3,2.1-6.6c-0.8-2.4-2.6-4.5-4.9-5.1
				c0.5-0.7,1.1-1.5,1.8-2.1c0.6,0.1,1.2,0.1,1.7,0.5c0.6,0.4,1.1,0.9,1.4,1.6c0.6,1.1,1.4,2.6,1.4,3.9c0,0.5,0.7,0.4,0.8,0
				c0.2-1,0.4-1.7,0.2-2.7c-0.2-1-0.6-1.9-1.1-2.7c-0.3-0.5-0.9-1.1-1.5-1.6c0,0-0.1,0-0.1-0.1c0.2,0,0.3,0.1,0.5,0.1
				c0.9,0.4,1.6,1.1,2.6,1.6c0.4,0.2,0.6-0.4,0.3-0.6c-1.2-0.9-0.7-2.8-2.7-3.4c-1.9-0.5-3.6,0.1-5,1.4c-3.2,2.9-5.2,6.7-7.2,10.4
				c0.1-4.2-0.2-8.4-1-12.7c0.3-0.1,0.6-0.3,0.7-0.6C432.9,401.9,442.9,400.7,446.6,410.2z M262.9,383.4c1.1-5.7,3.3-11,7.9-14.6
				c1-0.8,0.6-2.3-0.5-2.8c-0.5-0.2-0.9-0.3-1.3-0.4c1.2-1,2.6-1.7,4.3-1.5c1.6,0.1,2.3-2,1.1-2.9c-1.1-0.8-2.2-1.4-3.4-2
				c1.9-0.5,3.7-0.8,5.8-0.3c0.5,0.1,0.9,0.3,1.4,0.5c0.1,0,0.2,0,0.3,0c1,0.6,2.4-0.7,1.9-1.9c0,0,0,0,0,0c-1.6-3.7-2-10.5,0-15.1
				c-0.4,3.8-0.5,7.9,1.1,10.6c0.2,0.3,0.4,0.5,0.6,0.6c0.6,1.4,2.9,1.3,3.1-0.5c1-10.2,15.8-16,23.2-20.6
				c9.4-5.9,19.2-10.6,30.3-12.1c12.2-1.7,23,0.3,34.9,2.4c5.3,0.9,11.3,1.8,16.7,0.9c2.3-0.4,4.3-1.2,6.2-2.1
				c-1.1,2.6-2.7,4.8-4.1,7.4c0,0.1-0.1,0.2-0.1,0.3c-0.9,0-1.7,0.1-2.6,0.3c-0.4,0.1-0.7,0.4-0.7,0.8c-0.8,0.2-0.8,1.5,0.1,1.6
				c0.2,0,0.4,0,0.6,0c0.4,0,0.8-0.2,0.9-0.6c0.1-0.4,2.6,0.2,5.1,0.8c2.2,0.6,4.4,1.3,4.9,1.5c3.6,1.4,7.1,3.1,10.3,5.4
				c6,4.4,10.8,10.4,14.5,16.8c5.2,9.2,8.2,19,16.4,25.7c-2.4,1.4-5.8,1.9-8.2,2.7c-0.9,0.3-1.3,1.7-0.2,2.1
				c0.7,0.2,1.4,0.4,2.1,0.5c1.2,2.4,2.2,4.4,2.4,7.1c0,0.4,0,0.8,0,1.2c0,1.9-0.2,3.8-0.3,5.7c-2.4,0.3-4.8,1.4-6.6,3.1
				c-1.3,1.3-2.4,2.8-3,4.5c-0.1,0.2-0.1,0.3-0.2,0.5c0-0.2-0.1-0.4-0.2-0.6c-1.1-4.6-2.7-9.1-4.8-13.6c-0.1-0.2-0.3-0.4-0.4-0.6
				c0.4-3.2,0-6.5-0.8-10c-0.3-1.5-0.7-3.1-1.2-4.6c-0.2-0.6-0.8-0.5-1-0.1c0,0.1-0.1,0.2-0.1,0.3c0.4,6.6,0.8,13.6-2.9,18.8
				c0.6-4.7,1.5-9.6,0-14c-2.4-6.8-6-13.1-11-18.3c-4.4-4.7-10.4-7.8-16.2-10.6c-4.5-2.2-9.4-4.9-14.5-5.1c0,0-0.1,0-0.1,0
				c0-1.7-0.3-3.4-0.8-5c-1.2-3.9-3.7-7.2-8-9.4c-0.8-0.4-1.5,1-0.7,1.4c3.7,2.1,5.6,5.6,6.2,9.5c0.1,0.7,0.2,1.3,0.2,2
				c0.2,5.6-2.2,11.6-5.7,15.8c-0.9,1-1.8,1.9-2.8,2.6c-1.7-5.3-5.1-9.8-10-12.5c-3.4-1.9-8-4.3-12.3-4.3c-0.2-1.1-0.6-2.3-1.1-3.3
				c-0.2-0.5-0.5-0.9-0.8-1.2c-1.7-2.1-4.4-6.1-7.1-3.4c-0.3,0.3-0.2,0.9,0.3,0.9c3.7-0.1,5,4.3,5.6,7.8c-0.5,0.7-0.5,1.8,0.3,2.3
				c0,0.1,0,0.2,0,0.2c0,0.2,0,0.4,0.1,0.6c0.1,1.2-0.2,2.1-0.6,2.9c-4.7-5.6-13.6-6.3-20.5-5.7c-5,0.5-9.4,1.9-13.5,4.9
				c-2.1,1.6-4.2,3.3-5.9,5.4c-0.4,0.4-1.7,3-2.5,4.3c-0.6-0.9-1.4-1.8-2.2-2.7c-0.1-0.1-0.2-0.1-0.3-0.2c-0.9-0.5-2.1,0.6-1.4,1.6
				c0.9,1.2,1.7,2.5,2.3,3.8c0,0.1,0,0.2,0,0.2c0,0.2,0.1,0.4,0.1,0.5c0.1,0.4,0.3,0.7,0.6,0.9c2.9,8.1,0.4,17.4-3.7,24.9
				c-0.1,0.2-0.3,0.5-0.4,0.7c-1.9,3.3-3.9,7-4.9,10.7c-0.4,1.7-1.4,4-1.4,5.7c0,1.3,0.1,3-0.2,4.5c-2.3-1.4-3.8-3.6-4.8-6.1
				c-0.2-0.4-0.3-0.7-0.4-1.1c-0.1-0.2-0.2-0.3-0.3-0.3c-1.4-7.6-9-12.7-16.8-13C261.8,392.3,262.1,387.8,262.9,383.4z M253.2,400.9
				c9.5-5.1,20.9,1,23.1,10.6c0.2,0.9,0.6,1.8,0.8,2.8c0.1,0.5,0.6,0.6,0.9,0.4c1.2,2.7,3.5,5.1,5.7,6.3c0.8,0.5,1.9,0.4,2.5-0.4
				c2.8-3.9,1.3-9.6,3.4-14c2.4-5,5.9-10.2,7.7-15.5c1.7-5,2.3-10.5,1.4-15.6c-0.3-1.8-0.8-3.6-1.5-5.2c0.2-0.2,0.4-0.4,0.5-0.7
				c3.2-7.2,10.9-12.9,18.8-13.6c5.6-0.5,13.4-0.6,17.7,3.7c-1.4,0-2.8,0.2-4.2,0.6c-4.9,1.4-9,5.2-12,9.2c-0.5,0.7,0.3,1.8,1.1,1.3
				c4.4-2.3,8.9-6.3,14-6.8c5.1-0.5,11.6,0.3,14.7,4.8c0.7,1,2.3-0.1,1.7-1.1c-2-4.1-5.4-6.3-9.4-7.3c0.3-0.5,0.6-0.9,0.9-1.4
				c0.3-0.5,0.5-1,0.5-1.5c0.1-0.8,0-1.7-0.2-2.6c2.1,0.4,4.3,0.6,6.2,1.6c5.6,2.9,10,6.5,11.9,12.5c0.2,0.6,0.4,1.2,0.5,1.9
				c0.3,1.2,1.6,2,2.7,1.4c4.8-2.6,8.7-7.6,10.6-13.1c0.6-1.8,1-3.6,1.3-5.4c0-0.2,0.1-0.4,0.1-0.6c0.2,0,0.4,0.1,0.6,0.1
				c4.5,0.8,9,3.5,12.9,5.5c5.7,3,11.6,6.3,15.8,11.3c3.8,4.6,8.8,11.4,9.3,17.6c0.2,3.4-0.3,6.8-0.7,10.2c-0.2,1.8-0.4,3.6-0.4,5.5
				c0,1.8,1.8,2.6,3.2,1.7c2.8-1.9,4.6-4.1,5.8-6.5c7.3,20.3,5,45.2-8.3,62.4c-0.6,0.8-1.2,1.5-1.8,2.3c-11.4,14-28.2,25-46.6,26.4
				c-20.6,1.5-41.2-5.9-58.2-17.4c-7-4.7-16-10.6-19.8-18.5c-0.5-1-1-2-1.5-3c-2.3-4.3-3.8-11.6-4.2-16.2c0-0.5-0.3-0.8-0.7-0.9
				c-0.6-0.2-1.4,0.1-1.7,0.7c-0.5,1.1-0.7,2.2-0.8,3.4c-0.3,0.1-0.5,0.3-0.7,0.6c-5.4,6.9-16.9,7.5-22.9,2.3
				c-3.2-2.8-6.1-6.2-7.6-10.2c-0.8-2.1-1.7-4.8-2.1-7C242.6,413.3,246.7,404.4,253.2,400.9z"/>
		</g>
		<path class="st20" d="M199,649.6l1.7-1.7c0,0,0-0.1,0-0.1L199,649.6z"/>
		<path class="st20" d="M370.6,496.8c-0.4-2.1-1.3-4.4-1.3-4.4c-3.6-4-2.4,0.7-2.4,0.7c1.4,3.8,0.7,5.2,0.2,8.1
			c-2.1,12.6-19,17.1-31.3,12.2c-2.8-1.1-6.1-3-8.6-5.4c-3-2.9-5-6.7-4-11c0-0.1,0.1-0.2,0.1-0.2c1.3-3.2,5-9.9-0.8-9.7
			c-4.4,0.3-8.4,1.3-12.4,2.6c-1.8,0.6-3.5,1.2-5.2,1.9c-23.8,0-42.1,25.5-52.7,44.1c-0.8,1.4-1.6,2.8-2.3,4.2c-0.3,0-0.6,0-0.9,0
			c-5.6,0-11.3,1.7-10.8,7.3c0.3,3,1.8,5.7,4,8c-3.3,7.1-6.3,14.4-9,21.7c-3.5,9.5-8.1,20.3-10,30.9c-17.7,1-30.3,26.8-28.6,46.3
			l4.5-4.6c-2.3-28.8,23.6-38.5,23.6-38.5c-0.4,1.4-0.4,3.2-0.4,4.2c0,0,0,0,0,0c-0.1,1-0.1,2,0,3.1c0.1,2.1,2.8,2.3,3.5,0.5
			c0.1-0.3,0.2-0.6,0.3-0.9c-0.2-1-0.3-1.8-0.3-1.8c2.7-26.4,18.7-56.1,18.7-56.1c1-2.1,2.6-0.7,2.6-0.7c0.3,0.2,0.6,0.4,0.9,0.7
			c1.8,1.3,3.7,2.4,5.4,3.4c6,3.4,13,7,20,7.3c0.3,0,1.7,0,3.1-0.1c0.1,0,0.2,0,0.3,0c0,0,0,0,0,0c0.7,0,1.3-0.1,1.7-0.1
			c0,0-12.9,27.3-17.3,50.2c0.1,1,1.6,1.4,1.8,0.3c0.3-1.4,0.6-2.8,1-4.2l0,0l0.1-0.2c0.1-0.3,0.1-0.6,0.2-0.9c0,0,0,0,0,0l0.5-1.8
			C280.2,612.6,286,629,286,629h4.4c0-0.1-0.1-0.2-0.1-0.3c-0.1-0.5-0.3-1-0.5-1.4c-0.5-1.2-2.1-3.4-2.7-4.5
			c0.2-0.4,0.4-0.8,0.5-1.3c0.4-4.2,1-8.3,1.6-12.5c0.2-1.2,0.4-2.3,0.5-3.5c1-6.4,2.3-12.8,3.6-19.1c1.6-7.7,3.3-15.5,5-23.1
			c2-9.1,3.7-18.2,5.6-27.3c0.5-2.1,1.8-3.2,2-5.2c1-1.6,2.1-3.1,3.2-4.7c1-1.5,0.1-2.9-1.2-2.2c-0.3,0.1-0.5,0.3-0.7,0.6
			c-1.1,1.5-2.2,3.1-3.3,4.6c-6.2,8.7-12.3,17.5-17.9,26.7c-0.3,0.6-0.7,1.1-1,1.7c0,0,0.1,0,0.1,0.1c-0.2,0.5,0.1,1,0.5,1.5
			c2.7,3.5-1.3,6.8-4.5,7.6c-0.6,0.2-1.2,0.3-1.8,0.4c-1.6,0.3-3.2,0.6-4.9,0.5c-2.1-0.1-4.2-0.6-6.2-1.3c-4.7-1.6-9.3-3.8-13.6-6.5
			c-1.8-1.2-4-2.5-5.9-4c-1.6-1.3-4.1-3.7-5.2-5.3c-0.3-0.5-0.6-0.9-0.9-1.4c-1.3-2.5,0.9-4.8,3.8-5.4c0.3-0.1,0.6-0.1,1-0.2
			c0.1,0,0.2,0,0.4-0.1c1.8-0.2,1.7,0.7,3.3,0.8c0,0,0,0,0-0.1c0.2-0.4,0.4-0.7,0.6-1.1c0.3-0.6,0.7-1.2,1-1.8
			c1.2-2.1,2.4-4.2,3.7-6.3c11-18.5,28.3-40.1,50.9-40.4c0.4,0,0.7,0,1.1,0c1.7,0,3.4,0,2.8-1.2c2.8-0.5,5.6-0.9,8.5-1.2
			c-1.5,2.2-1.3,2.4-1.5,4.6c-1.2,11.3,13.4,20.9,24.5,22.6C358.3,521.5,372.8,508.8,370.6,496.8z M282.3,569.5
			c3.4-1.1,6.8-2.9,7.8-6.3c0.5-1.9,0-3.4-1.1-4.6c-0.1-0.1-0.2-0.3-0.4-0.4c3.8-6.6,7.8-13,11.9-19.3c-2.5,9.1-4.9,18.3-6.7,27.5
			c-3.5,17.2-8.1,34.1-10.3,51.5c-4.7-4.7-11.1-7.1-18.5-6.2C269.1,597.1,275.2,583,282.3,569.5z"/>
		<path class="st20" d="M391.9,573"/>
	</g>
	
		<g>
			<path class="st29" d="M1255.6,353.4c0,77.7,0,155.3,0,233c0,0.9,2.9,0.3,2.9-0.8c0-77.7,0-155.3,0-233
				C1258.5,351.7,1255.6,352.3,1255.6,353.4L1255.6,353.4z"/>
		</g>

	<rect x="43" y="820.8" class="st5" width="1010.7" height="13.3"/>
</g>
</svg>
<script>

for(var i=0; i<story3items.length; i++)
	{
		 //$("#"+story3items[i]+" .st11").attr('style', "fill:"+story3colors[i]);		 
		  $("#"+story3items[i]+" .st12").attr('style', "fill:"+story3colors[i]+"; opacity:"+story3opacity[i]);		
	}
for(var i=0; i<story3items.length; i++)
	{
		 //$("#"+story3items[i]+" .sta").attr('style', "fill:"+story3colors[i]);		 
		  $("#"+story3items[i]+" .sta").attr('style', "fill:"+story3colors[i]+"; opacity:"+story3opacity[i]);		
	}	
	
	
	/*
  $("#background").click(function(){
         $("#background .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Bottom_drawer").click(function(){
         $("#Bottom_drawer .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#table").click(function(){
         $("#table .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Watermelon").click(function(){
         $("#Watermelon .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#plate").click(function(){
         $("#plate .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	$("#orange").click(function(){
         $("#orange .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Teddy").click(function(){
         $("#Teddy .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Top_drawer03").click(function(){
         $("#Top_drawer03 .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	$("#Top_drawer02").click(function(){
         $("#Top_drawer02 .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	$("#Top_drawer01").click(function(){
         $("#Top_drawer01 .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Tiles_01").click(function(){
         $("#Tiles_01 .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Tiles_02").click(function(){
         $("#Tiles_02 .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Tap").click(function(){
         $("#Tap .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#clock").click(function(){
         $("#clock .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	$("#clock_needle").click(function(){
         $("#clock_needle .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#sink_base").click(function(){
         $("#sink_base .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#bowl").click(function(){
         $("#bowl .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#milk").click(function(){
         $("#milk .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#chocos").click(function(){
         $("#chocos .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#t-shirt").click(function(){
         $("#t-shirt .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#glass").click(function(){
         $("#glass .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#face_and_body").click(function(){
         $("#face_and_body .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	$("#eyes").click(function(){
         $("#eyes .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Tongue").click(function(){
         $("#Tongue .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#Hair").click(function(){
         $("#Hair .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	
	$("#spoon").click(function(){
         $("#spoon .st11").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
	*/
	
	
	
	
	$("#Tiles_01").click(function(){
		
       var ind = story3items.indexOf("Tiles_01");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#Tiles_01 .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#Tiles_01 .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	$("#Tiles_02").click(function(){
		
       var ind = story3items.indexOf("Tiles_02");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#Tiles_02 .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#Tiles_02 .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
		$("#Tap").click(function(){
		
       var ind = story3items.indexOf("Tap");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#Tap .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#Tap .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
		$("#chocos").click(function(){
		
       var ind = story3items.indexOf("chocos");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#chocos .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#chocos .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
		$("#eyes").click(function(){
		
       var ind = story3items.indexOf("eyes");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#eyes .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#eyes .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	$("#table").click(function(){
		
       var ind = story3items.indexOf("table");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#table .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#table .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	$("#sink_base").click(function(){
		
       var ind = story3items.indexOf("sink_base");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#sink_base .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#sink_base .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	$("#Kitchen_bottom_wall").click(function(){
		
       var ind = story3items.indexOf("Kitchen_bottom_wall");

		 story3colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#Kitchen_bottom_wall .st12").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story3opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#Kitchen_bottom_wall .st12").attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
	
	$(".st12").click(function(){
		var id = $(this).parent().attr('id');
		console.log(id);
     //   $("#"+id+" .st11").attr('style', "fill:"+_currentFill);
	 
	  var ind = story3items.indexOf(id);
		 story3colors[ind] = _currentFill;
		 
		if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		   story3opacity[ind] = 1;
		  }
        totalcolored++;
         enableNext();
		
    });
	
	$(".sta").click(function(){
		 
		var id = $(this).parent().attr('id');
		console.log(id);
        //$("#"+id+" .sta").attr('style', "fill:"+_currentFill);
		  var ind = story3items.indexOf(id);
		 story3colors[ind] = _currentFill;
		 
		 if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		    story3opacity[ind] = 1;
		  }
		 
		totalcolored++;
        enableNext();
				
		
        
    });
	
function changeImg1(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		imgSrc = "images/arabic_titles/title_03/word01/title03_word01_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}
	
	function changeImg2(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		//alert(SELECTED_COLOR);
		imgSrc = "images/arabic_titles/title_03/word02/title03_word02_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}	
	  
</script>

		<!--<img src="images/arabic_titles/title_03/word02/title03_word02_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word02_ffffff.png" width="0" height="0" />
 		<img src="images/arabic_titles/title_03/word02/title03_word02_f7f7f7.png" width="0" height="0" />        
        
        <img src="images/arabic_titles/title_03/word02/title03_word01_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_03/word02/title03_word01_ffffff.png" width="0" height="0" />-->
 		<img src="images/arabic_titles/title_03/word02/title03_word01_f7f7f7.png" width="0" height="0" />
