<h1 id="story_h1" class="game_h1 paint_a2">
 <img src="images/arabic_titles/title_02/word02/title02_word02_ffffff.png" onclick="changeImg2('title02_word02_');" id="title02_word02_" alt=""  />
 
  <img src="images/arabic_titles/title_02/word01/title02_word01_ffffff.png" onclick="changeImg1('title02_word01_');" id="title02_word01_"  alt="" />
</h1>
 <!-- <h2 id="story_h2" class="game_h2 paint_a3">أنظف، انظف ، انظف أسناني مرتين في اليوم <br />كي أحافظ على نظافتها وعلى لونها الأبيض الناصع

</h2>-->
<h2 id="story_h2" class="game_h2 paint_a3"><img src="images/story2-h2-ar.png"  alt="" /></h2>
<div class="game-canvas">    
<svg  id='mysvg2' class="drawing_map" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="550px"
	 height="381px" viewBox="0 0 1300 900" style="enable-background:new 0 0 1300 900;" xml:space="preserve">
<style type="text/css">
<![CDATA[
	.st0{fill:#010101;stroke:#010101;stroke-linecap:round;stroke-linejoin:round;}
	.st1{fill:#010101;stroke:#010101;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st2{fill:none;stroke:#231F20;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
	.st3{fill:none;stroke:#231F20;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;}
	.st4{fill:none;stroke:#010101;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}
	.st5{fill:#4F656D;}
	.st6{fill:#EB6E25;}
	.st7{fill:none;stroke:#010101;stroke-width:3;}
	.st8{fill:none;stroke:#010101;stroke-width:4;}
	.st9{fill:#54321A;}
	.st10{fill:#C27F61;}
	.st11{fill:none;stroke:#010101;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;}
	.st12{fill:none;stroke:#010101;stroke-width:3;stroke-linejoin:round;}
	.st13{fill:#FFFFFF;}
	.st14{fill:none;}
	.st15{fill:#010101;stroke:#010101;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st16{fill:#CA5B28;}
	.st17{fill:#010101;stroke:#010101;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st18{fill:none;stroke:#231F20;stroke-width:0.4394;}
	.st19{fill:#321C11;}
	.st20{fill:#010101;}
	.st21{fill:#010101;stroke:#010101;stroke-width:2;stroke-miterlimit:10;}
	.st22{fill:none;stroke:#010101;stroke-width:3;stroke-linecap:round;stroke-linejoin:round;}
	
		.st23{clip-path:url(#SVGID_2_);fill:#010101;stroke:#010101;stroke-width:0.5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
	.st24{fill:#D8A475;}
	.st25{fill:#3E2415;}
	.st26{fill:none;stroke:#010101;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;}
	.st27{fill:none;stroke:#231F20;stroke-width:0.4394;stroke-linecap:round;stroke-linejoin:round;}
	.st28{fill:none;stroke:#010101;stroke-width:6;stroke-linejoin:round;}
]]>
</style>
<g id="wall">
	<path class="st13" d="M717.2,0h15.7l100.8,62.6c0,0-68.4,443.2-100.6,490.7c0.6,4,21.1,28.9,21.1,28.9l-101.2,0.8
		c0,0-6.2-16.4-8.2-21.2c-4-4.5,73.6-0.6,73.6-0.6l-0.6-184.3l-1.7-61.1L717.2,0z"/>
	<path class="st13" d="M1259.3,289.9L1300,311v565.1l-3-1.3l-2.8-3.3l-52.4-66.5l5.7,1.1c0,0-17-291.2-2.8-358.4
		C1249.7,382,1259.3,289.9,1259.3,289.9z"/>
	<path class="st13" d="M395.6,558.8l-17,21.5l5.4,1.4l88.5,0.3l-24.9-17.5c0,0-3.4-6.5-4.5-6.2S395.6,558.8,395.6,558.8z"/>
	<path class="st13" d="M488.9,560.7c2.8,0.3,21.2-0.8,21.2-0.8l0.8,4l-1.7,4.5L488.9,560.7z"/>
	<path class="st13" d="M601.7,561h6.8l3.4,3.4c0,0-2.8,4.5,0,6.2c2.8,1.7,6.5,3.7,6.5,3.7l1.7,7.1l-13.9,0.3L601.7,561z"/>
	<polygon class="st13" points="131.2,632.9 146.6,697.7 191.1,633.3 	"/>
	<path class="st13" d="M718.5,37.3L717.2,0H318.6h-130H4.3l0,898.4h12L55.1,839l-2.3-216.3L31,610.6l1.5-61.8
		c0,0,2.3-20.9,14.1-27.1c11.9-6.2,40.1-34.5,40.1-34.5S67,466.3,84,456.1c3.4-2.8,9-3.4,9-3.4s-4.7-30.7,20.8-39.2
		c15.3-2.8,44.8-6.1,57.2,17.7c-4,5.1-15.3,8.5-21.5,4.5c-3.4-4-15.3-17-28.3-5.7c-4.5,4-9,11.9-7.4,20.4c1.7,8.5,2.8,11.9,2.8,11.9
		l14.7-7.9l54.3-5.1c0,0,111.9,5.1,132.9,15.8c0-22.1,0-317.7,0-425.9L718.5,37.3z M34.8,430.7l-1.1-274.2l114.2-96.1l1.1,275.9
		L34.8,430.7z"/>
	<polygon class="st13" points="758.8,0 1298.8,0 1298.8,288.8 	"/>
	<path class="st13" d="M1136.1,223.8l42.5,23c0,0-13.5,3-25.2-5S1135.6,231,1136.1,223.8z"/>
	<path class="st13" d="M1043.6,172.5l32.5,18.2c0,0-4,3.2-19-3C1044.1,180,1044.6,176.8,1043.6,172.5z"/>
	<path class="st13" d="M941.1,119l43,22.5c0,0-15.5,1.5-23.5-5C951.1,131.3,942.3,121.8,941.1,119z"/>
</g>
<g id="Wash_Basin">
	<path class="st13" d="M394.7,511.3c0,0-4.5-40.7-93.3-51.4c-85.9-7.9-161.1-16.4-177-2.8c-7.3,7.9-7.9,11.9-7.9,11.9l1.1,18.1
		c0,0,9.6,2.8,5.7,8.5c-4.5,1.7-26,6.2-37.3-1.7c-16.4,11.9-50.9,39.6-50.9,39.6l-2.8,76.9l21.5,13l2.3,214.8
		c0,0,73.5,41.3,118.2-14.7c-9.6-33.4-45.2-190-45.2-190s155.5,1.7,215.4-34.5c25.4-14.1,51.4-34.5,50.9-55.4
		C394.2,522.6,394.7,511.3,394.7,511.3z M350.6,508.1c-5.3,12.4-33.5,37.3-98.4,37.3c-68.2,4.9-151.1,7.5-162.1-1.1
		c0,0-9.4-8.3,6.8-19.2c18.8-17.7,67.1-62.2,67.1-62.2s26.8-4.1,55.4-0.4C248.1,466.3,354,474.2,350.6,508.1z"/>
</g>
<g id="Tap">
	<path class="st13" d="M92.7,486.5l-6.8,4.5c0,0,11.6,11.3,26.6,6.5c9-3.4,15.8-7.1,5.7-11c-1.4-8.5-3.7-46.9-3.7-46.9
		s4.8-20.6,25.7-14.1c6.2,4.8,10.2,8.5,10.2,8.5s24.6,3.4,20.1-5.1c-4.8-8.8-24.6-31.7-56.5-17.8c-13.3,8.2-19.5,15.5-20.9,39.9
		c-10.2,3.7-15.8,11-15.3,19.2C80.3,477.8,87.9,486,92.7,486.5z"/>
</g>
<g id="Sink_1_">
	<path class="st13" d="M91.7,542c0,0-9.4-8.3,6.8-19.2c18.8-17.7,67.1-62.2,67.1-62.2s26.8-4.1,55.4-0.4
		c28.6,3.8,134.6,11.7,131.2,45.6c-5.3,12.4-33.5,37.3-98.4,37.3C185.6,548.1,102.6,550.7,91.7,542z"/>
</g>
<g id="Mirror">
	<polygon class="st13" points="35.2,430.7 34,156.5 148.2,60.3 149.4,336.2 	"/>
</g>

	<g id="Floor">
		<path class="st13" d="M581,629.9c-16.7,0-34.9-3.2-41.5-5.7C553.7,630.4,568.7,631.1,581,629.9z"/>
		<path class="st13" d="M1240.2,804.2c-5.3-10.6-66.3-29-66.3-29s1.1,13.2,0.4,19.6c-0.8,6.4,13.9,12.8,16.2,16.2
			c-6,6.4-24.5-8.3-24.5-8.3s-2.3,12.1-1.1,19.6c20,8.7,11.3,15.1,0,22.2c-18.1,10.2-69,2.3-83.3-4.9c-16.2-6.8,10.6-18.5,10.6-18.5
			l-5.3-42.2c0,0-0.4-3,3.4-7.9c-4.9-7.5-23.7,10.1-30.8,15.4c-7.2,3.4-21.6-5.2-21.6-5.2s6-3.4,12.1-3c6,0.4,5.7-20.4,5.7-20.4
			l-22.3-15.8c0,0-5-6.1-21.6-25c-2.3-15.2-22.6-19.8-40.3-25.7c3,3.4,13.9,14.1,16.2,17.7c9.3,15.1-3.1,14.9-3.1,14.9s-2-2.1-2.5,1
			c-0.5,3.1-10.2,0-10.2,0s-1.3,0.7-6.7,4.1c-8.6,0.2-15-15.1-20.3-21.4c-7.8-4.7-2-8.8-2-8.8l10.7-8.9c0,0-10.9-1.8-18.7,3.4
			c-7.8,5.2-0.6,19.7-0.6,19.7s2.3,2.2,2.7,8.9c0.4,6.7-5,7.9-5,7.9s-9.2,0.4-9.4,0.4s-6.4-0.1-6.6-0.2c-0.2-0.1-12,0.1-12,0.1
			l-7.1-3.5c0,0,1.5,4.6-4.2,5.1c-5.7,0.6-6.5,0.2-8.5-7.1c-1.7-8.2,9-15.1,9-15.1s1.3-4.6,1.1-8.8c-0.2-3-0.3-13.6,0.3-20.6
			c-37.1-10.1-72.9-43.5-65.6-63.9c-37.7-5.3-74.2-32.4-74.2-32.4s-44.8,0-103.7-0.2c3.6,8.6,7.4,17.7,8.8,22.5
			c3.1,0,11.9,6.9,11.9,6.9c8.5,8.2,9.6,26.4,5.4,35.3c-4.3,8.5-13.4,5.2-14.5,4.8c0,0.1-0.3,0.7-2.5,2.9c-4.8,3.7-14.7,2-17.8,0.1
			c-4.4,3.2-13.3,2.3-17.2-1c-4-3.3-7.3-19.5-7.3-19.5s-2.7-0.8-6.6-12.3c-0.8-14.7,18.7-15,18.7-15s-5.5-14.7-9.2-25
			c-4.8,0-9.8,0-14.7,0l5.9,31.9c0,0-0.9,3.6-2.6,8.9c-0.1,0.1-0.2,0.2-0.4,0.2l2.8,8.2c0,0,9.2,62.2,11.9,73.7
			c1.3,1.9,0.4,9.8,0.4,9.8s5.8,5.7,7,8.7c0.9,2.8-0.4,6-0.4,6s7.3,5.7,10.4,10.4c0.2,6.1-7.8,6.9-8.9,7c1.9,2.7,4.1,5.3,6.1,6.4
			c8.9,3,21.1,9.8,21.5,18.8c2.6,1.9,6.6,13.2,0.2,16.6c-6.6,3.4-57.7,13.4-66.3,3.2c-4.5-9.8-8.9-22.8-14.7-24.3
			c-6.2,0.8-44.9,13-66.3,10.9c-21.7-2.1-32.8-0.4-33.4-17.9l9.4-2.1c0,0-0.2-20.5,23-19.6c6.4,0,9.8-0.1,11.3-0.1
			c-0.6-0.8-1.4-2-1.5-3.1c-7.5-9.8,6.6-12.8,6.6-12.8s0-0.9-2.4-4.3c-0.8-5.5,13.4-6.4,13.4-6.4s0.6-9.8,0.2-16.2
			c-3.8-2.4-1.5-7.3-1.5-7.3l3.8-22c0,0-4.1-31.7-3.4-44.3c0.1,0,0.2,0.1,0.3,0.1c-7.6-5.4,1.4-11.1,1.4-11.1l1.5-7
			c0,0-0.3-12.6-1.4-22.5c-0.9,0-1.8,0-2.6,0c-1.4,4-3.7,9.9-6.8,16c-5.8,10.9-26.9,1.8-26.9,1.8s-13.3-8.9-27-18.1
			c-51-0.3-91.5-0.8-101.9-1.4C302.9,631.9,189,633,189,633l-41.8,67.1c0,0,24.5,115.3,26,127c-0.8,9-14.3,14.7-38.8,22.6
			c-54.3,10.6-77.3-12.4-77.3-12.4L16,899l1284,1l-1.7-23.9C1298.3,876.1,1245.5,814.7,1240.2,804.2z"/>
		<path class="st13" d="M576.6,749c-0.1-3.5,0.6-8.3,2.4-10.2c-1.7-2.4,5.8-12.6,5.8-12.6l-6.4-6.4l2.8-4.3l-8.9-54.7
			c0,0-2.5-2.1-8.9-3.4c2.6,1.3,3.4,15.8,3.4,15.8s1.3,35.2,2.6,43.3c2.4,1.7,1.9,7.3-1.9,10.6c5.4,2.9,4,12.8,3.6,14.7l3.5,3
			L576.6,749z"/>
		<path class="st13" d="M578.7,752.2c-0.2,0.2-0.4,0.3-0.5,0.5l0,0.1C578.2,752.8,578.3,752.6,578.7,752.2z"/>
		<path class="st13" d="M631.6,747.4l-3.6-7.6c0,0-1.5-0.3-4.8-1l4.3,1.8C627.4,740.5,629.2,743.9,631.6,747.4z"/>
		<path class="st13" d="M531.7,734c6.8,0.2,20.3,3.1,29.5,5.3C551.7,736.6,537.8,733.2,531.7,734z"/>
		<path class="st13" d="M527.6,736c-2.4,1.8-3.4,3.2-3.8,4c0.2,0,0.3,0,0.3,0S525.9,738,527.6,736z"/>
		<path class="st13" d="M616.7,737.3c-2.8-0.6-7.5,0.4-12.7,2.2c2.4-0.6,5-1.1,7.9-1.6C613.8,737.5,615.4,737.3,616.7,737.3z"/>
		<path class="st13" d="M578.7,752.2c4.4-3.6,15.7-9.5,25.3-12.8C587.7,743.4,580.5,750.2,578.7,752.2z"/>
		<path class="st13" d="M632,748c-0.2-0.2-0.3-0.4-0.5-0.7l0.3,0.7C631.9,748.1,631.9,748.1,632,748z"/>
		<path class="st13" d="M623.1,738.8l-3.5-1.4c0,0-1.1-0.1-2.9,0c0.3,0.1,0.6,0.1,0.8,0.2C619.8,738,621.6,738.4,623.1,738.8z"/>
		<path class="st13" d="M577.8,753c0.1-0.1,0.2-0.2,0.3-0.3l-1.6-3.6C576.6,751.2,577.1,752.9,577.8,753z"/>
		<path class="st13" d="M571.3,741.9l-0.3-0.2c0,0-4.1-1-9.7-2.4c5.7,1.6,9.9,2.9,9.9,2.9S571.2,742.1,571.3,741.9z"/>
		<path class="st13" d="M523.8,740c-0.2,0-0.5,0-1,0c0.4,0.5,0.7,0.9,0.7,0.9S523.5,740.6,523.8,740z"/>
		<path class="st13" d="M531.7,734c-1,0-1.9,0-2.6,0.1c-0.5,0.6-1,1.2-1.5,1.8c0.6-0.4,1.2-0.8,1.9-1.3
			C530.1,734.4,530.8,734.1,531.7,734z"/>
	</g>

<g id="floor_mat">
	
		<path class="st13" d="M578.7,752.2c-0.2,0.2-0.4,0.3-0.5,0.5l0,0.1C578.2,752.8,578.3,752.6,578.7,752.2z"/>
		<path class="st13" d="M571.3,741.9l3.5,3l1.8,4.2c-0.1-3.5,0.6-8.3,2.4-10.2c-1.6-2.3,4.7-11.1,5.7-12.4l-16.3,0
			c-0.2,0.2-0.5,0.5-0.7,0.7C573,730,571.6,739.9,571.3,741.9z"/>
		<path class="st13" d="M631.6,747.4l-3.6-7.6c0,0-1.5-0.3-4.8-1l4.3,1.8C627.4,740.5,629.2,743.9,631.6,747.4z"/>
		<path class="st13" d="M611.9,737.9c1.9-0.4,3.5-0.6,4.8-0.6c-2.8-0.6-7.5,0.4-12.7,2.2C606.4,738.9,609.1,738.3,611.9,737.9z"/>
		<path class="st13" d="M561.3,739.3c-9.6-2.7-23.5-6-29.5-5.3C538.5,734.3,552,737.1,561.3,739.3z"/>
		<path class="st13" d="M779.4,726l-148.2,0.3c0.2,2.3-0.7,4.4-0.7,4.4s7.3,5.7,10.4,10.4c0.2,6.1-7.8,6.9-8.9,7
			c1.9,2.7,4.1,5.3,6.1,6.4c8.9,3,21.1,9.8,21.5,18.8c2.6,1.9,6.6,13.2,0.2,16.6c-6.6,3.4-57.7,13.4-66.3,3.2
			c-4.5-9.8-8.9-22.8-14.7-24.3c-6.2,0.8-44.9,13-66.3,10.9c-21.7-2.1-32.8-0.4-33.4-17.9l9.4-2.1c0,0-0.2-20.5,23-19.6
			c6.4,0,9.8-0.1,11.3-0.1c-0.6-0.8-1.4-2-1.5-3.1c-4-5.2-1.9-8.5,0.9-10.4L395,726.8l-44.5,106.3l480.9,0.4L779.4,726z"/>
		<path class="st13" d="M524.1,740c0,0,1.8-1.9,3.6-4c-2.4,1.8-3.4,3.2-3.8,4C524,740,524.1,740,524.1,740z"/>
	
</g>
<g id="Door">
	<path class="st13" d="M318.9,463.7V35.2L718,37.8l-1.5,521.6h-70.1c0,0,4.2-6.1-7.4-6c-4.1-7.3-18.2-34-42.4-37.1
		c-5.7-1.7-13.4-2.8-13.4-2.8l-0.5-4.7c0,0,60-19,65-49.3c7.8,7.2,23.8,13.7,34.3,1.6c6-11.2,18.2-39.1-7.5-46.4
		c-0.5-11.8-2.1-30.1-7.4-34.2c2.4-0.8,2.4-0.8,2.4-0.8l-6.1-7.6l4.9-3.1c0,0-8.8-1.6-13-0.7c2.5-6.1,4.9-17.8-0.7-22.3
		c-1.1,5.5-3,13.6-3.5,14.8c-3.4-8.9-32.6-38.4-56.8-42.8c-25.9-2.8-56.8-2.4-61.1-2.3c-8.5-4.1-11-5.1-10.9-4.5
		c0.1,0.6,6.6,13.9,6.6,13.9s-34.8,7.5-44.7,30.5c-5.7,10-14.4,21.1-18,22c4.2,4.4,9.3,4.1,9.3,4.1s-7.6,13-5.9,21.1
		c-6.6,1.4-26.9,21.5-13.3,44c5.7,5.7,18.5,14.4,25.4,4.5c5.4,13.6,20.2,45.5,59.6,58.5c-3.2,1.4-9.5,4.2-9.5,4.2
		s-14.1,4.4-15.1,15.4c0.7,6.2,1.3,12.2,1.3,12.2l-1.8,11.6c0,0-7.5,2-7.2,6.2c-14.8-0.4-33.4,0-33.4,0l-6.9-4.8v-4.1
		c0,0,3.4-9,3-13.4c1.3-3.2,1.4-4.8,1.4-4.8s6.2,0.6,6.6-5.1c0.4-5.7-0.7-16.8-9-13.7c-2.3-4.1-3.4-7.6-13-7.9
		c-2-6.8-7.8-23.3-7.8-23.3l7.6-1.7c0,0,0.3,3,4,1.4c1.3-1.6,2-1.1,1.8-6.5c-2.3-8.1-3.8-15.5-2.1-15.8c-1.7-1.4-4-2.1-5.1,0.8
		c-3.8-0.1-8.9,0.7-8.9,0.7s-4-3.4-4.7,0.6c0.4,4,2.5,22,2.5,22l7.5,23.2c0,0-13.9,5.2-13.9,16.4c0,11.3,4.2,36.5,4.2,36.5
		l-47.2-2.3l0.8-42.7c0,0-1-24.2-32.1-36.2C345.3,470.8,318.9,463.7,318.9,463.7z"/>
</g>
<g id="Shoes">
	<path class="st13" d="M479,761.8l9.4-2.1c0,0-0.2-20.5,23-19.6c10.4,0,12.6-0.2,12.6-0.2s3-3.2,5.1-5.8c7.9-1.1,41.8,7.5,41.8,7.5
		l3.8,3.2l3.4,7.9c0,0,8.3-10.9,33.7-14.9c4.5-0.9,7.7-0.6,7.7-0.6l7.7,3.2c0,0,6,11.3,10.7,13.9c8.9,3,21.1,9.8,21.5,18.8
		c2.6,1.9,6.6,13.2,0.2,16.6c-6.6,3.4-57.7,13.4-66.3,3.2c-4.5-9.8-8.9-22.8-14.7-24.3c-6.2,0.8-44.9,13-66.3,10.9
		C490.7,777.6,479.6,779.3,479,761.8z"/>
</g>
<g id="Jeans">
	<path class="st13" d="M523.5,740.9c0,0,0-2.5,6-6.2c6-3.8,41.6,7.5,41.6,7.5s2.5-11.9-3.6-15.1c3.8-3.2,4.3-8.9,1.9-10.6
		c-1.3-8.1-2.6-43.3-2.6-43.3s-0.8-14.5-3.4-15.8c6.4,1.3,8.9,3.4,8.9,3.4l8.9,54.7l-2.8,4.3l6.4,6.4c0,0-7.5,10.2-5.8,12.6
		c-2.8,3.2-3,13.9-1.1,14.1c5.7-5.5,32.4-18.3,39.8-15.5c7.3,1.7,10.4,2.3,10.4,2.3l4,8.3c0,0,9.2-0.4,9-7
		c-3-4.7-10.4-10.4-10.4-10.4s1.3-3.2,0.4-6c-1.1-3-7-8.7-7-8.7s0.9-7.9-0.4-9.8c-2.6-11.5-11.9-73.7-11.9-73.7l-3-8.9
		c0,0-37.9,15.3-70.9-0.2c-0.8,12.6,3.4,44.3,3.4,44.3l-3.8,22c0,0-2.3,4.9,1.5,7.3c0.4,6.4-0.2,16.2-0.2,16.2s-14.1,0.9-13.4,6.4
		c2.4,3.4,2.4,4.3,2.4,4.3s-14.1,3-6.6,12.8C521.4,738.6,523.5,740.9,523.5,740.9z"/>
</g>
<g id="t-shirt">
	<path class="st13" d="M541,605.6l-1.5,7c0,0-9,5.7-1.3,11.1c8.3,4.1,56.3,11.5,71,0.4c1.7-5.3,2.6-8.9,2.6-8.9L599.1,546l12.4,18.1
		c0,0-2.8,9.4,7.5,9.8c10-1.3,30.7-11.7,28.3-18.1c-4-2.4-10-2.8-10-2.8s-14.1-35.8-37.3-36.4c-5.1-1.9-16.4-2.8-16.4-2.8
		s5.8,8.5-0.4,13.4c-6.2,4.9-19.6,9.6-27.9,5.3c-5.1-5.3-8.7-13.8-5.1-18.5c-3.6-2.8-15.1-2.8-17.3-0.8c-2.3,2.1-19,7.7-14.9,24.3
		c0.2,4.9-0.9,8.9-0.9,9.8c0,0.9-1.9,6.6-1.9,6.6s-9.8,3.6-3.2,9.6c6.4,5.8,15.5,11.9,26.9,14.7C540.7,588.3,541,605.6,541,605.6z"
		/>
</g>
<g id="hand">
	<path class="st13" d="M512.4,564l-3.4,4.9c0,0-16-4.9-20.1-5.7c-7.1-2.3-20.1-8.6-20.1-8.6l0.1-4.5c0,0,2.8-8.1,1.8-13.4
		c2.1-3.5,2.8-4.5,2.8-4.5s6.2,0.8,6.2-4.1c0-4.9,0.4-14.3-3.7-14.4c-4.1-0.1-5.7-1-5.7-1s-2.7-11-15.4-5.9c-8.6,3.7-17,5.5-16,19.8
		c1,14.3,2.7,32.9,7.9,36.5c5.2,3.7,56.3,37.9,56.3,37.9s21.1,9,26.9-1.8c5.7-10.9,8.5-21.2,8.5-21.2S514.2,567.7,512.4,564z"/>
	<path class="st13" d="M617.4,573.6c-0.5,0,12.4,34.8,12.4,34.8s-19.5,0.3-18.7,15c4,11.4,6.6,12.3,6.6,12.3s3.4,16.3,7.3,19.5
		c4,3.3,12.9,4.2,17.2,1c3.1,1.8,13,3.5,17.8-0.1c3.3-3.2,2.4-3,2.4-3s10,4.2,14.6-4.8c4.2-8.9,3.1-27.1-5.4-35.3
		c0,0-8.8-6.9-11.9-6.9c-3.1-10.3-17.2-41.7-17.2-41.7S627.7,574.6,617.4,573.6z"/>
</g>
<g id="fac">
	<path class="st13" d="M680,416.7c-5.2-2.3-7.2-3.5-7.2-3.5s-13.3-2.5-21.8,16.5c-4.5,4.8-8.6,6.6-8.6,6.6s-0.7-11.7-3.4-20.1
		c-5.2-12.9-8.2-30.1-4.2-37.3c-1.6-7.2-17.1-31.9-43.2-16.7c-2.3,1.7-5.4-3.8-4.7-6.5c-6.1,0.4-23.7,6.6-27.3,17.9
		c-6.2-7.6-11.4-21.3-11.2-22.8c-8.8,1.6-48.9,9.9-50.6,41.4c1.1,7.3-1,11.4-1,11.4l-6.8-7.5l-7.1,16.4c0,0-7.4-13-13.3-10.6
		c-6.1,2.4-14.8,5.5-16.4,17.5c-1.6,12-0.7,27.4,8.3,32.4c2.4,1.8,16.3,6.8,21.1-1.6c4,11.3,21.2,42.7,37,48.5
		c14,7.3,30.5,13.1,30.5,13.1s-4.9,15,4.5,19.6c8.5,3.1,28.6,3.4,31.4-8.2c-0.8-5.1-3.8-15.3-3.8-15.3s33.8-10,45.9-21.8
		c12.2-12,19.1-28.8,19.1-28.8s17.8,18.4,29.7,6.2C685,456.9,702.9,432.1,680,416.7z M541.4,409.2c-0.9,8.7-7.2,22.4-14.3,22.4
		c-4.9-0.6-7.9-3-7.9-3s-11.5-16.6-3.6-31.5c5.5-6.6,13.9-16.6,19.2-9.2C540.1,395.3,541.8,399.2,541.4,409.2z M573.1,483.5
		c-8.5,1.9-16,2.1-16,2.1s2.8-9.6,8.9-9.8c3.2-0.1,3.9,0,3.9,0.1c2.8-1,13.4-4.7,15.4-3.9C587.4,472.9,580.2,483.1,573.1,483.5z
		 M605.7,418.5c-4,8.7-9.2,14.7-17.5,13.2c-4.7-1.9-10-4.7-13.6-10.7c0,0-2.6-22,4-26.4c4.5-4.1,12.6-7.3,19.4-0.9
		C604.7,400,608.7,410.5,605.7,418.5z"/>
</g>
<g id="hair">
	<path class="st13" d="M468,401.6c0,0,12.4,4.8,13.9,11c5.4-10.2,8.5-16.1,8.5-16.1l6.5,7.6c0,0,0.6-30.2,14.1-36.7
		c8.5-7.1,27.7-17.5,37.9-15.5c1.1,9,9.9,21.5,11.9,21.2c4-8.2,22.3-21.8,26.6-17.2c0,4.2,1.7,9,1.7,9s11.9-9.9,22.9-5.4
		c11,4.5,22.3,12.4,23.2,19.2c-2,7.1-2,25.2,1.1,31.9c4.8,10.5,4.8,18.7,5.4,23.5c4,1.7,9.6-4,11.6-9c3.7-5.9,12.7-12.4,19.5-10.7
		c0.8-9.6,0.1-29.3-5.9-33.5c2.8-1.6,3.4-1.8,3.4-1.8s-8.6-5.5-7.6-5.8c1-0.3,5.4-4.7,5.4-4.7l-12.7-0.4c0,0,4.8-16-0.8-21.5
		c-0.6,6.5-2.4,12.3-3.1,13.4c-5.1-10.2-41.7-51.9-95-44.1c-8.6,0.7-26.9-0.4-31.8-4.3c1.1,7.9,4.1,13.4,4.1,13.4
		s-23.7,3.4-36.6,19.8c-9,13.6-16.8,30.3-27.1,32.6c7.7,5.5,7.7,5.5,7.7,5.5L468,401.6z"/>
</g>
<g id="tooth_brush">
	<path class="st13" d="M457.3,544.3l3,19.5l6.2-1.4l-0.6-11.2C465.9,551.3,457.8,549,457.3,544.3z"/>
	<path class="st13" d="M452.9,508l-6.5-22.6l-3.5-22.9c0,0,2.5-5.2,4-1c0.7,4.5,3.3,21.9,3.3,21.9l8.3,22.5L452.9,508z"/>
	<path class="st13" d="M447.9,460.8l8.1-0.4c0,0,2.1,10.6,2.5,13.4c0.4,4.8-0.1,6.9-0.1,6.9l-8.5,1L447.9,460.8z"/>
</g>
<g id="tooth_paste">
	<path class="st13" d="M461.5,459.1c0,0-5.2-2.7-5.1,3c1,6.4,3,11.9,2.8,14.3c-0.1,2.5-2.3,5.5-1.7,5.7c0.6,0.1,7.1-0.3,6.8-3.5
		C463.9,474.8,459.7,462.8,461.5,459.1z"/>
</g>
<g id="eyes">
	<path class="st13" d="M584.7,430.7c0,0-15.9-8.2-9.9-26.8c1.8-5.7,7.4-17.3,18.3-13.2c5.5,3.2,17.5,11.7,12.4,27.5
		C602.5,425.3,599.1,435.2,584.7,430.7z"/>
	<path class="st13" d="M525.6,431.7c0,0-8.1,0.5-10.7-10.3c-1.6-6.3-3.6-22.1,4.1-29.3c4.1-4.1,12.1-10.1,17.7-2.4
		c3,4.7,7.5,17.1,4.6,25.7C538.3,424.1,532.2,431.7,525.6,431.7z"/>
</g>
<g id="tongue">
	<path class="st13" d="M557.8,485.9c0,0-0.2-7.1,6.4-8.8c4.1-1.7,5.3-1.4,5.3-1.4l-0.1,0.8c0,0,12.1-5.9,16.7-3.5
		c-0.3,2.6-4.4,5.7-7.7,7.4C575.1,482.3,559.8,485.7,557.8,485.9z"/>
</g>
<g id="curtain">
	
		<path class="st13" d="M951,689.6c0.4-0.6,0.6-1,0.6-1l-2.2,0.8C949.9,689.5,950.5,689.5,951,689.6z"/>
		<path class="st13" d="M1262.3,271.5c-12.5,0.2-52.4,3.3-68.2-16.8c-23.7-3.1-67.2-18.6-80-48.3c-19.5,0.3-90.7-23.7-98.3-56.2
			c-18.1-0.8-78.7-10.5-107.2-60c-30.2-2.3-59.9-13.3-73.8-38.5l-6.5,52.7c0,0-71.2,413.3-93.8,452.8c8.5,14.1,46.4,55.4,94.4,61.1
			c-3.3,19.8,11.8,43,66,63.3l0.5-9.2l-0.2-8.3c0,0-5.5-8.5-3.4-10.7c-4.3-3-20.9-17.3-15.6-37.1c5.8-15.6,13.2-28.5,36.9-37.9
			c-4.1-3.8-13.2-10-15.1-19c-2.8-9.6-4.5-24.3-4.5-24.3l-8.1-9c0,0-6.6-8.7-2.1-14.3c4.5-5.7,12.6-7.2,20.2-2.8
			c2.6,0.9,2.8,1.7,2.8,1.7s22.6-16.2,41.1-13.2c12.4,2.5,24.5,11.3,24.5,11.3l15.3-5.5c0,0,6.6,0.8,8.9,7.5
			c2.3,6.8-1.5,13.9-4.5,16.4c-3,2.6-5.1,6.8-5.1,6.8s3.2,7-3.2,21.3c-9.8,13.6-17.7,22-17.7,22s14.5,1.7,22.8,16.2
			c3.8,5.1,16,27.3,9.4,44.1c-6.4,9.6-13.6,16-13.6,16s21.5,21.5,4.5,32C982.9,690,974,693,974,693s0.4,0.4,1,1.1
			c16.8,4.9,31.5,9.1,39.4,25.4c10.9,22.8,19.5,13.6,19.5,13.6s6.4,5.3,30.2-1.7c7.5-2.2,32.8-1.7,35.1,1.7
			c-2.8-9.6-8.7-28.3-23.4-22c-9.9,5.9-13.6,4.1-13.6,4.1s3.8-10.1,12.2-10.9c9.6-0.8,20.9,3.6,24.8,9.3
			c6.8,5.4,39.3,13.3,38.7,36.5c1.7,1.1,1.7,3.1,1.7,3.1s10.8-22.1,23.5-22.1c12.7,0,26,0.7,37.3,12.8c7.9,0.3,14.1-3.8,14.1-3.8
			s4.5,10.6-18.1,17.2c-13.9-4.2-43.5-17.3-41.1-3.3c3.7,2.5,19.5,5.1,19.2,22.9c21.8,3.1,67.3,17.2,67.3,17.2s-0.8-213.1-0.8-257.8
			s8.5-140.2,10.2-165.1C1254.6,341.9,1260.4,278,1262.3,271.5z"/>

</g>
<g id="Flower_pot">
	<path class="st13" d="M1090.7,769.7c0,0-4.7,6.6-2.1,10.9c1.3,8.3,3.2,40.9,3.2,40.9l2.3,9c0,0,16.2,6,31.8,6.4
		c15.6,0.4,35.1-3.4,37.1-9c0.2-7.7,4-27.5,4-27.5l-6-15.6c0,0-3.2-9.8-11.1-9.8s-19.2,10.9-19.2,10.9s-9.6-4.7-9.6-6.8
		s-2.4-2.3-2.4-2.3l-2.8,4.5l-2.3-1.1l-2.8,2.8l-5.3-4.7l-3.8-2.1C1101.6,776.3,1094.6,769.9,1090.7,769.7z"/>
	<path class="st13" d="M1090.5,821.5c0,0-23.2,11.1-5.8,19c18.7,6.4,90.3,16.8,93.7-10.6c-8.5-7.5-15.6-7.7-15.6-7.7l-1.3,6.8
		l-18.7,7.2l-30.9,0.4l-17-6.2l-2.6-9.2L1090.5,821.5z"/>
</g>
<g id="plant">
	<path class="st13" d="M1109.5,782.3c0,0-10.4-15.8-24.9-13.4c-6,1.7-15.8,10.9-15.8,10.9s-17.3,11.7-27.7,0.6
		c5.5-2.8,14.3-2.8,14.9-15.5c2.3-9.4,14.7-17.9,19.2-17.9c-12.2,0.8-21.7,2.3-21.7,2.3s-21.9-8.9-21.3-13.2c0.6-4.3,9-0.9,9-0.9
		s1.7,1.3,32.6-5.8c10.7-0.8,24.1,2.3,24.1,2.3l-3.4-11.1c0,0-5.3-10.9-15.6-10.2c-10.4,0.8-14.5,5.8-14.5,5.8s-4.1-4.9-0.4-7
		c3.8-2.1,22.6-7.9,31.1,0.2c8.5,8.1,21.9,11.1,26.2,12.8c4.3,1.7,16.8,16,14.1,27.5c-2.6,11.5,2.8,2.8,2.8,2.8s12.6-21.7,26.4-20.5
		c13.8,1.1,16.8-2.5,34.9,10.4c4.5,0.9,12.6-0.6,14.3-2.1c1.7-1.5-3.8,12.8-9,14.7c-5.3,1.9-8.9,5.8-30.3-5.7
		c-11.7-2.8-19.2-1.1-21.3,3.4c8.3,2.3,19.8,4.1,20,24.5c0.4,7.7-2.8,26.4,16.6,30.2c-0.4,3.4-8.1,5.3-13.8,1.5
		c-5.7-4-12.6-14.5-12.6-14.5s1.3-18.3-13.8-18.7c-8.1,1.3-16.4,3.4-17.3,9.6c-5.8,1.1-11.3-3-11.3-6.6s-2.4-2.1-2.4-2.1
		s-0.4,3.6-1.3,3.6s-3.6,0-3.6,0L1109.5,782.3z"/>
</g>
<g id="bear">
	<path class="st13" d="M895.6,672.2l-0.2-8.3c0,0-5.5-8.5-3.4-10.7c-4.3-3-20.9-17.3-15.6-37.1c5.8-15.6,13.2-28.5,36.9-37.9
		c-4.1-3.8-13.2-10-15.1-19c-2.8-9.6-4.5-24.3-4.5-24.3l-8.1-9c0,0-6.6-8.7-2.1-14.3c4.5-5.7,12.6-7.2,20.2-2.8
		c2.6,0.9,2.8,1.7,2.8,1.7s22.6-16.2,41.1-13.2c12.4,2.5,24.5,11.3,24.5,11.3l15.3-5.5c0,0,6.6,0.8,8.9,7.5
		c2.3,6.8-1.5,13.9-4.5,16.4c-3,2.6-5.1,6.8-5.1,6.8s3.2,7-3.2,21.3c-9.8,13.6-17.7,22-17.7,22s14.5,1.7,22.8,16.2
		c3.8,5.1,16,27.3,9.4,44.1c-6.4,9.6-13.6,16-13.6,16s21.5,21.5,4.5,32c-5.8,4.3-14.7,7.3-14.7,7.3s13,15.3,13.6,15.3
		c0.6,0,4.1,13.8,0.2,14.7c-4.1,0.9-6.2,1.5-6.2,1.5l-7,1.5l-3.8-0.4c0,0-9.6,4.5-12.6,2.1c-3.2-5.8-7-14.1-7-14.1l-8.3-8.1
		c0,0-2.6-7.3,1.7-9.6c4.9-3.2,7-7.2,7-7.2l-8.9,3.2c0,0-11.9,9.6-8.1,18.3c3.8,8.7,7,17.5,3.8,19.8c-3.2,2.3-7.9,1.5-7.9,1.5
		l-10,0.6l-7.5,0.8c0,0-5.7,0-6.6-0.2c-0.9-0.2-4.9-1.3-4.9-1.3l-1.9-4.1c0,0-2.1,5.8-5.7,5.7c-4.1-0.2-10.4-4.5-10.4-4.5
		s0.9-16.4,7.2-17.1c6.2-0.8,2.8-6,2.8-6"/>
</g>
<g id="curtian_holder">
	<path class="st13" d="M763.1,3.8l-34.8-2l104.9,56.6l0.6-7.9l5.4,9.3l53.1,28.8l15-0.6l15.3,19.5l77.2,40.1l14.4,0.3l11.6,15.5
		c0,0,64.7,33.4,65.9,33.6c1.1,0.3,18.4,2.8,18.4,2.8l10.5,13.6l73.5,38.4l42.7,19.5l20.2-1.5l5.8,2.8l-2.2,16.3l35.7,19v-20.8
		l-34-16L763.1,3.8z"/>
</g>
<g id="otline">
	<g>
		<g>
			<path class="st20" d="M186.2,0.7c0,31.7,0,63.3,0,95c0,63.8,0,127.6,0,191.5c0,49.2,0,98.4,0,147.6c0,5.1,0,10.3,0,15.4
				c0,4.9,6,2.4,6-1.5c0-31.7,0-63.3,0-95c0-63.8,0-127.6,0-191.5c0-49.2,0-98.4,0-147.6c0-5.1,0-10.3,0-15.4
				C192.2-5.6,186.2-3.1,186.2,0.7L186.2,0.7z"/>
		</g>
	</g>
	<g>
		<g>
			<path class="st20" d="M0.3,1.9c0,123.9-0.1,247.8-0.2,371.7C0,499.3-0.1,625-0.1,750.8c0,48.7,0,97.5,0,146.2
				c0,3.6,7.3,4.8,7.3,0.8c0-123.9,0-247.7,0.1-371.6c0.1-125.7,0.2-251.5,0.2-377.2c0-48.7,0-97.5,0.1-146.2
				C7.6-0.9,0.3-2.1,0.3,1.9L0.3,1.9z"/>
		</g>
	</g>
	<g>
		<polyline class="st22" points="390.2,738.4 344.4,738.4 310.5,813.2 358,813.2 		"/>
		<polyline class="st22" points="358,813.2 310.5,813.2 271,898 403.1,898 418.1,833.1 		"/>
		<polygon class="st22" points="453.1,673.5 464.9,619.5 398.4,619.5 373.9,673.5 		"/>
		<polygon class="st22" points="464.9,619.5 473.1,582.1 415.3,582.1 398.4,619.5 		"/>
		<polyline class="st22" points="441.4,726.7 453.1,673.5 373.9,673.5 344.4,738.4 389.1,738.4 		"/>
		<polyline class="st22" points="532,673.5 519.5,673.5 519.1,705 		"/>
		<polyline class="st22" points="520.2,604.7 520.1,619.5 533.6,619.5 		"/>
		<line class="st22" x1="621.2" y1="582.1" x2="607.6" y2="582.1"/>
		<line class="st22" x1="716.9" y1="582.1" x2="651.5" y2="582.1"/>
		<polyline class="st22" points="534.2,619.5 520.1,619.5 519.5,673.5 531.8,673.5 		"/>
		<line class="st22" x1="714.5" y1="619.5" x2="677.3" y2="619.5"/>
		<polyline class="st22" points="517.9,834.3 516.8,898 647.1,898 629,833.1 		"/>
		<polyline class="st22" points="519.1,726.3 519.5,673.5 453.1,673.5 441.7,725.3 		"/>
		<polygon class="st22" points="519.5,673.5 520.1,619.5 464.9,619.5 453.1,673.5 		"/>
		<polyline class="st22" points="418.1,833.1 403.1,898 516.8,898 517.9,834.3 		"/>
		<polyline class="st22" points="473.1,582.1 464.9,619.5 520.1,619.5 		"/>
		<polyline class="st22" points="227,738.4 264.9,673.5 164.6,673.5 148.2,698.6 		"/>
		<polyline class="st22" points="191.6,632.3 164.6,673.5 264.9,673.5 296.3,619.5 278.1,619.5 		"/>
		<polyline class="st22" points="183.5,813.2 227,738.4 155.2,738.4 		"/>
		<polyline class="st22" points="59.8,833.5 16.2,898 132.8,898 183.5,813.2 171.4,813.2 		"/>
		<polygon class="st22" points="227,738.4 183.5,813.2 310.5,813.2 344.4,738.4 		"/>
		<polygon class="st22" points="373.9,673.5 264.9,673.5 227,738.4 344.4,738.4 		"/>
		<polygon class="st22" points="183.5,813.2 132.8,898 271,898 310.5,813.2 		"/>
		<polyline class="st22" points="298.4,615.9 296.3,619.5 398.4,619.5 415.3,582.1 377,582.1 		"/>
		<polygon class="st22" points="398.4,619.5 296.3,619.5 264.9,673.5 373.9,673.5 		"/>
		<polyline class="st22" points="647.1,898 768.7,898 743.9,833.1 		"/>
		<polyline class="st22" points="703.5,726.3 683.5,673.5 640.8,673.5 		"/>
		<line class="st22" x1="617.9" y1="673.5" x2="683.5" y2="673.5"/>
		<line class="st12" x1="567.4" y1="673.5" x2="575.4" y2="673.5"/>
		<line class="st22" x1="525.6" y1="673.5" x2="540.9" y2="673.5"/>
		<polyline class="st22" points="994.3,813.2 1047.8,898 1184.5,898 1148.3,847.6 		"/>
		<polyline class="st22" points="938.5,723.5 947.6,738.4 1033.3,738.4 		"/>
		<polyline class="st22" points="947.6,738.4 994.3,813.2 1092.5,813.2 		"/>
		<polyline class="st22" points="863.8,813.2 825.2,738.4 785.9,738.4 		"/>
		<polyline class="st22" points="675.1,650.8 683.5,673.5 791.6,673.5 763.7,619.5 711.6,619.5 		"/>
		<polyline class="st22" points="743.9,833.1 768.7,898 908.1,898 863.8,813.2 822.4,813.2 		"/>
		<line class="st22" x1="712.9" y1="619.5" x2="763.7" y2="619.5"/>
		<line class="st22" x1="753.9" y1="582.1" x2="715" y2="582.1"/>
		<polyline class="st22" points="785.9,738.4 825.2,738.4 791.6,673.5 683.5,673.5 703.9,727.5 		"/>
		<polyline class="st22" points="1148.3,847.6 1184.5,898 1300,900 1298.3,875.7 1247.7,813.2 		"/>
		<polyline class="st22" points="1166.4,813.2 1247.7,813.2 1230.8,790.9 		"/>
		<polyline class="st22" points="825.2,673.5 791.6,673.5 825.2,738.4 947.6,738.4 940.3,726.7 		"/>
		<polygon class="st22" points="863.8,813.2 908.1,898 1047.8,898 994.3,813.2 		"/>
		<polyline class="st22" points="775,619.5 763.7,619.5 791.6,673.5 870.4,673.5 		"/>
		<polyline class="st22" points="744.8,582.1 763.7,619.5 825.5,619.5 		"/>
		<polygon class="st22" points="825.2,738.4 863.8,813.2 994.3,813.2 947.6,738.4 		"/>
	</g>
	<path class="st20" d="M446,562.5h-54.2l4.6-6.8h46C442.4,555.7,443.9,560.7,446,562.5z"/>
	<path class="st20" d="M510.6,562.5h-23.8c-9.7-2-15.4-6.8-15.4-6.8h38.4C509.9,555.7,507.9,559.9,510.6,562.5z"/>
	<polygon class="st20" points="610.6,562.5 602.4,562.5 601.3,555.7 606.7,555.7 	"/>
	<path class="st20" d="M644.5,562.5h72.7c1.9,0,3.4-1.5,3.4-3.4c0-1.9-1.5-3.4-3.4-3.4h-70.6C646.7,555.7,647.4,560.1,644.5,562.5z"
		/>
	<polyline class="st26" points="717.7,559.1 717.7,372.5 717.7,312.6 717.7,36 320.9,36 320.9,462.8 	"/>
	<line class="st28" x1="439.9" y1="542.6" x2="399.8" y2="542.6"/>
	<line class="st28" x1="518.5" y1="542.6" x2="472" y2="542.6"/>
	<polyline class="st26" points="341,468 341,52.6 697.5,52.6 697.5,247.1 697.5,380.7 697.5,542.6 656.1,542.6 	"/>
	<rect x="395.5" y="129.1" class="st4" width="247.6" height="18.3"/>
	<rect x="395.5" y="91.7" class="st4" width="247.6" height="18.3"/>
	<rect x="395.5" y="54.7" class="st4" width="247.6" height="17.8"/>
	<rect x="395.5" y="72.5" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="109.9" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="147.3" class="st4" width="247.6" height="19.1"/>
	<ellipse class="st22" cx="368.3" cy="256.6" rx="17" ry="13.8"/>
	<ellipse class="st22" cx="368.3" cy="256.6" rx="11.6" ry="9.4"/>
	<path class="st2" d="M58.2,830.7L58.2,830.7c-0.1,1-0.2,1.9,0,2.9c1.6,12.8,29.1,20.8,61.4,17.9c32.3-3,57.1-15.8,55.5-28.6
		c-0.1-0.6-0.2-1.2-0.4-1.7"/>
	<path class="st26" d="M55.1,620.4l3.1,210.3l0.1,0c-0.2,1-0.2,1.9-0.1,2.9c1.6,12.8,29.1,20.8,61.4,17.9
		c32.3-3,57.1-15.8,55.5-28.6c-0.1-0.6-0.2-1.2-0.4-1.7l-44.3-190"/>
	<path class="st18" d="M397.1,548.4v-39.1c-0.3-1.1-0.7-2.1-1.1-3.1c0.8,66.1-243.3,72.1-326.9,56.4c-32.6-6.1-34.6-17.5-34.4-21
		c-0.5,4.2-0.4,7.7-0.4,7.7v58.8c9.2,20.2,140.7,35.9,253.6,9.7C398.1,592.3,397.1,548.4,397.1,548.4z"/>
	<path class="st18" d="M198.3,461c0,0-28.2-2.8-36.4,3.2l-66.8,63c0,0-36.4,22.5,46.2,22.5c82.5,0,189.2-2.5,208.9-36.6
		C369.9,479,268.9,462,198.3,461z"/>
	<path class="st22" d="M205.4,548.2c-2.2-5.1-13.8-9-27.9-9c-15.1,0-27.4,4.5-28.2,10.2"/>
	<path class="st22" d="M195.3,548.9c-3.6-2.3-10.2-3.9-17.8-3.9c-8.1,0-15,1.8-18.4,4.3"/>
	<path class="st26" d="M90.9,486.2c-24.5,20.8-52.2,44.3-52.8,45.2c-2,2.7-3,6.7-3.4,10.2c-0.2,3.5,1.8,14.9,34.4,21
		c83.6,15.6,327.7,9.7,326.9-56.4c-24.3-59.8-227.8-57.1-243.3-56.7c-15.7,0.5-24.4,5.1-24.4,5.1c0,0-2.7,2.3-9.3,7.8 M350.2,513.2
		c-19.7,34.2-126.4,36.6-208.9,36.6c-82.5,0-46.2-22.5-46.2-22.5l66.8-63c8.1-6,36.4-3.2,36.4-3.2C268.9,462,369.9,479,350.2,513.2z
		"/>
	<path class="st7" d="M93.7,485.8c-3.8,1.3-6.1,3.2-6.1,5.3c0,4,8.5,7.2,18.9,7.2c10.4,0,18.9-3.2,18.9-7.2c0-2.2-2.5-4.1-6.4-5.4"
		/>
	<path class="st11" d="M94.8,450.5v-11.4c0,0,0.1-29.9,39.8-31c0,0,32.1-0.9,37.8,23.9c0,2.4-5.2,4.4-11.6,4.5
		c-6.4,0-11.6-1.9-11.7-4.4c0,0-3-8.9-18.2-7c0,0-12.5,1.4-14.6,14.8l1.8,47.9c0.1,0.2,0.2,0.4,0.2,0.6c0,2.4-5.2,4.4-11.6,4.5
		c-6.4,0-11.6-1.9-11.7-4.4v-2.4"/>
	<path class="st18" d="M95.3,485c8.7-0.1,15.6-7.6,15.5-16.9c-0.1-9.2-7.2-16.7-15.9-16.6c-8.7,0.1-15.6,7.6-15.5,16.9
		C79.5,477.6,86.6,485.1,95.3,485z"/>
	<path class="st7" d="M95.3,485c8.7-0.1,15.6-7.6,15.5-16.9c-0.1-9.2-7.2-16.7-15.9-16.6c-8.7,0.1-15.6,7.6-15.5,16.9
		C79.5,477.6,86.6,485.1,95.3,485z"/>
	<path class="st27" d="M92.5,485.3c7.2-0.1,12.9-7.6,12.8-16.9c-0.1-9.2-6-16.7-13.2-16.6c-7.2,0.1-12.9,7.6-12.7,16.9
		C79.5,477.9,85.4,485.3,92.5,485.3z"/>
	<path class="st22" d="M92.5,485.3c7.2-0.1,12.9-7.6,12.8-16.9c-0.1-9.2-6-16.7-13.2-16.6c-7.2,0.1-12.9,7.6-12.7,16.9
		C79.5,477.9,85.4,485.3,92.5,485.3z"/>
	<path class="st26" d="M397.1,548.4v-39.1c-0.3-1.1-0.7-2.1-1.1-3.1c0.8,66.1-243.3,72.1-326.9,56.4c-32.6-6.1-34.6-17.5-34.4-21
		c-0.5,4.2-0.4,7.7-0.4,7.7v58.8c9.2,20.2,140.7,35.9,253.6,9.7C398.1,592.3,397.1,548.4,397.1,548.4z"/>
	<path class="st14" d="M148.8,50.3c0.1,0.1,0.2,0.1,0.3,0.2c0.3-0.3,0.5-0.7,0.8-1c-0.5,0.3-1.1,0.4-1.7,0.4
		C148.4,50.1,148.6,50.2,148.8,50.3z"/>
	<path class="st14" d="M113.3,277.1c0.1-0.2,0.2-0.4,0.3-0.6h0C113.4,276.7,113.3,276.9,113.3,277.1z"/>
	<polygon class="st26" points="139.6,322.2 46.1,401.4 46.1,165.3 139.6,86.2 	"/>
	<line class="st3" x1="69.4" y1="240.5" x2="116.6" y2="285.9"/>
	<line class="st3" x1="79.4" y1="263.9" x2="105.3" y2="289.3"/>
	<line class="st3" x1="84.5" y1="281.6" x2="101.1" y2="297.6"/>
	<g>
		<path class="st8" d="M1164.4,820c9.1,3,14.7,7.1,14.7,11.7c0,9.1-22.6,16.6-50.5,16.6c-27.9,0-50.5-7.4-50.5-16.6
			c0-4.6,5.6-8.7,14.7-11.7"/>
		<path class="st11" d="M1087.8,775.3l6.3,51.3c0,6.3,15.5,11.3,34.6,11.3c19.1,0,34.6-5.1,34.6-11.3l3.1-25.4"/>
		<path class="st11" d="M1092.3,769.1c-2.9,1.8-4.5,3.9-4.5,6.1c0,2.5,2.2,4.9,5.8,6.9"/>
		<path class="st11" d="M1127,761.8c-6.1,0.1-11.9,0.6-17,1.5"/>
		<path class="st11" d="M1102.9,775.6c-5,1.8-8.3,4-9.3,6.5c7.1,3.9,20.2,6.5,35.1,6.5c13.3,0,25-2.1,32.5-5.3"/>
		<path class="st11" d="M1112.6,773c0,0-4.7-26.4-28.2-26.4c-23.5,0-28.8,12.4-28.8,21.4c0,9-5.4,11.3-15.2,9.4
			c-9.8-1.8,16.3,17.2,29.3,1.1c13-16.1,25.8-11.7,36.1-0.7C1116.1,789,1112.6,773,1112.6,773z"/>
		<path class="st11" d="M1137,754c4.5-9.7,14.2-23.9,32.6-23.9c28,0,27.7,19.5,41.5,10.6c13.9-9-4.6,25.5-24.4,14.3
			c-15.5-8.8-25.5-11.7-34.9-3"/>
		<path class="st11" d="M1111.8,747.2c0.7,0.7,1.4,1.4,2.1,2.2c7.9,8,8.8,17.2,8.2,24.2"/>
		<path class="st11" d="M1135.6,754.9c1.7-8.4,2-17.1-2.1-22.7c-10.3-14.3-26.1-12-37.5-22.8c-11.4-10.8-32.6-3.9-33.7,5.3
			c-1.1,9.2,16-16.1,28.5,0.5c7,9.3,7.3,12.8,9.7,17.5"/>
		<path class="st11" d="M1113.2,777.7c3.5,3.3,5.4,2.9,5.1-5.3c0,0-3.3-41.4-29.6-43.9c-26.3-2.5-33.4,12-50.2,6
			c-16.8-6,4.3,24.6,29.6,12.4c4.3-2.1,8.6-1.9,12.8-0.2"/>
		<path class="st8" d="M1122.4,777.9c0,0-0.3-28.5,33.4-25.1c33.7,3.5,5.2,46,29.6,52.2c24.4,6.2-17.9,12-20.9-12.2
			c-3-24.1-22-21.4-29.3-11C1127.8,792.2,1121.8,783.5,1122.4,777.9z"/>
	</g>
	<path class="st20" d="M581.6,729.8h-12.4l-1.1-2.1c1.8-0.8,3.3-4.7,3.3-4.7h10.1l3.2,3.3L581.6,729.8z M629.8,723h152.6l57.7,114.7
		H345.1L393.2,723h134.2c0,0-7.5,4.8-7.9,6.8H397.7l-42.4,101.2h473.7l-50.9-101.2H630.8C632.5,727.3,629.8,723,629.8,723z"/>
	<polygon class="st26" points="150.4,333.7 35.2,431.3 35.2,155 150.4,57.5 	"/>
	<line class="st28" x1="756.8" y1="2" x2="1298.1" y2="288.5"/>
	<polygon class="st20" points="1300,314 1259.3,292.3 1260.3,285.1 1300,307.3 	"/>
	<polygon class="st20" points="1195.9,258.2 1122.4,218.5 1116.4,207.6 1199.2,252.2 	"/>
	<polygon class="st20" points="1087.9,199.9 1025,166 1021.9,156.6 1098.6,197.9 	"/>
	<polygon class="st20" points="990.4,147.3 936.3,118.1 917,99.9 1004.1,147.1 	"/>
	<polygon class="st20" points="885.3,90.6 844.4,68.5 839.5,58 893.4,87.2 	"/>
	<polygon class="st20" points="832.6,62.4 723.5,0 731.1,0 833.9,55.5 	"/>
	<path class="st0" d="M834.6,49.5c0,0-65.6,430.6-105.4,502.7c0,0,38.4,65,97.1,61.9c0,0-56.1-7.8-89.4-58.4
		C736.7,555.7,792.3,451.6,834.6,49.5z"/>
	<path class="st0" d="M893.4,682.1c-40.9-12.8-73.2-42.8-73.2-42.8c35.4-109.3,80.7-538.5,80.7-538.5c-18.1,284.5-66.3,534-66.3,534
		c11.6,16.8,40.6,29.9,59.2,36.5L893.4,682.1z"/>
	<path class="st0" d="M996.3,701.6c6.3,3.7,12.7,8.3,19.2,13.9c0,0-4.1-17.4-30.4-27.9L996.3,701.6z"/>
	<path class="st0" d="M1056.8,758.8c-32-17.9-51.2-50.4-51.2-50.4c39.8-72.1,105.4-502.7,105.4-502.7
		c-42.2,402.1-97.8,506.2-97.8,506.2c6.1,9.3,15.6,15,20.1,23.7c1.5,2.9,4.2,6.8,7.4,9.3c3,2.3,8.3,3.3,11.4,5.2
		c2.2,1.4,4.3,2.7,6.4,3.9L1056.8,758.8z"/>
	<path class="st0" d="M1174,776.6c25.1,5.6,51.4,14.9,73.8,30.1c0,0-18.2-331.7,15-538.2c0,0-46.7,293.9-25.6,513.4
		c0,0-25.4-9.7-64-14.5L1174,776.6z"/>
	<path class="st0" d="M834.6,49.5c0,0,18.2,43.2,73.9,36.6c0,0,40.7,63.3,107,61.1c0,0,35.4,55.4,95.5,48.7c0,0,29,53.4,85.9,54.4
		c0,0,25.3,23.7,65.9,18c0,0-17.8,18.1-71.9-11.9c0,0-45,2.8-79.9-50.9c0,0-52.9,7.6-98.1-54.4c0,0-66.2-2.3-105.2-59.6
		C907.7,91.7,850.2,97.5,834.6,49.5z"/>
	<rect x="395.5" y="147.3" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="240.9" class="st4" width="247.6" height="18.3"/>
	<rect x="395.5" y="203.4" class="st4" width="247.6" height="18.3"/>
	<rect x="395.5" y="166.5" class="st4" width="247.6" height="17.8"/>
	<rect x="395.5" y="184.3" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="221.7" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="259.1" class="st4" width="247.6" height="19.1"/>
	<rect x="395.5" y="259.1" class="st4" width="247.6" height="19.1"/>
	<polyline class="st4" points="487,352.6 395.5,352.6 395.5,370.9 473.5,370.9 	"/>
	<polyline class="st4" points="522.7,315.2 395.5,315.2 395.5,333.5 	"/>
	<polyline class="st4" points="624.3,333.5 643.1,333.5 643.1,315.2 530.8,315.2 	"/>
	<rect x="395.5" y="278.3" class="st4" width="247.6" height="17.8"/>
	<polyline class="st4" points="486.5,352.6 395.5,352.6 395.5,333.5 503.7,333.5 	"/>
	<polyline class="st4" points="624.7,333.5 643.1,333.5 643.1,347 	"/>
	<polyline class="st4" points="395.5,370.9 395.5,390.1 470.1,390.1 	"/>
	<polyline class="st4" points="395.5,427 395.5,445.3 454.3,445.3 	"/>
	<polyline class="st4" points="395.5,390.1 395.5,407.9 457.7,407.9 	"/>
	<polyline class="st4" points="395.5,407.9 395.5,427 453.1,427 	"/>
	<g>
		<path class="st14" d="M547.1,497.5c0.2,0.2,0.4,0.5,0.5,0.7c0,0,0,0,0,0C547.5,498,547.3,497.8,547.1,497.5z"/>
		<path class="st14" d="M580.9,752.1c-0.1-0.3-0.2-0.5-0.3-0.8c-0.2,0.1-0.3,0.1-0.5,0.2C580.4,751.6,580.6,751.8,580.9,752.1
			C580.9,752.1,580.9,752.1,580.9,752.1z"/>
		<path class="st14" d="M610.4,565.7c-2.9-5-6-9.9-9.2-14.7c1.9,6.9,3.7,14,5.2,21c2.7,13.1,6.2,26,7.9,39.3
			c3.6-3.6,8.5-5.4,14.1-4.7c-3.1-11.1-7.7-21.9-13.2-32.2c-2.6-0.8-5.2-2.2-6-4.8c-0.4-1.5,0-2.6,0.8-3.5
			C610.3,565.9,610.3,565.8,610.4,565.7z"/>
		<path class="st9" d="M586.2,766.1c-0.5-1.2-1-2.5-1.5-3.7c0.3,1.9,1.2,3.7,2.2,5.5C586.7,767.3,586.5,766.7,586.2,766.1z"/>
		<path class="st9" d="M595.5,779.4c0,0,0.1,0,0.1,0.1c0-0.1-0.1-0.1-0.1-0.2C595.6,779.3,595.6,779.4,595.5,779.4z"/>
		<path class="st9" d="M626,740.7c-0.6-0.2-1.3-0.3-1.9-0.4c0.7,0.3,1.3,0.6,2,1C626.1,741.1,626,740.9,626,740.7z"/>
		<path class="st9" d="M616.4,738.7c0.3,0,0.5,0,0.8,0.1c0-0.1,0-0.1,0-0.2C616.9,738.6,616.7,738.6,616.4,738.7z"/>
		<path class="st9" d="M572.4,768.1c1-0.3,2-0.6,3-1c-0.2-0.3-0.3-0.6-0.4-0.9C574.2,766.9,573.3,767.6,572.4,768.1z"/>
		<path class="st9" d="M530.1,737.1c-0.1,0.1-0.1,0.2-0.2,0.4c0.1,0,0.2-0.1,0.3-0.1C530.1,737.3,530.1,737.2,530.1,737.1z"/>
		<path class="st9" d="M576.1,753.9c0,0,0,0.1,0.1,0.2c0-0.1,0.1-0.2,0.1-0.3c-0.1-0.1-0.1-0.1-0.2-0.2
			C576.1,753.6,576.1,753.7,576.1,753.9z"/>
		<path class="st9" d="M574.1,751.3c0-0.1-0.1-0.1-0.1-0.2C574,751.2,574,751.2,574.1,751.3C574.1,751.3,574.1,751.3,574.1,751.3z"
			/>
		<path class="st9" d="M502.6,764.8C502.6,764.8,502.7,764.8,502.6,764.8C502.7,764.8,502.6,764.8,502.6,764.8
			C502.6,764.8,502.6,764.8,502.6,764.8z"/>
		<path class="st5" d="M547.1,629.5c-0.3-0.1-0.5-0.2-0.8-0.2c0,0.1,0,0.1,0,0.2C546.6,629.5,546.8,629.5,547.1,629.5z"/>
		<path class="st5" d="M578.1,738.5C578.1,738.5,578.1,738.4,578.1,738.5c-0.2,0.2-0.4,0.4-0.6,0.5
			C577.7,738.9,577.9,738.7,578.1,738.5z"/>
		<path class="st5" d="M617.2,714.2c0.2,0,0.5,0,0.7,0c-0.1-0.1-0.2-0.2-0.2-0.3C617.5,714.1,617.3,714.1,617.2,714.2z"/>
		<path class="st24" d="M626.6,638.9C626.6,639,626.6,639,626.6,638.9C626.6,638.9,626.6,638.9,626.6,638.9
			C626.6,638.9,626.6,638.9,626.6,638.9z"/>
		<path class="st24" d="M623.6,583.5c0.1,0.1,0.1,0.2,0.2,0.3c0-0.1,0-0.2,0-0.3C623.7,583.5,623.7,583.5,623.6,583.5z"/>
		<path class="st24" d="M642.8,566.5c-0.1,0.1-0.2,0.1-0.3,0.2c0.1,0,0.3,0.1,0.4,0.1C642.9,566.7,642.8,566.6,642.8,566.5z"/>
		<path class="st24" d="M621,642.4c0,0.1,0.1,0.2,0.1,0.4c0,0,0-0.1,0-0.1C621.1,642.5,621.1,642.4,621,642.4z"/>
		<path class="st24" d="M547.4,353.1c0.1,0.1,0.1,0.1,0.2,0.2c0-0.2,0-0.5,0-0.7c-0.2,0-0.5,0.1-0.7,0.1c0,0,0.1,0.1,0.1,0.1
			C547.1,352.9,547.3,353,547.4,353.1z"/>
		<path class="st6" d="M549.5,514c0,0-0.1,0-0.1,0c0,0,0,0,0,0C549.4,514,549.5,514,549.5,514C549.5,514,549.5,514,549.5,514z"/>
		<path class="st10" d="M468.1,437c0.2,0.5,0.4,1,0.8,1.4C468.6,437.9,468.3,437.5,468.1,437z"/>
		<path class="st16" d="M583.9,518.9C583.9,518.9,583.9,518.9,583.9,518.9c0,0.1,0,0.1,0,0.2C583.9,519,583.9,518.9,583.9,518.9z"/>
		<path class="st25" d="M551.8,346.2c-0.2,0.7-0.3,1.5-0.4,2.3C551.9,347.8,552,346.9,551.8,346.2z"/>
		<path class="st19" d="M489.8,778.7c3.4,1.2,7.3,1.8,11.2,2.1c-3.2-0.4-6.4-1-9.6-1.8C491,779,490.4,778.9,489.8,778.7z"/>
		<path class="st19" d="M488,774c0.1,0,0.1,0,0.2,0.1c-0.8-0.3-1.5-0.6-2.2-0.9C486.7,773.5,487.3,773.8,488,774z"/>
		<path class="st19" d="M664,788.3c-0.3,0.1-0.7,0.1-1.1,0.1c-0.1,0.2-0.3,0.4-0.4,0.6c0.3-0.1,0.6-0.2,0.9-0.2
			c1.8-0.5,2.3-2.1,1.8-3.4c0,0.4,0,0.9,0,1.3C665.2,787.5,664.7,788.1,664,788.3z"/>
		<path class="st19" d="M580.4,770.2c1.2,3.1,3.1,6.9,5.5,9.9c-1.8-3.3-4.2-6.3-5.4-9.9C580.5,770.2,580.5,770.2,580.4,770.2z"/>
		<path class="st19" d="M580.9,752.2C580.9,752.1,580.9,752.1,580.9,752.2C580.9,752.1,580.9,752.1,580.9,752.2
			C580.9,752.1,580.9,752.1,580.9,752.2z"/>
		<path class="st20" d="M672,441.2c0.2-1,0.2-2.1-0.1-3.3c-0.2-1-0.3-1.7-0.9-2.4c-0.5-0.5-1.2-1-1.8-1.2c-0.7-0.3-1.8-0.4-2.8-0.4
			c0,0,0.1-0.1,0.1-0.1c0.8-0.9,1.6-1.7,2.6-2.4c3-1.4,4.9,2.1,6,4.5c0.8,2,0.2,4.9,0.2,7c0,0.8,1.1,0.8,1.2,0
			c0.1-2,0.4-4.1,0.2-6.1c-0.1-1.8-0.9-3-1.5-4.7c-0.4-1-1.1-1.9-1.9-2.6c2.5-0.2,8,1.7,6.8,4.8c-0.2,0.6,0.7,0.9,1,0.4
			c0.9-1.5,1-2.8,0.6-4c-1.3-3.6-7.6-5.6-11.1-4.8c-8,1.9-12.7,12.3-15.2,19.1c-0.8,2.1,2.3,3.8,3.8,2.2c1.4-1.6,2.9-2.5,4.9-3.2
			c1.6-0.6,2.8-0.4,3.7,0.3c1.5,1.1,1.7,3.5,0.7,5.6c-2.3,4.4-7.4,1.6-10.7,4c0,0,0,0-0.1,0c-0.5,0.4-0.8,1.2-0.2,1.7
			c5.2,4.4,11.5,0.9,14.6-4.1c0.9-1.6,1.6-3.3,1.8-4.9C673.8,444.1,673.2,442.3,672,441.2z"/>
		<path class="st20" d="M622.9,632.7c1.8,1.9,3,3.9,3.7,6.1c0,0,0,0.1,0,0.1c0.2,0.7,0.4,1.5,0.5,2.3c0.1,0.4,0.1,0.8,0.2,1.2
			c0.1,0.8,1.4,1.5,1.8,0.5c2-4.4-1.4-9.1-4.4-12.2c-0.7-0.7-1.5-0.4-2,0.2C622.5,631.5,622.4,632.2,622.9,632.7z"/>
		<path class="st20" d="M636.4,562.9c0.4-0.3,0.3-1-0.2-1c-0.1,0-0.2,0-0.3,0c-0.8,0.3-1.7,0.7-2.5,1c-4.9,2-9.6,3.8-14.9,4.7
			c-0.3,0.1-0.7,0.1-1,0.2c-0.5,0.1-0.5,0.7-0.2,1c0.1,0.1,0.2,0.1,0.3,0.1C624.1,568.3,631.1,566.6,636.4,562.9z"/>
		<path class="st20" d="M608.5,702.3c0.4-0.6-0.3-1.4-0.9-1.2c-1.7,0.6-3.2,1.6-4.9,2.2c-2.3,0.8-4.7,0.6-7,0
			c-0.9-0.2-1.2,1-0.4,1.3c0.3,0.1,0.6,0.2,0.9,0.3c3.5,1.1,7.6,1.2,10.6-1C607.4,703.5,608,703,608.5,702.3z"/>
		<path class="st20" d="M588.8,422.8c2.5,0,4.7-5.1,4.7-11.4c0.1-6.4-1.9-11.5-4.5-11.6c-2.5,0-4.7,5.1-4.7,11.4
			C584.3,417.6,586.3,422.7,588.8,422.8z"/>
		<path class="st20" d="M590.9,433.1h0.1c9.1,0,16.6-9.8,16.7-21.8c0.1-12.5-10.4-22.6-19.2-22.7h-0.1c-8.8,0-15.8,10-16,22.8
			C572.3,424.1,582,433,590.9,433.1z M588.4,390.6h0.1c7.9,0.1,17.4,9.4,17.2,20.8c-0.1,11-6.8,19.9-14.8,19.9h-0.1
			c-7.9-0.1-16.6-8.5-16.5-19.7C574.5,399.9,580.8,390.6,588.4,390.6z"/>
		<path class="st20" d="M558,539.1c-0.5-0.2-0.8,0.6-0.3,0.8c5.2,2.6,11.1,3.4,16.6,1.4c0.6-0.2,0.8-1,0.4-1.5
			c-0.1-0.2-0.4-0.3-0.7-0.3c-0.9,0.1-1.8,0.2-2.7,0.3C566.9,540.2,562.5,540.5,558,539.1z"/>
		<path class="st20" d="M551.1,500.9c3.4,2.1,5.3,2.5,8.5,2.8c5.8,0.5,11.6,0.2,16.5-3.1c0.8-0.5,0.3-1.7-0.6-1.5
			c-4.1,0.9-8.4,1.5-12.6,1.6c-3.8,0.1-11.9-1.1-15.1-3.8c-0.5-0.4-1.1,0.2-0.7,0.7c0,0,0,0,0,0c0.2,0.3,0.4,0.5,0.5,0.7
			C549.2,500.1,548.8,499.4,551.1,500.9z"/>
		<path class="st20" d="M580.9,620.6c-7,0.8-13.4,1.1-20.4,0c-4.2-0.6-9.6-1-13.1-3.6c-0.2-0.2-0.5-0.1-0.7,0.1
			c-0.2,0.2-0.2,0.5,0,0.7c3.8,3.3,8.4,3.8,13.2,4.7c6.7,1.3,13.9,1.8,20.5-0.2c0.2-0.1,0.4-0.1,0.6-0.2
			C581.9,621.9,581.9,620.5,580.9,620.6z"/>
		<path class="st20" d="M533.5,418.9c2.7,0,4.9-4.5,5-10.2c0.1-5.7-2.1-10.3-4.7-10.3c-2.7,0-4.9,4.5-5,10.2
			C528.7,414.3,530.8,418.9,533.5,418.9z"/>
		<path class="st20" d="M517.1,369.4c-0.6,0.6,0.2,1.5,0.9,1.1c3.4-1.8,6.3-3.9,9.9-5.4c0.9-0.4,1.9-0.6,2.9-0.8
			c5.5-1,12.1,0.9,14.5,6.3c0.4,0.8,1.7,0.2,1.5-0.6c-1.1-3.8-3.3-6.8-6.2-8.6c-2.3-1.4-5.1-2.1-8.2-2
			C525.4,359.7,521.5,365.3,517.1,369.4z"/>
		<path class="st20" d="M597.7,455.9c-2.2,1.9-14.5,2.5-15.9,2c-0.3-0.1-0.5,0.4-0.2,0.6c0.1,0.1,0.2,0.1,0.3,0.1
			c0.4,0.2,0.8,0.4,1.2,0.6c-2.1,0.7-4.2,1.5-6.2,1.9c-6.4,1.5-13,2-19.6,1.9c-5.4,0-10.8-0.6-16.1-0.9c-4.6-0.3-8.2-2.2-12.5-3.2
			c-0.7-0.2-1.1,0.9-0.3,1.1c1.4,0.4,2.5,1.4,3.7,2.2c0,0.1,0,0.2,0.1,0.3c4.7,6.7,11.2,9.8,18.9,10.8c-0.2,0.3-0.2,0.8,0.2,1.1
			c1.6,1.2,2.8,2.7,4,4.3c0.7,0.9,1.2,2.2,2.1,3.1c-0.4,1-0.6,2.1-0.5,3.2c-1.4,0-2.7-0.2-3.6-0.7c-0.3-0.2-0.6,0.2-0.4,0.5
			c5.7,4.8,17.4,1.1,23.2-1.5c9.2-4.1,18.4-12.6,15.4-23.7c2.6-0.2,5.3-1,7-3.1c0.1-0.1,0.1-0.1,0.1-0.2
			C599.1,455.4,598.6,455,597.7,455.9z M535.7,463.8c1.3,0.4,2.6,0.6,3.9,0.8c5.8,0.9,11.8,1.3,17.7,1.5c6.3,0.2,12.6-0.4,18.8-1.6
			c0.6-0.1,1.2-0.2,1.8-0.4c-1,0.8-1.9,1.6-2.6,2c-4.5,2.7-10.1,3.8-15.3,4.4C551.6,471.5,541.9,469.8,535.7,463.8z M575.9,480.3
			c-3.7,1.9-7.9,3-12,3.9c-1.4,0.3-3.4,0.7-5.4,0.8v0c0-0.1-0.1-0.1-0.1-0.2c1-3,3-5.1,5.8-6.7c1.3-0.8,2.7-1.3,4.2-1.7c0,0,0,0,0,0
			c-1.3,1.2-2.6,2.4-3.6,3.6c-0.2,0.3,0.1,0.8,0.4,0.5c5.4-4.1,13-8.5,20-7C582.6,476.5,579.2,478.6,575.9,480.3z"/>
		<path class="st20" d="M522.2,432.1c0.8,0.3,1.7,0.5,2.6,0.6c0.2,0,0.5,0,0.7,0c0.3,0,0.7,0,1-0.1c-1.8,0.9-3.9,0.4-6-0.2
			c-0.6-0.2-0.9,0.8-0.3,1c0.9,0.3,1.7,0.6,2.6,0.7c2.2,0.4,4.3,0.2,6-1.7c0.1-0.1,0.2-0.3,0.2-0.4c6.5-2.2,12.8-10.3,13.6-21.5
			c0.5-6.4-0.4-12.6-2.4-17.5c-2.2-5.2-5.6-8.3-9.5-8.6c-0.2,0-0.4,0-0.7,0c-7.5,0-17,10.1-18,23.2
			C511.2,419.4,515.6,429.6,522.2,432.1z M514.2,407.9c0.9-12,9.3-21.3,15.9-21.3c0.2,0,0.3,0,0.5,0c3.1,0.2,5.8,2.8,7.7,7.3
			c1.9,4.5,2.7,10.5,2.3,16.5c-0.9,12.3-9.1,20.7-15.7,20.3C518.1,430.2,513.3,419.9,514.2,407.9z"/>
		<path class="st20" d="M479.2,428.5c-1.9-4.4-3.8-8.9-7.1-12.4c-1.5-1.6-3.4-2.4-5.5-2.1c-2.3,0.4-1.9,2.6-3.3,3.5
			c-0.4,0.2-0.1,0.9,0.3,0.7c1.2-0.4,2-1.1,3.1-1.5c0.2-0.1,0.4-0.1,0.5-0.1c0,0-0.1,0-0.1,0.1c-0.8,0.5-1.4,1.1-1.9,1.6
			c-0.7,0.9-1.2,1.9-1.5,2.9c-0.3,1.1-0.1,2,0,3.1c0,0.5,0.8,0.6,0.9,0.1c0.2-1.4,1.3-3.1,2-4.2c0.4-0.7,1-1.2,1.7-1.6
			c0.6-0.4,1.3-0.3,1.9-0.4c0.7,0.8,1.4,1.7,1.9,2.5c-2.8,0.4-5,2.5-6.1,5.2c-1,2.5-0.9,6.3,1.7,7.6c-0.2,1.2,0,2.4,0.4,3.6
			c0.1,0.1,0.1,0.3,0.2,0.4c0.2,0.5,0.5,1,0.8,1.5c2.4,3.5,6.9,5.7,9.4,2c0.1-0.2,0.2-0.4,0.1-0.7c0-0.1-0.1-0.2-0.1-0.2
			c-0.2-0.4-0.5-0.6-0.9-0.6c-3.7,0.3-7.7-1.7-6.7-5.9c0-0.1,0-0.1,0.1-0.2c1.1-4.1,5.3-3.4,7-0.1c0.3,0.5,0.7,0.7,1.1,0.8
			c0,1.1,0,2.1,0.1,3.2c0,0.7,0.1,1.4,0.2,2.2c0,0.3,0,0.6,0.1,0.8c0.1,1.3,0.3,2.5,0.5,3.8c0.3,2,0.7,4,1.1,6c0,0-0.1,0.1-0.1,0.1
			c-0.1,0.1-0.2,0.1-0.2,0.2c-0.7,0-1.5,0.4-1.9,1c-1.6,1.7-3.8,2.8-6.3,2.8c-8.9,0-15.3-7-17.4-14.8c-0.6-2.3-0.8-5.3-0.8-7.6
			c0-6.3,1.6-14.9,4.4-20.5c5-10.3,18.6-9.2,22.2,2.3c0.2,0.5,0.4,0.7,0.8,0.8C480.3,419,479.5,423.8,479.2,428.5z M482.1,410.3
			c0-0.2-0.1-0.4-0.2-0.5c-0.5-2-1.6-3.8-3-5.3c-1.9-2.1-4.4-3.6-7.2-4.2c0-2.2,0-4.3,0.2-6.5c0-0.5,0.1-0.9,0.2-1.3
			c0.5-3,1.7-5.1,3.4-7.7c0.8,0,1.7-0.1,2.5-0.3c1.3-0.3,1-1.9,0-2.3c-2.7-1.1-6.4-2-9.1-3.8c10-6.7,14.3-17.5,21.1-27.3
			c4.8-6.9,10.8-13.2,18-17.5c3.8-2.3,7.9-3.8,12.2-5c0.7-0.2,3.2-0.7,5.7-1.2c2.9-0.5,5.7-0.9,5.8-0.4c0.1,0.4,0.5,0.7,0.9,0.7
			c0.2,0,0.4,0,0.7,0c1,0,1.2-1.5,0.3-1.7c0-0.4-0.3-0.8-0.8-0.9c-1-0.3-1.9-0.4-2.9-0.6c0-0.1,0-0.2-0.1-0.3
			c-1.3-3.1-2.9-5.7-3.9-8.7c2.1,1.3,4.2,2.4,6.8,3c6.1,1.5,12.8,1.1,19,0.6c13.7-1.2,26.1-2.4,39.7,0.7c12.4,2.8,23,9.1,33.1,16.6
			c7.9,5.9,24.1,13.9,24.2,25.4c0,2,2.6,2.3,3.4,0.8c0.3-0.1,0.6-0.3,0.8-0.6c2.1-2.9,2.4-7.5,2.3-11.8c1.8,5.4,0.7,13-1.5,17
			c0,0,0,0,0,0c-0.7,1.3,0.8,2.8,1.9,2.3c0.1,0,0.2,0,0.3,0c0.6-0.2,1.1-0.3,1.7-0.4c2.4-0.4,4.4,0.1,6.5,0.9c-1.4,0.5-2.7,1-4,1.9
			c-1.5,1-0.9,3.4,0.9,3.4c2,0,3.5,0.9,4.8,2.1c-0.5,0.1-1,0.2-1.5,0.4c-1.3,0.5-1.9,2.1-0.8,3.1c4.9,4.6,6.8,10.8,7.5,17.3
			c0.6,5,0.4,10.1,0.3,14.9c-8.9-0.4-18,4.5-20.3,13c-0.2,0-0.3,0.1-0.4,0.3c-0.2,0.4-0.4,0.8-0.6,1.2c-1.4,2.7-3.3,5.1-6,6.4
			c-0.2-1.6,0.1-3.5,0.2-5.1c0.1-2-0.7-4.6-1-6.6c-0.7-4.3-2.6-8.6-4.5-12.6c-0.1-0.3-0.2-0.6-0.4-0.8c-3.9-8.8-5.8-19.5-1.7-28.4
			c0.3-0.2,0.6-0.5,0.8-1c0.1-0.2,0.1-0.4,0.2-0.6c0-0.1,0-0.2,0-0.2c0.8-1.4,1.8-2.8,3-4c1-1.1-0.3-2.4-1.4-1.9
			c-0.1,0.1-0.2,0.1-0.3,0.2c-1,0.9-1.9,1.8-2.7,2.8c-0.8-1.6-2-4.6-2.4-5.1c-1.7-2.5-3.9-4.6-6.2-6.6c-4.3-3.8-9.2-5.9-14.8-6.9
			c-7.8-1.4-17.9-1.4-23.7,4.4c-0.4-1-0.7-2.1-0.4-3.4c0-0.2,0.1-0.4,0.1-0.7c0-0.1,0-0.2,0.1-0.3c1-0.6,1.1-1.8,0.6-2.6
			c1-3.9,2.9-8.7,7-8.2c0.6,0.1,0.7-0.7,0.4-1c-2.8-3.3-6.2,1-8.4,3.1c-0.3,0.3-0.7,0.8-1,1.3c-0.7,1.1-1.2,2.4-1.6,3.6
			c-4.8-0.4-10.3,1.8-14.3,3.7c-5.8,2.6-10.1,7.4-12.5,13.1c-1.1-0.9-2-2-2.9-3.3c-3.6-5-5.7-12.1-5-18.3c0.1-0.8,0.2-1.5,0.4-2.3
			c1-4.3,3.5-8.1,7.9-10.1c0.9-0.4,0.2-2-0.7-1.6c-5,2-8.2,5.5-9.9,9.8c-0.7,1.7-1.2,3.6-1.4,5.5c0,0-0.1,0-0.1,0
			c-5.8-0.2-11.6,2.3-16.9,4.3c-6.8,2.6-13.9,5.6-19.3,10.4c-6.2,5.4-10.9,12.1-14.2,19.5c-2.2,4.8-1.6,10.4-1.4,15.8
			c-3.7-6.2-2.6-14.1-1.4-21.4c0-0.1,0-0.2,0-0.3c-0.2-0.5-0.9-0.6-1.1,0c-0.6,1.7-1.2,3.4-1.8,5.1c-1.2,3.8-2,7.6-1.8,11.2
			c-0.2,0.1-0.4,0.3-0.5,0.6c-2.8,4.9-5,9.9-6.7,14.9C482.3,409.9,482.2,410.1,482.1,410.3z M521.2,731.2c1.1-2,3.8-3,5.8-3.9
			c2.5-1.2,5.1-1.9,7.8-2.6c1.5-0.4,4.1-0.9,5-2.3c0.3-0.4,0.2-1-0.2-1.3c-1.7-1.7-5.9-0.5-7.9,0c-0.8,0.2-1.7,0.4-2.5,0.7
			c0-0.1-0.1-0.2-0.1-0.2c-2.8-4,3.1-5.2,9.1-5.5c0.5,0.2,1.1,0.2,1.6-0.1c3.8-0.1,7.5,0.1,8.7,0.2c6.8,0.4,13.1,1.6,19.5,3
			c0.4,0.1,0.7,0.2,1.1,0.2c0.4,0.5,0.6,1,0.8,1.5c0.4,1.2,0.3,2.2-0.1,3.2c-0.6,1.2-1.6,2.2-2.8,3.3c-0.6,0.5-0.6,1.5,0,2
			c0.2,0.2,0.4,0.4,0.6,0.6c0.8,0.8,1.4,1.5,1.8,2.3c0.9,1.6,1.2,3.4,0.8,5.6c-0.1,0.4,0,0.8,0.2,1.1c-5.9-2.8-12.8-4.4-18.7-5.6
			c-9-2-18.9-2.6-27.6,0.8c-0.5,0.2-0.5,1,0.1,1c0.7,0,1.4,0,2.2,0c0.5,0,1,0,1.4,0c-1.1,0.9-2.4,1.5-3.8,2.1
			c-0.1-0.3-0.2-0.6-0.5-0.9c-0.1-0.1-0.1-0.1-0.1-0.2c-0.7-0.7-1.6-1.4-2-2.3C520.7,733.1,520.6,732.2,521.2,731.2z M562.8,632
			c3,0.4,5.9,0.6,8.8,0.8c0,0,0,0,0,0.1 M578,738.4C578.1,738.4,578.1,738.5,578,738.4c-0.2,0.2-0.3,0.4-0.5,0.6
			c-0.1,0.1-0.1,0.1-0.2,0.2c-0.8,0.7-1.6,1.5-2.2,2.4c-1-0.7-2-1.3-3.1-1.9c-0.1,0-0.1-0.1-0.2-0.1c0.5,0,1-0.4,1.1-1.1
			c0.3-2,0.3-3.7-0.1-5.3c-0.1-0.2-0.1-0.5-0.2-0.7c-0.5-1.6-1.4-3-2.7-4.4c1.2-1.2,2-2.4,2.4-3.7c0.2-0.6,0.3-1.1,0.4-1.7
			c0.1-1,0-1.9-0.3-2.9c0.6,0.1,1.2,0.3,1.8,0.4c0.8,0.2,1.6-0.2,2.1-0.8c0.1,0.5,0.3,0.9,0.6,1.3c1.6,1.9,3.1,3.9,4.8,5.6
			c0.2,0.2,0.3,0.4,0.5,0.5c-0.3,0.2-0.5,0.5-0.8,0.7c-0.4,0.3-0.7,0.6-1.1,1C578.2,730.8,575,736.1,578,738.4z M576.9,717.5
			c-0.1,0-0.1,0.1-0.2,0.2c-0.1-0.3-0.3-0.5-0.6-0.8c-1.4-1.1-3.2-1.8-5.1-2.3c-2.6-14.4,0.3-29-3.2-43.3c0-0.2-0.1-0.3-0.2-0.4
			c0.3-0.2,0.6-0.3,0.9-0.5c1-0.6,2.7-1.5,3.6-2.6c3.7,15.8,1.8,32.5,6.7,48.1C578.2,716.4,577.7,716.8,576.9,717.5z M570.3,661.3
			c0.5,1.5,1,3,1.4,4.5c-1.4,0.5-2.8,1.9-4,2.8c0.1-2.1-0.4-4.2-1.3-6c-0.6-1.1-1.2-2.2-2.1-3.1c1.1,0.5,2.3,0.8,3.4,1.1
			c0.4,0.1,0.8,0.2,1.3,0.3c0.6,0.1,1.1-0.1,1.4-0.4C570.2,660.8,570.2,661,570.3,661.3z M492.4,755.3c5.3-19.3,35.8-14.7,47.5,0.8
			c1.5,2.1,2.8,4.3,3.6,6.7c0.1,0.2,0.1,0.3,0.2,0.4c-4,0.6-8,1.1-12,1.5c-9.8,1-19.4,0.9-29,0.1c0,0,0,0,0,0
			c-3.6-0.3-7.3-0.7-11-1.2c0-0.1,0-0.2,0-0.3C491.5,760.2,491.8,757.6,492.4,755.3z M572.4,768.1c-15.3,5-30.8,8.6-47,9.5
			c-8.6,0.5-17.3,0-25.9-1.2c-1.7-0.3-3.4-0.6-5.1-0.9c-2-0.4-4.1-0.9-6.1-1.4c-0.1,0-0.1,0-0.2-0.1c-0.7-0.2-1.4-0.5-1.9-0.9
			c-3-2.1-3.9-6.6-4.7-10.4c1.9-0.6,3.7-1,5.6-1.4c0,0.5,0,1,0,1.6c-0.9-0.1-1.9-0.3-2.8-0.4c-0.8-0.1-1.3,0.9-0.6,1.3
			c13.5,7.3,30.9,6.5,45.7,5.4c8.4-0.6,16.8-1.9,25.2-3.4c4.3-0.8,8.9-1.5,13.3-2.6c2.3-0.6,4.6-1.2,6.7-2.1c-0.1,1-0.1,2,0,3
			c0.1,0.8,0.3,1.5,0.5,2.1c0.1,0.3,0.2,0.6,0.4,0.9C574.4,767.5,573.4,767.8,572.4,768.1z M576.2,754c-0.4,1.1-0.7,2.2-1,3.4
			c-9.3,2.1-18.8,4-28.3,5.4c0.1-0.3,0.1-0.6,0-0.9c-0.6-2.3-1.6-4.4-2.8-6.4c-3.4-5.8-8.9-10.3-15.2-13.2c-0.9-0.4-1.9-0.9-2.9-1.2
			c0.8-0.4,1.6-1,2.3-1.6c0.6-0.6,1.1-1.2,1.5-1.9c0.1-0.1,0.1-0.2,0.2-0.4c0.3-0.6,0.6-1.2,0.9-1.8c6.5,0.1,13,0.5,19.5,1.9
			c7.9,1.7,15.2,5.8,23,7.7c0,0.1-0.1,0.2-0.1,0.3c-0.7,2-0.3,4.2,0.7,5.9c0,0.1,0.1,0.1,0.1,0.2c0.5,0.9,1.2,1.6,2,2.2
			c0.1,0.1,0.1,0.1,0.2,0.2C576.2,753.8,576.2,753.9,576.2,754z M660.6,776.5c0.8,2.1,0.9,4.6,1,6.9c0,0.8,0,1.6,0,2.4
			c-5.7,2-10.9,4.9-17,6.2c-8.4,1.8-17.1,2.7-25.7,3c-7.1,0.3-22.7,0.6-25.7-7.8c-1.2-3.4-2.6-6.5-4.1-9.5c-1.7-3.2-3.6-6.3-5.7-9.5
			c0-0.1-0.1-0.2-0.2-0.2c-0.4-0.6-1.1-0.8-1.7-0.7c-1.6-1.1-2.2-3.3-2.1-5.1c0.1-2.6,1.1-5.1,1.8-7.6c0.2-0.1,0.4-0.3,0.4-0.6
			c1,2.8,2,5.5,3.1,8.3c0.5,1.2,1,2.5,1.5,3.7c0.2,0.6,0.5,1.2,0.7,1.8c1.1,3,2.3,6.4,4.2,9c-0.2-0.1-0.4-0.2-0.6-0.4
			c-0.8-0.6-1.7,0.5-1.4,1.2c0,0.1,0.1,0.2,0.2,0.3c1.6,1.5,3.2,2.7,4.9,3.8c8.6,5.5,19,6.4,29.4,5.9
			C635.7,787.1,650.7,783.9,660.6,776.5z M580.1,751.5c0.2-0.1,0.4-0.1,0.5-0.2c0.1,0.3,0.2,0.5,0.3,0.8c0,0,0,0.1,0,0.1
			c0,0,0,0,0,0C580.6,751.8,580.4,751.6,580.1,751.5z M617.8,739.6c2.1,0.4,4.2,0.4,6.3,0.7c0.6,0.1,1.2,0.2,1.9,0.4
			c0,0.2,0.1,0.4,0.1,0.6c0.5,3,1.9,6,3.7,8.4c0.2,0.3,0.4,0.5,0.6,0.7c0.3,0.4,0.7,0.8,1,1.1c-14.2-0.4-32.1,5-38.7,18.3
			c-0.7-1.4-1.5-2.7-2.1-4c-1-2.2-2-4.5-3-6.7c-1.4-3.1-2.8-6.2-4.3-9.2c1-0.6,1.9-1.1,2.9-1.6c4.9-2.2,9.9-4.1,15-5.8
			c4.4-1.4,8.8-2.6,13.3-3.5c0.6-0.1,1.2-0.2,1.8-0.3c0.3,0,0.5-0.1,0.8-0.1c0,0.1,0,0.1,0,0.2C617.1,739.1,617.3,739.5,617.8,739.6
			z M642.1,758.1c3.9,1.2,10.4,5,13.3,9.7c0.4,0.7,0.8,1.4,1.1,2.2c-0.2,0.7-0.2,1.4,0.4,2c0.1,0.9,0,1.9-0.3,2.8
			c-3.8,1.1-7.4,3-11.2,4.3c-5.3,1.8-10.9,3.1-16.4,3.9c-10.8,1.7-23.2,1.4-33.3-3.4c0,0-0.1,0-0.1-0.1c0,0,0-0.1,0-0.1
			c0-0.1,0.1-0.2,0.1-0.3c0.1-1.1-0.1-2.1-0.4-3.2c-0.1-0.2-0.1-0.4-0.2-0.6c6.5-11.7,17.7-17.4,30.7-18.9
			C631.4,755.7,636.9,756.4,642.1,758.1z M629.4,727.9c-0.5-0.3-1-0.5-1.5-0.7c0,0,0,0,0,0c-1-0.4-2.1,0.5-1.5,1.6
			c0.7,1.3,1.7,2.4,2.8,3.5c0.1,0.1,0.3,0.3,0.4,0.4c0.2,0.5,0.7,0.9,1.2,1c1.8,1.4,3.8,2.7,5.4,4c1.2,0.9,3,2.3,3.2,4
			c0.1,1.2-1,2.5-2.3,3.7c-1.2,1-2.6,1.9-3.6,2.5c-0.2-0.3-0.4-0.6-0.6-0.8c-0.9-1.4-1.5-2.8-2-4.2c1.4,0.7,2.8,1.6,4.1,2.5
			c1.1,0.8,2.1-1,1-1.8c-1.6-1.1-3.6-2.4-5.9-3.6c-0.1-0.2-0.1-0.5-0.2-0.8c-0.4-1.7-2.6-1.9-3.6-0.8c-0.9-0.3-1.8-0.6-2.7-0.7
			c0.9-0.2,1.7-0.5,2.5-0.9c0.9-0.4,0.4-1.6-0.2-1.9c-7.8-3.2-20.3,2.1-27.7,4.6c-5.4,1.9-17.1,5.3-19.7,11.2
			c-0.5-0.3-0.9-0.7-1.3-1.2c-0.9-1.2-0.7-2.8-0.2-4.1c0.5-0.3,0.8-0.8,0.7-1.3c0,0,0-0.1,0.1-0.1c1.5-2.7,4.4-5.7,7-7.1
			c1-0.5,0.3-2.2-0.7-1.8c-1.3,0.5-2.5,1.1-3.6,1.7c0-8.2,16.5-14.2,22.2-16.2C613.3,716.9,628,715.5,629.4,727.9z M573.6,632.9
			c2,0.1,4.1,0.1,6.1,0c7.9-0.3,15.7-2,23.2-4.5c1.7-0.6,3.8-1.2,5.7-2c0.2,1.8,0.8,3.4,1.6,5c0.1,1.2,0.2,2.5,0.4,3.7l0,0
			c1.5,13.7,3.9,27.3,5.9,41c0.8,5.5,1.5,11.1,2.2,16.7c0,0.2,0.1,0.4,0.1,0.6c0.3,2.1,0.5,4.3,0.8,6.4c0.1,1.1,0.2,2.4,0.3,3.7
			c0.2,2.1,0.4,4.3,1.5,5.7c1.6,2.3,2.6,3.4,1,5.8c-1.4-0.3-2.9-0.5-4.4-0.6c-0.2,0-0.5,0-0.7,0c-5-0.2-10.6,0.8-15.5,2.4
			c-5.5,1.8-11,4.3-15.9,7.6c-1.5-1.4-2.8-3-4-4.6c0.3-0.2,0.6-0.5,1-0.7c0.8-0.5,1.4-1.6,1.1-2.6c-0.1-0.2-0.1-0.3-0.2-0.5
			c-5.9-17.3-2.4-36.6-10-53.4c-0.3-0.7-0.6-1.3-0.9-2c0.1,0,0.2-0.1,0.3-0.2c0.3-0.3,0.6-0.5,0.9-0.7c4.6-3.7,10.1-5.1,15-8.2
			c0.6-0.4,0.6-1,0.2-1.4c-0.2-0.2-0.5-0.4-0.9-0.3c-3.9,0.5-7.7,2.3-11,4.5l-2.2,1.6c-1.2,1-2.3,2-3.4,3c-0.3,0.3-0.4,0.7-0.2,1
			c-0.3,0.1-0.5,0.2-0.7,0.4c0.4-0.8,0.2-1.8-0.9-2.1c-0.6-0.2-1.3-0.4-1.9-0.7l-3.8-1.5c-4.3-1.9-8.2-4.4-10.7-8.5
			c-0.6-0.9-1.8-0.1-1.4,0.8c0.2,0.5,0.5,1.1,0.8,1.6c2.2,3.9,5.9,7,10,9c-0.3,0.2-0.5,0.7-0.1,1.1c1.1,1.2,1.9,2.7,2.4,4.3
			c0.6,1.8,0.9,3.8,0.5,5.7c-1.4,0.8-2.8,1.6-4.2,2c-0.2,0.1-0.3,0.2-0.4,0.3c-0.1,0.3,0.2,0.7,0.6,0.7c1-0.1,1.9-0.4,2.8-0.6
			c0.2-0.1,0.5-0.1,0.7-0.2c0.1,0.3,0.4,0.4,0.7,0.5c0.9,4.3,1.2,8.7,1.2,13.1c0.1,9.4-1.1,18.9,0.3,28.3c-1.7-0.3-3.4-0.5-4.9-0.7
			c-7-1.1-14-1.7-21-1.6c-0.2,0-0.4,0-0.6,0c0-1.9-0.1-3.7-0.1-5.6c0-1.4-0.3-3-0.3-4.6c1.4,0.2,3,0,4.9-0.7c1-0.3,1.2-1.6,0.3-2.2
			c-4.3-2.6-7.7-2.6-6-8.4c1-3.4,2.2-6.7,2.9-10.2c2-10-1.7-21.6-2.4-31.6c0-0.3-0.1-0.6-0.3-0.8c-0.3-4.3-0.4-8.6-0.6-12.9
			c-0.1-2.8-0.2-5.7-0.3-8.5c2.2,1.4,4.7,2.4,7.3,3.1c0.3,0.1,0.5,0.2,0.8,0.2c2.9,0.7,5.9,1.1,8.9,1.6c1.7,0.2,3.4,0.5,5.1,0.7
			c0,0,0,0,0,0.1 M609.3,569.5c0.7,2.6,3.4,4,6,4.8c5.5,10.3,10.1,21,13.2,32.2c-5.6-0.7-10.5,1.1-14.1,4.7
			c-1.6-13.3-5.2-26.2-7.9-39.3c-1.4-7-3.2-14.1-5.2-21c3.1,4.8,6.2,9.7,9.2,14.7c-0.1,0.1-0.2,0.2-0.3,0.3
			C609.4,566.9,608.9,568,609.3,569.5z M646.6,575.4c1,2.4,1.9,4.8,2.8,7.3c2.6,7,4.4,14.3,6.6,21.4c0.3,1.1,0.7,2.3,1.1,3.4
			c0.5,1.5,1,3,1.6,4.5c0.6,1.4,2.6,1.3,2.7-0.4c0-0.8,0-1.5,0-2.3c2.8,1.1,5.4,2.3,7.9,4.9c3.4,3.5,5.7,8,7.2,12.6
			c0.2,0.5,0.3,1,0.5,1.5c1.6,5.5,1.4,11.4-0.7,16.2c-0.2,0.5-0.5,1-0.7,1.4c-1.4,2.5-3.5,4.6-6.3,5.9c-1.1,0.5-2.2,0.9-3.5,1.1
			c0.3-0.4,0.5-0.8,0.7-1.1c1.5-2.7,2.1-6,1.9-9.2c-0.1-1.6-0.4-3.1-0.9-4.5c-0.3-0.8-0.6-1.5-1-2.2c-0.4-0.6-1.2-0.3-1.3,0.3
			c-0.7,5.6,0.3,10.6-3.7,15.1c-0.1,0.2-0.3,0.3-0.4,0.5c-1,1.1-2.3,1.9-3.6,2.5c-3.5,1.7-7.9,2.1-11.8,2.2c1.4-1.5,2.2-3,2.8-4.6
			c0.5-1.5,0.7-3,0.6-4.7c0-1.2-0.2-2.4-0.4-3.7c-0.1-0.6-1-0.5-1.1,0c-1,5.3-1.7,8.8-6.8,11.6c-4.3,2.4-10.1,2.1-13.7-1.4
			c-2.9-2.8-4.4-6.9-6-10.9c0-0.1-0.1-0.2-0.1-0.4c-0.4-1.1-0.9-2.2-1.4-3.3c-0.2-0.5-0.4-1-0.7-1.4c0.1,0,0.2,0,0.3,0
			c0,0,0.1,0,0.1,0c1.1,0,1.8-1.6,0.9-2.4c-4.2-3.4-7.3-6.4-7.3-11.3c0-0.8,0.1-1.6,0.3-2.5c0.1-0.3,0.1-0.7,0.2-1
			c0.6-2.3,1.8-4.4,3.4-6c3-3.2,7.4-5,11.9-4.7c0.2,0,0.4,0,0.6-0.1c0.3,1.3,0.6,2.7,0.9,4c0.2,0.9,1.5,0.5,1.4-0.4
			c-0.3-2.5-0.6-4.8-1-7.2c-0.6-4-1.4-7.9-2.8-12.1c-0.9-2.7-2-5.4-3.1-8c-0.3-0.8-0.6-1.5-1-2.2c-0.1-0.1-0.1-0.2-0.2-0.3
			c-1.2-2.7-2.5-5.3-3.8-7.9c0-0.1-0.1-0.2-0.1-0.3c6.3,0.7,12.6-2.5,17.9-5.5c1.5-0.9,3.2-1.9,4.9-3.1c0.1-0.1,0.2-0.1,0.3-0.2
			c0,0.1,0.1,0.2,0.1,0.3C644.2,569.6,645.4,572.5,646.6,575.4z M536,544.9C536,544.9,536,544.9,536,544.9c0.3,3.4,0.8,6.9,1.2,10.3
			c0.9,7.7,1.3,15.2,1.2,22.9c-0.1,7.7,0,15.4,0,23c0,2.8,0.2,6.2,0,9.3c-7,4.7-8,8.8-2.2,13.7c0,0.6-0.1,1.3-0.1,1.9
			c-0.4,7.2-0.6,14.4,0.1,21.6c0.1,0.8,0.5,1.3,1.1,1.6c-0.9,6.5,0.2,13.1,0.8,19.6c0.7,6.7-0.4,12.5-2.7,18.8
			c-1.8,5.1-1,11,2.8,13.2c0,0.1,0,0.1,0,0.2c-1,3.5-1.3,7.3-1.3,11c-7.2,0.7-16.7,3.3-11.5,11.2c-1.2,0.5-2.4,1.1-3.6,1.8
			c-6.1,3.6-7,9.7-1.4,14.3c0.1,0.1,0.1,0.1,0.2,0.1v0c-15.6-3.7-32.2,1.8-33.4,19.9c-2.8-0.1-5.2,0.1-8.1,0.9c-1,0.2-1.3,1.1-1.1,2
			c0.6,4.2,1.3,9.9,3.5,13.6c1.1,1.9,5.5,2.6,8.4,3.1c0.6,0.1,1.2,0.2,1.7,0.3c3.1,0.8,6.3,1.3,9.6,1.8c6.4,0.9,13,1.2,19.5,1.2
			c19.2,0,39.3-3.7,56.9-11.5c0.3-0.1,0.5-0.3,0.6-0.5c0.7,0.3,1.5,0.3,2.4,0.2c0,0,0.1,0,0.1,0c1.2,3.6,3.5,6.6,5.4,9.9
			c0.7,1.3,1.3,2.5,1.7,3.9c0.9,2.7,0.9,5.4,2.5,7.8c4.7,7.1,16.7,7.7,24.2,8c9.9,0.3,19.9-1.2,29.5-3.1c4.9-1,14.8-2.8,18.7-7.7
			c0.2-0.2,0.3-0.4,0.4-0.6c0.3,0.1,0.7,0,1.1-0.1c0.6-0.2,1.2-0.8,1.2-1.6c0-0.4,0-0.9,0-1.3c0-5.6-0.3-11.5-4.6-15.3
			c-0.4-8.2-14.4-15.7-23-17.8c-1.1-0.8-2.1-1.9-3-3.1c4.1-1.8,10.7-4.7,7.9-10.2c-1.2-2.4-3.3-4-5.3-5.6c-1.4-1-2.8-2.2-4.2-3.2
			c0.5-7.1-2.2-11.4-6.5-13.7c1.6-2.2,2.4-4.4,0.8-7.1c-3.9-6.8-3.8-16.2-5-23.9c-2.7-16.9-4.6-34.1-9.4-50.6
			c0.7,0.7,1.6,1.3,2.5,1.7c0.3,0.5,0.5,1.1,0.8,1.6c3.8,8.3,4.4,19.1,14.5,22.2c3.4,1.1,8.3,0.6,11.8-1.3c0.2,0.3,0.6,0.5,1,0.5
			c6.8,0.6,14,0.3,19.5-3.9c0.1,0,0.2,0.1,0.4,0.1c0.9,0,1.8,0,2.6-0.1c28.5-2,16.7-50.8-5.2-52c-1.5-8-5-16.3-7.7-23.5
			c-2.1-5.6-4.4-11.1-6.9-16.6c1.6-1.8,2.8-3.8,3-6.1c0.4-4.3-4-5.6-8.3-5.6c-0.2,0-0.5,0-0.7,0c-0.6-1.1-1.2-2.1-1.8-3.2
			c-8.1-14.2-22.1-33.7-40.4-33.6c-1.3-0.5-2.7-1-4-1.5c-3-1-6.2-1.8-9.5-2c-0.1-0.7-0.3-1.3-0.4-2c12.2-3.1,24-8.1,34.6-14
			c9.8-5.4,19-12.3,24.4-22.3c1.5-2.8,4-7.9,5.3-11.2c5.6,8.1,18.5,9.5,26.8,5.7c10.5-4.8,16.9-16.5,18.4-27.6
			c1.5-11.2-4.5-21.5-14.7-26c-0.9-0.4-1.9-0.7-2.8-1c0-0.1,0-0.3,0-0.4c0.1-10.5-0.2-22.5-6.5-31.3c1.6,0.6,3.2-1,2.3-2.6
			c-1.5-2.6-3.3-5-5.6-6.5c1.2-0.5,2.4-1,3.5-1.8c1.1-0.7,1.2-2.9-0.4-3.1c-4.6-0.7-7.8-2.1-11.9-0.7c4.3-7.4,3.8-20.5-3.2-25.6
			c-1.3-0.9-3.1,0.3-3.1,1.7c0,3,0.7,8,0.2,12.1c-2.3-5.7-7.5-10.8-12.1-14.1c-10.4-7.6-20.3-16-32-21.4c-11.5-5.3-24.4-7.7-37-7.5
			c-7.9,0.1-15.9,1.5-23.8,2.1c-8.6,0.6-15.4-1.4-22.5-5.9c-1.4-0.9-3.5,0.2-3.4,2c0.3,4.7,1.6,10.5,5.5,13.6c-0.1,0-0.1,0-0.2,0
			c-10.8,0.1-21.8,6.2-29.6,13c-12.9,11.2-17.5,30.5-32.9,38.5c-1.2,0.6-1.7,2.4-0.9,3.6c1.9,2.7,5.3,4.6,8.8,5.3
			c-1.8,1.7-2.7,4.6-3.1,7.6c-0.4,2.9-0.4,5.9-0.4,8.3c-0.3,0.1-0.6,0.1-1,0.2c-9.9,3-14.2,12.7-15.8,22.1
			c-2.1,12.3-0.7,22,8.7,30.6c4,3.7,9.6,4.9,14.8,4.3c1.6-0.2,3.7-0.4,4.6-1.9c0.5-0.9,2.2-1.8,1.2-1.6c0.4-0.1,0.8-0.3,1-0.7
			c1.6,5.1,3.7,10.2,6.5,15.2c10.8,19.7,29.4,35.2,51,41.3c-2.6,0.6-5.1,1.7-7.2,3.4c-2.1,1.7,0.5,2.6,0.5,2.6
			c0.3-0.1,0.6-0.1,0.9-0.2c0.6-0.2,0.9-0.8,0.8-1.4c2.2-1,4.6-1.5,6.9-1.8c3.3-0.4,5.6,0.8,8.6,1.4c0,0,0,0,0,0c0,0,0.1,0,0.1,0
			c0,0,0,0,0,0.1c-0.9,1.7-1.5,3.3-1.9,4.8c-2.7,11.9,10.2,20.3,22.3,18.4c8.5-1.3,19.6-8.6,18.8-17.3c-0.2-1.6-0.8-3.3-1.9-5
			c2.2,0.2,4.3,0.5,6.5,0.9c-0.5,0.9,0.1,2.5,1.4,2.5c0.3,0,0.6,0,0.8,0c17.3,0.2,29,15.2,37.4,29.3c1,1.6,1.9,3.2,2.8,4.8
			c0.3,0.5,0.5,0.9,0.8,1.4c0.2,0.3,0.3,0.6,0.5,0.8c0,0,0,0,0,0c1.2,0,2.6,0,4,0.2c0.1,0,0.2,0,0.3,0c0.3,0,0.5,0.1,0.7,0.1
			c2.2,0.5,3.9,1.4,2.9,3.4c-0.2,0.4-0.4,0.7-0.7,1.1c-0.8,1.2-2,2.3-3.2,3.3c-1.5,1.2-3.1,2.2-4.5,3.1c-3.2,2.1-6.8,3.8-10.4,5
			c-1.5,0.5-3.1,0.9-4.7,1c-1.3,0.1-2.5-0.1-3.7-0.4c-0.5-0.1-0.9-0.2-1.4-0.3c-2.5-0.6-5.6-2.3-3.5-5c0.3-0.4,0.6-0.7,1.1-1.1
			c0,0,0,0,0.1,0c-0.3-0.4-0.5-0.9-0.8-1.3c-4.2-7-8.9-13.7-13.7-20.3c-0.8-1.2-1.7-2.3-2.5-3.5c-0.1-0.2-0.3-0.3-0.5-0.4
			c-1-0.5-2.5,0.5-1.7,1.7c0.8,1.2,1.6,2.4,2.4,3.6c0.2,1.6,0.4,3.2,0.8,4.8c1.5,6.9,2.8,13.9,4.3,20.8c1.3,5.8,2.6,11.7,3.8,17.6
			c1,4.8,1.9,9.7,2.7,14.6c0.1,0.9,0.3,1.8,0.4,2.7c0.5,3.2,0.9,6.3,1.2,9.5c0,0.4,0.2,0.7,0.4,1c-0.5,0.8-0.9,1.7-1.3,2.7
			c-0.1,0.4-0.3,0.7-0.4,1.1c-0.2,0.5-0.3,1-0.4,1.5c0,0-0.1,0-0.1,0.1c-1,0.5-2,0.9-3.1,1.3c-0.5,0.2-1.1,0.4-1.6,0.6
			c-8.7,3.2-17.5,5-26.8,5.4c-9.1,0.3-18.7-1-27.7-2.5c-3.4-0.6-6.5-1.6-9.5-3.3c-4.4-2.6-4.3-5.5-2-8.4c-0.2,0.8-0.3,1.5-0.6,2.2
			c-0.5,1.2,1.4,2.3,2.3,1.3c-0.2,0-0.5-0.1-0.7-0.1c0.9,0.1,1.7-0.2,2-1.1c3.9-12.7,1.9-27.8,1.7-40.9c-0.2-14-2.9-28.2-5.1-42.1
			c-0.1-0.8-1.4-0.8-1.5,0c-0.2,1.3-0.3,2.6-0.3,3.9c0,1.2,0,2.3,0,3.5L536,544.9z M580.9,527.4c-1.9,1.8-4.4,3.3-6.6,4.1
			c-9.4,3.7-22.4,0.3-23.9-9.3c-0.4-2.2-0.1-4.8,0.9-7.7c0.4,1,0.6,2.1,0.6,3.2c0,1.2,0.3,2.3,0.5,3.4c0.1,0.5,0.2,1,0.3,1.6
			c0.1,0.5,0.8,0.5,0.9,0c0.2-0.8,0.4-1.6,0.6-2.4c0.6-2.7,0.9-5.2-0.2-7.8c8.6,0.6,17.2-0.2,25.7-2c0.3-0.1,0.5-0.1,0.8-0.2
			c0.1,0.3,0.1,0.5,0.2,0.8c0.2,0.9,0.4,1.8,0.3,2.8c-0.1,1.3,0.1,2.3,0.7,3.3c-0.6,0.8,0.1,2.1,1.3,2c0.3,0,0.5-0.2,0.8-0.3
			c0,0,0,0,0,0c0,0.1,0,0.1,0,0.2C584.7,522.3,583.2,525.2,580.9,527.4z M688.3,444.6c-0.7,2.5-1.9,5.4-3.1,7.7
			c-2.1,4.3-5.7,7.9-9.6,10.7c-7.3,5.3-20.2,3.4-25.6-4.8c-0.2-0.3-0.5-0.5-0.7-0.7c0-1.3-0.2-2.6-0.6-3.9c-0.2-0.7-1.1-1.1-1.8-0.9
			c-0.4,0.1-0.8,0.4-0.9,0.9c-0.9,5.2-3.3,13.2-6.3,17.9c-0.7,1.1-1.4,2.2-2,3.3c-5.1,8.5-15.8,14.3-24.2,18.9
			c-20.3,11.2-44.3,17.6-67.5,13.9c-20.7-3.3-38.6-17.4-50.2-34.3c-0.6-0.9-1.2-1.8-1.8-2.7c-13.3-20.7-13.5-49-3.3-71.1
			c1,2.8,2.9,5.4,5.9,7.8c1.5,1.2,3.7,0.5,3.8-1.6c0.1-2.1,0.1-4.1,0-6.2c-0.1-3.9-0.4-7.7,0.2-11.6c1.1-7,7.4-14.2,12.2-19
			c5.2-5.2,12.3-8.4,19-11.2c4.7-1.9,9.9-4.5,15.1-5c0.2,0,0.5-0.1,0.7-0.1c0,0.2,0,0.5,0,0.7c0.1,2.1,0.4,4.2,0.9,6.2
			c1.7,6.5,5.5,12.5,10.8,15.8c1.2,0.8,2.8,0,3.2-1.3c0.2-0.7,0.5-1.4,0.8-2.1c2.8-6.5,8.1-10.2,14.7-12.9c2.3-0.9,4.7-1,7.2-1.2
			c-0.2,1-0.5,2-0.5,3c0,0.6,0.2,1.1,0.4,1.7c0.2,0.6,0.6,1.1,0.8,1.7c-4.6,0.8-8.6,2.9-11.3,7.4c-0.7,1.1,1,2.5,1.9,1.4
			c3.9-4.7,11.4-5,17.1-4c5.7,1.1,10.4,6,15.2,9c0.9,0.6,1.9-0.6,1.4-1.4c-3-4.9-7.3-9.5-12.6-11.5c-1.5-0.6-3-1-4.6-1.1
			c5.3-4.3,14.1-3.5,20.4-2.4c8.8,1.6,17,8.7,19.9,17.2c0.1,0.3,0.3,0.6,0.5,0.8c-1,1.8-1.7,3.7-2.2,5.7c-1.5,5.7-1.3,12,0.1,17.7
			c1.5,6.1,5,12.3,7.2,18.2c2,5.2-0.3,11.4,2.5,16.1c0.6,1,1.7,1.2,2.7,0.7c2.6-1.1,5.5-3.6,7-6.5c0.3,0.3,0.9,0.2,1.1-0.3
			c0.3-1.1,0.8-2.1,1.2-3.1c3.4-10.6,16.9-16.3,27.2-9.7C687.5,423.1,691.3,433.5,688.3,444.6z"/>
		<path class="st15" d="M515.3,554.4c2.5,0.9,2.3-2.5,2.3-2.5c0.8-3.1,1.4-6.3,2-9.5c0.2-1.1,0.4-2.2,0.6-3.3
			c0.2-1.3,0.5-2.6,0.9-3.9c0.3-1.1,0.7-2.2,1.3-3.1c0.2-0.3-0.2-0.6-0.4-0.4c0,0,0,0,0,0c-1.5,1.7-2.4,3.8-3.2,5.9
			c-0.3-0.6-0.4-1.2-0.6-1.8c-0.9-3.6-0.2-7.4,1.4-10.8c1-2.1,2.5-4,4.1-5.7c0.1-0.1,0.2-0.2,0.3-0.3c2-1.8,4.4-2.8,6.9-3.9
			c0.2-0.1,0.2-0.3,0.1-0.5c-0.1-0.1-0.2-0.2-0.3-0.2c-10.5,0.3-19.2,16-12.5,24.6c0,0,0,0,0,0c-1,3.8-1.5,8-2.3,11.6L515.3,554.4z
			 M467.5,558.5c0.1-0.2,0.3-0.4,0.4-0.6c0.2-0.2,0.3-0.5,0.5-0.7c0.1-0.2,0.5-0.9,0.8-1.7c1.7,1.3,3.5,2.4,5.4,3.5
			c6.3,3.4,13.4,5.5,20.3,6.8c1.9,0.3,3.6,0.8,5.2,1.2c1.9,0.6,3.7,1.2,5.2,1.8c8.9,3.9,11.7,9.4,13.1,13.1c0,0.1,0,0.1,0.1,0.2
			c0.1,0.4,0.7,0.3,0.6-0.2c-1.1-4.6-3.5-8.6-7.2-11.6c-0.6-0.5-1.3-1-1.9-1.4c0.4-1,1.1-2,1.8-2.9c1-1.3,0.4-0.3,1.1-1.8l-1.3-1.3
			c-0.9,2.1-1.9,3.1-2.6,5.3c-3-1.6-6.3-2.6-9.5-3.5c-9.9-2.7-21-4.7-29.6-10.6c0.5-1.4,0.8-2.8,0.3-3.5c2.1-2.4,2.6-6.6,2.6-9.6
			c0-1.2,0-2.5-0.2-3.8c0.3-0.1,0.4-0.4,0.3-0.8c0.9-1,1.2-2.4,1.3-3.8c1.8,1.2,4.4,0.1,5.8-1.5c0.9-1,1.1-2.3,1-3.6
			c-0.1-1.7-0.5-3.3-0.3-5.1c0.2-3.1,0.2-6.1-2.3-8.3c-2-1.8-4.8-2.2-7.4-1.8c-0.5-1.7-1.3-3.3-2.5-4.7c-2.2-2.6-5.8-2.6-8.9-2.3
			c-6.5,0.7-15.3,3.1-18.8,9.2c-1.7,2.9-1.8,6.4-1.9,9.7c0,4-0.4,8.3-0.2,12.4c0.4,7.6,2.3,19.4,4,22.8c1.7,3.4,13.1,12.4,20.1,17
			c7.8,5.1,15.6,10.3,23.4,15.4c3.7,2.4,7.5,4.5,11.2,6.7c3.4,2,6.9,3.9,10.7,5.3c5.4,2,13.1,3.1,18.2-0.4c1.2-0.6,2.3-1.5,3.1-2.7
			c2.5-3.4,4.5-7.1,6.2-10.9c2.1-4.9,3.8-10,5.4-15.1l-0.9-4c-1.2,4.1-2.4,8.2-3.9,12.2c-1.5,4.1-3.1,8.1-5.2,12
			c-1.4,2.7-2.9,5.4-5.3,7.1c-2.5,1.2-5,1.8-7.9,1.7c-1.5,0-3-0.2-4.4-0.5c-2.4-0.5-4.6-1.2-6.9-2.2c-3.4-1.4-6.5-3.3-9.7-5.2
			c-3.7-2.1-7.3-4.3-10.9-6.6c-7.2-4.7-14.2-9.6-21.5-14.2c-3.7-2.4-7.4-4.8-10.8-7.5c-3.4-2.7-7.7-6.1-9.2-9
			c-1.5-2.9-2.9-12.8-3.3-19.3c-0.2-3.4-0.3-6.9-0.3-10.3c0-3.2-0.2-6.5,0.4-9.7c1.3-7.1,8.5-9.6,14.7-11.1
			c3.2-0.7,7.2-1.6,10.2,0.2c2.2,1.4,3,4.3,3.5,6.9c-5.2-3.3-14.9-2.4-20.6-1.8c-0.2,0-0.2,0.3,0,0.3c3-0.1,7.6-0.3,11.8,0.3
			c6.2,0.8,11.6,3.1,10.5,9.9c-0.5-0.4-1-0.8-1.5-1.2c-0.7-0.4-1.4-0.7-2.2-0.9c-2.3-0.7-4.9-0.7-7.1-0.7c-3.1-0.1-6.5,0.2-9.5,1.3
			c-0.4,0.1-0.2,0.7,0.1,0.6c3.5-0.9,7.5-1,11.2-0.5c1.4,0.2,2.7,0.4,4,0.7c1.4,0.3,2.6,0.9,3.6,1.8c0.1,0.1,0.3,0.2,0.4,0.4
			c0.9,1,1.5,2.2,1.8,3.8c0.3,1.9,0.5,4.3-0.4,6.1c-0.1-0.1-0.1-0.3-0.2-0.4c-1.1-1.8-3.3-2.7-5.2-3.1c-0.1,0-0.1,0-0.2,0
			c-4.8-1-9.8,0.1-14.6,0.5c-0.4,0-0.3,0.5,0,0.6c3.3,0.4,6.6-0.1,9.9,0c1.4,0,3.2,0.1,4.8,0.5c1.9,0.5,3.6,1.4,4.3,3.2
			c0.6,1.6,0.5,3.7,0.5,5.4c0,2.1-0.2,4.2-1,6.2c-1,2.4-3.3,3.1-5.8,2.6c-0.4-0.1-0.8-0.3-1.2-0.5c-2.1-1.3-3.6-4.5-2.1-6.4
			c0.2,0,0.5-0.1,0.7-0.1c0.5,1.5,1.8,2.4,3.2,3.1c0.3,0.1,0.5-0.2,0.2-0.4c-1.1-0.7-2.2-1.6-2.7-2.9c0.9-0.3,1.8-0.7,2.5-1.3
			c0.4-0.4,0-1-0.5-0.9c-1.7,0.3-3.3,1.1-5.1,1.3c-2.1,0.2-4.1-0.1-6-1c-0.3-0.2-0.7,0.3-0.4,0.5c1.7,1.4,3.8,1.9,6,1.9
			c0.3,0,0.7,0,1,0c-1,1.2-0.7,2.8-0.1,4.5c0.9,2.3,2.6,3.6,4.8,4.1c0.5,0.1,1,0.2,1.5,0.2c1,0,1.9-0.1,2.7-0.5
			c0.3,0.5,0,1.2-0.1,1.6c-0.4,1.3-1.1,2.5-1.8,3.6L467.5,558.5z M460.4,562.5c-0.6,0.2-1.2,0.4-1.8,0.6c-0.4,0.1-0.2,0.6,0.2,0.6
			c0.2,0,0.4-0.1,0.5-0.1c0.2,0,0.5-0.1,0.7-0.1c0.3-0.1,0.6-0.1,0.9-0.2L460.4,562.5z M478.6,526.7c0,0.1,0,0.2,0.1,0.4
			c0,0.1,0,0.2,0,0.4c0,0-0.1,0-0.1,0c-0.1,0-0.1,0-0.2,0.1c-0.6,0.2-1.1,0.3-1.7,0.6c-0.4,0.2-1,0.7-1.4,0.3
			c-0.6-0.6-0.6-1.5-0.4-2.3c0.3-1.4,1.7-2.9,3.2-1.9c0.1,0.1,0.2,0.1,0.3,0.1C478.5,525.1,478.5,525.9,478.6,526.7z M477,515.3
			c1.8,1.5,1.8,3.8,1.7,6c0,0.6-0.1,1.2-0.1,1.7c-2.1-1.2-4.1,0.8-4.7,2.8c-0.2,0.6-0.2,1.4,0,2c0.1,0.4,0.3,0.8,0.5,1.1
			c0.3,0.4,0.9,1,1.4,0.9c1.1-0.3,2-1,3.1-1.3c-0.1,0.6-0.3,1.1-0.8,1.7c-0.8,0.9-2.5,1.5-3.5,0.8c-0.2-0.1-0.3-0.1-0.5-0.1
			c0,0,0,0,0,0c0-0.4,0-0.7-0.1-1.1c-0.1-0.7-0.2-1.3-0.3-1.9c-0.2-0.9-0.6-1.8-1-2.6c0.1-0.1,0.2-0.2,0.2-0.4
			c0.8-3.6,0.2-6.1-1.2-8c0.2-0.2,0.3-0.5,0.2-0.8c-0.2-0.8-0.3-1.6-0.6-2.4C473.3,513.5,475.4,513.9,477,515.3z"/>
		<path class="st20" d="M513.6,555.5c0,0-10.7,4,7.8,13.4c0,0,11.2,7.8,19.6,7.8c0,0,0.5,6.2-15.2-2.4c0,0-19.9-10.4-18.2-16.5
			c0,0,1.7-6.3,9.8-5.1C517.4,552.7,517.5,556.5,513.6,555.5z"/>
		<path class="st20" d="M533.5,570.4c0.5,0.1,0.9-0.5,0.6-0.8c0-0.1-0.1-0.1-0.2-0.2c-0.8-0.4-1.7-0.7-2.5-1.1
			c-4.8-2.1-9.4-4.2-13.7-7.3c-0.3-0.2-0.6-0.4-0.9-0.6c-0.4-0.3-0.9,0.1-0.8,0.6c0,0.1,0.1,0.2,0.2,0.3
			C520.9,565.5,527.1,569.2,533.5,570.4z"/>
		<path class="st20" d="M464.3,551l1.6,10.2c0,0,0,0,0,0c0,0.2-0.1,0.4-0.3,0.5l-4,0.7c-0.1,0-0.2,0-0.3-0.1c0,0-0.1-0.1-0.2-0.2
			l-2.4-19l-2.3,0l2.5,19.3c0,0,0,0,0,0c0.1,0.7,0.5,1.3,1.1,1.7c0.6,0.4,1.3,0.6,2,0.5l4-0.7c1.4-0.2,2.4-1.6,2.2-3.1l-1.4-8.9
			L464.3,551z M459.9,481.3c-0.1,0-0.3,0-0.5,0c0.3-0.7,0.5-1.5,0.6-2.4c0,0,0,0,0,0c0.1-1.4-0.1-2.9-0.4-4.3c0-0.2,0-0.3-0.1-0.5
			c-0.3-1.7-0.6-3.4-0.9-4.9c-0.3-1.6-0.6-2.9-0.8-3.5c-0.5-2.1-0.8-3.6-0.5-4.7c0-0.1,0.1-0.2,0.1-0.4c0.3-0.9,0.8-1.1,1.2-1.2
			c0.3-0.1,0.9-0.1,1.5,0.2c-0.8,1.4-0.8,3.7-0.4,5.4c0.1,0.4,0.2,0.9,0.5,1.7c0.5,1.8,1.4,4.6,1.8,7.3c0.7,3.8,0.3,5.4-0.2,6.1
			C461.8,480.6,461.3,481.4,459.9,481.3z M456.7,471.4l-6.9,0.9l-0.2-1.9l6.9-0.9c0,0,0,0.1,0,0.1L456.7,471.4z M449,466.3l6.5-0.9
			c0.1,0.3,0.1,0.6,0.2,0.9c0.1,0.2,0.1,0.5,0.2,1l-6.7,0.9L449,466.3z M457.3,475.5l-6.9,0.9l-0.3-1.9l6.9-0.9L457.3,475.5z
			 M455.1,461.3c-0.1,0.6,0,1.2,0,1.9l-6.4,0.9l-0.2-1.9L455.1,461.3z M450.9,480.5l-0.3-1.8l6.9-0.9l0.2,1.2c0,0.2-0.1,0.4-0.1,0.6
			L450.9,480.5z M454.1,507l-0.2-1.5c0,0,0,0,0,0c-0.2-0.9-0.5-2.3-0.9-3.1l-5.4-17.3c0,0,0,0,0,0c-0.3-0.7-0.6-2-0.7-2.7l-2.8-20.5
			c0-0.1,0-0.2,0.1-0.3c0,0,0.1-0.1,0.3-0.2l1.1-0.1c0.1,0,0.2,0,0.3,0.1c0.1,0,0.1,0.1,0.2,0.3l2.8,20.5c0.1,0.9,0.5,2.3,0.8,3.2
			c0,0,0,0,0,0l6.6,17c0.3,0.7,0.6,2,0.8,2.7l0.2,1.5l2.3-0.1l-0.3-1.7c0,0,0,0,0,0c-0.2-0.9-0.5-2.3-0.9-3.2l-6.6-17
			c-0.1-0.4-0.3-1-0.4-1.6l5.1-0.7c0,0.3,0.2,0.6,0.5,0.8c0,0,0,0,0,0c0.1,0,0.1,0.1,0.2,0.1c3,1.2,5.4,0.7,6.8-1.4c0,0,0,0,0,0
			c1-1.5,1.1-4.1,0.5-7.7c-0.5-2.8-1.3-5.7-1.9-7.6c-0.2-0.7-0.4-1.3-0.4-1.6c-0.2-0.8-0.3-1.8-0.2-2.6c0.1-0.9,0.3-1.3,0.4-1.3
			c0.4-0.1,0.7-0.4,0.8-0.8c0.1-0.4,0-0.8-0.3-1.1c-0.2-0.2-0.5-0.4-0.7-0.6c-1.2-0.8-2.6-1.1-3.9-0.8c-1,0.2-1.7,0.8-2.3,1.6
			l-8,1.1c-0.2-0.3-0.4-0.5-0.7-0.7c-0.6-0.4-1.2-0.6-1.9-0.5l-1.1,0.2c-0.7,0.1-1.3,0.5-1.8,1c-0.4,0.6-0.6,1.3-0.5,2l2.8,20.5
			c0.1,0.9,0.5,2.3,0.8,3.2l5.4,17.3c0,0,0,0,0,0.1c0.3,0.7,0.6,1.9,0.8,2.7l0.3,2L454.1,507z"/>
		<path class="st17" d="M557.5,429.7c0,0-12.1,0.1-8,12c0,0,2.7,6.2,14.7,0c0,0-13.9,9.7-17.5-1.1
			C546.6,440.6,543.1,428,557.5,429.7z"/>
	</g>
	<polyline class="st4" points="531.8,315.2 643.1,315.2 643.1,296.1 395.5,296.1 395.5,315.2 519.3,315.2 	"/>
	<line class="st28" x1="657.1" y1="542.6" x2="631.9" y2="542.6"/>
	<g>
		<path class="st1" d="M893.7,534c0,0-2.2,38.6,25.9,46.9c0,0,8.3,3.5,10.9,5.7c0,0,7.7,6.1,16.4,6.1c0,0,6.5,1,10.4-5.1
			c0,0,6.7-8,11.8-12.8c0,0,16.6-13.4,18.2-30.6c0,0,0.6-9.3,0-11.5c0,0,0.2,14.2-4.3,21.5c0,0-4.3,9.1-10.5,15.5
			c0,0-7.6,7.3-10.1,10.5c0,0-5.1,5.5-7.2,8.4c0,0-3.5,3.7-8.3,3c0,0-7.5,0-16.3-6c0,0-7.2-4.3-14.1-7.1
			C916.4,578.6,894.7,571.3,893.7,534z"/>
		<path class="st1" d="M909.1,512.2c0,0-14.4-12.4-23.1-4c0,0-7.5,8.1-3,14.8c0,0,7.1,8.1,12.9,13.4c0,0-10.9-11.5-12.2-17
			c0,0-1.3-8.4,7.2-12.7c0,0,6.3-3,17.4,8.5C908.3,515.3,908.7,513.3,909.1,512.2z"/>
		<path class="st1" d="M906.7,510.3c0,0,13.5-14,37.6-13c0,0,19.6-1.8,29,12.4c0,0,0.2,1.8-1.2,0.6c0,0-8.4-12.3-28-11.9
			C944.1,498.4,922.5,497.3,906.7,510.3z"/>
		<path class="st1" d="M972.1,508.2c0,0,16.1-9.6,21.8-2.2c0,0,7.5,9.6,3.2,15.3c0,0-9.2,9.2-11.9,14c0,0,4.1-8.6,10.5-14.5
			c0,0,3.9-2.7-2.6-14.2c0,0-2.5-3.8-8.9-2.2c0,0-8.7,2.3-12.2,5.1V508.2z"/>
		<path class="st1" d="M895.3,530.1c0,0,1.6-7.6,7.1-13.3c0,0-6.9-8.1-11.5-3.5c0,0-2.3,2.4-3.1,4.5c0,0,0.4-8,5.8-8
			c0,0,5.2-0.8,11.1,6.1c0,0,1.1,1.5-2.6,4C902,520,897.6,523.9,895.3,530.1z"/>
		<g>
			<path class="st20" d="M978.8,510.8c0,0,10.3-4.2,12.1,2.1c0,0,1.2,6.6-3.4,9.8c0,0,5.7-1.4,3.5-11
				C991,511.7,988.2,504.8,978.8,510.8z"/>
			<path class="st20" d="M985.6,508.3c-1.7,0-4,0.6-6.9,2.5c0,0,3.4-1.4,6.6-1.4c2.4,0,4.7,0.8,5.5,3.5c0,0,1.2,6.6-3.4,9.8
				c0,0,5.7-1.4,3.5-11C991,511.7,989.7,508.3,985.6,508.3L985.6,508.3z"/>
		</g>
		<path class="st20" d="M956.7,573.9c-0.1-4.2-9.9-4.7-9.9-4.7H946c0,0-9.8,0.5-9.9,4.7c0,0-0.7,1.7,2.8,4.5c0,0,3.5,3.1,7.2,3.1
			h0.8c3.7,0,7.2-3.1,7.2-3.1C957.5,575.6,956.7,573.9,956.7,573.9z"/>
		<path class="st20" d="M935.2,580.8c0,0,4.1,4.1,12,4.1c0,0,4.2,0.7,9-4.1c0,0,0.8-0.4,0,0.8c0,0-3.9,5.9-9,5.9c0,0-8.6,0-12-5.9
			C935.2,581.6,934.6,580.2,935.2,580.8z"/>
		<g>
			<g>
				<path class="st20" d="M954.2,557c0-1.6,0.3-3.1,1-4.5c1.4-3,4.7-3.5,7.7-3.3c2.3,0.2,4.9,1.2,3,3.8c-0.5,0.7-1.3,1.2-1.9,1.6
					c-1.9,1.4-4.2,2.2-6.6,2c-1.6-0.1-2.9-0.6-4.5-0.6c-1.7,0-2.2,2.1-0.3,2.1c2.4,0,4.5,0.9,6.9,0.5c2.5-0.4,4.7-1.5,6.8-3
					c2.8-2.1,5.2-6,0.6-7.8c-7-2.7-15.9,1-15.7,9.3C951.3,558.8,954.2,558.3,954.2,557z"/>
			</g>
		</g>
		<g>
			<g>
				<path class="st20" d="M937.4,558.8c-0.6-3.9-2.9-7.8-6.4-9.8c-3.5-1.9-9-1.3-11.9,1.4c-2.2,2-2.3,5.2-0.1,7.1
					c4.3,3.6,11.6,3,16.8,2.6c1.6-0.1,2.3-2.2,0.3-2c-4.5,0.4-10.1,0.9-14.1-1.6c-1.7-1.1-2.4-3.2-0.9-4.9c2.5-3,7.8-1.5,10,0.8
					c1.8,1.8,3,4.6,3.4,7.2C934.7,560.9,937.6,560.2,937.4,558.8z"/>
			</g>
		</g>
		<circle class="st17" cx="927.4" cy="554.2" r="5.1"/>
		<g>
			<defs>
				<path id="SVGID_1_" d="M952.7,557.2c0,0-0.3-8.6,8-8.9c0,0,4.8-0.6,7.2,1.9c0,0,1,1.4-0.8,3.3c0,0-5.7,6.4-12.8,3.7H952.7z"/>
			</defs>
			<clipPath id="SVGID_2_">
				<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
			</clipPath>
			<circle class="st23" cx="959.6" cy="553" r="5.1"/>
		</g>
		<ellipse class="st13" cx="956.9" cy="552.3" rx="1" ry="1.4"/>
		<ellipse class="st13" cx="925.1" cy="553" rx="1" ry="1.4"/>
		<path class="st1" d="M913.6,578.5c0,0-16.4,3.6-25.8,14.3c0,0-12.5,13-12.3,31.2c0,0-1.8,21.7,16.9,30.2c0,0,15.2,8.8,23.9,10.4
			c0,0,4.5,1.6,6.9,2.9c0,0,8.9,6.4,19-1.9c0,0,4-4.5,4.6-8.6c0,0,2.8-8.6-0.4-12.3c0,0-1.7-9.7-11.5-10.4c0,0-16.4-1.1-22.1-4.5
			c0,0-11.3-6.9-2.4-16.6c0,0,0-1-1.6,0.3c0,0-5.5,5.6-1.3,12.7c0,0,2.9,6.2,14.7,7.4c0,0,13,1.2,16.1,2.2c0,0,4.1,1.2,6.8,8.1
			c0,0,0.2,1.2,1.6,2.6c0,0,1.3,3.1,0,8c0,0-2,6.6-5.4,10.2c0,0-10,8-19,1.4c0,0-0.8-1.2-13.2-4.5c0,0-9.1-3.4-16.4-8
			c0,0-16.7-6.8-16.6-28.8c0,0-1.6-15.7,12.9-32.3c0,0,9.8-9.4,25.4-13.4C914.5,579,915.2,578.1,913.6,578.5z"/>
		<path class="st1" d="M892.4,654.2c0,0-2.1,5.4,2.1,10.7c0,0,1.5,9.3-0.8,18.5c0,0-1.6,12.4-0.2,21.7c0,0-0.1,4.9-0.9,6.1
			c0,0,0.4,0.7,0.9-0.4c0,0,0.5-5.8,0-9c-0.5-3.2,0.5-14.4,1.5-18.4c0,0,3.1-13,0-19.6c0,0-3.3-5.1-0.9-9.4L892.4,654.2z"/>
		<path class="st1" d="M898.3,712.1c0,0-7.3-3.7-11,2.8c0,0-10.4,18.7,5.5,18.4c0,0,7.7,0.8,7.4-5.4c0,0-0.7,6.7,9.7,4.8
			c0,0,10.7,1.8,11.5-1.4c0,0-0.6,1.8,4.7,2.1c0,0,3.7-0.3,5.1-1c0,0,7.4,3.6,9.2-6.3c0,0,0.2-6.8-4.2-12c0,0-8.7-20.2,13.9-23.2
			c0,0,8.4-0.2,14-10.5c0,0,0-1.2-1.3,0c0,0-2.7,6.4-8.5,8.6c0,0-3.2,1.2-6.4,1.3c0,0-13,2.2-14,13.8c0,0-0.3,8,2.3,11.1
			c0,0,5.7,9.7,2.2,14.5c0,0-3,3.5-5.8,2.3c0,0-0.9-0.5-1.2-1.4c0,0-0.5-0.7-0.9,0.7c0,0-1,1.3-3,1.3c0,0-4,0.3-5.4-1
			c0,0-0.7-2.3-1.7-0.1c0,0-3.6,2.4-10,0.6c0,0-0.7-0.1-2.1,0.3c0,0-6.7,0.8-7.5-4c0,0-0.5-2.6-1.1,0c0,0-0.8,4.7-5.6,4.5
			c0,0-7.4,0.2-9.3-4.2c0,0-1.1-4.9,1.6-10.4c0,0,2.2-6.6,7-6.8c0,0,2.9,0.2,4.7,1C898,712.4,898.9,712.8,898.3,712.1z"/>
		<path class="st1" d="M965.2,578c8.5,2.2,14.2,6.2,14.2,6.2c15.5,12.9,18.5,28.4,18.5,28.4c6,21.2-4.7,31.3-4.7,31.3
			c-4.2,5.9-10.2,11.2-10.2,11.2c-8.5,5.8-8.8,7.1-8.8,7.1c-5,8.3-14.7,2.7-14.7,2.7c-3.5-2.7-6.9-8.7-6.9-8.7
			c-2.3-4.4-2.2-7.7-2.2-7.7c0.6-1.7,0.5-2.8,0.5-2.8c0.1-7.3,2.9-9.3,2.9-9.3c2.1-1.6,11.6-5.5,11.6-5.5c8.6-3.7,9.1-10.3,9.1-10.3
			c1.2-7.7-4.4-11.9-4.4-11.9c-1.5-0.9-1.2,0.1-1.2,0.1c9.4,7.5,2.7,16.5,2.7,16.5c-3.4,4.4-15.4,9-15.4,9
			c-7.2,2.7-5.8,12.4-5.8,12.4c-1.5,4.2,3,11.9,3,11.9c1.6,3.9,5.8,7.3,5.8,7.3c9.8,5.9,14.8-2.2,14.8-2.2c1.5-1.7,4.4-4.2,4.4-4.2
			c6.2-3.4,15.2-15.1,15.2-15.1c11.8-12.1,4.5-32.6,4.5-32.6c-4.8-17.5-17.8-27.4-17.8-27.4c-4.7-3.9-10.2-5.9-14.6-7L965.2,578z"/>
		<path class="st1" d="M985.1,654.2c0,0,11.2,11.3,10.1,20.7c0,0,0.4,10.6-12.4,14.9c0,0-12.9,3.6-18.7,8.8c0,0,5.1-5.6,16.3-9.1
			c0,0,11.3-3.5,13.6-13.7c0,0,0.7-10.1-10.9-20.7L985.1,654.2z"/>
		<path class="st1" d="M951.3,690.6c0,0-1.9,2.3-4.4,3.5c-2.6,1.1-8.3,6.2-4.8,11.5c0,0,7.7,5.4,9.9,11.3c0,0,4.3,17.1,17.6,10.7
			c0,0,3.1-1.3,3.7-6.2c0,0-1.9,5.2-5.5,6.1c0,0-6.7,2.6-12.9-5.7c0,0-1.8-3.7-2.4-6.1c0,0-1.6-4.5-7.4-8.5c0,0-4.1-3.6-3.1-6
			c0,0,1.2-4.5,5-6.2C946.8,694.9,951.1,693.1,951.3,690.6z"/>
		<path class="st21" d="M973.1,693.3c0,0,16.3,11.2,16.9,19.2c0,0,3.7,12.6-7.2,12.6c0,0-5.9,4.3-11.3,0.7l1-1.4
			c0,0,8.2,5.7,11.6-4.5c0,0,0.6,2.5-0.8,4.3c0,0,8.5-0.1,6.2-10.5c0,0-2.4-10.1-18-19.6L973.1,693.3z"/>
	</g>
	<polygon class="st20" points="759.8,5.6 732.5,5 730.7,0 758.7,0 	"/>
	<rect x="1294.5" y="286" class="st20" width="5.5" height="21.5"/>
</g>
</svg>

</div>
<script>
	for(var i=0; i<story2items.length; i++)
	{
		 //$("#"+story2items[i]+" .st13").attr('style', "fill:"+story2colors[i]);		 
		 $("#"+story2items[i]+" .st13").attr('style', "fill:"+story2colors[i]+"; opacity:"+story2opacity[i]);		
	}
	
	for(var i=0; i<story2items.length; i++)
	{
		// $("#"+story2items[i]+" .sta").attr('style', "fill:"+story2colors[i]);		 
		$("#"+story2items[i]+" .sta").attr('style', "fill:"+story2colors[i]+"; opacity:"+story2opacity[i]);
	}

	
	
	/*
	
         $("#wall").click(function(){
         $("#wall .st13").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
		 var ind = story2items.indexOf("wall");
		 story2colors[ind] = _currentFill;
        
    });
    
	$("#bear").click(function(){
         $("#bear .st13").attr('style', "fill:"+_currentFill);
        totalcolored++;
         enableNext();
		  var ind = story2items.indexOf("bear");
		 story2colors[ind] = _currentFill;
    });
     $("#Floor").click(function(){
         $("#Floor .st13").attr('style', "fill:"+_currentFill);
        totalcolored++;
         enableNext();
		 var ind = story2items.indexOf("Floor");
		 story2colors[ind] = _currentFill;
    });
    
     $("#curtain").click(function(){
         $("#curtain .st13").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
    
     $("#Flower_pot").click(function(){
         $("#Flower_pot .st13").attr('style', "fill:"+_currentFill);
		totalcolored++;
         enableNext();
        
    });
    
    $("#Plant_base").click(function(){
         $("#Plant_base .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    

   $("#plant").click(function(){
console.log("33");
         $("#plant .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
     $("#Layer_16").click(function(){
console.log("33");
         $("#Layer_16 .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
     $("#pant").click(function(){
console.log("33");
         $("#pant .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
      $("#Shoes").click(function(){
         $("#Shoes .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
    $("#Mirror").click(function(){
console.log("33");
         $("#Mirror .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
     $("#Wash_Basin").click(function(){
         $("#Wash_Basin .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
      $("#Sink_1_").click(function(){
         $("#Sink_1_ .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    
    $("#Tap").click(function(){
console.log("33");
         $("#Tap .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    $("#Door").click(function(){
         $("#Door .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
   
     $("#hand").click(function(){
         $("#hand .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
	 $("#face").click(function(){
         $("#face .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
     $("#eyes").click(function(){
         $("#eyes .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
     $("#t-shirt").click(function(){
         $("#t-shirt .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
     $("#hair").click(function(){
         $("#hair .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
    $("#tougue").click(function(){
console.log("33");
         $("#tougue .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
    $("#floor_mat").click(function(){
console.log("33");
         $("#floor_mat .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
    
     $("#Jeans").click(function(){
         $("#Jeans .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
	 $("#tooth_brush").click(function(){
         $("#tooth_brush .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    }); 
	$("#tooth_paste").click(function(){
         $("#tooth_paste .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
    $("#tongue").click(function(){
         $("#tongue .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
	
	$("#curtian_holder").click(function(){
         $("#curtian_holder .st13").attr('style', "fill:"+_currentFill);
		 totalcolored++;
        enableNext();
        
    });
	
	*/
/*
	 $("#Letter_B").click(function(){
         $("#Letter_B .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_E").click(function(){
         $("#Letter_E .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_T").click(function(){
         $("#Letter_T .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_T_x5F_01").click(function(){
         $("#Letter_T_x5F_01 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_E_01").click(function(){
         $("#Letter_E_01 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_R").click(function(){
         $("#Letter_R .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_T_02").click(function(){
         $("#Letter_T_02 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_E_02").click(function(){
         $("#Letter_E_02 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_E03").click(function(){
         $("#Letter_E03 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	 $("#Letter_T_03").click(function(){
         $("#Letter_T_03 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	
	$("#Layer_12").click(function(){
         $("#Layer_12 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#COMMA").click(function(){
         $("#COMMA .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_B01").click(function(){
         $("#Letter_B01 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_E_04").click(function(){
         $("#Letter_E_04 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_T_04").click(function(){
         $("#Letter_T_04 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_T_05").click(function(){
         $("#Letter_T_05 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_E_05").click(function(){
         $("#Letter_E_05 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_R_01").click(function(){
         $("#Letter_R_01 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#letter_H_01").click(function(){
         $("#letter_H_01 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_E_05_1_").click(function(){
         $("#Letter_E_05_1_ .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_A").click(function(){
         $("#Letter_A .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_L").click(function(){
         $("#Letter_L .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_T_06").click(function(){
         $("#Letter_T_06 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	
	$("#Letter_H02").click(function(){
         $("#Letter_H02 .sta").attr('style', "fill:"+_currentFill+" !important"); 			        
    });
	*/
	
	$(".sta").click(function(){
		 
		var id = $(this).parent().attr('id');
		console.log(id);
       // $("#"+id+" .sta").attr('style', "fill:"+_currentFill);
	   
	    var ind = story2items.indexOf(id);
		 story2colors[ind] = _currentFill;
		 
	     if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		   story2opacity[ind] = 1;
		  }
		 
		totalcolored++;
        enableNext();
				
		
        
    });
	
	
	$("#wall").click(function(){
		
       var ind = story2items.indexOf("wall");

		 story2colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#wall .st13").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story2opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#wall .st13").attr('style', "opacity: 1; fill:"+_currentFill);
		   story2opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	$("#Floor").click(function(){
		
       var ind = story2items.indexOf("Floor");

		 story2colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $("#Floor .st13").attr('style', "opacity: 0.1; fill:"+_currentFill);
		   story2opacity[ind] = 0.1;
		  }
		  else
		  {
		   $("#Floor .st13").attr('style', "opacity: 1; fill:"+_currentFill);
		   story2opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
	
	
	$(".st13").click(function(){
		var id = $(this).parent().attr('id');
		console.log(id);
        //$("#"+id+" .st13").attr('style', "fill:"+_currentFill);
		
		var ind = story2items.indexOf(id);
		 story2colors[ind] = _currentFill;
		
		  if(brushType == "razor")
		  {
		   $(this).attr('style', "opacity: 0.1; fill:"+_currentFill);
		  }
		  else
		  {
		   $(this).attr('style', "opacity: 1; fill:"+_currentFill);
		   story2opacity[ind] = 1;
		  }
		
        totalcolored++;
         enableNext();
		 
    });
	
		function changeImg1(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		imgSrc = "images/arabic_titles/title_02/word01/title02_word01_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}
	
	function changeImg2(img_id){
		var imgSrc = "";
		SELECTED_COLOR = SELECTED_COLOR.replace('#','');
		//alert(SELECTED_COLOR);
		imgSrc = "images/arabic_titles/title_02/word02/title02_word02_"+SELECTED_COLOR+".png";
			
		$("#"+img_id).attr("src", imgSrc);
	}
	
	
	
	
	
	
	
</script>
  
       <!-- <img src="images/arabic_titles/title_02/word02/title02_word02_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word02_ffffff.png" width="0" height="0" />
 		<img src="images/arabic_titles/title_02/word02/title02_word02_f7f7f7.png" width="0" height="0" />        
        
        <img src="images/arabic_titles/title_02/word02/title02_word01_eb4347.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_0a7d31.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_7dcd70.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_f47349.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_67c2f4.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_d84d91.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_937bed.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_df78f1.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_e9c18e.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_ead85d.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_111111.png" width="0" height="0" />
        <img src="images/arabic_titles/title_02/word02/title02_word01_ffffff.png" width="0" height="0" />
 		<img src="images/arabic_titles/title_02/word02/title02_word01_f7f7f7.png" width="0" height="0" />-->
