html[lang=ar],

html[lang=ar] body

html[lang=ar] section,

html[lang=ar] footer,

html[lang=ar] header

{

	direction: rtl !important;

}

/* html[lang=ar] header .navigation{

	margin: 0px;    

} */



html[lang=ar] h1,

html[lang=ar] h2,

html[lang=ar] h3,

html[lang=ar] h4,

html[lang=ar] h5,

html[lang=ar] h6,

html[lang=ar] p,

html[lang=ar] ul,

html[lang=ar] ol,

html[lang=ar] strong,

html[lang=ar] b,

html[lang=ar] a,

html[lang=ar] .btn,

html[lang=ar] button,

html[lang=ar] input

 {

	font-family: DroidArabicKufi,Ubuntu !important;

}

/* html[lang=ar] header .navigation .menu li+li{

	margin-right: 30px;

	margin-left: 0px; 

} */



html[lang=ar] .sticky-header .navigation .menu li .search-box .form-wrap .icon-wrap{

	left: 14px;

	top: 14px;

	right: auto;

}

html[lang=ar] .sticky-header .navigation .menu li+li{

	margin-left: 0px;

	margin-right: 30px;

}

html[lang=ar] .sticky-header .navigation .menu li#flags_language_selector{display: none;}

html[lang=ar] .card-item+.card-item{

	margin-right: 0px;

    margin-left: 20;

}

html[lang=ar] .content-summary p , .content-summary h3 {

	text-align: right;

}

html[lang=ar] .select2-container--open .select2-dropdown .select2-results li{

	text-align: right;

}

/* html[lang=ar] .page-id-6133 section.sign-up.single-layout{

	margin-top: 0px;

} */

html[lang=ar] .content-summary .summary-item .form-group p{

	text-align: center;

}

html[lang=ar] .content-summary .summary-item .form-group .group-title h3{

	text-align: center;

}

html[lang=ar] .form-wrap .field-wrap .form-control.invert.hasDatepicker{

	background-position: left center !important;

	background-image: url(../img/date-ar.png) !important;

}

html[lang=ar] .sticky-header .container-fluid .navigation{

	padding-right: 200px;

	padding-left: 0px;

}

html[lang=ar] .sticky-header .navigation .menu .search-menu{

	margin-right: 0px;

    margin-left: 30px;

}

html[lang=ar] .sticky-header .navigation .menu+.menu{

	margin-left: 0px;

}

html[lang=ar] .sign-up .content-summary .summary-item h2 , .sign-up .content-summary .summary-item p , .sign-up .content-summary .summary-item h3{

	text-align: center;

}

html[lang=ar] .article-detail .content-summary h2{

	text-align: right;

}

html[lang=ar] .calculator-tools .radio-button {

	display: flex;

	justify-content: flex-start;

}

html[lang=ar] .calculator-tools .radio-button .radio-boy{

	margin: 0 0 0 70px;

}

html[lang=ar] section.hero-wrapper .brand-bg{

	transform-origin: top right;

}

html[lang=ar] .product-content-with-title{

	text-align: right;

}

html[lang=ar] .page-id-6133 .content-summary .summary-item .form-group .group-title h3{

	text-align: right;

}

html[lang=ar] .page-id-6133 .sign-up .content-summary .summary-item h2{

 	text-align: right;

 }

 html[lang=ar] .page-id-6133 .content-summary .summary-item .form-group p{

 	text-align: right;

 }

 html[lang=ar] .page-id-6133 .page-id-6133 .content-summary ul li {

    margin-right: 20px;

    margin-left: 0;

}

 html[lang=ar] .page-id-7853 section.sign-up.single-layout{

	margin-top: -378px;

}

html[lang=ar] .registration-step ul li span{

	margin-left: 0;

}

html[lang=ar] .registration-step{

	text-align: center;

}

html[lang=ar] .registration-step ul {

    display: flex;

    flex-wrap: wrap;

}

html[lang=ar] .registration-step ul li:last-child {

    border-radius: 40px 0px 0px 40px;

}

html[lang=ar] .registration-step ul li:first-child {

    border-radius: 0px 40px 40px 0px;

}

html[lang=ar] .registration-step ul li:after{

	left: -20px;

	right: auto;

}

html[lang=ar] .skill-list p {

	padding-right: 0;

	text-align: right;

}

html[lang=ar] .tax-assessment-test .assessment-test h2{

	text-align: right;   

}

html[lang=ar] .registration-step ul li:first-child:after {

    background-color: #c2e5f9;

    border-left: 2px solid #fff;

    border-bottom: 2px solid #fff;

    border-right: 0;

    border-top: 0;

}

html[lang=ar] .registration-step ul li:nth-child(2):after {

    background-color: #7aa8da;

    border-left: 2px solid #fff;

    border-bottom: 2px solid #fff;

    border-right: 0;

    border-top: 0;

}

html[lang=ar] .registration-step ul li.completed span:before{

	left: 0;

	right: auto;

}

html[lang=ar] .skill-listing h2 {

   text-align: right;

}

html[lang=ar] .skill-listing h3 {

   text-align: right;

}

html[lang=ar] .skill-listing p {

   text-align: right;

}

html[lang=ar] .skill-listing ul li{

   text-align: right;

}

html[lang=ar] .post-content ul li:before{

   right: 0;

   left: auto;

}

html[lang=ar] .post-content ul li{

   padding-right: 30px;

   padding-left: 0px;

}

html[lang=ar] .skill-list {text-align: right;}

html[lang=ar] .skill-list span{left: 0;right: auto;}



html[lang=ar] .landing-blocks .block-content .title h5{

   text-align: right;

}

html[lang=ar] .landing-blocks .block-content .title p{

   text-align: right;

}

html[lang=ar] .product-tab-wrap .product-tab-inner .tab-pane p{

 	text-align: right;  

}

html[lang=ar] .landing-blocks.top-gradient-bg .topic-block a .icon{

    -ms-transform: rotate(-180deg);

    -webkit-transform: rotate(-180deg);

    transform: rotate(-180deg);

}

html[lang=ar] .mobile-menu-popup .close-btn{

	left: 10px;

	right: auto;

}

html[lang=ar] .form-wrap .field-wrap.floating-label label{right: 15px;left: auto;}

html[lang=ar] .page-id-6126 .page-highlight .ctaWrap{

	margin-top: 30px;

}

html[lang=ar] .content-summary{

	text-align: right;

}

html[lang=ar] .single-layout .content-wrap{

	/* max-width: 100%; */

}

html[lang=ar] .img-holder{

	text-align: right;

}

html[lang=ar] .content-summary ul li{

    margin-right: 20px;

    margin-left: 0;

}
html[lang=ar] .live-chat .live-chat-background span{
	right: 0px;
}

html[lang=ar] .home.page section.hero-wrapper .banner .banner-slide .caption {
    left: auto; 
    right: 550px;
}
html[lang=ar] .slick-arrow.slick-prev{
	right: -60px;
	left: auto;
}
html[lang=ar] .slick-arrow.slick-next{
	left: -60px;
	right: auto;
}
html[lang=ar] .slick-arrow .icon{
	transform: rotate(180deg);
}
html[lang=ar] .page-expert-adjust.landing-details .list-phone ul{
	direction: ltr;
}
html[lang=ar] .page-expert-adjust.landing-details .list-phone ul li+li:before{
	content: '';
    width: 2px;
    height: 26px;
    background: #a5a5a5;
    position: absolute;
    right: -32px;
}
html[lang=ar] .page-id-11004 .content-wrap{
	text-align: right;
}
html[lang=ar] .page-expert-adjust.landing-details .list-phone ul li + li{
	margin-right: 24px;
}
html[lang=ar] section.join-club .join-club-wrap .img-holder{
	margin-right: 0px;
	margin-left: 70px;
}
html[lang=ar] .single-toddler-phase .video-description{
	text-align: right;
}
/*html[lang=ar] .join-club .join-club-wrap .img-holder img {
    transform: rotate(15deg);
}*/
/*-----------------media queries-----------------*/



@media (min-width: 992px){

	html[lang=ar] section.hero-wrapper .brand-bg{

          background-image: url(../images/logo-ar.png);

    }

}

@media(max-width: 991px){

	html[lang=ar] .article-detail.single-layout .pregnancy-phase h1{text-align: center !important;}

	.skill-list{

		padding-left: 0;

		margin-left: 30px;

	}

	html[lang=ar] .wrap-skill-btn {

        text-align: right;

    }

    html[lang=ar] .page-id-6133 .single-layout .content-wrap .content-summary .summary-item .group-title {

      margin-bottom: 10px;

    }

    html[lang=ar] .page-id-6109 section.sign-up.single-layout {

		margin-top: -200px;

	}

	html[lang=ar] .page-id-7808 .single-layout .content-wrap .content-summary h3 {

	   margin-top: -56px;

	}

	html[lang=ar] .page-id-7853 section.sign-up.single-layout{

		margin-top: -304px;

	}

	html[lang=ar] .page-id-6126 .page-highlight .ctaWrap{

		display: grid;

	}

	html[lang=ar] .page-id-6126 .page-highlight .ctaWrap a +a{

		margin-top: 10px;

	}

	html[lang=ar] .page-id-6126 .landing-details .wrap-update-box .ctaWrap a + a{

        margin-top: 10px;

	}
	
	

	

}

@media (max-width: 768px){

	html[lang=ar] .tab-swicher .tab-items .tab-btn>a .icon-wrap{

		margin-left: 0px;

		margin-right:6px;

	}

	html[lang=ar] .sticky-header .container-fluid .navigation {

	    padding-right: 10px; 

	    padding-left: 10px;

	}

	html[lang=ar] .sticky-header .navigation .menu .search-menu{

		margin-right: 0px;

	    margin-left: 0;

	}

	html[lang=ar] section.hero-wrapper .banner-mobile .brand-bg {

    	background-image: url(../images/mobile-logo.png);

	}

	html[lang=ar] .registration-step ul li:first-child {

    	border-radius: 40px;

	}

	html[lang=ar] .registration-step ul li:last-child {

    	border-radius: 40px;

	}

	html[lang=ar] .registration-step ul li.completed span:before{

		left: 15px;

	}

	html[lang=ar] section.hero-wrapper.no-banner+.top-header-large.pull-to-top {

    	min-height: auto;

	}

	html[lang=ar] .live-chat {

		left: -6px;

	}
	html[lang=ar] .page-expert-adjust.landing-details .list-phone ul li+li:before{
		display: none;
	}
	.page-expert-adjust.landing-details .list-phone ul li + li{
		margin-right: 0px;
	}

} 

@media(max-width:736px){
	html[lang=ar]  .meal-plans-template-default .slick-arrow.slick-prev{
		left: 20px;
    	right: auto;
	}
	html[lang=ar]  .meal-plans-template-default .slick-arrow.slick-next{
		right: 20px;
    	left: auto;
	}
	.btn-meal-plan{
		margin-bottom: 10px;
	}
}

