.calc-results{
    padding:15px;
    position:relative
}
.calc-results .fc-next-button,.calc-results .fc-prev-button{
    visibility:hidden
}
.calc-results .fc-view-container .fc-widget-content .fc-scroller{
    height:auto!important;
    overflow-x:visible!important;
    overflow-y:visible!important
}
#calendar-next .fc-toolbar h2,#calendar-prev .fc-toolbar h2{
    font-size:14px;
    font-weight:600
}
#calendar-next .fc-basic-view .fc-day-top .fc-day-number,#calendar-prev .fc-basic-view .fc-day-top .fc-day-number{
    padding:4px;
    font-size:8px
}
#calendar,#calendar-next,#calendar-prev,.calender-wrap{
    margin:0 auto
}
#calendar-next,#calendar-prev{
    width:200px;
    cursor: pointer;
    display:inline-block;
    position:absolute;
    top:170px
}
#calendar-next{
    float:right;
    right: 5px;
}
#calendar-next .fc-basic-view .fc-body .fc-row,#calendar-prev .fc-basic-view .fc-body .fc-row{
    min-height:1em
}
#calendar-next th,#calendar-prev th{
    font-size:10px;
    background-color:#fff;
    text-align:left
}
#calendar-next .fc-head .fc-row,#calendar-prev .fc-head .fc-row{
    margin-right:0!important
}
#calendar-next .fc-toolbar .fc-left,#calendar-prev .fc-toolbar .fc-left{
    width:0;
    height:0
}
#calendar-next.fc-unthemed tbody,#calendar-prev.fc-unthemed tbody{
    background-color:#fff
}
#calendar-next .fc-sun span,#calendar-prev .fc-sun span{
    color:#ec4c4c
}
#calendar-next .fc-bg .fertile-title,#calendar-next .fc-bg .period-title,#calendar-next .fc-bg .preg-title,#calendar-prev .fc-bg .fertile-title,#calendar-prev .fc-bg .period-title,#calendar-prev .fc-bg .preg-title{
    display:none
}

#calendar{
    position:relative
}

.calender-wrap .header-wrap{
    text-align:center;
    display:inline-block;
    position:relative;
    width:100%;
    margin-bottom:230px
}
.calender-wrap .header-wrap a.next,.calender-wrap .header-wrap a.prev{
    position:absolute;
    left:-280px;
    right:0;
    width:50px;
    height:30px;
    margin:0 auto;
    overflow:hidden;
    display:block;
    top:147px
}
.calender-wrap .header-wrap a.next{
    left:280px;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg)
}
.calender-wrap .header-wrap a.next:after,.calender-wrap .header-wrap a.prev:after{
    font-family:apta!important;
    content:"\e908";
    font-size:26px;
    text-align:center;
    font-weight:700
}
.calender-wrap .calender-header .page-down{
    width:55px;
    height:55px;
    border-radius:50%;
    display:block;
    right:2%;
    top:63%;
    background:#002c5c;
    position:absolute;
    cursor:pointer;
    z-index:999
}
.calender-wrap .calender-header .page-down:after{
    content:"\e902";
    font-family:apta!important;
    display:block;
    position:absolute;
    top:25px;
    font-size:27px;
    right:14px;
    color:#fff
}
.fc td,.fc-event-container .fc-day-grid-event{
    position:relative
}
.calender-wrap .calender-header h2,.calender-wrap .calender-header p{
    text-align:center
}
.calender-wrap .calender-header h2{
    font-size:30px;
    text-transform:capitalize
}
.calender-wrap .calender-header p{
    font-size:20px
}

#calendar.fc th{
    color:#fff;
    font-size:14px
}
.calc-results .fc-unthemed td.fc-today{
    background:0 0
}
.high-fertile{
    background-color:#c4efb8!important
}
.pregnancy-test{
    background-color:#92cef2!important
}
.next-period{
    background-color:#edbee9!important
}
.fc table{
    width:100.1%;
    border-collapse:separate
}
.fc .fc-row .fc-content-skeleton td{
    border-color:#fff
}
.fc td,.fc th{
    border:2px solid #fff
}
.fc td{
    vertical-align:bottom!important;
    text-align:center
}
.fc th{
    border-bottom:0;
    background-color:#a9a9ab;
    padding:5px 0
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{
    float:left;
    font-size:18px;
    font-weight:700;
    color:#000;
    padding:10px
}
.fc-event-container .fc-day-grid-event .fc-content{
    position:absolute;
    top:58px;
    right:44px;
    color:#000
}
.fc-left #calendar{
    display:block
}
.fc-unthemed tbody{
    background-color:#f1f1f1
}
.fc-content-skeleton .fertile-title,.fc-content-skeleton .period-title,.fc-content-skeleton .preg-title{
    display:none
}
.fc-bg .fertile-title,.fc-bg .period-title,.fc-bg .preg-title{
    font-size:13px;
    position:absolute;
    bottom:0;
    display:block;
    padding-bottom:10px;
    width:100%
}
.fc-event-container .fc-day-grid-event{
    display:none
}
.fc-icon-left-single-arrow:after,.fc-icon-right-single-arrow:after{
    color:#4887b1;
    top:9%;
    font-size:63px;
    font-weight:700
}
#calendar .fc-toolbar .fc-center{
    position:absolute;
    left:0;
    right:0;
    width:169px;
    top:-150px;
    margin:0 auto
}
#calendar .fc-toolbar .fc-center h2{
    width:99%;
    font-size:38px;
    font-weight:600
}
#calendar .fc-toolbar .fc-left button,#calendar .fc-toolbar .fc-right button{
    border:0;
    background:0 0;
    text-shadow:none;
    box-shadow:none
}
.child-growth,.our-experts{
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -ms-box-shadow:none
}
#calendar .fc-toolbar .fc-button .fc-icon{
    height:50px
}
.fc-icon-left-single-arrow:after{
    content:"\02039"
}
.fc-toolbar.fc-header-toolbar{
    position:relative;
    margin-bottom:0
}
#calendar .fc-toolbar .fc-left{
    position:absolute;
    top:33px;
    float:none;
    left:23%
}
.fc-toolbar .fc-right{
    position:absolute;
    right:23%;
    top:33px
}
.fc-unthemed td.fc-today{
    border-style:solid
}







.calculator-tools .ui-datepicker .ui-datepicker-header,.calculator-tools-mobile .ui-datepicker .ui-datepicker-header{
    padding:0
}
.calculator-tools .radio-button{
    color:#fff
}
.calculator-tools .radio-button label{
    display:inline-block;
    width:45px;
    margin:3px 0 0
}
.calculator-tools .radio-button .radio-boy{
    float:left;
    padding-left:65px;
    background:url(../img/male.png) left top no-repeat;
    margin:0 70px 0 0;
    text-align:center
}
.calculator-tools .radio-button .radio-girl{
    float:left;
    padding-left:65px;
    background:url(../img/female.png) left top no-repeat;
    text-align:center
}
.calculator-tools input[type=radio]{
    display:none
}
.calculator-tools input[type=radio]+label:before{
    content:"";
    width:45px;
    height:45px;
    margin-bottom:5px;
    background-clip:content-box;
    background-color:#fff;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    display:flex
}
.calculator-tools input[type=radio]:checked+label:before{
    background:url(../img/radio-checked.png) center center no-repeat #fff
}
.baby-growth-result{
    max-width:500px;
    margin:30px auto;
    background:#002e5a;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    position:relative;
    overflow:hidden
}
.baby-growth-result .result{
    padding:30px;
    background:#3c92d8
}
.baby-growth-result .result h4{
    color:#fff;
    margin:0;
    font-size:22px;
    padding:0
}
.baby-growth-result .result hr{
    border-top:1px solid #fff;
    margin:10px 0
}
.baby-growth-result .result .wg-per{
    text-align:left;
    padding:25px 98px 0 0;
    color:#fff;
    height:155px
}
.baby-growth-result .result .wg-per.baby-pink{
    background:url(../img/baby-pink.png) right top no-repeat
}
.baby-growth-result .result .wg-per.baby-green{
    background:url(../img/baby-green.png) right top no-repeat
}
.baby-growth-result .result .wg-per.baby-pink-toddler{
    background:url(../img/Toddler-girl.png) right top no-repeat
}
.baby-growth-result .result .wg-per.baby-green-toddler{
    background:url(../img/Toddler-boy.png) right top no-repeat
}
.baby-growth-result .result .wg-per.baby-pink-preschool{
    background:url(../img/Pre-school-girl.png) right top no-repeat
}
.baby-growth-result .result .wg-per.baby-green-preschool{
    background:url(../img/Pre-school-boy.png) right top no-repeat
}
.baby-growth-result .result .wg-per p{
    font-size:15px;
    margin:0;
    color:#fff
}
.baby-growth-result .result .wg-per p.growth-tool-result{
    margin-top:15px
}
.baby-growth-result .month{
    padding:20px 30px;
    background:#002e5a;
    color:#fff
}
.baby-growth-result .result .wg-per .age{
    font-size:18px
}
.baby-growth-result .result .wg-per .age .num-months{
    font-size:26px;
    display:inline-block;
    color:#e2bf0e
}
.baby-growth-result .month p{
    font-size:18px;
    margin:10px 0;
    color:#fff
}
.baby-growth-result .month p.who{
    font-size:15px;
    margin:10px 0;
    color:#fff
}
.baby-growth-result .month p span#weighs,.baby-growth-result p span#result_message,.baby-growth-result p span#result_message_m,.baby-growth-result p span#weighs,.baby-growth-result p span#weighs_m{
    color:#e2bf0e;
    font-size:26px;
    text-transform:uppercase
}