@media (min-width: 1200px) {
  .single-toddler-phase .article-detail.single-layout .container{
    max-width: 1200px !important;
  }
  .single-toddler-phase .article-detail.single-layout .container iframe{
    min-height: 350px;
  }
  .single-toddler-phase .article-detail.single-layout .container.wider .myBodyDetails iframe{
    min-height: 660px;
  }
}
.single-toddler-phase .article-detail.single-layout .container .video-description .video-wrap iframe{
    min-height: auto;
}
.page-template-template-about-php section .title+.content-wrap .form-wrap p{
    max-width: 630px;
    margin: 0 auto;
    text-align: center;
}
.btn {
    cursor: pointer !important;
}

.dropdown-options-wrap .dropdown-tab {
    display: flex;
    align-items: center;
}

.weeks-slider-wrap .slider .slick-arrow {
    top: 50%;
    margin-top: -20px;
}

.weeks-slider-wrap .slider .slick-track {
    display: flex;
    align-items: center;
}

section.hero-wrapper .banner .banner-slide .caption {
    top: 175px;
    left: -50px;
}

section.hero-wrapper.no-banner+section.tab-wrapper {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}

.img-holder img {
    max-width: 100%;
    height: auto;
}

section.dropdown-options-wrap.active {
    background: none;
    z-index: 3;
}

.content-banner-wrap .banner-block {
    z-index: 9999;
}

section.dropdown-options-wrap {
    z-index: 1;
}

.topics-slider-wrap .slider {
    justify-content: center;
}

.topics-slider-wrap .slider .slide-item {
    padding: 3px 8px;
}

.single-layout .content-wrap .content-summary p,
.single-layout .content-wrap .content-summary ul {
    color: #3c3c3c;
    
}

.single-layout .content-wrap .content-summary h4 {
    margin-bottom: 1.5rem;
}

.single-layout .content-wrap .content-summary ul li {
    margin-bottom: 10px;
}

.single-layout .content-wrap .content-summary h2 {
    font-size: 24px;
    line-height: 30px;
    color: #17479e;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.single-layout .content-wrap .content-summary h3 {
    font-size: 20px;
    line-height: 26px;
    color: #17479e;
    margin-bottom: 15px !important;
    margin-top: 15px;
}

.single-layout .content-wrap .content-summary img.img-full {
    width: 100%;
    margin-bottom: 30px;
}

.content-summary .wrap-nav-index,
.wrap-nav-index ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 15px 0px;
}

.content-summary .wrap-nav-index ul li,
.wrap-nav-index ul li {
    display: inline-block;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 0px;
    margin-bottom: 0px;
}

.content-summary .wrap-nav-index ul li a,
.wrap-nav-index ul li a {
    background: #c4e4f9;
    padding: 8px 30px;
    display: inline-block;
    font-family: GothamHTFMedium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: 32px;
    border-radius: 32px;
    color: #17479e;
    text-align: center;
    line-height: 15px;
}

.accordion-wrap .accordion-card .card-body p > span {
    margin-bottom: 12px;
    display: inline-block;
}

.content-summary ul {
    margin: 0px;
    padding: 0px;
    margin-bottom: 15px;
}

.content-summary ul li {
    margin-left: 20px;
}

.content-summary table.border {
    margin: 15px 0px;
}

.content-summary table.border td,
.content-summary table.border th {
    border: 1px solid #ccc;
    padding: 10px;
}

.form-field.has-error {
    color: red;
}

.help-block {
    text-align: left;
    display: inline-block;
    font-size: 14px;
    margin-top: 8px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.form-field.has-error .form-control {
    border-color: red;
}

section.advice .advice-wrap .contact-options .contact-item .bubble-wrap .icon-wrap {
    min-width: 64px;
}

.icon.icon-logout {
    background-image: url(../images/logout.svg)
}

.icon.icon-unregistered {
    background-image: url(../images/unregistered.svg);
}

.search-form {
    width: 100%;
    text-align: center;
}

.search-form .form-wrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 440px;
}

.alert-warning {
    width: 100%;
}

.btn-wrap .search-submit {
    margin: auto;
}

#pregnancy-weeksstages .weeks-slider-wrap .slider .slide-item a.special,
#baby-weeksmonths .weeks-slider-wrap .slider .slide-item a.special {
    height: 100px;
    width: 100px;
}

#pregnancy-weeksstages .weeks-slider-wrap .slider .slide-item a.special .date,
#baby-weeksmonths .weeks-slider-wrap .slider .slide-item a.special {
    font-size: 16px;
}

.intro-mfc-logo {
    display: none!important;
}

.page-expert-adjust.page-highlight.our-experts {
    padding-bottom: 1px;
}

.page-expert-adjust.page-highlight {
    text-align: center;
    padding: 27px 0 30px;
    background: #fff;
}


/* section.background-secondary{
  #c4e4f9
} */

/* .page-expert-adjust.page-highlight .h2-style {
    color: #56b9e7!important;
    font-size: 40px!important;
    font-weight: 300!important;
    padding-bottom: 6px!important;
    text-transform: uppercase!important;
} */

.page-expert-adjust.page-highlight .title h3 {
    font-size: 24px;
    line-height: 30px;
    color: #17479e;
}

.page-expert-adjust.page-highlight .title p {
    font-size: 18px;
    line-height: 30px;
    color: #3c3c3c;
}

.page-expert-adjust.landing-blocks.new-articles,
.landing-blocks.products,
.landing-details.our-experts {
    background: #fff;
}

.page-expert-adjust.our-experts .wrap-content {
    background: 0 0;
}

.page-expert-adjust.landing-details .wrap-content {
    border-radius: 5px;
    overflow: hidden;
}

.page-expert-adjust.our-experts .wrap-content .content-details {
    padding: 30px 0;
    text-align: center;
    font-size: 0;
}

.page-expert-adjust.our-experts .wrap-content .content-details .advisor {
    width: 27%;
}

.page-expert-adjust.our-experts .wrap-content .content-details .advisor {
    display: inline-block;
    vertical-align: top;
    padding: 0 25px;
}

.page-expert-adjust.our-experts .wrap-content .content-details {
    /* padding: 30px 0; */
    text-align: center;
    font-size: 0;
}

.page-expert-adjust.our-experts .wrap-content .content-details figure {
    text-align: center;
    margin-bottom: 20px;
}

.page-expert-adjust.our-experts .wrap-content .content-details figure img {
    border-radius: 50%;
    overflow: hidden;
}

.page-expert-adjust.our-experts .wrap-content .content-details .details {
    margin-bottom: 50px;
}

.page-expert-adjust.our-experts .wrap-content .content-details .details p {
    font-size: 18px;
    line-height: 30px;
    color: #3c3c3c;
}

.page-expert-adjust.our-experts .wrap-content .content-details .details p {
    font-size: 18px;
    line-height: 30px;
    color: #3c3c3c;
}

.page-expert-adjust.our-experts .wrap-content .content-details .details {
    margin-bottom: 50px;
}

.page-expert-adjust.landing-details .otherContacts {
    text-align: center;
    padding: 10px;
}

.page-expert-adjust.landing-details .list-phone {
    margin-bottom: 25px;
}

.page-expert-adjust.landing-details .otherContacts {
    text-align: center;
    padding: 10px;
}

.page-expert-adjust.landing-details .list-phone ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    line-height: 25px;
}

.page-expert-adjust.landing-details .list-phone ul li {
    display: inline-block;
    position: relative;
    unicode-bidi: embed;
    color: black;
    font-size: 18px;
    padding: 5px;
}

.page-expert-adjust.landing-details .list-phone ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    line-height: 25px;
}

.page-expert-adjust.landing-details .list-phone ul li span {
    font-size: 14px;
    color: #56b9e7;
}

.page-expert-adjust.landing-details .list-phone ul li+li:before {
    content: ' | ';
    display: inline-block;
    margin: 0 15px;
    vertical-align: middle;
    color: #a5a5a5;
}

.page-expert-adjust.landing-details .list-phone .icon-whatsapp {
    color: #13ab6f;
    vertical-align: middle;
    font-size: 24px;
    margin-left: 15px;
}
.toddler-growth-tool .age-selector{
    display: none;
}


/* .page-expert-adjust.landing-details .ctaWrap .cta {
    min-width: 280px;
    margin: 4px 8px;
    color: #fff;
} */

.page-expert-adjust.landing-details .list-social {
    line-height: 27px;
    margin: 35px 0 20px;
    text-align: center;
    color: black;
}

.page-expert-adjust.our-experts .list-social {
    line-height: 27px;
    text-align: center;
    color: #3c3c3c;
}

.page-expert-adjust.landing-details .list-social ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

.page-expert-adjust.our-experts .list-social ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    position: relative;
    padding-top: 10px;
}

.page-expert-adjust.landing-details .list-social ul li {
    display: inline-block;
    padding-left: 6px;
}

.page-expert-adjust.our-experts .list-social ul li {
    display: inline-block;
    padding: 0 6px;
}

.page-expert-adjust.our-experts .list-social ul li a {
    text-decoration: none;
}

.page-expert-adjust .container {
    padding-left: 9px;
    padding-right: 9px;
}

.page-expert-adjust .row {
    margin-left: -9px;
    margin-right: -9px;
}

.page-expert-adjust figure {
    line-height: 0;
    margin: 0;
}

.page-expert-adjust img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.page-expert-adjust content p {
    margin-bottom: 20px;
    padding: 0;
    line-height: 1.4;
}

.page-expert-adjust p:first-child {
    margin-top: 0;
}

.page-expert-adjust ul {
    list-style: none;
}

.page-expert-adjust.cta.cyan {
    color: black;
}

.page-expert-adjust.cta.cyan {
    background: #56b9e7;
    -webkit-transition: .2s, .3s;
    -moz-transition: .2s, .3s;
    -ms-transition: .2s, .3s;
    -o-transition: .2s, .3s;
    transition: .2s, .3s;
}

.page-expert-adjust.cta.inline {
    padding: 8px 20px!important;
    min-width: 0;
}

.page-expert-adjust .cta {
    font-weight: 400;
    color: black;
    font-size: 18px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px 20px;
    display: inline-block;
    min-width: 180px;
    width: auto;
    min-height: 37px;
    height: auto;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: #009fe3;
}

.page-expert-adjust.title {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: -100px;
}

.page-expert-adjust.ctaWrap a {
    text-decoration: none;
}

.page-expert-adjust .list-social .icon {
    font-size: 22px;
}

.page-expert-adjust.our-experts .list-social ul li a:hover {
    color: #17479e;
}

/* .page-expert-adjust.landing-details .ctaWrap .cta:hover {
    background: #17479e;
} */

.product-list-wrap.loading {
    min-height: 150px;
    background: url('/wp-admin/images/wpspin_light.gif') no-repeat;
    background-position: center center;
    background-size: 16px 16px;
    display: block;
    text-align: center;
}

.page-highlight.birth-plan {
    box-shadow: none;
    padding-bottom: 0;
}

.page-highlight {
    text-align: center;
    padding: 15px 0px 0px;
}

.login-form .form-wrap p,
.login-form .form-wrap h3,
.login-form .form-wrap button {
    text-align: center;
}

.login-form .form-group {
    text-align: center;
}

a.slick-disabled {
    cursor: default;
}

.slick-next.slick-disabled .icon.icon-next {
    opacity: 0.2;
}

.slick-arrow.slick-disabled {
    display: block !important;
}

.product-item .card {
    min-height: 450px;
}

.product-item .card .card-body {
    min-height: 192px;
}

.product-content-with-title {
    width: 100%;
}

.product-content-with-title h3 {
    padding-bottom: 16px;
    color: #17479e;
    padding: 0px 0px 0px 50px;
    margin: 0 40px;
    margin-bottom: 40px;
}

.product-content-with-title .each-prdt-content {
    margin: 0 40px;
    margin-bottom: 40px;
    padding: 0px 0px 0px 50px;
}

.content-banner-wrap .banner-block:nth-child(2) {
    width: 50%;
}

.content-banner-wrap .banner-block:nth-child(1) {
    text-align: center;
    width: 40%;
}

.product-tab ol li+li {
    width: 100%;
}

.cards-wrap {
    display: flex;
    flex-wrap: wrap;
    /*
 justify-content: space-between;
 margin-left: -15px;
 margin-right: -15px;
 */
}

.card-item {
    display: block;
    width: 33%;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.card-item+.card-item {
    margin-left: 0;
}

.icon.icon-pregnancy {
    background-size: 57px 57px;
}

.icon.icon-baby,
.icon.icon-toddler {
    background-size: 65px auto;
}

.page-template-template-login-php section.hero-wrapper.no-banner+.top-header-large {
    text-align: center;
}

.page-template-template-login-php section.hero-wrapper.no-banner+.top-header-large {
    margin-bottom: 0;
}

.page-template-template-login-php .form-wrapper.mini-section {
    margin-top: -150px;
}

.product-tab .tab-content .brands-image.flex-show {
    display: flex;
}

.product-tab .tab-content .brands-image {
    display: none;
}

.topic-block {
    display: flex;
    margin: 15px;
    width: 100%;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    transition: all .2s ease-in-out;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    min-height: 215px;
}

.topic-block .block-image,
.topic-block .block-content {
    width: 50%;
}

.topic-block .block-image img {
    width: 100%;
    height: 100%;
}

.topic-block .block-content {
    padding: 30px 20px;
}

.topic-block .block-content .title .btn {
    margin: 0;
}

.topic-block .block-content .title p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
}

.topic-block .block-content .title h5 {
    font-weight: 600;
}

.topic-block a {
    display: flex;
    padding: 0;
    font-size: 14px;
}

.topic-block a .icon {
    line-height: 23px;
}

.development-cycle .img-holder {
    background-repeat: no-repeat;
    border: 1px solid #17479e;
    background-size: 150px;
}

.development-cycle .img-holder:before {
    display: none;
}

.single-pregnancy-phase .pregnancy-stages .content-summary p br {
    margin-bottom: 1rem;
}

.page-id-6124 .page-highlight.our-experts .wrap-content {
    margin-top: 30px;
}

.registration-step {
    width: 97%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin: 0 auto 50px;
    display: inline-block;
}

.registration-step ul {
    /*padding: 0;*/
    list-style: none;
    margin: 0;
}

.registration-step ul li {
    float: left;
    width: 33%;
    list-style: none;
    line-height: 16px;
    padding: 3px 3% 4px 0px;
    position: relative;
    background: #1f306b;
    color: #fff;
    height: 66px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.registration-step ul li:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: 13px;
    z-index: 1;
    float: right;
    transform: rotate(52deg) skew(16deg);
    background-color: #1f306b;
    border: 2px solid #3661b0;
    border-left: 0;
    border-bottom: 0;
}

.registration-step ul li span {
    margin-left: 60px;
    display: inline-block;
    width: 60px;
    line-height: 58px;
}

.registration-step ul li.completed span:before {
    content: '';
    background: url(../images/tick.png) no-repeat;
    background-size: cover;
    color: #fff;
    width: 27px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 100;
}

.registration-step ul li:first-child {
    background: #c2e5f9;
    color: #17479e;
    border-radius: 40px 0px 0px 40px;
}

.registration-step ul li:first-child:after {
    background-color: #c2e5f9;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
}

.registration-step ul li:nth-child(2) {
    color: #17479e;
    background-color: #7aa8da;
    border-radius: 0;
}

.registration-step ul li:nth-child(2):after {
    background-color: #7aa8da;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
}

.registration-step ul li:last-child {
    border-radius: 0px 40px 40px 0px;
}

.registration-step ul li:last-child:after {
    border: none !important;
    display: none;
}

header .user-functions ul.links li a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-wrapper {
    clear: both;
    padding-top: 20px;
}

.btn-wrapper a {
    text-decoration: none;
    padding: 14px 0px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: inline-block;
    z-index: 10;
    position: relative;
    width: 48%;
    margin-right: 1.3%;
    margin-bottom: 2%;
    border-radius: 40px;
}

.btn-wrapper a:link,
.btn-wrapper a:visited {
    text-decoration: none;
}

.violet-btn {
    background-color: #7a62ab;
}

.green-btn {
    background-color: #4ab849;
}

.orange-btn {
    background-color: #f47920;
}

.pink-btn {
    background-color: #ef6395;
}

.brown-btn {
    background-color: #b58a3b;
}

.blue-btn {
    background-color: #23bebc;
}

.violet-btn .round {
    background-color: #8e7aba;
}

.green-btn .round {
    background-color: #66c964;
}

.orange-btn .round {
    background-color: #f49550;
}

.pink-btn .round {
    background-color: #f08aaf;
}

.brown-btn .round {
    background-color: #c99946;
}

.blue-btn .round {
    background-color: #31d8d5;
}

.violet-btn .expanding-circle {
    background: url(../images/category_cognitive_icon.png) no-repeat;
    background-size: cover;
}

.green-btn .expanding-circle {
    background: url(../images/category_green_icon.png) no-repeat;
    background-size: cover;
}

.orange-btn .expanding-circle {
    background: url(../images/category_orange_icon.png) no-repeat;
    background-size: cover;
}

.pink-btn .expanding-circle {
    background: url(../images/category_interactive_icon.png) no-repeat;
    background-size: cover;
}

.brown-btn .expanding-circle {
    background: url(../images/category_physical_icon.png) no-repeat;
    background-size: cover;
}

.blue-btn .expanding-circle {
    background: url(../images/category_verbal_icon.png) no-repeat;
    background-size: cover;
}

.btn-wrapper .expanding-circle {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 45px;
    height: 45px;
}

.btn-wrapper a span {
    position: relative;
    z-index: 3;
}

.btn-txt {
    font-size: 14px;
    line-height: 1;
    padding: 0 10px;
}

.test-status {
    font-size: 11px;
    padding: 3px 5px;
    background: rgba(255, 255, 255, .3);
}

.allergy-test .test-result .result-block .result .utilities a+a,
.test-status {
    margin-left: 10px;
}

.btn-wrapper a .round {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    top: 6px;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    z-index: 2;
}

.btn-wrapper a:after {
    content: '';
    display: block;
    width: 12px;
    height: 18px;
    background: url(../images/arrow-right.png) 95% center no-repeat;
    position: absolute;
    top: 17px;
    right: 18px;
    z-index: 9;
}

.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-wrapper a:hover {
    color: #fff;
}

.page-highlight .h2-style {
    color: #17479e!important;
    font-size: 40px!important;
    font-weight: 300!important;
    padding-bottom: 6px!important;
    /*text-transform: uppercase!important;*/
}

.page-highlight.our-experts {
    padding-bottom: 1px;
}

.our-experts {
    box-shadow: none;
}

.page-highlight p {
    font-size: 20px;
}

.page-highlight h3,
.page-highlight p {
    color: #000;
    line-height: 1.3;
    max-width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.page-highlight p:first-child {
    margin-top: 0;
}

.page-highlight address,
.page-highlight p:last-child {
    margin-bottom: 0;
}

.our-experts .wrap-content {
    background: 0 0;
}

.text-center {
    text-align: center;
}

.landing-details .ctaWrap .cta {
    min-width: 280px;
    margin: 4px 8px;
}

.wrap-skill-btn .btn.btn-lg {
    width: 200px;
}

.cta {
    background: #c4e4f9;
    padding: 8px 30px;
    font-family: GothamHTFMedium, Helvetica, Arial, sans-serif;
    font-size: 15px;
    max-height: 32px;
    border-radius: 32px;
    color: #17479e;
    text-align: center;
    line-height: 24px;
}

.ctaWrap.text-center .btn.btn-primary {
    margin: 0px 8px;
}

.wrap-update-box h4 {
    color: #17479e;
}

.wrap-social-feed {
    position: relative;
}

.landing-blocks {
    padding: 38px 0 18px;
}

.wrap-social-feed h3 {
    color: #17479e;
    font-size: 1.6em;
    margin-bottom: 30px;
}

.wrap-social-feed .listing-block {
    height: 440px;
}

.listing-block {
    background: #fff;
    height: 395px;
    margin-bottom: 20px;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    border-radius: 100% 100% 0 0/8% 8% 0 0;
    transition: all .2s ease-in-out;
    border: none;
}

.wrap-social-feed .listing-block .social-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    height: 30px;
}

.wrap-social-feed .listing-block .social-icon img {
    width: auto;
    height: 100%;
    margin-top: 15px;
}

.wrap-social-feed img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}

.listing-block figure {
    height: 0;
    padding-bottom: 58.5%;
    overflow: hidden;
    line-height: 0;
    margin: 0;
}

.wrap-social-feed .listing-block figure img {
    width: 100%;
}

.listing-block figure img {
    width: auto;
    max-width: none;
}

.wrap-social-feed .listing-block h2 {
    color: #666;
}

.listing-block h2 {
    font-size: 20px;
    color: #4092d4;
    display: block;
    padding: 20px 20px 10px;
}

.listing-block .details {
    padding: 0 20px 20px;
}

.wrap-social-feed .listing-block p {
    font-size: 16px;
    line-height: 1.3;
}

.listing-block .details p {
    color: #535353;
}

.wrap-social-feed .listing-block .ctaWrap {
    padding-top: 20px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
}

.wrap-social-feed .listing-block a.cta {
    min-width: auto;
    font-size: 13px;
}

.welcome-page p {
    color: #333;
    margin-bottom: 30px;
}

.welcome-page h4 {
    margin-bottom: 30px;
}

.our-experts .wrap-content {
    background: 0 0;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-13,
.col-lg-14,
.col-lg-15,
.col-lg-16,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-13,
.col-md-14,
.col-md-15,
.col-md-16,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-13,
.col-sm-14,
.col-sm-15,
.col-sm-16,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 9px;
    padding-right: 9px;
}

#assessment_test_details {
    padding-top: 100px;
}

#assessment_test_details h2 {
    color: #000;
    font-size: 1.6em;
    margin-bottom: 30px;
}

#assessment_test_details .choice-block {
    border-bottom: solid 1px #1661a9;
    padding: 20px 0;
}

#assessment_test_details .choice-block p {
    color: #000;
    float: left;
    font-size: 20px;
    line-height: 2.3;
    margin-right: 30px;
    min-width: 160px;
}

#assessment_test_details .choice-block .cta {
    min-width: 198px;
}

.landing-details .ctaWrap .cta {
    min-width: 280px;
    margin: 4px 8px;
}

.content-details {
    padding: 30px;
}

.myBodyDetails.content.content-details {
    text-align: center;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    border-radius: 100% 100% 0 0/8% 8% 0 0;
    transition: all .2s ease-in-out;
    border: none;
}

.assessment-test h2 {
    font-size: 28px;
    color: #17479e;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.skill-list {
    margin-bottom: 20px;
    position: relative;
}

.skill-list p {
    color: #000;
    display: inline-block;
    margin: 0;
}

.skill-list span {
    display: inline-block;
    position: absolute;
    right: 0;
}

.skill-list span input {
    opacity: 0;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: -1;
}

input[type=checkbox] {
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

input[type=checkbox] {
    position: relative;
    margin: 0 5px 0 0;
    height: 20px;
    width: 20px;
    background: #17479e;
    -webkit-appearance: none;
    outline: 0;
}

input[type=checkbox]:checked:before {
    color: #00a79d;
}

input[type=checkbox]:checked:before {
    content: "\2714";
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    width: 20px;
    color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.skill-list span label {
    width: 28px;
    height: 28px;
    border: 2px solid #17479e;
    border-radius: 3px;
    display: block;
    position: absolute;
    top: -20px;
    right: 0;
}

.skill-list label {
    display: block;
    padding-top: 8px;
    font-weight: 400;
}

.skill-list span input:checked+label:after {
    content: "\2713";
    color: #17479e;
    position: absolute;
    left: 3px;
    line-height: 8px;
    font-size: 25px;
}

.wrap-skill-btn {
    margin: 50px 0 0;
    display: flex;
    justify-content: space-between;
}

.checked-alert {
    color: red;
    text-align: center;
    margin: 50px 0;
    padding: 10px;
}

.skill-listing h2 {
    font-size: 28px;
    color: #17479e;
    margin-bottom: 20px;
    line-height: 1.6;
}

.post-content {
    margin-bottom: 50px;
}

.skill-listing h3 {
    font-size: 22px;
    color: #17479e;
    margin-bottom: 20px;
    line-height: 1.4;
}

.skill-listing p,
.skill-listing ul li {
    color: #000;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.skill-listing ul {
    list-style: none;
}

.post-content ul li {
    position: relative;
    padding-left: 30px;
}

.post-content ul li:before {
    content: '';
    width: 7px;
    height: 7px;
    display: block;
    background-color: #116ec7;
    border: 0 solid #fff;
    border-radius: 50%;
    position: absolute;
    left: 0;
    box-shadow: 0 0 0 4px #fff;
    top: 10px;
}

.wrap-skill-video .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    padding-right: 30px;
}

.wrap-skill-video .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrap-skill-video iframe {
    border: none;
}

.center-button {
    display: block;
    text-align: center;
    width: 100%;
}

.center-button .btn.btn-primary {
    min-width: 140px;
    line-height: 24px;
    font-size: 14px;
    height: 48px;
}

.featured-article-loadmore-item {
    display: none;
}

.product-tab .tab-content .brands-image a {
    min-width: 140px;
    margin-right: 17px;
}

.product-tab .tab-content .brands-image {
    -webkit-box-pack: initial;
    -ms-flex-pack: justify;
    justify-content: flex-start;
}

.wrap-test-select {
    text-align: center;
}

.page-highlight.birth-plan {
    margin-top: -150px;
}

.page-template-template-login-php .form-wrapper.mini-section {
    margin-top: -214px;
}

.top-header-large {
    text-align: center;
}

.top-header-large h1 {
    font-size: 48px;
    color: #17479e;
}

.loadmore-btn {
    display: none;
}

section.sign-up.single-layout.login-form {
    text-align: center;
}

section.sign-up.single-layout {
    margin-top: -150px;
}

.product-img {
    position: absolute;
    width: 180px;
    height: 180px;
    left: 0px;
}

header .logo {
    height: 90px;
    width: 180px;
    margin: 44px 0 0 92px;
    transform: scale(0.9);
    transform-origin: top left;
}

section.hero-wrapper .brand-bg {
    transform: scale(0.8);
    transform-origin: top left;
}

header .navigation .menu li .search-box .form-control {
    border: 1px solid #ced4da;
}

header .navigation {
    margin-top: 25px;
}

.product-tab .tab-content .brands-image img {
    width: 100%;
    height: 100%;
    max-height: initial;
}

.single-layout .content-wrap h1 {
    font-size: 48px;
}

.single section>.container {
    /*padding-top: 30px;*/
}
.single-layout .content-wrap .content-summary .highlightBox h3 , .single-layout .content-wrap .content-summary .highlightBox h3 span , .single-layout .content-wrap .content-summary .highlightBox p span strong ,.single-layout .content-wrap .content-summary p span strong , .single-layout .content-wrap .content-summary p span b{
    font-size: 20px;
    color: #17479e !important;
}
/* .single-layout .content-wrap .content-summary .highlightBox p span{
    color: #17479e !important;
}  */


/*
.single-layout .content-wrap h1{
  text-align: center;
}*/

.page-id-7851 section.sign-up.single-layout {
    margin-top: -370px;
}

.page-id-6105 section.sign-up.single-layout {
    margin-top: -200px;
}

.page-id-7650 section.hero-wrapper.no-banner+.top-header-large,
.page-id-6101 section.hero-wrapper.no-banner+.top-header-large {
    margin-top: -440px;
}

section.hero-wrapper.no-banner+.top-header-large.pull-to-top {
    margin-top: -440px;
}

.intro-content .intro-mfc-logo.animated.zoomIn.animation1 {
    display: none !important;
}

.btn-wrap {
    display: block;
    margin-top: 50px;
}

.btn-wrap.center {
    text-align: center;
}

section.calculator + section.join-club {
    margin-top: 80px;
}

section.pre-schooler-growth-tool + section.join-club {
    margin-top: 80px;
}

section.ov-calc-form-wrap .container {
    padding-bottom: 60px;
}

section.ov-calc-result-wrap {
    display: none;
}

section.ov-calc-result-wrap,
section.ov-calc-form-wrap {
    margin-top: 0px;
}

section.ov-calc-result-wrap .with-line {
    padding-bottom: 60px;
    border-bottom: 1px solid #e2e2e2;
}

.ov-calc-error,
.tool_message {
    display: block;
    margin-bottom: 12px;
    font-size: 12px;
}

section.pre-schooler-growth-tool .form-wrap {
    text-align: center;
}

section.pre-schooler-growth-tool .form-wrap .field-wrap {
    display: inline-block;
    width: 100%;
}

.allergy-test-tool {
    width: 580px;
    height: 3000px;
    background: url(../img/allergytool/toolpath.png) 62px top no-repeat;
    color: #17479e;
    margin: 30px auto 0;
    position: relative;
    z-index: 10;
    counter-reset: questions
}

.allergy-test-tool .question {
    width: 100%;
    max-width: 316px;
    position: absolute;
    opacity: .2;
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out
}

.allergy-test-tool .question.active {
    opacity: 1
}

.allergy-test-tool .question .questNoCol {
    display: table-cell;
    vertical-align: middle
}

.allergy-test-tool .question .questNo {
    font-size: 26px;
    line-height: 54px;
    font-weight: 300;
    text-align: center;
    letter-spacing: -2px;
    display: inline-block;
    width: 56px;
    height: 56px;
    border: 2px dashed #17479e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.allergy-test-tool .question .questNo:before {
    content: "Q"counter(questions);
    counter-increment: questions
}

.allergy-test-tool .question header {
    margin-bottom: 20px
}

.allergy-test-tool .question h3 {
    font-size: 20px;
    line-height: 1.05;
    display: table-cell;
    vertical-align: middle;
    padding-left: 14px
}

.allergy-test-tool .question .selAnswer {
    margin-left: 70px;
    text-align: center;
    min-height: 110px;
    position: relative;
    background: url(../img/allergytool/lineflow.png) center top no-repeat
}

.allergy-test-tool .question .selAnswer:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10
}

.allergy-test-tool .question.active .selAnswer:after {
    display: none
}

.allergy-test-tool .question .selAnswer label {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 52px;
    padding: 5px 0;
    display: inline-block;
    cursor: pointer;
    vertical-align: top
}

.allergy-test-tool .question .selAnswer label+label {
    margin-left: 66px
}

.result-header h1 {
    color: #17479e;
}

.allergy-test-tool .question .selAnswer label span {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px auto 0;
    position: relative;
    border: 1px solid #17479e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.allergy-test-tool .question .selAnswer label span i,
.allergy-test-tool .question .selAnswer label span i:before {
    width: 38px;
    height: 38px;
    line-height: 38px;
    display: block
}

.allergy-test-tool .question .selAnswer label span i {
    width: 0;
    overflow: hidden;
    position: relative;
    z-index: 20;
    font-family: apta!important;
    -webkit-transition: all .5s 0s ease-in-out;
    -moz-transition: all .5s 0s ease-in-out;
    -ms-transition: all .5s 0s ease-in-out;
    -o-transition: all .5s 0s ease-in-out;
    transition: all .5s 0s ease-in-out
}

.allergy-test-tool .question .selAnswer label span:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    width: 38px;
    height: 38px;
    background: #17479e;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .4s .5s ease-in-out;
    -moz-transition: all .4s .5s ease-in-out;
    -ms-transition: all .4s .5s ease-in-out;
    -o-transition: all .4s .5s ease-in-out;
    transition: all .4s .5s ease-in-out
}

.allergy-test-tool .question .selAnswer label.checked span {
    color: #fff
}

.allergy-test-tool .question .selAnswer label.checked span i {
    width: 38px;
    -webkit-transition: all 1s .4s ease-in-out;
    -moz-transition: all 1s .4s ease-in-out;
    -ms-transition: all 1s .4s ease-in-out;
    -o-transition: all 1s .4s ease-in-out;
    transition: all 1s .4s ease-in-out
}

.allergy-test-tool .question .selAnswer label.checked span:before {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .4s 0s ease-in-out;
    -moz-transition: all .4s 0s ease-in-out;
    -ms-transition: all .4s 0s ease-in-out;
    -o-transition: all .4s 0s ease-in-out;
    transition: all .4s 0s ease-in-out
}

.allergy-test-tool .question .selAnswer input {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: -1
}

.allergy-test-tool #quest1.question {
    left: 138px;
    top: 10px
}

.allergy-test-tool #quest2.question {
    left: 47px;
    top: 676px
}

.allergy-test-tool #quest3.question {
    left: 168px;
    top: 1579px
}

.allergy-test-tool #quest4.question {
    left: 40px;
    top: 2378px
}

.allergy-test-tool .toolSubmit {
    position: absolute;
    left: 0;
    bottom: 110px;
    width: 100%;
    text-align: center
}

.allergy-test:after,
.allergy-test:before {
    content: "";
    position: fixed;
    top: 145px;
    z-index: 0
}

.allergy-test {
    padding-bottom: 40px
}

.allergy-test:before {
    background: url(../img/allergytool/bg-test-left.png) left 0 no-repeat;
    left: 0;
    height: 779px;
    width: 212px
}

.allergy-test:after {
    background: url(../img/allergytool/bg-test-right.png) right 0 no-repeat;
    right: 0;
    height: 740px;
    width: 322px
}

.allergy-test .container {
    position: relative;
    z-index: 1
}

.allergy-test .expert-widget .container .col-sm-6 {
    width: 100%
}

.allergy-test .expert-widget,
.allergy-test .landing-blocks,
.allergy-test .test-result {
    background: 0 0
}

.allergy-test .expert-widget h3,
.allergy-test .landing-blocks h3,
.allergy-test .test-result h3 {
    color: #56b9e7;
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 15px 10px;
    text-transform: uppercase
}

.allergy-test .landing-blocks {
    padding-bottom: 38px
}

.allergy-test .landing-blocks .carouselWrap {
    margin: 0
}

.allergy-test .test-result {
    padding-bottom: 50px
}

.allergy-test .test-result .result-block {
    border: 40px solid #17479e;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    min-height: 400px;
    text-align: center;
    position: relative;
    z-index: 10;
    padding: 40px;
}

.allergy-test .test-result .result-block h2 {
    font-size: 28px;
    padding: 0 0 25px;
    margin: 0
}

.allergy-test .test-result .result-block p {
    font-size: 18px;
    margin: 0 0 20px
}

.allergy-test .test-result .result-block header h2,
.allergy-test .test-result .result-block header p {
    color: #56b9e7
}

.allergy-test .test-result .result-block header p {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto
}

.allergy-test .test-result .result-block .result {
    margin: 0 auto;
    padding: 0px;
    position: relative
}

.allergy-test .test-result .result-block .result h3 {
    font-size: 40px;
    color: #17479e;
    padding: 0;
    margin: 0 0 20px;
    text-transform: none;
    font-weight: 300
}

.allergy-test .test-result .result-block .result .result-bar {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    position: relative
}

.allergy-test .test-result .result-block .result .result-bar:before {
    content: 'Low';
    position: absolute;
    left: 0;
    bottom: 10px;
    z-index: 200;
    color: #aaa
}

.allergy-test .test-result .result-block .result .result-bar:after {
    content: 'High';
    position: absolute;
    right: 0;
    top: -24px;
    z-index: 200;
    color: #aaa
}

.allergy-test .test-result .result-block .result .result-bar .skew {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: #5bbae6;
    background: -moz-linear-gradient(left, #5bbae6 0, #f8e7ba 100%);
    background: -webkit-linear-gradient(left, #5bbae6 0, #f8e7ba 100%);
    background: linear-gradient(to right, #5bbae6 0, #f8e7ba 100%)
}

.allergy-test .test-result .result-block .result .result-bar .skew:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/allergytool/result-range-mask.png) no-repeat;
    background-size: 100% 100%;
    z-index: 101
}

.allergy-test .test-result .result-block .result .result-bar .skew:after {
    content: "";
    width: 20px;
    height: 60px;
    background: url(../img/allergytool/result-mark.png) 0 -5px no-repeat;
    position: absolute;
    left: 0;
    right: auto;
    z-index: 100;
    margin-left: -10px
}

.allergy-test .test-result .result-block .result .result-bar.low .skew:after {
    left: 15%
}

.allergy-test .test-result .result-block .result .result-bar.medium .skew:after {
    left: 40%
}

.allergy-test .test-result .result-block .result .result-bar.high .skew:after {
    left: 50%
}

.allergy-test .test-result .result-block .result .result-bar.danger .skew:after {
    left: 80%
}

.allergy-test .test-result .result-block .result .question {
    border: 4px solid #d5edf8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 30px 40px 13px;
    margin-bottom: 20px
}

.allergy-test .test-result .result-block .result .question p {
    margin-bottom: 30px
}

.allergy-test .test-result .result-block .result .question ul {
    counter-reset: result-questions
}

.allergy-test .test-result .result-block .result .question ul li {
    margin: 0 0 17px
}

.allergy-test .test-result .result-block .result .question ul li:before {
    color: #56b9e7;
    float: left;
    width: 40px;
    content: "Q"counter(result-questions);
    counter-increment: result-questions
}

.allergy-test .test-result .result-block .result .question ul li p {
    padding: 0 0 17px;
    margin: 0;
    overflow: hidden;
    border-bottom: solid 1px #f2f2f2
}

.allergy-test .test-result .result-block .result .question ul li:last-child {
    margin: 0;
    padding: 0
}

.allergy-test .test-result .result-block .result .utilities a+a,
.test-status {
    margin-left: 10px
}

.allergy-test .test-result .result-block .result .question ul li:last-child p {
    border: none
}

.allergy-test .test-result .result-block .result .utilities {
    position: absolute;
    right: 6px;
    bottom: -15px
}

.allergy-test .test-result .result-block .result .utilities>div {
    display: inline-block
}

.allergy-test .test-result .result-block .result .utilities a {
    display: inline-block;
    font-size: 42px;
    color: #55b8e7
}

.allergy-test .test-result .result-block .result .utilities a:hover {
    color: #1a88bc
}

.allergy-test .test-result .result-block .result .utilities a img,
.touch .allergy-test .test-result .result-block .result .utilities a.print {
    display: none
}

.allergy-test .expert-advice .content {
    height: 230px;
    background: url(../img/allergytool/experts.png) bottom right no-repeat #fff
}

.allergy-test .expert-advice .content p {
    width: 60%
}

.widget-knowledge .content {
    background: #0f4661;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    min-height: 325px
}

.widget-knowledge .content figure {
    width: 50%;
    display: table-cell;
    vertical-align: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}

.widget-knowledge .content figure img {
    display: inline-block;
    width: 100%
}

.widget-knowledge .content .details {
    padding: 30px;
    display: table-cell
}

.widget-knowledge .content .details h2 {
    color: #fff;
    font-weight: 400;
    padding-bottom: 10px
}

.widget-knowledge .content .details p {
    color: #fff
}

.widget-knowledge .content .details .cta {
    margin-left: 67px
}

.widget-knowledge .content .details .tips {
    padding-top: 30px;
    border-top: solid 1px #fff
}

.widget-knowledge .content .details .tips:before {
    content: "";
    width: 47px;
    height: 47px;
    float: left;
    margin-right: 20px;
    background: url(../img/allergytool/icon-tips.png) no-repeat
}

.widget-knowledge .content .details .tips p {
    overflow: hidden;
    margin-bottom: 20px
}

.allergy-risk-assesment-tool {
    margin-bottom: 60px;
}

section.article-share-wrap,
section.disclaimer {
    min-height: auto;
}

section.disclaimer .container {
    padding: 60px 15px;
    border-bottom: 1px solid #e2e2e2;
}

section.disclaimer .container p:last-child {
    margin-bottom: 0px;
}

section.article-share-wrap .with-line {
    margin-bottom: 60px;
    /*padding-top: 0px;*/
    border-bottom: 1px solid #e2e2e2;
}

.ui-datepicker .ui-datepicker-next span:hover,
.ui-datepicker .ui-datepicker-prev span:hover,
.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    text-indent: 0;
    background-image: none;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 400 !important;
    padding: 0px;
    color: #000;
    left: 40%;
    margin-left: -12px;
    border: 0px !important;
}

.ui-datepicker .ui-datepicker-next span:hover,
.ui-datepicker .ui-datepicker-prev span:hover {
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
}

.ui-datepicker .ui-datepicker-next {
    right: 10px;
}

.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover {
    border: 0px !important;
    padding: 0px !important;
    top: 2px !important;
}

.ui-datepicker td a {
    text-align: center;
}

section .title+.content-wrap {
    margin-top: 0px;
}

.experienced .container {
    padding-bottom: 0;
}

.article-featured .container {
    padding-top: 0;
}

.article-featured {
    margin-bottom: 34px;
    padding-top: 34px;
    background-color: #f8f8f8;
}

.card .card-body .title h5 {
    min-height: 25px;
}

.registration-step-wrap {
    min-height: auto;
}

.registration-step-wrap .container {
    padding: 0px;
}

.wrap-test-select .title {
    margin: 15px;
}

.wrap-test-select .title h3 {
    font-size: 16px;
}

.page-id-7631 .top-header-large {
    min-height: auto;
}

.page-id-7631 .registration-step {
    margin-bottom: 0px;
}

.tax-assessment-test .assessment-test .container {
    padding: 0px;
}

.tax-assessment-test .assessment-test h2 {
    margin-top: 0px;
}

.tax-assessment-test .assessment-test .skill-list + h2 {
    margin-top: 40px;
}

.wrap-skill-btn {
    width: 100%;
}

section.page-header {
    min-height: auto;
}

.card-item + .loadmore-btn .btn {
    margin-bottom: 60px;
}

.popular-topics .topics-inner .title + .content-wrap {
    margin-top: 30px;
}

.registration-box .formSubmit .field-wrap {
    display: flex;
}

.field-wrap .btn + .btn {
    margin-left: 30px;
}

.landing-details.single-layout.contact-page.registration-page .container {
    margin-top: -150px;
}

.product-content-with-title .container {
    max-width: 660px;
}

.product-content-with-title .container h3 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.product-content-with-title .container h1,
.product-content-with-title .container h2,
.product-content-with-title .container h3,
.product-content-with-title .container h4 {
    color: #17479e;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-content-with-title .container h1 {
    font-size: 1.75rem;
}

.product-content-with-title .container h2 {
    font-size: 1.5rem;
}

.product-content-with-title .container h3 {
    font-size: 1.25rem;
}

.product-content-with-title .container h4 {
    font-size: 1rem;
}

.product-tab .product-desc {
    padding-bottom: 60px;
}


/*
.product-content-with-title .container .each-prdt-content{
  margin: 0px;
  padding: 0px;
  margin-bottom: 60px;
}
*/

.form-wrap .field-wrap .form-control.invert {
    background: none !important;
    background-color: rgba(255, 255, 255, .5) !important;
}

.form-wrap .field-wrap .form-control.invert.hasDatepicker {
    background-image: url(../img/date.png) !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
}

.ui-datepicker {
    margin-left: 90px;
}

.form-wrap .field-wrap .form-control.invert {
    padding: 0px 10px;
}

.capsule-wrap {
    flex-wrap: wrap;
}

.capsule-wrap .capsule-items {
    min-width: 180px;
    margin-top: 15px;
    justify-content: space-between;
}

.capsule-items h5 {
    width: 100%;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/ubuntu-r-webfont.eot);
    src: url(../fonts/ubuntu-r-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/ubuntu-r-webfont.woff) format("woff"), url(../fonts/ubuntu-r-webfont.ttf) format("truetype"), url(../fonts/ubuntu-r-webfont.svg#ubunturegular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: DroidArabicKufi;
    src: url(../fonts/DroidKufi-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidKufi-Regular.woff) format("woff"), url(../fonts/DroidKufi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: DroidArabicKufi;
    src: url(../fonts/DroidKufi-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/DroidKufi-Bold.woff) format("woff"), url(../fonts/DroidKufi-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}

.mobile-menu-popup {
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #c4e4f9;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.mobile-menu-popup .close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    color: #17479e;
    font-size: 18px;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 40px
}

.mobile-menu-popup.active {
    visibility: visible;
    opacity: 1
}

.mobile-menu-popup.active {
    z-index: 9999999;
}

section.sticky-header {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s all ease;
}

section.sticky-header.active {
    opacity: 1;
    visibility: visible;
    overflow: visible;
}

.accordion-card .card-body ol li {
    margin-bottom: 15px;
}

.page-id-6124 footer {
    margin-top: auto;
}

section.tab-wrapper.single {
    display: none;
}

.checkbox-block .styled-checkbox {
    opacity: 0;
    position: absolute;
}

.fullscreen {
    position: fixed;
    top: 25px;
    right: 25px;
}

.article-detail h4 a {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
}

.article-detail h4 a:hover {
    /* text-decoration: none; */
    color: #0071ba;
}

.sign-up p a:hover {
    text-decoration: none;
    color: #0071ba;
}

figure {
    margin: 1em 0px;
    max-width: 100%;
}

.img-holder {
    max-width: 100%;
}
/*.join-club .join-club-wrap .img-holder img{
    transform: rotate(-15deg);
    box-shadow: -2px 3px 6px 2px #888888;
}*/
.img-holder img, figure img {
    max-width: 100%;
    width: 100%;
    height: auto;
}
#st_gdpr_iframe{
   opacity: 0 !important;
   visibility: hidden !important;
   left: 0 !important;
   display: none !important;
}
body.home .home-tab-switcher {
  display: block;
}
.landing-blocks.top-gradient-bg .topic-block a{
    flex-direction: row-reverse;
    align-items: center;
}
.form-wrap .field-wrap.floating-label label{
    left: 12px;
}
#flags_language_selector a{font-size: 16px;}

.tab-wrapper.single .tab-swicher .tab-items .tab-btn > a span{
    text-transform: capitalize;
}

.tab-wrapper.single .tab-swicher .tab-items .tab-btn  .tab-items-sub .btn.btn-default span{
    text-transform: capitalize;
}
.btn-tp{
    border: none;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}
.btn-tp:focus{
    outline: none;
    box-shadow: none;
}
.article-detail .age-selector, .landing-blocks.new-articles .age-selector{
    background: #009fe3;
}
.article-detail .age-selector label, .landing-blocks.new-articles .age-selector label {
    margin-top: 15px;
    margin-left: 15px;
    color: #fff;
}

div.highlightBox {
    margin-bottom: 0!important;
}
.content-summary .row table{
    margin: 15px 0px;
}
.content-summary .row table th , .content-summary .row table td{
    padding: 10px;
}
/* .content-summary .txtindt li{ 
   text-indent: -20px;
} */

.landing-details.our-experts .title h3{
    font-size: 24px;
    line-height: 30px;
    color: #17479e;
}
.postid-10903 section.calculator{
    margin-top: 0;
}
.page-template-template-about-php section .title+.content-wrap{
    justify-content: center;
}

section.join-club .join-club-wrap .img-holder {
    width: 40%;
    margin-right: 70px;
    min-height: 276px;
    max-height: fit-content;
    display: inline-block;
}
section.join-club .join-club-wrap .content-wrap {
    width: 60%;   
}
.page-id-650 .top-header-large .title , .page-id-11084 .top-header-large .title{
    margin-top: -95px !important;
}
.page-expert-adjust.our-experts .wrap-content .content-details .details p+p{
    font-size: 16px;
}
.postid-7782  .single-layout .content-wrap .content-summary h2,.postid-10910 .single-layout .content-wrap .content-summary h2,.postid-7764 .single-layout .content-wrap .content-summary h2,.postid-7772 .single-layout .content-wrap .content-summary h2{ 
    margin-top: 0px !important;
}
.postid-7794 .single-layout .content-wrap .content-summary h2,.postid-7790 .single-layout .content-wrap .content-summary h2,.postid-7798 .single-layout .content-wrap .content-summary h2{
    margin-top: 0px !important;
}
.postid-7768 .single-layout .content-wrap .content-summary h2{
    margin-bottom: 25px !important;
}
.single-layout .content-wrap .content-summary .highlightBox  h2{ 
    margin:auto;
}
.post-7776 , .post-7760 , .post-7694 , .post-5212 , .post-10910 {
    max-width: 100%;
}

.wrap-description, .customSlide{
  max-width: 100%;
}

.customSlide .slide{
  max-width: 100%;
}

iframe{
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  height: 400px;
}


.content-wrap .content-summary .highlightBox {
    padding: 12px 20px 0;
    margin-bottom: 20px;
    overflow: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
content-wrap .content-summary .highlightBox p{
    text-align: justify;
}
.content-summary .alignnone , .content-summary .aligncentre, .content-summary .alignright{
    max-width: 100%;
    width: 100%;
    height: auto
}
.age-selector{
  margin: 30px 0px;
}


.highlight-text {
    margin: 30px 0px;
    font-size: 26px;
    color: #17479e;
}

.video-description h4{
    margin: 30px 0px 15px;
    font-size: 22px;
}
.single-layout .content-wrap .content-summary .highlightBox h3{
    margin-top: auto;
}

.meal-table {
    text-align: center;
    background: #fff;
    margin-bottom: 50px;
    border: 1px solid #dfe0e3;
}
.meal-timing {
    width: 8.33333333%;
    float: left;
    font-size: 25px;
    background: #1face0;
    color: #fff;
}
.meal-table ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.meal-timing ul li.title {
    background: url(../images/meal-clock.png) center center no-repeat #1face0 !important;
    -webkit-background-size: contain;
    background-size: contain;
}
.meal-table ul li.title {
    height: 75px;
    background: #1f306b;
    color: #fff;
    font-size: 16px;
    line-height: 55px;
    text-transform: uppercase;
}
.meal-table ul li {
    height: 185px;
    border-right: 1px solid #dfe0e3;
    border-bottom: 1px solid #dfe0e3;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.meal-table a.slick-arrow.slick-prev {
    left: 20px;
    right: auto;
    top: auto;
    bottom: 12px;
    background: url(../img/prev.png) 50% 50% no-repeat #3661b0;
    background-size: 40%;
}

.meal-table a.slick-arrow.slick-next, .meal-table a.slick-arrow.slick-prev, .meal-table ul li:last-child {
    display: none;
}
.meal-table a.slick-arrow {
    position: absolute;
    top: -50px;
    right: -50px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    background: #3661b0;
    border: 0;
    overflow: hidden;
    color: #3661b0;
    outline: 0;
    cursor: pointer;
    z-index: 9;
    text-indent: -999em;
}
.meal-timing .vertical-txt {
    ms-transform: rotate(-90deg) translate(-50%,-50%);
    -moz-transform: rotate(-90deg) translate(-50%,-50%);
    -webkit-transform: rotate(-90deg) translate(-50%,-50%);
    transform: rotate(-90deg) translate(-50%,-50%);
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 16px;
    transform-origin: 0 0;
    position: absolute;
    left: 50%;
    top: 50%;
}
.meal-type {
    width: 91.66666667%;
    float: left;
}
.weekly-plan-head {
    padding-left: 176px;
    height: 168px;
}
.weekly-plan-head, .wrap-slider {
    position: relative;
}
.meal-type .slide {
    float: left;
    width: 14.28%;
}

.meal-table ul li img {
    max-height: 100px;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    width: 100px;
    margin: 0 auto;
}
.meal-table ul li p {
    margin: 5px 0 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    left: 0;
    padding: 5px;
    box-sizing: border-box;
    background: rgba(255,255,255,.7);
    line-height: 1;
}
.meal-table a {
    text-decoration: none;
    color: #2855a8;
    font-size: 12px;
    line-height: 14px;
}
.weekly-plan-head h2 {
    margin: 0;
    padding-top: 68px;
    padding-right: 180px;
    font-size: 2em;
    color: #17479e;
}

.teady-bear {
    position: absolute;
    left: -50px;
    bottom: -28px;
    width: 240px;
}
.lebmeal-logo, .mPlan-logo {
    float: right;
    margin-top: 18px;
}

.meal-modal .modal-header {
    border: none
}

.meal-modal .modal-header h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.2
}

.meal-modal .modal-header h4 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.2
}

.meal-modal .modal-header .close {
    border: 1px solid red;
    color: red;
    opacity: 1;
    line-height: 1.4;
    width: 30px;
    height: 30px;
    display: block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%
}

.meal-modal .modal-body {
    display: inline-block;
    width: 100%
}

.meal-modal .modal-body .tab-content p {
    font-size: 16px;
    line-height: 1.4
}

.meal-modal .modal-footer {
    border: none;
    margin-top: 0!important;
    padding: 0 20px 20px!important
}

.meal-modal .modal-footer p {
    margin: 0!important;
    font-size: 13px
}

.meal-modal .tab-list {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #1face0
}

.meal-modal .tab-list li {
    float: left;
    list-style: none;
    padding: 0
}

.meal-modal .tab-list li a {
    display: block;
    padding: 10px;
    color: #333;
    font-size: 14px
}

.meal-modal .tab-list li a:hover {
    color: #fff
}

.meal-modal .tab-list li.active a {
    background: #fff
}

.meal-modal .tab-list li.active a:hover {
    background: #333
}

.meal-modal .tab-content {
    float: left;
    width: 100%;
    height: 263px;
    overflow-x: auto;
    display: none;
    background: #fff
}

.meal-modal .tab-content .details {
    float: left;
    width: 60%;
    padding: 10px;
    box-sizing: border-box
}

.meal-modal .tab-content figure {
    float: left;
    width: 40%;
    padding: 10px;
    margin: 0;
    text-align: center;
    box-sizing: border-box
}

.meal-modal .tab-content figure img {
    width: 65%
}

.meal-modal .tab-content.active {
    display: block
}


.healthy-eating-tips .single-layout .content-wrap {
     max-width: 100%; 
    margin: 0 auto;
}

.tipSlideWrap {
  position: relative;
  height: 600px;
  margin: 0 0 25px;
  max-width: 100%;
}

.tipSlideWrapBg {
  background-image: url(../img/feed-slider-bg.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.tipSlider button.slick-arrow {
  position: absolute;
  top: -50px;
  right: -50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  background: #3661b0;
  border: 0;
  overflow: hidden;
  color: #3661b0;
  outline: 0;
  cursor: pointer;
  z-index: 9;
  text-indent: -999em
}

.weekly-plan-head,
.wrap-slider {
  position: relative
}

.tipSlider button.slick-prev.slick-arrow {
  left: -50px;
  right: auto;
  background: url(../img/prev.png) 50% 50% no-repeat #3661b0;
  background-size: 40%
}

.tipSlider button.slick-next.slick-arrow {
  background: url(../img/next.png) 50% 50% no-repeat #3661b0;
  background-size: 40%
}

.tipSlider .slide,
.tipSlider p {
  color: #cfe5ff;
  font-size: 18px;
  line-height: 1.5;
  padding: 10px 0
}

.tipSlider .slide {
  display: block
}

.tipslider-container {
  width: 48%;
  background-color: #243b6d;
  float: right;
  padding: 48px 70px;
  position: relative;
  z-index: 10
}

.tipSlideHead h3 {
    text-align: center;
    color: #000;
    font-size: 24px;
    line-height: 1.3;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px
}
/*.tipslider-container {
    padding: 35px 40px
}*/

.tipSlider button.slick-prev.slick-arrow {
    left: -35px
}

.tipSlider button.slick-next.slick-arrow {
    right: -35px
}/*
.tipslider-container {
    width: 43%
}*/

.tipSlideHead h3 {
    font-size: 22px
}

.tipSlider .slide,
.tipSlider p {
    font-size: 16px
}

.meal-table ul li.title {
    font-size: 14px
}

.meal-timing .vertical-txt {
    font-size: 17px;
    text-transform: uppercase
}
.mCSB_scrollTools.mCSB_scrollTools_horizontal{
    width: auto;
    height: 16px;
    top: 0px;
    right: 0;
    bottom: auto;
    left: 0;
}
.article-detail.single-layout .video-description{
  max-width: 100%;
}
.video-wrap a.slick-arrow {
  position: absolute;
  top: 170px;
}
.video-wrap .slide {
    padding: 10px;
}
.content-summary ol {
    padding-inline-start: 20px;
}
.single-toddler-phase .toddler-milestones .content-child ul{
    margin-top: 15px;
}



.trimester-wrapper,
.trimester-wrapper .trimester-item-wrap,
section.trimester-options-wrap .backgrond-shape-img,
section.trimester-options-wrap .backgrond-shape-img img {
    width: 100%
}

.trimester-wrapper {
    position: absolute;
}

section.trimester-options-wrap {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    min-height: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 50px;
}


section.trimester-options-wrap.light-curve-bottom,
section.trimester-options-wrap.light-curve-top {
    padding: 5% 0;
    min-height: 0;
    position: absolute;
    z-index: 2;
    width: 100%
}

section.trimester-options-wrap .backgrond-shape-img img {
    margin-right: -340px;
    margin-left: 0
}


.trimester-slider-wrap {
    padding-left: 120px;
    padding-right: 120px
}
.trimester-slider-wrap .slider .slide-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.trimester-slider-wrap .slider .slide-item a {
    background: #c4e4f9;
    height: 64px;
    width: 64px;
    text-align: center;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #17479e;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none
}

html[lang=ar] .card .card-body .title h5,
html[lang=ar] .card .card-body .title p,
html[lang=ar] section.hero-wrapper .banner .banner-slide h2,
html[lang=ar] section.join-club .join-club-wrap .content-wrap .title h4 {
    text-align: right
}

.trimester-slider-wrap .slider .slide-item a .lbl {
    width: 100%;
    font-size: 12px;
    line-height: 16px
}

.trimester-slider-wrap .slider .slide-item a .date {
    font-size: 24px;
    line-height: 26px;
    font-family: GothamHTFBold, Helvetica, Arial, sans-serif
}

.trimester-slider-wrap .slider .slide-item a:hover {
    background: #17479e;
    color: #fff
}

.trimester-slider-wrap .slider .slide-item:after,
.trimester-slider-wrap .slider .slide-item:before {
    background-size: 100% auto;
    position: absolute;
    content: "";
    width: 32px;
    height: 8px;
    display: block
}

.trimester-slider-wrap .slider .slide-item:nth-child(odd):before {
    left: -15px;
    top: 10px;
    background-image: url(../images/top-line.svg)
}

.trimester-slider-wrap .slider .slide-item:nth-child(odd):after {
    right: -15px;
    bottom: 10px;
    width: 33px;
    height: 10px;
    background-image: url(../images/bottom-line.svg)
}

.trimester-slider-wrap .slider .slick-arrow {
    top: 12px
}

.trimester-options-wrap .trimester-tab{
    display: flex;
    align-items: center;
}


.trimester-slider-wrap .slider .slick-arrow {
    top: 50%;
    margin-top: -20px;
}
.page-template-template-tools  .article-featured{ 
    background-color: unset;  
}

/*Video Library*/

.video-library .share-buttons:after,
.video-library .share-buttons:before,
.video-library .video-list .video-item .content:after,
.video-library .video-list .video-item .content:before {
    content: " ";
    display: table;
    clear: both
}

[class*=" icon-"],
[class^=icon-] {
    display: inline-block;
    vertical-align: text-top;
    background-repeat: no-repeat
}

.wrap_faq_video .video-library .share-buttons {
    position: static
}

.video-library {
    padding: 50px 0 48px;
    margin: 0 auto;
}

.video-library .playing-video {
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 40px;
}

.video-library .playing-video .title {
    font-size: 20px;
    color: #17479e;
    padding: 10px 0
}

.video-library .playing-video .desc {
    font-size: 16px
}

.video-library .yt-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden
}

.video-library .yt-container embed,
.video-library .yt-container iframe,
.video-library .yt-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.video-library .share-buttons {
    margin: 10px 0 0;
    height: 20px
}

.video-library .share-buttons iframe {
    max-width: 100%!important
}

.video-library .video-list .video-item {
    border-bottom: 1px solid #2074be;
    padding: 0 15px 8px 0;
    margin-bottom: 8px
}




.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix:after, .clearfix:before, .home-navigation .hnav-items:after, .home-navigation .hnav-items:before, .video-library .share-buttons:after, .video-library .share-buttons:before, .video-library .video-list .video-item .content:after, .video-library .video-list .video-item .content:before {
    content: " ";
    display: table;
    clear: both;
}
.video-library .video-list img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px
}


.video-library .video-list .video-infos .title {
    color: #000;
    font-size: 16px;
    padding-bottom: 5px
}

.video-library .video-list .video-infos .title a {
    color: #000
}

.video-library .video-list .video-infos .play {
    font-size: 14px;
    color: #000;
    text-transform: uppercase
}

.video-library .video-list .video-infos .play span[class^=icon-] {
    margin-left: 2px;
    font-size: 12px;
    color: #56b9e7;
    vertical-align: middle
}

.homeCarousel,
.video-library {
    padding-top: 20px
}


.video-library .video-list {
    padding: 25px 10px;
}

.video-library .video-list .video-item {
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-right: 15px;
    border-bottom: none;
    width: 180px;
    float: left;
}

.video-library .video-list .video-thumb {
    width: 100px;
    margin-right: 4%;
    float: left;
}

.video-library .video-list .video-infos {
    float: left;
    width: 100px;
    padding-bottom: 3px;
}
.video-library .video-list .video-infos .title {
    font-size: 13px;
    padding-bottom: 5px
}

.video-library .video-list .jspPane {
    direction: ltr
}

.jspContainer {
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.jspHorizontalBar,
.jspPane,
.jspVerticalBar {
    position: absolute
}

.jspVerticalBar {
    top: 0;
    height: 100%;
    background: red
}

.jspHorizontalBar {
    bottom: 0;
    left: 0;
    width: 100%
}

.jspCap {
    display: none
}

.jspHorizontalBar .jspCap {
    float: left
}

.jspTrack {
    background: #dde;
    position: relative
}

.jspDrag {
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer
}

.jspHorizontalBar .jspDrag,
.jspHorizontalBar .jspTrack {
    float: left;
    height: 100%
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d
}

.jspVerticalBar .jspArrow {
    height: 16px
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%
}

.jspVerticalBar .jspArrow:focus {
    outline: 0
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%
}

* html .jspCorner {
    margin: 0 -3px 0 0
}

.jspVerticalBar {
    width: 5px;
    left: auto;
    right: 0
}

.jspHorizontalBar {
    height: 13px;
    background: 0 0
}

.jspHorizontalBar .jspTrack {
    margin-top: 4px;
    height: 5px
}

.jspHorizontalBar .jspTrack .jspDrag {
    height: 13px;
    margin-top: -4px;
    border-radius: 2px
}

.jspHorizontalBar .jspTrack .jspDrag .jspDragLeft {
    position: absolute;
    left: 50%;
    top: 2px;
    width: 2px;
    height: 9px;
    background-color: #012b54
}

.jspHorizontalBar .jspTrack .jspDrag .jspDragLeft:after,
.jspHorizontalBar .jspTrack .jspDrag .jspDragLeft:before {
    content: '';
    display: block;
    width: 2px;
    height: 9px;
    position: absolute;
    left: -4px;
    top: 0;
    background-color: #012b54
}

.jspHorizontalBar .jspTrack .jspDrag .jspDragLeft:after {
    left: auto;
    right: -4px
}

.jspTrack {
    background-color: #012b54
}

.jspTrack .jspDrag {
    background-color: #000
}
.scroll-pane
{
    width: 100%;
    height: 200px;
    overflow: auto;
}
.horizontal-only
{
    height: auto;
    max-height: 200px;
}
.video-list .scrollpane{
    height: auto;
    max-height: 140px !important;
    overflow-x: auto ;
    overflow-y: hidden;
}
.video-list .video-item{
    height: 120px;
}
.video-library .video-list .jspPane{
   display: flex;
}
.video-library .video-list .video-item{
    width: 220px;
}
.video-library .video-list .video-item .content{
   display: flex;
}
/*Video Library*/
.img-slider{
    width: 100%;
    max-width: 600px;
}

.tag-card {
    min-height: 360px;
}
/*----------media queries----------*/

@media only screen and (max-width:1400px) {
    .allergy-test:after,
    .allergy-test:before {
        background-size: 60%
    }
}

@media (min-width: 1200px) {
    .single-toddler-phase .article-detail.single-layout .container {
        max-width: 1200px;
    }
    .registration-step ul li span {
        margin-left: 40px;
    }
}
@media (max-width: 1200px) {
    .registration-step ul li span {
        margin-left: 40px;
    }
    .registration-step ul li{
        font-size: 12px;
    }
}
@media(max-width: 1180px){
  .hero-wrapper .hero-inner .no-banner{
      /*height: 140px;*/
      background: #c4e4f9;
  }
}
@media (min-width: 992px) {
    .wrap-social-feed .col-md-3 {
        width: 28%;
        flex: 1;
        max-width: initial;
    }
    .col-md-offset-1 {
        margin-left: 8.33333333%;
    }
    .single-toddler-phase .article-detail.single-layout .container {
        max-width: 970px;
    }
}

@media(max-width: 991px) {

  .home-tab-switcher {display: none}   
    section.hero-wrapper .brand-bg {
        transform: scale(1);
        transform-origin: top center;
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        overflow-x: hidden;
    }
    .single-layout .content-wrap {
        max-width: 100%;
    }
    .single-layout .content-wrap h1 {
        font-size: 32px;
    }
    .single-layout .content-wrap h1 {
        text-align: center;
    }
    .tab-swicher .tab-items {
        margin-top: 25px;
    }
    section.tab-wrapper.single {
        display: block;
    }
    section.tab-wrapper.single .tab-swicher .tab-items .tab-btn.active .tab-items-sub {
        display: flex;
    }
    section.hero-wrapper .brand-bg {
        max-height: 100px;
    }
    .page-id-6101 section.hero-wrapper.no-banner+.top-header-large {
        margin-top: 0px;
    }
    section.hero-wrapper.no-banner .brand-bg {
        background-size: auto 332px;
        overflow: hidden;
    }
    .topic-block .block-image img {
        object-fit: cover;
    }
    .topic-block .block-image {
        overflow: hidden;
        width: 180px;
    }
    .single-layout .content-wrap .content-summary h3 {
        margin-top: 15px;
    }
    .top-header-large h1 {
        font-size: 32px;
    }
    header {
        overflow-y: hidden;
    }
    .landing-blocks {
        overflow: hidden;
    }
    section .content-wrap {
        display: block;
    }
    .article-detail .content-summary p img {
        width: 100%;
    }
    .calculator .title h2 {
        margin-top: 30px;
    }
    .advice .container .advice-wrap .advice-head .title h2 {
        padding-top: 34px;
    }
    .mobile-menu-popup .menu-inner {
        padding: 100px 15px;
        text-align: center
    }
    .mobile-menu-popup .menu-inner .menu-nav {
        list-style: none;
        margin: 0;
        padding: 0
    }
    .mobile-menu-popup .menu-inner .menu-nav li a {
        color: #17479e
    }
    .mobile-menu-popup .menu-inner .menu-nav.menu-sml {
        font-family: GothamHTFBold, Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 40px;
        margin-top: 40px
    }
    .mobile-menu-popup .menu-inner .menu-nav.menu-lg {
        font-size: 32px;
        line-height: 60px
    }
    .curve-svg {
        height: 15px;
        bottom: -14px;
    }
    .topic-block {
        margin: 0;
        margin-bottom: 30px;
    }
    .page-template-template-login-php section.sign-up {
        margin-top: -90px;
    }
    footer .menu-group-wrap .menu-group+.menu-group {
        margin-top: 0px;
    }
    .allergy {
        padding-top: 94px
    }
    .allergy-test:after,
    .allergy-test:before {
        top: 94px;
        background-size: 50%
    }
    .allergy-test .page-highlight p {
        font-size: 18px
    }
    .allergy-test .test-result .result-block .result .result-bar:after,
    .allergy-test .test-result .result-block .result .result-bar:before {
        font-size: 14px
    }
    .allergy-test .widget-knowledge .content figure {
        width: 100%;
        height: 0;
        padding-bottom: 50%;
        display: block
    }
    .page-id-9661 section{
      overflow-x: visible !important;
    }
    .page-id-8781 section{
      overflow-x: visible !important;
    }
    .single-layout .content-wrap .content-summary .summary-item .group-title {
      margin-bottom: 85px;
    }
    .page-id-6101 .single-layout .content-wrap .content-summary .summary-item .group-title {
      margin-bottom: 10px;
    }
    .wrap-skill-btn {
        width: 100%;
        display: block;
    }
    .wrap-skill-btn .btn-primary{
      margin-top: 10px;
    }
    .skill-list{
      padding-right: 30px;
    }
    .skill-list span label{
      top: 0;
    }
    section.landing-details.contact-page.assessment-test .container{
        padding: 0 15px;
    }
    .page-id-7806 .single-layout .content-wrap .content-summary h3 {
       margin-top: -56px;
    }
    .page-id-7851 section.hero-wrapper.no-banner + .top-header-large {
        margin-top: 50px;
    }
    .page-id-6124 .page-highlight .ctaWrap{
		display: grid;
    }
    .page-id-6124 .page-highlight .ctaWrap a + a{
		margin-top: 10px;
    }
    .page-id-6124 .landing-details .wrap-update-box .ctaWrap a + a{
        margin-top: 10px;
    }
    .page-template-template-login-php .form-wrapper.mini-section{
        margin-top: -110px;
    }
    .page-id-6105 .single-layout .content-wrap .content-summary .summary-item .group-title{
        margin-bottom: 28px;
    }
    .page-id-650 .top-header-large .title , .page-id-11084 .top-header-large .title{
        margin-top: 0 !important;
    }
    .trimester-slider-wrap {
        padding-left: 0;
        padding-right: 0
    }
    /*Video library*/
    .jsMobVideoLibrary.video-library {
        padding-top: 20px
    }
    .jsMobVideoLibrary.video-library .playing-video .desc {
        font-size: 14px
    }
    .jsMobVideoLibrary.video-library .video-list {
        padding-right: 10px;
        margin: 15px 9px 0
    }
    .jsMobVideoLibrary.video-library .video-list .video-item {
        padding-bottom: 5px;
        margin-bottom: 5px;
        padding-right: 15px;
        border-bottom: none;
        width: 120px;
        float: left;
        height: 150px;
    }
    .jsMobVideoLibrary.video-library .video-list .video-thumb {
        width: 100%;
        margin-right: 4%;
        float: none
    }
    .jsMobVideoLibrary.video-library .video-list .video-infos {
        float: none;
        width: 100%
    }
    .jsMobVideoLibrary.video-library .video-list .video-infos .title {
        font-size: 13px;
        padding-bottom: 5px
    }
    .jsMobVideoLibrary.video-library .video-list .jspPane {
        direction: ltr
    }

    /*Video library*/
}

@media(max-width:768px) {
    .video-library .video-list .jspPane{
       width: auto !important;
    }
    .article-detail .age-selector label, .landing-blocks.new-articles .age-selector label{
        margin: auto;
    }
    .article-detail .age-selector, .landing-blocks.new-articles .age-selector{
        text-align: center;
        padding: 15px;
    }
    .video-wrap a.slick-arrow {
        top: 165px;
    }
    .video-wrap .slide {
        text-align: center;
    }
    .video-wrap .slick-arrow.slick-next {
        right: -15px;
    }
    .video-wrap .slick-arrow.slick-prev {
        left: -5px;
        z-index: 999;
    }
    .game-wrap-description iframe {
      margin: 0px;
      padding: 0px;
      border: 0px;
      width: 100%;
      height: 650px;
    }
    iframe{
      width: auto;
      height: auto;
    }
    section.hero-wrapper.no-banner {
      background-color: #c4e4f9;
    }
    .live-chat {
        top: 260px;
        margin: 0px;
        right: -6px;
        transform: scale(0.75);
    }
    .btn:active,
    .btn.active {
        box-shadow: none;
    }
    section.tab-wrapper.single {
        margin: 0px -15px;
    }
    .single section>.container {
        padding-top: 30px;
    }
    section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li+li {
        margin: 0px;
    }
    section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li a {
        width: auto;
    }
    section.tab-wrapper.single .tab-swicher .tab-items .tab-items-sub li a .icon-wrap+span {
        font-size: 12px;
        width: 100%;
    }
    section.tab-wrapper.single .tab-swicher .tab-items .tab-btn>a .icon-wrap,
    section.tab-wrapper.single .tab-swicher .tab-items .tab-btn>a span {
        font-size: 12px;
    }
    section.article-detail+.calculator {
        padding-top: 30px;
        margin-bottom: 30px;
    }
    .single-layout .content-wrap .img-holder img {
        margin: auto;
        display: block;
    }
    .pregnancy section.hero-wrapper.hero-inner+section.tab-wrapper,
    .baby section.hero-wrapper.hero-inner+section.tab-wrapper,
    .toddler section.hero-wrapper.hero-inner+section.tab-wrapper,
    .single-baby-phase section.hero-wrapper.hero-inner+section.tab-wrapper,
    .single-pregnancy-phase section.hero-wrapper.hero-inner+section.tab-wrapper,
    .single-toddler-phase section.hero-wrapper.hero-inner+section.tab-wrapper {
        margin-top: 0;
        display: none;
    }
    .col-sm-offset-3 {
        margin-left: 25%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12 {
        float: left;
    }
    .single-toddler-phase .article-detail.single-layout .container {
        max-width: 750px;
    }
    .product-tab .tab-content .brands-image a {
        min-width: 160px;
    }
    section.join-club .join-club-wrap .content-wrap .content-inner p {
        padding: 0 66px;
    }
    section.join-club .join-club-wrap .content-wrap {
        width: 100%;   
    }
    section.join-club .join-club-wrap .img-holder{
        width: 100%;
    }
    section.join-club .join-club-wrap .content-wrap .content-inner {
        margin-top: -8px;
    }
    .join-club-wrap .content-wrap .btn-wrap {
        margin-top: 0px;
        margin-bottom: -0px;
    }
    .article-featured .container {
        padding-bottom: 0px;
    }
    .article-featured {
        margin-bottom: 18px;
    }
    .advice {
        margin-top: -20px;
    }
    section.dropdown-options-wrap {
        overflow: hidden;
    }
    #pregnancy-weeksstages .slick-arrow.slick-prev {
        left: -5px;
        z-index: 999;
    }
    #pregnancy-weeksstages .slick-arrow.slick-next {
        right: -15px;
    }
    #baby-weeksmonths .slick-arrow.slick-prev {
        left: -5px;
        z-index: 999;
    }
    #baby-weeksmonths .slick-arrow.slick-next {
        right: -15px;
    }
    
    .topics-slider-wrap .slider .slide-item a {
        padding-bottom: 36px;
    }
    section.dropdown-options-wrap .backgrond-shape-img img {
        width: auto;
        height: 278px;
        margin-left: -540px;
    }
    .page-expert-adjust.our-experts .wrap-content .content-details .advisor {
        width: 100%;
    }
    .page-expert-adjust.landing-details .list-phone ul {
        display: flex;
        flex-direction: column;
    }
    .page-expert-adjust.landing-details .list-phone ul li+li:before {
        content: none;
    }
    .page-expert-adjust.page-highlight .h2-style {
        font-size: 30px !important;
    }
    .page-expert-adjust.our-experts .wrap-content .content-details .details {
        margin-bottom: 0;
    }
    .page-expert-adjust .container {
        padding-bottom: 0;
        padding-top: 0;
    }
    .page-expert-adjust.page-highlight h3 {
        font-size: 23px;
    }
    .tab-swicher .tab-items .tab-btn.active .tab-items-sub {
        display: none;
    }
    .card-item {
        display: block;
        width: 100%;
    }
    .btn-wrapper a{
      width: 100%;
    }
    .card img{
        width: 100%;
    }
    section.hero-wrapper.no-banner+.top-header-large.pull-to-top {
        margin-top: 0;
    }
    .registration-step {
        width: 100%;
    }
    .registration-step ul{
        display: flex;
        flex-flow: column;
        padding: 0 30px;
    }
    .registration-step ul li{
        padding: 0;
        width: auto;
        max-width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        text-align: center;
    }
    .registration-step ul li:after{
        display: none;
    }
    .registration-step ul li:first-child{
        border-radius: 40px;
    }
    .registration-step ul li:nth-child(2){
        border-radius: 40px;
    }
    .registration-step ul li:last-child{
        border-radius: 40px;
    }
    .registration-step ul li.completed span:before{
        right: 15px;
        top: 20px;
        width: 20px;
        height: 15px;
    }
    .registration-step ul li span {
        margin-left: 0;
    }
    .youtube_video .col-sm-6{
        width: 100%;
        padding: 0 15px;
    }
    .content-banner-wrap .banner-block:nth-child(1){
        width: 100%;
    }
    .content-banner-wrap .banner-block:nth-child(2){
        width: 100%;
    }
    .content-banner-wrap .banner-block + .banner-block{margin-top: 0;}
    .mCSB_scrollTools .mCSB_draggerContainer{
        top: -6px;
    }
    .trimester-slider-wrap .slick-arrow.slick-next {
        right: -15px;
    }
    .trimester-slider-wrap .slick-arrow.slick-prev {
        left: -5px;
        z-index: 999;
    }
    section.trimester-options-wrap .backgrond-shape-img img {
        width: auto;
        height: 278px;
        margin-left: -540px;
    }
}

@media only screen and (max-width:767px) {
    .allergy-test:after,
    .allergy-test:before {
        background-size: 50%;
        top: 70px
    }
    .allergy {
        padding-top: 70px
    }
    .allergy-test .expert-widget,
    .allergy-test .landing-blocks,
    .allergy-test .page-highlight,
    .allergy-test .test-result,
    .allergy-test .widget-knowledge {
        width: 90%;
        margin: 0 auto
    }
    .allergy-test .container,
    .allergy-test .home-widget.expert-advice .content p {
        width: 100%
    }
    .allergy-test .test-result .result-block {
        border: 10px solid #17479e;
        padding: 30px 3%
    }
    .allergy-test .test-result .result-block p {
        font-size: 16px
    }
    .allergy-test .test-result .result-block .result {
        padding: 0 2.5%
    }
    .allergy-test .test-result .result-block .result .question {
        padding: 25px 6% 13px
    }
    .allergy-test .test-result .result-block .result .utilities {
        position: static;
        margin-top: 15px
    }
    .allergy-test .home-widget.expert-advice .content {
        padding-bottom: 200px;
        height: auto;
        background-position: center bottom;
        background-size: 65%
    }
}

@media only screen and (min-width: 680px) {
    .excerpt-container .small-content {
        display: block!important;
    }
    .allergy-test:after,
    .allergy-test:before {
        background-size: 30%
    }
    .allergy-test .page-highlight {
        width: 75%
    }
    .allergy-test .page-highlight p {
        font-size: 16px
    }
    .allergy-test .home-widget.expert-advice .content {
        background-size: 85%
    }
    .allergy-test .widget-knowledge .content .details {
        padding: 20px
    }
    .allergy-test .widget-knowledge .content .details .cta {
        width: 100%;
        font-size: 16px;
        margin-left: 0
    }
}

@media only screen and (max-width:580px) {
    .allergy-test-tool {
        width: 90%;
        max-width: 310px;
        height: auto;
        margin-top: 10px;
        background: 0 0
    }
    .allergy-test-tool .question {
        max-width: none;
        position: static;
        padding-bottom: 100px;
        margin-bottom: 100px;
        border-bottom: dashed 3px rgba(255, 255, 255, .2)
    }
    .allergy-test-tool .question:nth-last-of-type(1) {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 50px
    }
    .allergy-test-tool .question .questNoCol,
    .allergy-test-tool .question h3 {
        display: block;
        text-align: center;
        padding-left: 0;
        margin-bottom: 10px
    }
    .allergy-test-tool .question header {
        margin-bottom: 20px
    }
    .allergy-test-tool .question .selAnswer {
        margin-left: 0
    }
    .allergy-test-tool .question .selAnswer label+label {
        margin-left: 50px
    }
    .allergy-test-tool .toolSubmit {
        position: static
    }
    .allergy-test .page-highlight {
        width: 80%
    }
    .allergy-test .page-highlight p {
        font-size: 14px
    }
    .allergy-test .test-result .result-block .result h3 {
        font-size: 38px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto
    }
    .allergy-test .home-widget.expert-advice .content {
        padding-bottom: 180px;
        background-size: 95%
    }
    .allergy-test .widget-knowledge .content figure {
        padding-bottom: 70%;
        background-size: 150%
    }
}
@media(max-width:400px) {
    .baby-growth-result .result .wg-per .age .num-months{
        font-size: 21px !important;
    }
    .baby-growth-result p span#weighs{
        font-size: 18px !important;
    }
    .baby-growth-result .result .wg-per{
        height: auto !important;
    }
    .ui-widget.ui-widget-content{
        left: 0 !important;
    }
}
@media(max-width:500px){
    .registration-form #registerform{
        margin-top: 85px;
    }
}




/* bootstrap copy from lumi */

@-ms-viewport {
    width: device-width;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none!important;
}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {
    display: none!important;
}
@media (max-width:767px) {
    .visible-xs {
    display: block!important;
}
table.visible-xs {
    display: table;
}
tr.visible-xs {
    display: table-row!important;
}
th.visible-xs, td.visible-xs {
    display: table-cell!important;
}
}@media (max-width:767px) {
    .visible-xs-block {
    display: block!important;
}
}@media (max-width:767px) {
    .visible-xs-inline {
    display: inline!important;
}
}@media (max-width:767px) {
    .visible-xs-inline-block {
    display: inline-block!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .visible-sm {
    display: block!important;
}
table.visible-sm {
    display: table;
}
tr.visible-sm {
    display: table-row!important;
}
th.visible-sm, td.visible-sm {
    display: table-cell!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .visible-sm-block {
    display: block!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline {
    display: inline!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .visible-sm-inline-block {
    display: inline-block!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .visible-md {
    display: block!important;
}
table.visible-md {
    display: table;
}
tr.visible-md {
    display: table-row!important;
}
th.visible-md, td.visible-md {
    display: table-cell!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .visible-md-block {
    display: block!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline {
    display: inline!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .visible-md-inline-block {
    display: inline-block!important;
}
}@media (min-width:1200px) {
    .visible-lg {
    display: block!important;
}
table.visible-lg {
    display: table;
}
tr.visible-lg {
    display: table-row!important;
}
th.visible-lg, td.visible-lg {
    display: table-cell!important;
}
}@media (min-width:1200px) {
    .visible-lg-block {
    display: block!important;
}
}@media (min-width:1200px) {
    .visible-lg-inline {
    display: inline!important;
}
}@media (min-width:1200px) {
    .visible-lg-inline-block {
    display: inline-block!important;
}
}@media (max-width:767px) {
    .hidden-xs {
    display: none!important;
}
}@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
    display: none!important;
}
}@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
    display: none!important;
}
}@media (min-width:1200px) {
        .hidden-lg {
        display: none!important;
    }
}
.modal-open {
    overflow: hidden
}
.modal-backdrop {
    height: 100%;
    position: fixed;
    z-index: 9998
}

.modal {
    width: 50%;
    height: 60%;
    margin: auto;
    z-index: 9999
}
.fade.in {
    opacity:1
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0
}

.modal.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%)
}

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #000
}

.modal-backdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5
}

.modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
    margin-top: -2px
}

.modal-title {
    margin: 0;
    line-height: 1.42857143
}

.modal-body {
    position: relative;
    padding: 15px
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0
}

.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5
}

button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0
}

.page-expert-adjust.landing-details .ctaWrap a{
margin: 5px;
}
@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
    }
    .modal-sm {
        width: 300px
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px
    }
}



/* bootstrap copy from lumi */


@media (max-width:1023px) {
    .tipSlideWrap {
        height: auto
    }
    
    .tipSlideWrapBg {
        position: static;
        background-position: left top;
        padding-top: 50%;
        height: auto
    }
    
    .tipslider-container {
        float: none;
        width: 100%
    }
}

.weaning-meal-planner .single-layout .content-wrap{
    max-width: 630px;
    margin: 0 auto;
}
.history-image img {
    /* width: 400px; */
    margin: auto;
    padding: 50px 0 100px;
    width: 100%;
    height: auto;
}

section.join-club .join-club-wrap {
    max-width: 700px;
}

section.join-club .join-club-wrap .img-holder img {
    width: auto;
    height: 100%;
}

@media (max-width:991px) and (min-width:768px){
    .card .card-img{
    max-height: 394px;
    }
}
@media(max-width:736px){
    .meal-table a.slick-arrow.slick-prev {
        left: 20px;
        right: auto;
        top: 22px;
        display: block!important;
        bottom: 12px;
        background: url(../img/prev.png) 50% 50% no-repeat #1face0;
        background-size: 40%;
        z-index: 999;
    }
    .meal-table a.slick-arrow.slick-next {
        right: 20px;
        left: auto;
        top: 22px;
        display: block!important;
        bottom: 12px;
        background: url(../img/next.png) 50% 50% no-repeat #1face0;
        background-size: 40%;
        z-index: 999;
    }
    .btn-meal-plan{
		margin-bottom: 10px;
	}
    .meal-plans-template-default .weekly-plan-head,.meal-plans-template-default .weekly-plan-head,.recipes .weekly-plan-head,.meal-plans-template-default .weekly-plan-head{
        flex-flow: column;
        display: flex;
        justify-content: space-between;
        padding-left: 0!important;
    }
    .weekly-plan-head .teady-bear{
        display: none;
    }
    .weekly-plan-head .mPlan-logo{
        width: 145px;
        height: auto;
        margin: 0 auto;
    }
    .weekly-plan-head h2{
        padding: 0;
        text-align: center;
        font-size: 1.5em;
    }
    .landing-blocks.new-articles .meal-table{
        margin-top: 20px;
    }
    .landing-blocks.new-articles .age-selector.full-width{
        margin-bottom: 0;
    }
    .age-selector.full-width{
        height: 88px;
    }
    #myForm{
        padding: 5px;
        display: flex;
        justify-content: center;
        width: 96%;
        margin: auto;
        background-color: #fff;
    }
    .landing-blocks.new-articles{
        padding-top: 0;
    }
    section.hero-wrapper.hero-inner .banner-mobile h2{
        margin-bottom: 0;
    }
    .landing-blocks>.container{
        padding-top: 0;
    }
    .age-selector.full-width{
        margin-top: 0;
    }
    .meal-plans-template-default .btn-meal-plan,.recipes .btn-meal-plan{
    margin: 15px auto!important;
    text-align: center;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
}
.meal-plans-template-default .slick-arrow.slick-prev,.meal-plans-template-default .slick-arrow.slick-next,.recipes .slick-arrow.slick-prev,.recipes .slick-arrow.slick-next{
    display: none!important;
}
.meal-plans-template-default .btn-meal-plan,.recipes .btn-meal-plan{
    margin-right: 20px;
}

.landing-blocks.new-articles .btn-meal-plan i{
    margin-right: 5px;
}

/* .live-iframe {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 35%;
    height: 400px;
    position: absolute;
    right: 30px;
    bottom: 98px;
    z-index: 9999999;
    position: fixed;
    display: none;
}
.show-live-chat{
  display: block;
}
.live-close-btn{
  margin: 0px;
  padding: 0px;
  height: 400px;
  position: absolute;
  right: 30px;
  bottom: 98px;
  z-index: 9999999;
  position: fixed;
  display: none;
}  */
/* .lc-6094zm {
  background-color: #009fe3; 
}