@media print{
	header, footer,
	section.hero-wrapper, .social-share, .join-club, .calculator.arc-shape.arc-secondary, .advice, .tab-wrapper, .sticky-header.navigation.active, .mobile-menu-popup, .tab-wrapper.single, .article-share-wrap, .live-chat{
		display:none !important;
	}
	.calculator.arc-shape.arc-secondary.pre-schooler-growth-tool {
		display: block !important;
		page-break-before: always;
	}
	.calculator.arc-shape.arc-secondary.pre-schooler-growth-tool .calculator-tools.baby-growth{
		display: none !important;
	}
	section.tab-wrapper{
		margin:0 !important;
	}
	.container, .container-fluid, .content-wrap{
		width:100% !important;
		max-width: 100% !important;
	}

}

@media only print and (max-width: 991px){
	section.tab-wrapper.single {
	    display: none !important;
	}
}