a:3:{s:4:"time";s:10:"1564573065";s:5:"value";s:8742:"<wsdl:definitions targetNamespace="http://schemas.microsoft.com/xrm/2011/Contracts/Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://schemas.microsoft.com/xrm/2011/Contracts/Services" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"><wsp:Policy wsu:Id="CustomBinding_IDiscoveryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        
        <ms-xrm:FailoverPolicy xmlns:ms-xrm="http://schemas.microsoft.com/xrm/2012/Contracts/Services">
          <ms-xrm:FailoverAvailable>false</ms-xrm:FailoverAvailable>
          <ms-xrm:EndpointEnabled>true</ms-xrm:EndpointEnabled>
        </ms-xrm:FailoverPolicy>
        <ms-xrm:AuthenticationPolicy xmlns:ms-xrm="http://schemas.microsoft.com/xrm/2011/Contracts/Services">
          <ms-xrm:Authentication>LiveId</ms-xrm:Authentication>
          <ms-xrm:SecureTokenService>
            <ms-xrm:Identifier>urn:federation:MicrosoftOnline</ms-xrm:Identifier>
            <ms-xrm:LiveTrust>
              <ms-xrm:AppliesTo>urn:crmemea:dynamics.com</ms-xrm:AppliesTo>
              <ms-xrm:TrustVersion>WSTrustFeb2005</ms-xrm:TrustVersion>
              <ms-xrm:SecurityMode>TransportWithMessageCredential</ms-xrm:SecurityMode>
              <ms-xrm:LivePolicy>MBI_FED_SSL</ms-xrm:LivePolicy>
              <ms-xrm:LiveIdAppliesTo>http://Passport.NET/tb</ms-xrm:LiveIdAppliesTo>
            </ms-xrm:LiveTrust>
          </ms-xrm:SecureTokenService>
        </ms-xrm:AuthenticationPolicy>
        <ms-xrm:FailoverPolicy xmlns:ms-xrm="http://schemas.microsoft.com/xrm/2012/Contracts/Services">
          <ms-xrm:FailoverAvailable>false</ms-xrm:FailoverAvailable>
          <ms-xrm:EndpointEnabled>true</ms-xrm:EndpointEnabled>
        </ms-xrm:FailoverPolicy>
        <ms-xrm:AuthenticationPolicy xmlns:ms-xrm="http://schemas.microsoft.com/xrm/2012/Contracts/Services">
          <ms-xrm:Authentication>OnlineFederation</ms-xrm:Authentication>
          <ms-xrm:SecureTokenService>
            <ms-xrm:Identifier>https://dynamicscrmemea.accesscontrol.windows.net/</ms-xrm:Identifier>
            <ms-xrm:OrgTrust>
              <ms-xrm:AppliesTo>urn:crmemea:dynamics.com</ms-xrm:AppliesTo>
              <ms-xrm:TrustVersion>WSTrustFeb2005</ms-xrm:TrustVersion>
              <ms-xrm:SecurityMode>TransportWithMessageCredential</ms-xrm:SecurityMode>
              <ms-xrm:LivePolicy>MBI_FED_SSL</ms-xrm:LivePolicy>
              <ms-xrm:LiveIdAppliesTo>http://Passport.NET/tb</ms-xrm:LiveIdAppliesTo>
              <ms-xrm:LiveEndpoint>https://login.microsoftonline.com/RST2.srf</ms-xrm:LiveEndpoint>
              <ms-xrm:Identifier>urn:federation:MicrosoftOnline</ms-xrm:Identifier>
            </ms-xrm:OrgTrust>
          </ms-xrm:SecureTokenService>
        </ms-xrm:AuthenticationPolicy>
        <ms-xrm:FailoverPolicy xmlns:ms-xrm="http://schemas.microsoft.com/xrm/2012/Contracts/Services">
          <ms-xrm:FailoverAvailable>false</ms-xrm:FailoverAvailable>
          <ms-xrm:EndpointEnabled>true</ms-xrm:EndpointEnabled>
        </ms-xrm:FailoverPolicy>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDes/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp/>
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <Issuer xmlns="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                <Address xmlns="http://www.w3.org/2005/08/addressing">https://login.microsoftonline.com/RST2.srf</Address>
                
                <Metadata xmlns="http://www.w3.org/2005/08/addressing">
                  <Metadata xmlns="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                    <wsx:MetadataSection xmlns="">
                      <wsx:MetadataReference>
                        <Address xmlns="http://www.w3.org/2005/08/addressing">https://dynamicscrmemea.accesscontrol.windows.net/v2/wstrust/mex</Address>
                      </wsx:MetadataReference>
                    </wsx:MetadataSection>
                  </Metadata>
                </Metadata>
              </Issuer>
              <sp:RequestSecurityTokenTemplate>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/SymmetricKey</trust:KeyType>
                <trust:KeySize xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">192</trust:KeySize>
                <trust:Claims Dialect="http://schemas.xmlsoap.org/ws/2005/05/identity" xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">
                  <wsid:ClaimType Uri="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier" xmlns:wsid="http://schemas.xmlsoap.org/ws/2005/05/identity"/>
                </trust:Claims>
                <trust:KeyWrapAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p</trust:KeyWrapAlgorithm>
                <trust:EncryptWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#tripledes-cbc</trust:EncryptWith>
                <trust:SignWith xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2000/09/xmldsig#hmac-sha1</trust:SignWith>
                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#tripledes-cbc</trust:EncryptionAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference/>
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy/>
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens/>
            <sp:RequireClientEntropy/>
            <sp:RequireServerEntropy/>
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy><wsdl:import namespace="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery" location="https://disco.crm4.dynamics.com/XRMServices/2011/Discovery.svc?wsdl=wsdl0"/><wsdl:types/><wsdl:binding name="CustomBinding_IDiscoveryService" type="i0:IDiscoveryService"><wsp:PolicyReference URI="#CustomBinding_IDiscoveryService_policy"/><soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="Execute"><soap12:operation soapAction="http://schemas.microsoft.com/xrm/2011/Contracts/Discovery/IDiscoveryService/Execute" style="document"/><wsdl:input><soap12:body use="literal"/></wsdl:input><wsdl:output><soap12:body use="literal"/></wsdl:output><wsdl:fault name="DiscoveryServiceFaultFault"><soap12:fault use="literal" name="DiscoveryServiceFaultFault" namespace=""/></wsdl:fault></wsdl:operation></wsdl:binding></wsdl:definitions>";s:5:"endin";i:2592000;}