a.btn:active{
  box-shadow: none;
}
html[lang=ar] .sticky-header .navigation .menu li#flags_language_selector {
    display: block !important;
}
/*for lebanon*/
.sticky-header .navigation .menu li.active a, header .navigation .menu li.active a {
    background-color: unset;
}
.postid-7656 section.top-gradient-bg{
	z-index: 9;
}
/*for lebanon*/
  .img-slider {
    margin: auto;
  }
  .product-tab .product-desc {
    padding-bottom: 0px;
  }
  .content-summary .youtube-video-wrap{
    text-align: center;
  }
  .popular-topics .container{
    padding-bottom: 20px;
  }
  .product-item-wrap .btn-wrap{
    margin-top: 0px;
  }
  .title {
    display: block;
  }
  .topic-block .block-image{
    overflow: hidden;
  }
  .topic-block .block-image img{
    height: auto;
    display: block;
  }
  #pregnancy-2 .weeks-slider-wrap .slider .slide-item a.special, #baby-2 .weeks-slider-wrap .slider .slide-item a.special {
      height: 100px;
      width: 100px;
  }
  #calendar-prev{
    left: 10px;
  }
  section.hero-wrapper .banner.auto-height{
    min-height: 720px;
  }

  section.hero-wrapper .banner.auto-height .banner-slide .container{
    position: relative;
  }

  section.hero-wrapper .banner.auto-height .banner-slide .caption{
    top: 50%;
    margin-top: 100px;
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
  }

  section.hero-wrapper .banner.auto-height .slide-wrap{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
  }

  section.hero-wrapper .banner.auto-height .background{
    position: relative;
    width: 100%;
    top: 0px;
  }

  section.hero-wrapper .banner.auto-height .background img{
    width: 100%;
  }
  .item-justify{
    justify-content: center;   
  }

  @font-face {
    font-display: swap !important;
  }

  .tipSlideWrap {
      height: auto;
  }
  .tipSlideWrapBg {
      background-image: url(../img/feed-slider-bg.jpg);
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
      position: static;
      left: 0;
      top: 0;
      padding-top: 50%;
      height: auto;
      width: 100%;
  }
  .tipslider-container {
      width: 100%;
      background-color: #243b6d;
      float: none;
      padding: 48px 70px;
      z-index: 10;
  }
  .healthy-eating-tips .single-layout .content-wrap {
      max-width: 630px;
      margin: 0 auto;
  }
  .single-layout .content-wrap .content-summary .content-child p{
    margin-top: 15px;
  }
  .show-live-chat{
    display: block !important;
  }
  .hide-live-chat{
    display: none !important;
  }
  .live-iframe{
    width: 400px;
    position: fixed;
    z-index: 9999999;
    right: 32px;
    top: 48.5%;
    display: none;
  }
  .close-adjust{
    position: fixed;
    right: 86px;
    top: 49%;
    color: #fff;
    display: none;
    z-index: 99999999;
    margin-top: 10px;
    cursor: pointer;
  }
  .jspTrack {
    background-color: #009fe3;
  }
  .jspTrack .jspDrag {
    background-color: #17479e;
  }
  .video-library .video-list .video-item {
    border-radius: 5px;
    background: rgba(196,228,249,.5);
    padding: 15px 15px 0px 15px;
    margin-right: 15px;
    
  }
  .scrollpane.jspScrollable:focus{
  outline: none;
  }
  .video-list .scrollpane{
  max-height: 180px !important;
  }
  .page-expert-adjust.our-experts .wrap-content .content-details .advisor{
    width: 30%;
  }
   /*Start edited 28/6/2019*/
   .article-detail + iframe  +  section.article-share-wrap .container{
      padding-top: 20px;   
    }
   .allergy-tool-results .title.center {
      text-align: center;
      max-width: 70%;
      margin: auto;
      display: block;
  }
  .ui-widget.ui-widget-content {
    left: 0 !important;
      right: 0;
      margin-left: auto;
      margin-right: auto;
  }

  .allergy-test .test-result .result-block .result .question ul {
      counter-reset: result-questions;
      list-style: none;
      margin: 0;
      padding: 0;
  }
  section.hero-wrapper .banner-mobile .caption{ 
    margin: 10px 0;  
  }
  section.calculator {
       margin-top: 0px; 
  }
  .content-wrap .wrap-sitemap h3, .content-wrap .wrap-sitemap ul li {
      color: #17479e;
      font-size: 16px;
      padding: 0 0 5px 20px;
      font-weight: 400;
      line-height: 1.4;
      list-style: none;
      position: relative;
      margin-bottom: 0px;
  }
  .content-wrap .wrap-sitemap h3 a,  .content-wrap .wrap-sitemap ul li a{
    color: #17479e;
  }
  .content-wrap .wrap-sitemap ul{
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom:20px;
  }
  .page-list-ext .page-list-ext-item {
      clear: both;
      margin: auto;
  }
  footer .footer-copyright {
      font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
  }
  .sitemap section>.container {
      padding-top: 0;
      padding-bottom: 0;
  }
  .sitemap section.hero-wrapper.hero-inner .banner-mobile h2{
    margin-bottom: 0;
  }
  .wrap-sitemap h2{
    font-size:1.3rem;
  }
  .product-content-with-title ul {
    color: #212529;
  }
  .contact-us .formSubmit{
    margin-top: 20px;
  }
  .contact-us .otherContacts {
      text-align: center;
      padding: 10px;
  }
  .contact-us .list-phone {
      margin-bottom: 25px;
  }
  .contact-us .list-phone ul {
      list-style-type: none;
      display: inline;
      padding: 0;
      line-height: 25px;
  }
  .contact-us .list-phone ul li {
      display: inline-block;
      position: relative;
      unicode-bidi: embed;
      color: black;
      font-size: 18px;
      padding: 5px;
  }
  .contact-us .list-phone ul li span {
      font-size: 14px;
      color: #56b9e7;
  }
  .contact-us .list-phone ul li+li:before {
      content: ' | ';
      display: inline-block;
      margin: 0 15px;
      vertical-align: middle;
      color: #a5a5a5;
  }
  .contact-us .list-phone .icon-whatsapp {
      color: #13ab6f;
      vertical-align: middle;
      font-size: 24px;
      margin-left: 15px;
  }
  .contact-us .ctaWrap a {
      margin: 5px;
  }
  .contact-us .list-social {
    margin-bottom: 0;
    line-height: 27px;
      text-align: center;
    color: #3c3c3c;
    margin: 35px 0 20px;
  }
  .contact-us .list-social ul {
      list-style-type: none;
      display: inline-block;
      padding: 0;
      position: relative;
      padding-top: 10px;
  }
  .contact-us .list-social ul li {
      display: inline-block;
      padding: 0 6px;
  }
  .contact-us .list-social .icon {
      font-size: 22px;
  }
  .contact-us footer{
    margin-top: 0px;
  }
  .contact-us .contactFormIntro{
    margin-top: 25px;
  }
  .single-layout h2{
    font-size: 24px;
      line-height: 30px;
      color: #17479e;
      margin-bottom: 15px!important;
  }
  .search-items {
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .single-layout .content-wrap .wrap-sitemap{
    padding-top:30px;
  }
  .single-layout .content-wrap .content-summary h3{
    margin-top: 0;
  }
  .title h4 {
    text-transform: capitalize;
  }
/*  .home section.arc-shape.arc-secondary{
    margin-top: -62px;
  }*/
  .home section.arc-shape.arc-secondary{
    margin-top: -62px;
    position: relative;
  }
  .home section.arc-shape.arc-secondary:after{
	  position: absolute;
	  content: "";
	  background-color: #c4e4f9;
	  width: 100%;
	  height: 5px;
	  top: 123px;
  }
  section.arc-shape.arc-secondary{
    position: relative;
  }
  section.arc-shape.arc-secondary:after{
  position: absolute;
  content: "";
  background-color: #c4e4f9;
  width: 100%;
  height: 2px;
  top: 123px;
  }
  .topic-block .btn {
    display: flex;
    padding: 0;
    font-size: 14px;
  }
  .topic-block .btn i{
    height: 20px;
    width: 10px;
    line-height: 20px;
    margin-right: 10px;
  }
  .tipSlideHead h3 {
      color: #fff;
  }
  .content-summary .slide-item{
    padding-bottom: 15px;
  }
  section.calculator .note{
    display: block;
  }

  section.calculator .container{
    padding-bottom: 50px;
  }

  section.article-share-wrap .container{
    padding-top: 60px;
  }

  section.article-detail.single-layout + section.article-share-wrap .container{
    padding-top: 0px;
  }

  .calender-wrap .header-wrap a{
    text-decoration: none;
  }
  .sticky-header .logo{
    z-index: 99999;
  }
  .content-summary .yt-wrap{
    margin-bottom: 10px;
  }
  .page-expert-adjust.landing-details .list-social{
    margin-bottom: 0;
  }
  .careline footer{
    margin-top: 0;
  }
  .calender-wrap .calender-header h2{
    font-size: 16px;
  }
  .content-summary .slick-arrow.slick-prev{
    top: 44%;
  }
  .content-summary .slick-arrow.slick-next{
    top:44%;
  }
  .content-summary .slide-item img{
    width: 100%;
    padding: 10px;
  }
  section.hero-wrapper.no-banner+section.tab-wrapper {
    z-index: 999;
  }
  .content-summary blockquote p{
    font-size: 40px;
    line-height: 56px;
    color: #009fe3 !important;
    text-align: center;
  }
  .content-summary blockquote{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content-wrap .content-summary .highlightBox {
    margin-bottom: 20px !important;
  }
  .birth-plan-rht-col{
    text-align: center;
  }
  .birth-plan-rht-col figure img{
    max-width: 50%;
    width: 100%;
    height: auto;
  }

  .sticky-header .navigation .menu li .search-box .form-control, header .navigation .menu li .search-box .form-control{
    background-color: #f5f5f5;
    border: 1px solid #ced4da;
  }

  section.hero-wrapper .banner-mobile .banner-slide{
    /*padding-top: 60px;*/
  }
  section.arc-shape .arc-top{
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .sticky-header+section.hero-wrapper .banner-mobile{
    background-image: linear-gradient(#c4e4f9, #ffffff);
  }
  section.hero-wrapper .banner-mobile .banner-slide{
    padding-top: 80px;
  }
  .sticky-header .container-fluid .logo .brand{
    text-align: center;
  }

  body.terms-conditions .home-tab-switcher {
      display: block;
  }
  .experienced .form-wrap p{
    text-align: center;
  }
  .article-featured {
    background-color: inherit;
  }
  .post-10888  .content-summary,  .post-10894  .content-summary{
    display: none;
  }
  .history-image img {
    padding: 0;
  }
  .topics-slider-wrap .slider .slide-item a{
    padding: 8px 25px;
  }
  .page-expert-adjust.landing-details .list-phone ul li:last-child a:hover{
    color: #56b9e7;
  }
  button.ui-datepicker-current { display: none; }
  .page-id-6126 .ctaWrap.text-center .btn.btn-primary{
    margin: 10px;
  }
  .page-id-2116 .allergy-test-tool .question .selAnswer label{
    font-size: 28px;
  }
  /* normal css here */
  .meal-timing ul li.title {
    background: url(../images/meal-clock.png) center center no-repeat #1face0!important;
    -webkit-background-size: contain !important;
    background-size: contain !important;
  }

  /* .postid-10888 section.article-detail.single-layout .container{
    padding-top: 0;
    padding-bottom: 0;
  } */
  .postid-10888 section.article-detail.single-layout .container .content-wrap{
    margin: 0 0 0 40px;
  }
  .postid-10888 #expert-advice-videos{
    margin-top: -100px;
    padding-bottom: 0;
  }
  .postid-10888 #expert-advice-videos .container{
    padding-bottom: 0;
  }
  .term-89 section.join-club{
    padding-top: 30px;
  }
  .postid-10888 section.article-detail.single-layout{
    min-height: auto;
  }
  footer {
    margin-top: 60px;
  }
  .weeks-slider-wrap .slider .slide-item a{
  	z-index: 1;
  }
  .landing-blocks + .experienced .container {
    padding-top: 0;
	}
	.experienced + .landing-blocks .container {
	    padding-top: 0;
	}
	.content-summary table.border td {
	    vertical-align: top;
	}
  input.form-control{
    line-height: normal !important;
  }
  /*css change for crm*/
  .skill-list span label {
      position: absolute;
      top: 0;
  }
  .skill-list p {
      width: 96%;
  }

 /*End edited 28/6/2019*/
/*Start Arabic css edited 28/6/2019*/


  html[lang=en-US] .title{
    font-family: GothamHTFBook,Helvetica,Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
  }
  html[lang=ar] .title{
    font-family: DroidArabicKufi,Ubuntu!important;
  }

  html[lang=ar] .terms-conditions p , html[lang=ar] .terms-conditions .single-layout h2{
    text-align: right;
  } 
  html[lang=ar] .terms-conditions .single-layout{
    margin: 0 20px;
  }
  html[lang=ar] .mobile-menu-popup .menu-inner {
    text-align: right;
  }
  html[lang=ar] .single-layout .content-wrap .pregnancy-phase , html[lang=ar] .single-layout .content-wrap .baby-phase {
    overflow-x: auto;
  }
  html[lang=ar] .healthy-eating-tips .slick-arrow.slick-prev {
    left: -60px;
    right: auto;
  }
  html[lang=ar] .healthy-eating-tips .slick-arrow.slick-next {
    right: -60px;
    left: auto;
  }
  
  html[lang=ar] .content-summary .row table{
    font-family: DroidArabicKufi,Ubuntu!important;
  }
  html[lang=ar] .development-cycle .text-holder h3{
    direction: initial;
  }
   html[lang=ar] .article-detail table{
    font-family: DroidArabicKufi,Ubuntu!important;
  }
  html[lang=ar] .article-detail .age-selector label, html[lang=ar] .landing-blocks.new-articles .age-selector label{
    margin-right: 15px;
    margin-left: auto;
    font-size: 16px;
    font-family: DroidArabicKufi,Ubuntu!important;
  }
  html[lang=ar] .content-summary blockquote p{
    text-align: center;
  }
  html[lang=ar] .age-selector {
    text-align: right;
  }

  html[lang=ar] section.hero-wrapper .banner.auto-height .background img {
    transform: scaleX(-1);
  }
  html[lang=ar] .social-share .share-menu-items li a.btn span{
    font-family: DroidArabicKufi,Ubuntu!important;
  }
  html[lang=ar] .live-iframe{
    left: 32px;
    right: auto;
  }
  html[lang=ar] .close-adjust{
    left: 370px;
    right: auto;
  }
  html[lang=ar] .home.page section.hero-wrapper .banner .banner-slide .caption {
    left: 0 !important;
    right: 0 !important;
  }
  html[lang=ar] .tab-wrapper .tab-items .active{
    font-size: 20px;
    font-weight: 600;
  }
  html[lang=ar] .teady-bear {
    left: auto;
    right: -50px;
  }
  html[lang=ar] .weekly-plan-head {
    padding-right: 176px;
    padding-left: 0;
  }
  html[lang=ar] .weekly-plan-head img.mPlan-logo {
    float: left;
  }
  html[lang=ar] .weekly-plan-head h2 {
    text-align: right;
    padding-right:0;
  }
  html[lang=ar] .meal-timing{
    float: right;
  }
  html[lang=ar] .meal-type .slide{
    float: right;
  }
  html[lang=ar] .recipes .btn-meal-plan {
    margin-left: 20px;
    margin-right: 0;
    float: right;
  }
  html[lang=ar] .tab-swicher .tab-items .tab-btn.active>a span{
    font-family: DroidArabicKufi,Ubuntu !important;
  }
  html[lang=ar] .tab-wrapper .tab-items .active {
    font-size: 16px;
    font-weight: 600;
    font-family: DroidArabicKufi,Ubuntu !important;
  }
  html[lang=ar] .btn.btn-default span{
    font-family: DroidArabicKufi,Ubuntu !important;
  }
  html[lang=ar] .topics-slider-wrap .slider .slide-item a{
    font-size: 12px;
    font-weight: 500; 
  }
  html[lang=ar] .topics-slider-wrap .slider .slide-item{
    font-family: DroidArabicKufi,Ubuntu !important;
  }
  html[lang=ar] section.dropdown-options-wrap .topics-slider-wrap .slider.topics-slider.slick-initialized.slick-slider .slick-track{
    left: auto;
    right: 10px;
  }
  html[lang=ar] .baby-growth-result{
    text-align: right !important;
  }
  html[lang=ar] .baby-growth-result .result .wg-per {
    text-align: right !important;
    padding: 25px 0 0 98px;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-green{
    background-position: left !important;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-green-preschool{
    background-position: left;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-green-toddler {
    background-position: left;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-pink {
    background-position: left;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-pink-toddler{
    background-position: left;
  }
  html[lang=ar] .baby-growth-result .result .wg-per.baby-pink-preschool{
    background-position: left;
  }
  html[lang=ar] .wrap-sitemap{
    text-align: right;
  }
  html[lang=ar] .result-desc h5.result-rtl{
    direction: ltr !important;
  }
  html[lang=ar] .content-summary{
    font-family: DroidArabicKufi,Ubuntu !important;
  }

  html[lang=ar] .postid-10894 section.article-detail.single-layout{
    min-height: auto;
  }
  /* html[lang=ar] .postid-10894 section.article-detail.single-layout .container{
    padding-top: 0;
    padding-bottom: 0;
  } */
  html[lang=ar] .postid-10894 section.article-detail.single-layout .container .content-wrap{
    margin: 0 40px 0 0;
  }
  html[lang=ar] .postid-10894 #expert-advice-videos{
    margin-top: -135px;
  }
  html[lang=ar] section.advice .advice-wrap .contact-options .contact-item .bubble-wrap span p span{
    margin: 0;
    direction: ltr;
    position: absolute;
  }
  html[lang=ar] footer .contact-option-group p a span{
    direction: ltr;
    position: absolute;
  }
  html[lang=ar] .product-img {
    right: 0;
    left: 0;
  }
  html[lang=ar] .topic-block .block-content .title .btn .icon{
    transform: rotate(180deg);
    right: -7px;
    position: relative;
  }
  html[lang=ar] .form-wrap .field-wrap.floating-label label {
    font-size: 18px;
  }
/*  html[lang=ar] .close-adjust {
    left: 47.5%;
  }*/
  html[lang=ar] .ui-datepicker table {
    font-size: 0.85em;
  }
  html[lang=ar] section.disclaimer{
    text-align: right;   
  }
html[lang=ar] .content-summary ul li {
  margin-right: 25px !important;
}
html[lang=ar] header .navigation .menu li .search-box{
  right: auto;
  left: 9px;
}
html[lang=ar] input#search{
  font-family: GothamHTFBook,Helvetica,Arial,sans-serif !important;
}
html[lang=ar] input.form-control{
  line-height: normal !important;
  text-align: right;
}
html[lang=ar] textarea.form-control{
  line-height: normal !important;
  text-align: right;
}
html[lang=ar] .contact-us .list-phone ul li {
    direction: ltr;
}
html[lang=ar] .single-layout .content-wrap .pregnancy-phase, html[lang=ar] .single-layout .content-wrap .baby-phase {
    overflow-x: unset;
}
.page-expert-adjust.landing-details .list-phone .icon-whatsapp{
  margin-left: 5px;
}
.page-expert-adjust.landing-details .list-phone ul li span{
  display: inline-block;
  margin-left: 5px;
  /* float: right; */
}
/*End Arabic css edited 28/6/2019*/
